<t-master collection="AdminUser" [mode]="mode" [showCreateButton]="showCreate" [filterDefault]="filter"
    [additionalSelect]="additionalSelect" [masterCrumb]="'AdminUsers' | translate" [tileTemplate]="tile"
    [tableSummaryColumnTemplate]="summaryColumn" [tableSummaryHeaderTemplate]="summaryHeader"
    selectDefault="Email,State,LastAccess" selectForTiles="State,Email" [multiselectActions]="[
  { template: activate, action: onActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
  { template: deactivate, action: onDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
          ]" [includeInactiveLabel]="'IncludeInactive' | translate" [filterDefinition]="{
            'CreatedBy' : [
              { template: createdByMe, expression: 'CreatedById eq me'}
            ],
            'ExternalId' : [
              { template: new, expression: 'ExternalId eq null'},
              { template: confirmed, expression: 'ExternalId ne null'}
            ]
          }">
</t-master>


<!-- Tile Template -->
<ng-template #tile let-id="id">
    <div class="d-flex justify-content-between">
        <t-auto-cell collection="AdminUser" path="" [entity]="c[id]"></t-auto-cell>
    </div>
    <div class="d-flex justify-content-between mt-1 small">
        <t-auto-cell collection="AdminUser" path="Email" [entity]="c[id]"></t-auto-cell>
        <t-auto-cell collection="AdminUser" path="State" [entity]="c[id]"></t-auto-cell>
    </div>
</ng-template>

<!-- Summary Header -->
<ng-template #summaryHeader let-id="id">
    {{ 'AdminUser' | translate }}
</ng-template>

<!-- Summary Column -->
<ng-template #summaryColumn let-id="id">
    <t-auto-cell collection="AdminUser" [entity]="c[id]"></t-auto-cell>
</ng-template>

<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>


<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>

<ng-template #new> {{ 'User_New' | translate }} </ng-template>
<ng-template #confirmed> {{ 'User_Confirmed' | translate }} </ng-template>