<cdk-virtual-scroll-viewport [itemSize]="itemSize" [style.height.px]="tableHeight" [minBufferPx]="itemSize * 5" [maxBufferPx]="itemSize * 7">
  <table #t class="table table-sm text-nowrap t-table">

    <!-- Header -->
    <thead class="small">
      <tr style="height:41px">
        <th class="border-top-0 text-align-right text-muted t-line-number-th"> # </th>
        <th class="border-top-0" *ngFor="let path of columnPaths" [style.width]="colWith(path)">
          <ng-container
            *ngTemplateOutlet="columnTemplates[path]?.headerTemplate || headerTemplate; context: { argument: columnTemplates[path]?.argument }">
          </ng-container>
        </th>
        <th class="border-top-0" style="width:1px" *ngIf="isEdit">
          <!-- <button class="btn btn-light btn-sm p-0 pl-1 pr-1"
            style="background:transparent;color:transparent;border-color: transparent;cursor:inherit" disabled>
            <fa-icon icon="trash"></fa-icon>
          </button> -->
        </th>
      </tr>
    </thead>

    <!-- Body -->
    <tbody>
      <ng-container *cdkVirtualFor="let item of dataSourceCopy; let i = index; trackBy: trackBy">
        <tr [class.t-draw-attention]="item === attentionItem" [style.height.px]="itemSize" [class.t-biege]="i % 2 === 0"
          [style.background-color]="highlight(item) ? '#eeff44' : null">
          <td class="text-muted">
            <div class="text-center">
              <span *ngIf="!item.PH"> {{ i + 1 | number }} </span>
              <fa-icon style="font-size: 60%;" *ngIf="item.PH" icon="asterisk"> </fa-icon>
            </div>
          </td>
          <td *ngFor="let path of columnPaths" [class.table-bordered]="isEdit">
            <ng-container>
              <ng-container
                *ngTemplateOutlet="columnTemplates[path]?.rowTemplate || rowTemplate;context: { item: item, argument: columnTemplates[path]?.argument, index: i, update: onUpdateLine, isEdit: isEdit }">
              </ng-container>
            </ng-container>
          </td>
          <td *ngIf="isEdit">
            <button class="btn btn-light text-primary t-white-button btn-sm py-0 px-1 align-baseline"
              [style.opacity]="item.PH ? 0 : null" [style.cursor]="item.PH ? 'inherit' : null" (click)="onDeleteLine(i)"
              *ngIf="isEdit">
              <fa-icon icon="trash" [title]="item.PH ? '' : ('Delete' | translate)">
              </fa-icon>
            </button>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="visibleDataCount < 1" class="t-biege">
        <td colspan="1000">&nbsp;&nbsp;
          <span class="font-italic font-weight-light text-muted" *ngIf="!isEdit">
            {{ 'NoItemsFound' | translate }}
          </span>
        </td>
      </tr>
      <tr *ngIf="visibleDataCount < 2">
        <td colspan="1000">&nbsp;</td>
      </tr>
      <tr *ngIf="visibleDataCount < 3" class="t-biege">
        <td colspan="1000">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</cdk-virtual-scroll-viewport>