<div class="h-100 d-flex flex-column">

    <!-- Title and Parameters -->
    <div class="row border-bottom bg-white">

        <!-- Breadcrumb -->
        <div class="col-12 p-1">
            <ul class="breadcrumb mb-0">
                <li class="breadcrumb-item active">
                    {{ title }}
                </li>
            </ul>
        </div>

        <!-- Parameters -->
        <div class="mx-auto mb-3 w-100" style="max-width: 900px">
            <div class="row m-0 px-0 px-lg-1 py-1">
                <!-- From Date -->
                <t-form-group class="t-form-group" [label]="('FromDate' | translate) + ' *'">
                    <t-date-picker [(ngModel)]="fromDate"></t-date-picker>
                </t-form-group>

                <!-- To Date -->
                <t-form-group class="t-form-group" [label]="('ToDate' | translate) + ' *'">
                    <t-date-picker [(ngModel)]="toDate"></t-date-picker>
                </t-form-group>

                <!-- Segment -->
                <t-form-group class="t-form-group" [label]="('Document_Segment' | translate) + ' *'"
                    *ngIf="showSegmentParameter">
                    <t-centers-picker [(ngModel)]="segmentId" filter="CenterType eq 'Segment'"></t-centers-picker>
                </t-form-group>

                <!-- Account -->
                <t-form-group class="t-form-group" [label]="('Entry_Account' | translate) + ' *'">
                    <t-accounts-picker [(ngModel)]="accountId" [additionalSelect]="accountAdditionalSelect">
                    </t-accounts-picker>
                </t-form-group>

                <!-- Currency -->
                <t-form-group class="t-form-group" [label]="'Entry_Currency' | translate" *ngIf="showCurrencyParameter">
                    <t-currencies-picker [(ngModel)]="currencyId"></t-currencies-picker>
                </t-form-group>

                <!-- Contract -->
                <t-form-group class="t-form-group" [label]="labelContract_Manual" *ngIf="showContract_Manual">
                    <t-contracts-picker *ngIf="!readonlyContract_Manual" [(ngModel)]="contractId"
                        [definitionIds]="definitionIdsContract_Manual">
                    </t-contracts-picker>
                    <t-view-link *ngIf="readonlyContract_Manual"
                        [link]="link('contracts/') + ws.get('Contract', readonlyValueContractId_Manual)?.DefinitionId"
                        [itemId]="readonlyValueContractId_Manual">
                        {{ ws.getMultilingualValue('Contract', readonlyValueContractId_Manual, 'Name') }}
                    </t-view-link>
                </t-form-group>

                <!-- Resource -->
                <t-form-group class="t-form-group" [label]="labelResource_Manual" *ngIf="showResource_Manual">
                    <t-resources-picker *ngIf="!readonlyResource_Manual" [(ngModel)]="resourceId"
                        [definitionIds]="definitionIdsResource_Manual">
                    </t-resources-picker>
                    <t-view-link *ngIf="readonlyResource_Manual"
                        [link]="link('resources/') + ws.get('Resource', readonlyValueResourceId_Manual)?.DefinitionId"
                        [itemId]="readonlyValueResourceId_Manual">
                        {{ ws.getMultilingualValue('Resource', readonlyValueResourceId_Manual, 'Name') }}
                    </t-view-link>
                </t-form-group>

                <!-- Entry Type -->
                <t-form-group class="t-form-group" [label]="'Entry_EntryType' | translate" *ngIf="showEntryType_Manual">
                    <t-entry-types-picker *ngIf="!readonlyEntryType_Manual" [(ngModel)]="entryTypeId"
                        [filter]="filterEntryType_Manual">
                    </t-entry-types-picker>
                    <t-view-link *ngIf="readonlyEntryType_Manual" [link]="link('entry-types')"
                        [itemId]="readonlyValueEntryTypeId_Manual">
                        {{ ws.getMultilingualValue('EntryType', readonlyValueEntryTypeId_Manual, 'Name') }}
                    </t-view-link>
                </t-form-group>                

                <!-- Center -->
                <t-form-group class="t-form-group" [label]="'Entry_Center' | translate" *ngIf="showCenter_Manual">
                    <t-centers-picker *ngIf="!readonlyCenter_Manual" [(ngModel)]="centerId" filter="IsLeaf eq true">
                    </t-centers-picker>
                    <t-view-link *ngIf="readonlyCenter_Manual"
                        [link]="link('centers/') + ws.get('Center', readonlyValueCenterId_Manual)?.DefinitionId"
                        [itemId]="readonlyValueCenterId_Manual">
                        {{ ws.getMultilingualValue('Center', readonlyValueCenterId_Manual, 'Name') }}
                    </t-view-link>
                </t-form-group>
            </div>
        </div>

        <!-- Toolbar -->
        <div class="col-12 p-1 d-flex justify-content-between t-toolbar">

            <!-- Left Buttons -->
            <div class="d-flex">

                <!-- Refresh -->
                <button class="btn btn-primary btn-sm t-toolbar-button" (click)="onRefresh()" [disabled]="!canRefresh">
                    <fa-icon icon="sync-alt"></fa-icon>
                    <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Refresh' | translate }}</span>
                </button>

                <!-- Data dropdown -->
                <div class="btn-group t-toolbar-button" ngbDropdown [placement]="actionsDropdownPlacement">
                    <button type="button"
                        class="btn btn-light btn-sm text-primary t-white-button t-toolbar-button dropdown-toggle"
                        ngbDropdownToggle>
                        {{ 'Data' | translate }}
                    </button>
                    <div class="dropdown-menu shadow" ngbDropdownMenu aria-labelledby="action">
                        <button type="button" class="dropdown-item btn-light" ngbDropdownItem (click)="onExport()"
                            [disabled]="!canExport">
                            {{ 'Export' | translate }}
                        </button>
                    </div>
                </div>
            </div>

            <!-- Right Buttons -->
            <div>
                <!-- Paging -->
                <div class="d-inline small mx-2">
                    <span class="t-vertical-align-middle"> <span>{{ from | number }}</span> -
                        <span>{{ to | number }}</span>
                    </span>
                    <span class="t-vertical-align-middle"> / {{ total | number }}</span>
                </div>
                <button class="btn btn-light btn-sm t-white-button t-toolbar-button" type="button"
                    title="{{ 'Previous' | translate }}" (click)="onPreviousPage()" [disabled]="!canPreviousPage">
                    <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
                </button>
                <button class="btn btn-light btn-sm t-white-button t-toolbar-button" type="button"
                    title="{{ 'Next' | translate }}" (click)="onNextPage()" [disabled]="!canNextPage">
                    <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
                </button>
            </div>
        </div>
    </div>

    <!-- Results -->
    <div class="p-4">
        <p>This screen is still a work in progress, stay tuned!</p>
    </div>

    <!-- Ending Balance -->
    <div>

    </div>
</div>