<div *ngIf="found;else pageNotFound" class="h-100 d-flex flex-column">

    <!-- Title and Parameters -->
    <div class="row border-bottom bg-white">

        <!-- Breadcrumb -->
        <div class="col-12 p-1">
            <ul class="breadcrumb mb-0">
                <li class="breadcrumb-item active">
                    {{ title }}
                </li>
            </ul>
        </div>

        <!-- Parameters -->
        <div class="mx-auto mb-3 w-100" style="max-width: 900px" [class.d-none]="collapseParameters">
            <div class="row m-0 px-0 px-lg-1 py-1" [ngSwitch]="type">
                <!-- From Date -->
                <t-form-group class="t-form-group" [label]="('FromDate' | translate) + ' *'">
                    <t-date-picker [(ngModel)]="fromDate" [ngModelOptions]="{ updateOn: 'blur' }"></t-date-picker>
                </t-form-group>

                <!-- To Date -->
                <t-form-group class="t-form-group" [label]="('ToDate' | translate) + ' *'">
                    <t-date-picker [(ngModel)]="toDate" [ngModelOptions]="{ updateOn: 'blur' }"></t-date-picker>
                </t-form-group>

                <!-- Segment -->
                <t-form-group class="t-form-group" [label]="('Document_Segment' | translate) + ' *'"
                    *ngIf="showSegmentParameter">
                    <t-centers-picker [(ngModel)]="segmentId" filter="IsSegment eq true" [showCreate]="false">
                    </t-centers-picker>
                </t-form-group>

                <ng-container *ngSwitchCase="'contract'">

                    <!-- Contract -->
                    <t-form-group class="t-form-group" [label]="labelContract_Smart">
                        <t-contracts-picker [(ngModel)]="contractId"
                            [definitionIds]="definitionIdsContract_Smart" [additionalSelect]="contractAdditionalSelect"
                            [ensureAdditionalSelect]="true" (entityLoaded)="onParameterLoaded()" [showCreate]="false">
                        </t-contracts-picker>
                    </t-form-group>

                    <!-- <t-form-group class="t-form-group" [label]="'Entry_Account' | translate">
                        <t-selector>
                            
                        </t-selector>
                    </t-form-group> -->

                </ng-container>

                <ng-container *ngSwitchCase="'account'">

                    <!-- Account -->
                    <t-form-group class="t-form-group" [label]="('Entry_Account' | translate) + ' *'">
                        <t-accounts-picker [(ngModel)]="accountId" [additionalSelect]="accountAdditionalSelect"
                            [ensureAdditionalSelect]="true" (entityLoaded)="onParameterLoaded()" [showCreate]="false">
                        </t-accounts-picker>
                    </t-form-group>

                    <!-- Currency -->
                    <t-form-group class="t-form-group" [label]="'Entry_Currency' | translate"
                        *ngIf="showCurrencyParameter">
                        <t-currencies-picker [(ngModel)]="currencyId" [additionalSelect]="currencyAdditionalSelect"
                            [ensureAdditionalSelect]="true" [showCreate]="false">
                        </t-currencies-picker>
                    </t-form-group>

                    <!-- Contract -->
                    <t-form-group class="t-form-group" [label]="labelContract_Manual" *ngIf="showContractParameter">
                        <t-contracts-picker *ngIf="!readonlyContract_Manual" [(ngModel)]="contractId"
                            [definitionIds]="definitionIdsContract_Manual" [additionalSelect]="contractAdditionalSelect"
                            [ensureAdditionalSelect]="true" (entityLoaded)="onParameterLoaded()" [showCreate]="false">
                        </t-contracts-picker>
                        <t-view-link *ngIf="readonlyContract_Manual"
                            [link]="link('contracts/') + ws.get('Contract', readonlyValueContractId_Manual)?.DefinitionId"
                            [itemId]="readonlyValueContractId_Manual">
                            {{ ws.getMultilingualValue('Contract', readonlyValueContractId_Manual, 'Name') }}
                        </t-view-link>
                    </t-form-group>

                    <!-- Resource -->
                    <t-form-group class="t-form-group" [label]="labelResource_Manual" *ngIf="showResourceParameter">
                        <t-resources-picker *ngIf="!readonlyResource_Manual" [(ngModel)]="resourceId"
                            [definitionIds]="definitionIdsResource_Manual" [additionalSelect]="resourceAdditionalSelect"
                            [ensureAdditionalSelect]="true" (entityLoaded)="onParameterLoaded()" [showCreate]="false">
                        </t-resources-picker>
                        <t-view-link *ngIf="readonlyResource_Manual"
                            [link]="link('resources/') + ws.get('Resource', readonlyValueResourceId_Manual)?.DefinitionId"
                            [itemId]="readonlyValueResourceId_Manual">
                            {{ ws.getMultilingualValue('Resource', readonlyValueResourceId_Manual, 'Name') }}
                        </t-view-link>
                    </t-form-group>

                    <!-- Entry Type -->
                    <t-form-group class="t-form-group" [label]="'Entry_EntryType' | translate"
                        *ngIf="showEntryTypeParameter">
                        <t-entry-types-picker *ngIf="!readonlyEntryType_Manual" [(ngModel)]="entryTypeId"
                            [filter]="filterEntryType_Manual" [showCreate]="false">
                        </t-entry-types-picker>
                        <t-view-link *ngIf="readonlyEntryType_Manual" [link]="link('entry-types')"
                            [itemId]="readonlyValueEntryTypeId_Manual">
                            {{ ws.getMultilingualValue('EntryType', readonlyValueEntryTypeId_Manual, 'Name') }}
                        </t-view-link>
                    </t-form-group>

                    <!-- Center -->
                    <t-form-group class="t-form-group" [label]="'Entry_Center' | translate" *ngIf="showCenterParameter">
                        <t-centers-picker *ngIf="!readonlyCenter_Manual" [(ngModel)]="centerId" filter="IsLeaf eq true"
                            [showCreate]="false">
                        </t-centers-picker>
                        <t-view-link *ngIf="readonlyCenter_Manual"
                            [link]="link('centers/') + ws.get('Center', readonlyValueCenterId_Manual)?.DefinitionId"
                            [itemId]="readonlyValueCenterId_Manual">
                            {{ ws.getMultilingualValue('Center', readonlyValueCenterId_Manual, 'Name') }}
                        </t-view-link>
                    </t-form-group>


                </ng-container>

                <!-- IncludeCompleted -->
                <t-form-group class="t-form-group" [label]="'IncludeCompleted' | translate">
                    <div class="custom-control custom-checkbox t-labelless-checkbox">
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="includeCompleted"
                            id="includecompleted">
                        <label class="custom-control-label t-pointer" for="includecompleted">&zwnj;</label>
                    </div>
                </t-form-group>
            </div>
        </div>

        <!-- Toolbar -->
        <div class="col-12 p-1 d-flex justify-content-between t-toolbar">

            <!-- Left Buttons -->
            <div class="d-flex">

                <!-- Export -->
                <button class="btn btn-primary btn-sm t-toolbar-button" (click)="onExport()" [disabled]="!canExport">
                    <fa-icon icon="download"></fa-icon>
                    <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Export' | translate }}</span>
                </button>

                <!-- Data dropdown -->
                <!-- <div class="btn-group t-toolbar-button" ngbDropdown [placement]="actionsDropdownPlacement">
                    <button type="button"
                        class="btn btn-light btn-sm text-primary t-white-button t-toolbar-button dropdown-toggle"
                        ngbDropdownToggle>
                        {{ 'Data' | translate }}
                    </button>
                    <div class="dropdown-menu shadow" ngbDropdownMenu aria-labelledby="action">
                        <button type="button" class="dropdown-item btn-light" ngbDropdownItem (click)="onExport()"
                            [disabled]="!canExport">
                            {{ 'Export' | translate }}
                        </button>
                    </div>
                </div> -->

                <t-spinner class="align-self-center mx-1" *ngIf="showExportSpinner">
                </t-spinner>
            </div>

            <!-- Right Buttons -->
            <div>
                <!-- Refresh -->
                <button class="btn btn-sm t-toolbar-button btn-light t-white-button" type="button"
                    title="{{ 'Refresh' | translate }}" (click)="onRefresh()">
                    <fa-icon icon="sync-alt"></fa-icon>
                </button>

                <!-- Paging -->
                <div class="d-inline small mx-2">
                    <span class="t-vertical-align-middle"> <span>{{ from | number }}</span> -
                        <span>{{ to | number }}</span>
                    </span>
                    <span class="t-vertical-align-middle"> / {{ total | number }}</span>
                </div>
                <button class="btn btn-light btn-sm t-white-button t-toolbar-button" type="button"
                    title="{{ 'Previous' | translate }}" (click)="onPreviousPage()" [disabled]="!canPreviousPage">
                    <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
                </button>
                <button class="btn btn-light btn-sm t-white-button t-toolbar-button" type="button"
                    title="{{ 'Next' | translate }}" (click)="onNextPage()" [disabled]="!canNextPage">
                    <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
                </button>

                <!-- Expand/Collapse -->
                <button class="btn btn-sm t-toolbar-button btn-light t-white-button font-weight-normal" type="button"
                    title="{{ (collapseParameters ? 'Expand' : 'Collapse') | translate }}"
                    (click)="onToggleCollapseParameters()">
                    <fa-icon [icon]="collapseParameters ? 'angle-down' : 'angle-up'"></fa-icon>
                    <span
                        class="d-none d-md-inline">&nbsp;&nbsp;{{ (collapseParameters ? 'Expand' : 'Collapse') | translate }}</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Results -->
    <div class="row t-rest-of-screen">
        <div class="w-100 p-3 px-4" *ngIf="showInformation">
            <fa-icon icon="info-circle"></fa-icon>
            &nbsp;
            {{ information() }}
        </div>

        <!-- No items found -->
        <!-- <div class="w-100 pl-3 pr-3 mt-3" *ngIf="showNoItemsFound">
            {{ 'NoItemsFound' | translate }}
        </div> -->

        <div class="table-responsive" *ngIf="!showInformation">
            <!-- Details (Flat Table) -->
            <cdk-virtual-scroll-viewport class="h-100" itemSize="31">
                <table
                    class="table table-hover table-striped table-sm border-bottom bg-white t-master-table text-nowrap">
                    <!-- Column Header -->
                    <thead>
                        <tr>
                            <th style="width:10px"></th>
                            <th *ngFor="let col of columns" [style.width]="fromWeight(col.weight)"
                                [class.text-right]="col.isRightAligned">
                                {{ col.label() }}
                            </th>
                            <th style="width:10px"></th>
                        </tr>
                    </thead>
                    <!-- Rows -->
                    <tbody>
                        <!-- Opening Balance -->
                        <tr class="t-no-highlight" *ngIf="showOpeningBalance">
                            <td>&zwnj;</td>
                            <td *ngFor="let col of columns" [class.text-right]="col.isRightAligned">
                                <ng-container *ngIf="col.id === 'PostingDate'">
                                    {{ fromDate | date:'yyyy-MM-dd' }}
                                </ng-container>
                                <ng-container *ngIf="col.id === 'SerialNumber'">
                                    {{ 'OpeningBalance' | translate }}
                                </ng-container>
                                <ng-container *ngIf="col.id === 'QuantityAccumulation'">
                                    &zwnj;{{ openingQuantityDisplay }}&zwnj;
                                </ng-container>
                                <ng-container *ngIf="col.id === 'MonetaryValueAccumulation'">
                                    &zwnj;{{ openingMonetaryValueDisplay }}&zwnj;
                                </ng-container>
                                <ng-container *ngIf="col.id === 'Accumulation'">
                                    &zwnj;{{ openingDisplay }}&zwnj;
                                </ng-container>
                            </td>
                            <td>&zwnj;</td>
                        </tr>

                        <tr class="t-pointer" (click)="onPreviousPage()" *ngIf="canPreviousPage">
                            <td class="text-center font-italic text-muted" [colSpan]="columns.length + 2">...</td>
                        </tr>

                        <!-- Transactions -->
                        <tr class="t-pointer" *cdkVirtualFor="let entity of entities" (click)="onSelectRow(entity)">
                            <td>&zwnj;</td>
                            <td *ngFor="let col of columns" [class.text-right]="col.isRightAligned">
                                {{ col.display(entity) }}&zwnj;
                            </td>
                            <td>&zwnj;</td>
                        </tr>

                        <tr class="t-pointer" (click)="onNextPage()" *ngIf="canNextPage">
                            <td class="text-center font-italic text-muted" [colSpan]="columns.length + 2">...</td>
                        </tr>

                        <!-- Closing Balance -->
                        <tr class="t-no-highlight" *ngIf="showClosingBalance">
                            <td>&zwnj;</td>
                            <td *ngFor="let col of columns" [class.text-right]="col.isRightAligned">
                                <ng-container *ngIf="col.id === 'PostingDate'">
                                    <span>{{ toDate | date:'yyyy-MM-dd' }}</span>
                                </ng-container>
                                <ng-container *ngIf="col.id === 'SerialNumber'">
                                    <span>{{ 'ClosingBalance' | translate }}</span>
                                </ng-container>
                                <ng-container *ngIf="col.id === 'Accumulation'">
                                    <span class="border-bottom t-dark-border">&zwnj;{{ closingDisplay }}&zwnj;</span>
                                </ng-container>
                                <ng-container *ngIf="col.id === 'QuantityAccumulation'">
                                    <span
                                        class="border-bottom t-dark-border">&zwnj;{{ closingQuantityDisplay }}&zwnj;</span>
                                </ng-container>
                                <ng-container *ngIf="col.id === 'MonetaryValueAccumulation'">
                                    <span
                                        class="border-bottom t-dark-border">&zwnj;{{ closingMonetaryValueDisplay }}&zwnj;</span>
                                </ng-container>
                            </td>
                            <td>&zwnj;</td>
                        </tr>
                    </tbody>
                </table>

                <!-- Spinner -->
                <div class="w-100 p-2 d-flex justify-content-center mt-3" *ngIf="showSpinner">
                    <t-spinner [scale]="2"></t-spinner>
                </div>

                <!-- Error message -->
                <div class="w-100 mt-3" *ngIf="showErrorMessage">
                    <t-error-message>
                        {{ errorMessage }}
                    </t-error-message>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>

    <!-- Ending Balances -->
    <!-- <div class="border-top bg-white row" *ngIf="showClosingBalance">
        <div class="col-12 d-flex justify-content-end align-items-baseline" style="padding: 0.3rem">
            <span class="small font-weight-bold">Closing Balance (Birr)</span><span>&nbsp;&nbsp;{{ closingDisplay }}</span>
            <div class="d-inline" style="width:10px"></div>
        </div>
    </div> -->
</div>

<!-- If definitionId is invalid -->
<ng-template #pageNotFound>
    <t-application-page-not-found [showHome]="!isPopupMode">
    </t-application-page-not-found>
</ng-template>

<!-- Error Modal -->
<ng-template #errorModal let-modal>

    <!-- header -->
    <div class="modal-header">
        <h5 class="modal-title">
            <fa-icon class="text-danger" icon="exclamation-triangle"></fa-icon>&nbsp;&nbsp;{{ 'Error' | translate }}
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- body -->
    <div class="modal-body">
        {{ actionErrorMessage }}
    </div>

    <!-- footer -->
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
            <fa-icon icon="times"></fa-icon>
            &nbsp;{{ 'Dismiss' | translate }}
        </button>
    </div>
</ng-template>