<b-details-picker [definitionIds]="[definitionId]" [masterTemplate]="master" [detailsTemplate]="showCreate ? details : null"
    collection="Lookup" [filter]="filter">
</b-details-picker>


<!-- The Lookup Details Modal -->
<ng-template #details let-modal="modal" let-update="update" let-initialText="initialText" let-idString="idString"
    let-definitionId="definitionId">
    <div class="modal-body">
        <b-lookups-details mode="popup" [initialText]="initialText" [idString]="idString" [definitionId]="definitionId"
            (cancel)="modal.close(false);" (saved)="modal.close(true); update($event);">
        </b-lookups-details>
    </div>
</ng-template>

<!-- The Lookup Master Modal -->
<ng-template #master let-modal="modal" let-update="update" let-create="create" let-definitionId="definitionId"
    let-filter="filter">
    <div class="modal-body">
        <b-lookups-master mode="popup" (cancel)="modal.close(false);" [definitionId]="definitionId" [filter]="filter"
            (choose)="modal.close(true); update($event);" (create)="modal.close(false); create()" [showCreate]="showCreate">
        </b-lookups-master>
    </div>
</ng-template>