@page "/identity/access-denied"
@inject IHtmlLocalizer<Strings> Localizer
@model AccessDeniedModel
@{
    ViewData["Title"] = Localizer["AccessDenied"];
}

<header class="text-center b-auth-title">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Localizer["AccessDeniedMessage"]</p>
</header>
