<t-details collection="Account" [createFunc]="create" [expand]="expand" [mode]="mode"
    [additionalSelect]="additionalSelect" [masterCrumb]="'Accounts' | translate" [detailsCrumb]="detailsCrumb"
    [idString]="idString" [documentTemplate]="document" [actions]="[
            { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeprecateItem, actionTooltip: activateDeprecateTooltip },
            { template: deactivate, action: onDeprecate, showAction: showDeprecate, canAction: canActivateDeprecateItem, actionTooltip: activateDeprecateTooltip }
           ]">

</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
    <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>

<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

    <!-- Header Name -->
    <t-form-group class="col-12 mb-2 mb-sm-4 t-h2"
        [serverErrors]="getMultilingualValue(model?.serverErrors, 'Name', ws)">
        <h2 class="font-weight-normal" *ngIf="!isEdit">{{ getMultilingualValue(model, 'Name', ws) }}</h2>

        <t-text-editor *ngIf="isEdit && ws.isPrimaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name"
            [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.primaryPostfix + '...'"
            required>
        </t-text-editor>

        <t-text-editor *ngIf="isEdit && ws.isSecondaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name2"
            [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.secondaryPostfix + '...'">
        </t-text-editor>

        <t-text-editor *ngIf="isEdit && ws.isTernaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name3"
            [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.ternaryPostfix + '...'">
        </t-text-editor>
    </t-form-group>

    <!-- Name -->
    <t-form-group class="t-form-group" *ngIf="!ws.isPrimaryLanguage" [label]="('Name' | translate) + ws.primaryPostfix"
        [serverErrors]="model?.serverErrors?.Name">
        <div *ngIf="!isEdit">{{ model?.Name }}</div>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
        </t-text-editor>
    </t-form-group>

    <!-- Name2 -->
    <t-form-group class="t-form-group" *ngIf="!ws.isSecondaryLanguage && ws.settings.SecondaryLanguageId"
        [label]="('Name' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Name2">
        <div *ngIf="!isEdit">{{ model?.Name2 }}</div>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }">
        </t-text-editor>
    </t-form-group>

    <!-- Name3 -->
    <t-form-group class="t-form-group" *ngIf="!ws.isTernaryLanguage && ws.settings.TernaryLanguageId"
        [label]="('Name' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Name3">
        <div *ngIf="!isEdit">{{ model?.Name3 }}</div>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name3" [ngModelOptions]="{ updateOn: 'blur' }">
        </t-text-editor>
    </t-form-group>

    <!-- Code -->
    <t-form-group class="t-form-group" [label]="'Code' | translate" [serverErrors]="model?.serverErrors?.Code">
        <div *ngIf="!isEdit">{{ model?.Code }}</div>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Code" [ngModelOptions]="{ updateOn: 'blur' }">
        </t-text-editor>
    </t-form-group>

    <!-- Type -->
    <t-form-group class="t-form-group" [label]="'Account_Type' | translate"
        [serverErrors]="model?.serverErrors?.AccountTypeId">
        <t-view-link *ngIf="!isEdit" link="../../account-types" [itemId]="model?.AccountTypeId">
            <t-auto-cell collection="Account" path="AccountType" [entity]="model">
            </t-auto-cell>
        </t-view-link>
        <t-account-types-picker *ngIf="isEdit" [(ngModel)]="model.AccountTypeId" required
            additionalSelect="ContractDefinitions/ContractDefinitionId,NotedContractDefinitions/NotedContractDefinitionId,ResourceDefinitions/ResourceDefinitionId,EntryTypeParentId">
        </t-account-types-picker>
    </t-form-group>

    <!-- Classification -->
    <t-form-group class="t-form-group" [label]="'Account_Classification' | translate"
        [serverErrors]="model?.serverErrors?.ClassificationId">
        <t-view-link *ngIf="!isEdit" link="../../account-classifications" [itemId]="model?.ClassificationId">
            <t-auto-cell collection="Account" path="Classification" [entity]="model">
            </t-auto-cell>
        </t-view-link>
        <t-account-classifications-picker *ngIf="isEdit" [(ngModel)]="model.ClassificationId">
        </t-account-classifications-picker>
    </t-form-group>

    <!-- Center -->
    <t-form-group class="t-form-group" *ngIf="showCenter(model)" [label]="'Account_Center' | translate"
        [serverErrors]="model?.serverErrors?.CenterId">
        <t-view-link *ngIf="!isEdit" link="../../centers" [itemId]="model?.CenterId">
            <t-auto-cell collection="Account" path="Center" [entity]="model">
            </t-auto-cell>
        </t-view-link>
        <t-centers-picker *ngIf="isEdit" [(ngModel)]="model.CenterId" filter="IsLeaf eq true">
        </t-centers-picker>
    </t-form-group>

    <!-- Resource Definition -->
    <t-form-group class="t-form-group" *ngIf="showResourceDefinitionId(model)"
        [label]="'Account_ResourceDefinition' | translate" [serverErrors]="model?.serverErrors?.ResourceDefinitionId">
        <div *ngIf="!isEdit">{{ formatResourceDefinitionId(model.ResourceDefinitionId) }}</div>
        <t-selector *ngIf="isEdit" [(ngModel)]="model.ResourceDefinitionId" [choices]="choicesResourceDefinitionId(model)"
            (ngModelChange)="onResourceDefinitionChange($event, model)">
        </t-selector>
    </t-form-group>

    <!-- Resource -->
    <t-form-group class="t-form-group" *ngIf="showResource(model)" [label]="labelResource(model)"
        [serverErrors]="model?.serverErrors?.ResourceId">
        <t-view-link *ngIf="!isEdit" [link]="'../../resources/' + ws.get('Resource', model?.ResourceId)?.DefinitionId"
            [itemId]="model?.ResourceId">
            <t-auto-cell collection="Account" path="Resource" [entity]="model">
            </t-auto-cell>
        </t-view-link>
        <t-resources-picker *ngIf="isEdit" [(ngModel)]="model.ResourceId" [definitionIds]="definitionIdsResource(model)"
            additionalSelect="DefinitionId,Currency/Name,Currency/Name2,Currency/Name3">
        </t-resources-picker>
    </t-form-group>

    <!-- Currency -->
    <t-form-group class="t-form-group" *ngIf="showCurrency(model)" [label]="'Account_Currency' | translate"
        [serverErrors]="model?.serverErrors?.CurrencyId">
        <!-- View mode -->
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Currency">
            <t-view-link link="../../currencies" [itemId]="model?.CurrencyId">
                {{ ws.getMultilingualValue('Currency', model?.CurrencyId, 'Name') }}
            </t-view-link>
        </t-restricted>

        <!-- Edit mode -->
        <ng-container *ngIf="isEdit">
            <span
                *ngIf="readonlyCurrencyId(model)">{{ ws.getMultilingualValue('Currency', readonlyValueCurrencyId(model), 'Name') }}</span>
            <t-currencies-picker *ngIf="!readonlyCurrencyId(model)" [(ngModel)]="model.CurrencyId">
            </t-currencies-picker>
        </ng-container>
    </t-form-group>

    <!-- Contract Definition -->
    <t-form-group class="t-form-group" *ngIf="showContractDefinitionId(model)"
        [label]="'Account_ContractDefinition' | translate" [serverErrors]="model?.serverErrors?.ContractDefinitionId">
        <div *ngIf="!isEdit">{{ formatContractDefinitionId(model.ContractDefinitionId) }}</div>
        <t-selector *ngIf="isEdit" [(ngModel)]="model.ContractDefinitionId" [choices]="choicesContractDefinitionId(model)"
            (ngModelChange)="onContractDefinitionChange($event, model)">
        </t-selector>
    </t-form-group>

    <!-- Contract -->
    <t-form-group class="t-form-group" *ngIf="showContract(model)" [label]="labelContract(model)"
        [serverErrors]="model?.serverErrors?.ContractId">
        <t-view-link *ngIf="!isEdit" [link]="'../../contracts/' + ws.get('Contract', model?.Contract)?.DefinitionId"
            [itemId]="model?.ContractId">
            <t-auto-cell collection="Account" path="Contract" [entity]="model">
            </t-auto-cell>
        </t-view-link>
        <t-contracts-picker *ngIf="isEdit" [(ngModel)]="model.ContractId" [definitionIds]="definitionIdsContract(model)"
            additionalSelect="DefinitionId">
        </t-contracts-picker>
    </t-form-group>

    <!-- Entry Type -->
    <t-form-group class="t-form-group" *ngIf="showEntryType(model)" [label]="'Account_EntryType' | translate"
        [serverErrors]="model?.serverErrors?.EntryTypeId">
        <t-view-link *ngIf="!isEdit" link="../../entry-types" [itemId]="model?.EntryTypeId">
            <t-auto-cell collection="Account" path="EntryType" [entity]="model">
            </t-auto-cell>
        </t-view-link>
        <t-entry-types-picker *ngIf="isEdit" [(ngModel)]="model.EntryTypeId" [filter]="filterEntryType(model)" required>
        </t-entry-types-picker>
    </t-form-group>

    <!-- Noted Contract Definition -->
    <t-form-group class="t-form-group" *ngIf="showNotedContractDefinitionId(model)"
        [label]="'Account_NotedContractDefinition' | translate"
        [serverErrors]="model?.serverErrors?.NotedContractDefinitionId">
        <div *ngIf="!isEdit">{{ formatContractDefinitionId(model.NotedContractDefinitionId) }}</div>
        <t-selector *ngIf="isEdit" [(ngModel)]="model.NotedContractDefinitionId"
            [choices]="choicesNotedContractDefinitionId(model)">
        </t-selector>
    </t-form-group>

    <!-- Is Deprecated -->
    <t-form-group class="t-form-group" [label]="'Account_IsDeprecated' | translate" *ngIf="!isEdit">
        <t-auto-cell collection="Account" [entity]="model" path="IsDeprecated">
        </t-auto-cell>
    </t-form-group>

</ng-template>

<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deprecate' | translate }} </ng-template>