<t-details collection="EntryType" [idString]="idString" [createFunc]="create" [cloneFunc]="clone" [expand]="expand"
  [mode]="mode" [additionalSelect]="additionalSelect" [masterCrumb]="masterCrumb" [detailsCrumb]="detailsCrumb"
  [documentTemplate]="document" [actions]="[
            { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
            { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
           ]">
</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>

<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

  <!-- Header Name -->
  <t-form-group class="col-12 mb-2 mb-sm-4 t-h2" [serverErrors]="getMultilingualValue(model?.serverErrors, 'Name', ws)">
    @if (!isEdit) {
      <h2 class="font-weight-normal">{{ getMultilingualValue(model, 'Name', ws) }}</h2>
    }

    @if (isEdit && ws.isPrimaryLanguage) {
      <t-text-editor [focusIf]="!model.Id" [(ngModel)]="model.Name"
        [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.primaryPostfix + '...'" required>
      </t-text-editor>
    }

    @if (isEdit && ws.isSecondaryLanguage) {
      <t-text-editor [focusIf]="!model.Id" [(ngModel)]="model.Name2"
        [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.secondaryPostfix + '...'">
      </t-text-editor>
    }

    @if (isEdit && ws.isTernaryLanguage) {
      <t-text-editor [focusIf]="!model.Id" [(ngModel)]="model.Name3"
        [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.ternaryPostfix + '...'">
      </t-text-editor>
    }
  </t-form-group>

  <!-- Name -->
  @if (!ws.isPrimaryLanguage) {
    <t-form-group class="t-form-group" [label]="('Name' | translate) + ws.primaryPostfix"
      [serverErrors]="model?.serverErrors?.Name">
      @if (!isEdit) {
        <div>{{ model?.Name }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
        </t-text-editor>
      }
    </t-form-group>
  }

  <!-- Name2 -->
  @if (!ws.isSecondaryLanguage && ws.settings.SecondaryLanguageId) {
    <t-form-group class="t-form-group"
      [label]="('Name' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Name2">
      @if (!isEdit) {
        <div>{{ model?.Name2 }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
      }
    </t-form-group>
  }

  <!-- Name3 -->
  @if (!ws.isTernaryLanguage && ws.settings.TernaryLanguageId) {
    <t-form-group class="t-form-group"
      [label]="('Name' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Name3">
      @if (!isEdit) {
        <div>{{ model?.Name3 }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Name3" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
      }
    </t-form-group>
  }

  <!-- Code -->
  <t-form-group class="t-form-group" [label]="'Code' | translate" [serverErrors]="model?.serverErrors?.Code">
    @if (!isEdit) {
      <span [title]="model?.Code">{{model?.Code}}</span>
    }
    @if (isEdit) {
      <t-text-editor [disabled]="model.IsSystem" [(ngModel)]="model.Code"
      [ngModelOptions]="{ updateOn: 'blur' }" required></t-text-editor>
    }
  </t-form-group>

  <!-- Concept -->
  <t-form-group class="t-form-group" [label]="'AccountType_Concept' | translate"
    [serverErrors]="model?.serverErrors?.Concept">
    @if (!isEdit) {
      <span>{{model?.Concept}}</span>
    }
    @if (isEdit) {
      <t-text-editor [(ngModel)]="model.Concept" [ngModelOptions]="{ updateOn: 'blur' }" required>
      </t-text-editor>
    }
  </t-form-group>

  <!-- Parent -->
  <t-form-group class="t-form-group" [label]="'TreeParent' | translate" [serverErrors]="model?.serverErrors?.ParentId">
    <t-restricted [metadata]="model?.EntityMetadata?.Parent">
      @if (!isEdit) {
        <t-view-link link="../../entry-types" [itemId]="model?.ParentId">{{
        ws.getMultilingualValue('EntryType', model?.ParentId, 'Name') }}</t-view-link>
      }
    </t-restricted>
    @if (isEdit) {
      <t-entry-types-picker [disabled]="model.IsSystem" [(ngModel)]="model.ParentId">
      </t-entry-types-picker>
    }
  </t-form-group>

  <!-- Is Assignable -->
  <t-form-group class="t-form-group" [label]="'IsAssignable' | translate">
    @if (!isEdit) {
      <div>{{ (model?.IsAssignable ? 'Yes' : 'No') | translate }}</div>
    }
    @if (isEdit) {
      <div class="custom-control custom-checkbox t-labelless-checkbox">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="model.IsAssignable" id="isAssignable">
        <label class="custom-control-label t-pointer" for="isAssignable">&zwnj;</label>
      </div>
    }
  </t-form-group>

  <!-- Is Active -->
  @if (!isEdit) {
    <t-form-group class="t-form-group" [label]="'IsActive' | translate">
      <div>{{ (!model ? '' : model.IsActive ? 'Yes' : 'No') | translate }}</div>
    </t-form-group>
  }

  <!-- Is System -->
  @if (!isEdit) {
    <t-form-group class="t-form-group" [label]="'IsSystem' | translate">
      <div>{{ (!model ? '' : model.IsSystem ? 'Yes' : 'No') | translate }}</div>
    </t-form-group>
  }

  <div class="w-100"></div>

  <!-- Description -->
  <t-form-group class="t-form-group" [label]="('Description' | translate) + ws.primaryPostfix"
    [serverErrors]="model?.serverErrors?.Description">
    @if (!isEdit) {
      <div class="t-multiline">{{ model?.Description }}</div>
    }
    @if (isEdit) {
      <t-multiline-editor [(ngModel)]="model.Description" [ngModelOptions]="{ updateOn: 'blur' }">
      </t-multiline-editor>
    }
  </t-form-group>

  <!-- Description2 -->
  @if (ws.settings.SecondaryLanguageId) {
    <t-form-group class="t-form-group"
      [label]="('Description' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Description2">
      @if (!isEdit) {
        <div class="t-multiline">{{ model?.Description2 }}</div>
      }
      @if (isEdit) {
        <t-multiline-editor [(ngModel)]="model.Description2" [ngModelOptions]="{ updateOn: 'blur' }">
        </t-multiline-editor>
      }
    </t-form-group>
  }

  <!-- Description3 -->
  @if (ws.settings.TernaryLanguageId) {
    <t-form-group class="t-form-group"
      [label]="('Description' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Description3">
      @if (!isEdit) {
        <div class="t-multiline">{{ model?.Description3 }}</div>
      }
      @if (isEdit) {
        <t-multiline-editor [(ngModel)]="model.Description3" [ngModelOptions]="{ updateOn: 'blur' }">
        </t-multiline-editor>
      }
    </t-form-group>
  }

</ng-template>


<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>