<t-details collection="EmailForQuery" [expand]="expand" [mode]="mode" [additionalSelect]="additionalSelect"
    [showCreateButton]="false" [showEditButton]="false" [showDeleteButton]="false" [masterCrumb]="'Emails' | translate"
    [detailsCrumb]="detailsCrumb" [idString]="idString" [documentTemplate]="document" [actions]="[]">

</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
    <span>{{ model?.Subject }}</span>
</ng-template>

<!-- Edit/View Template -->
<ng-template #document let-model="model">

    <!-- Subject -->
    <t-form-group class="t-form-group"  [label]="'Email_Subject' | translate">
        <div>{{ model?.Subject }}</div>
    </t-form-group>

    <!-- ToEmail -->
    <t-form-group class="t-form-group" [label]="'Email_ToEmail' | translate">
        <div>{{ model?.ToEmail }}</div>
    </t-form-group>
    
    <div class="w-100"></div>

    <!-- State -->
    <t-form-group class="t-form-group" [label]="'State'">
        <div class="text-white px-2" [style.background]="stateColor(model?.State)">{{ stateDisplay(model?.State) }}
        </div>
    </t-form-group>

    <!-- StateSince -->
    <t-form-group class="t-form-group" [label]="'StateSince' | translate">
        <div>{{ model?.StateSince | date:'yyyy-MM-dd HH:mm' }}</div>
    </t-form-group>

    <!-- DeliveredAt -->
    <t-form-group class="t-form-group" [label]="'Email_DeliveredAt' | translate"
        *ngIf="!!model && model.State <= -4 || model.State >= 3">
        <div>{{ model?.DeliveredAt | date:'yyyy-MM-dd HH:mm' }}</div>
    </t-form-group>

    <!-- OpenedAt -->
    <t-form-group class="t-form-group" [label]="'Email_OpenedAt' | translate"
        *ngIf="!!model && model.State <= -4 || model.State >= 4">
        <div>{{ model?.OpenedAt | date:'yyyy-MM-dd HH:mm' }}</div>
    </t-form-group>

    <!-- ErrorMessage -->
    <t-form-group class="t-form-group" [label]="'Email_ErrorMessage' | translate" *ngIf="!!model && model.State < 0">
        <div>{{ model?.ErrorMessage }}</div>
    </t-form-group>

    <ng-container *ngIf="watch(model?.Body)">
        <div class="w-100 mt-2"></div>
        <div class="small font-weight-bold t-form-group">
            {{ 'Email_Body' | translate }}
        </div>
        <div class="w-100 mt-2 border-top" style="min-height: 500px">
            <iframe #iframe class="p-0 border-0 w-100 h-100 d-block" sandbox></iframe>
        </div>
    </ng-container>
</ng-template>