<b-details-picker collection="AccountClassification" [masterTemplate]="master" [filter]="filter"
    [detailsTemplate]="showCreate ? details : null">
</b-details-picker>

<!-- The Resource Classifications Details Modal -->
<ng-template #details let-modal="modal" let-update="update" let-initialText="initialText" let-idString="idString">
    <div class="modal-body">
        <b-account-classifications-details mode="popup" [initialText]="initialText" [idString]="idString"
            (cancel)="modal.close(false);" (saved)="modal.close(true); update.call(null, $event);">
        </b-account-classifications-details>
    </div>
</ng-template>

<!-- The Resource Classifications Master Modal -->
<ng-template #master let-modal="modal" let-update="update" let-create="create" let-filter="filter">
    <div class="modal-body">
        <b-account-classifications-master mode="popup" (cancel)="modal.close(false);" [filter]="filter"
            [showCreate]="showCreate" (choose)="modal.close(true); update.call(null, $event); "
            (create)="modal.close(false); create.call()">
        </b-account-classifications-master>
    </div>
</ng-template>