<b-details-picker collection="AccountClassification" [masterTemplate]="accountClassificationsMaster" [filter]="filter"
    [detailsTemplate]="accountClassificationsDetail">
</b-details-picker>

<!-- The Resource Classifications Details Modal -->
<ng-template #accountClassificationsDetail let-modal="modal" let-update="update" let-initialText="initialText"
    let-idString="idString">
    <div class="modal-body">
        <b-account-classifications-details mode="popup" [initialText]="initialText" [idString]="idString"
            (cancel)="modal.close(false);" (saved)="modal.close(true); update($event);">
        </b-account-classifications-details>
    </div>
</ng-template>

<!-- The Resource Classifications Master Modal -->
<ng-template #accountClassificationsMaster let-modal="modal" let-update="update" let-create="create">
    <div class="modal-body">
        <b-account-classifications-master mode="popup" (cancel)="modal.close(false);"
            (choose)="modal.close(true); update($event); " (create)="modal.close(false); create()">
        </b-account-classifications-master>
    </div>
</ng-template>
