<div class="h-100 d-flex flex-column">
  <!-- Breadcrumb and Toolbar -->
  <div class="row border-bottom bg-white">

    <!-- Breadcrumb -->
    <div class="col-6 p-1">
      <ul class="breadcrumb mb-0">
        <li class="breadcrumb-item active">
          {{ 'Settings' | translate }}
          <!-- Dirty Asterisk -->
          <span class="text-danger b-dirty-asterisk" *ngIf="isDirty">&nbsp;*</span>
        </li>
      </ul>
    </div>

    <!-- Toolbar -->
    <div class="col-12 p-1 d-flex justify-content-between b-toolbar">
      <!-- View Toolbar -->
      <div *ngIf="showViewToolbar">
        <!-- Edit -->
        <div class="d-inline-block" [placement]="placement" [ngbTooltip]="editTooltip" container="body">
          <button class="btn btn-primary btn-sm b-toolbar-button" (click)="onEdit()" [disabled]="!canEdit">
            <fa-icon icon="pen"></fa-icon>&nbsp;&nbsp;{{ 'Edit' | translate }}
          </button>
        </div>
      </div>

      <!-- Edit Toolbar -->
      <div *ngIf="showEditToolbar">

        <!-- Save -->
        <button class="btn btn-primary btn-sm b-toolbar-button" (click)="onSave()">
          <fa-icon icon="save"></fa-icon>&nbsp;&nbsp;{{ 'Save' | translate }}
        </button>

        <!-- Cancel -->
        <button class="btn btn-light btn-sm text-primary b-white-button b-toolbar-button" (click)="onCancel()">
          <fa-icon icon="times"></fa-icon>&nbsp;&nbsp;{{ 'Cancel' | translate }}
        </button>
      </div>

      <div>
        <!-- Refresh -->
        <button class="btn btn-light btn-sm b-white-button b-toolbar-button" *ngIf="showRefresh" type="button" title="{{ 'Refresh' | translate }}"
          (click)="onRefresh()">
          <fa-icon icon="sync-alt"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- Content Area -->
  <div class="row b-rest-of-screen" [class.bg-white]="showDocument">
    <div class="w-100 h-100">

      <!-- Document -->
      <div class="w-100 h-100 p-0 d-flex flex-column" *ngIf="showDocument">

          <div class="m-0 pt-3 pt-sm-4 pb-3 pb-sm-5 pl-0 pl-sm-3 pr-0 pr-sm-3">

            <h5 class="col-12 bg-light b-settings-header">
              {{ 'GeneralSettings' | translate }}
            </h5>

            <div class="row col-12 b-settings-section">

              <!-- Short Company Name -->
              <b-form-group class="b-form-group" [label]="('Settings_ShortCompanyName' | translate) + primaryPostfix"
                [description]="'Settings_ShortCompanyNameDescription' | translate" [serverErrors]="validationErrors.ShortCompanyName">
                <div *ngIf="!isEdit">{{ model?.ShortCompanyName }}</div>
                <b-text-editor *ngIf="isEdit" [(ngModel)]="model.ShortCompanyName" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
              </b-form-group>

              <!-- Short Company Name 2 -->
              <b-form-group class="b-form-group" *ngIf="model.SecondaryLanguageId" [label]="('Settings_ShortCompanyName' | translate) + secondaryPostfix"
                [description]="'Settings_ShortCompanyNameDescription' | translate" [serverErrors]="validationErrors.ShortCompanyName2">
                <div *ngIf="!isEdit">{{ model?.ShortCompanyName2 }}</div>
                <b-text-editor *ngIf="isEdit" [(ngModel)]="model.ShortCompanyName2" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
              </b-form-group>

              <!-- Primary Language -->
              <b-form-group class="b-form-group" [label]="'Settings_PrimaryLanguage' | translate" [description]="'Settings_PrimaryLanguageDescription' | translate"
                [serverErrors]="validationErrors.PrimaryLanguageId">
                <div *ngIf="!isEdit">{{ ws.get('Cultures', model?.PrimaryLanguageId)?.Name || '-' }}</div>
                <b-details-picker *ngIf="isEdit" [(ngModel)]="model.PrimaryLanguageId" apiEndpoint="cultures"
                  collection="Cultures">
                </b-details-picker>
              </b-form-group>

              <!-- Secondary Language -->
              <b-form-group class="b-form-group" [label]="'Settings_SecondaryLanguage' | translate" [description]="'Settings_SecondaryLanguageDescription' | translate"
                [serverErrors]="validationErrors.SecondaryLanguageId">
                <div *ngIf="!isEdit">{{ ws.get('Cultures', model?.SecondaryLanguageId)?.Name || '-' }}</div>
                <b-details-picker *ngIf="isEdit" [(ngModel)]="model.SecondaryLanguageId" apiEndpoint="cultures"
                  collection="Cultures">
                </b-details-picker>
              </b-form-group>

              <!-- Primary Language Symbol -->
              <b-form-group class="b-form-group" *ngIf="model.SecondaryLanguageId" [label]="'Settings_PrimaryLanguageSymbol' | translate"
                [description]="'Settings_LanguageSymbolDescription' | translate" [serverErrors]="validationErrors.PrimaryLanguageSymbol">
                <div *ngIf="!isEdit">{{ model?.PrimaryLanguageSymbol || '-' }}</div>
                <b-text-editor *ngIf="isEdit" [(ngModel)]="model.PrimaryLanguageSymbol" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
              </b-form-group>

              <!-- Secondary Language Symbol -->
              <b-form-group class="b-form-group" *ngIf="model.SecondaryLanguageId" [label]="'Settings_SecondaryLanguageSymbol' | translate"
                [description]="'Settings_LanguageSymbolDescription' | translate" [serverErrors]="validationErrors.SecondaryLanguageSymbol">
                <div *ngIf="!isEdit">{{ model?.SecondaryLanguageSymbol || '-' }}</div>
                <b-text-editor *ngIf="isEdit" [(ngModel)]="model.SecondaryLanguageSymbol" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
              </b-form-group>
            </div>

            <h5 class="col-12 bg-light b-settings-header">
              {{ 'Branding' | translate }}
            </h5>

            <div class="row col-12 b-settings-section">
              <!-- Brand Color -->
              <b-form-group class="b-form-group" [label]="'Settings_BrandColor' | translate" [description]="'Settings_BrandColorDescription' | translate"
                [serverErrors]="validationErrors.BrandColor">
                <div *ngIf="!isEdit">{{ model?.BrandColor || '-' }}</div>
                <b-text-editor *ngIf="isEdit" [(ngModel)]="model.BrandColor" [ngModelOptions]="{ updateOn: 'blur' }"
                  placeholder="e.g. #343A40"></b-text-editor>
              </b-form-group>
            </div>
          </div>
      </div>

      <!-- Spinner -->
      <div class="w-100 mt-3" *ngIf="showSpinner">
        <div class="w-100 p-2 d-flex justify-content-center">
          <b-spinner [scale]="2"></b-spinner>
        </div>
      </div>

      <!-- Error message -->
      <div class="mt-3" *ngIf="showErrorMessage">
        <b-error-message>
          {{ errorMessage }}
        </b-error-message>
      </div>
    </div>
  </div>
</div>


<!-- Error Modal -->
<ng-template #errorModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title">
      <fa-icon class="text-danger" icon="exclamation-triangle"></fa-icon>&nbsp;&nbsp;{{ 'Error' | translate }}
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ modalErrorMessage }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Dismiss' | translate }}
    </button>
  </div>
</ng-template>

<!-- Unsaved Changes Modal -->
<ng-template #unsavedChangesModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title"> {{ 'Confirmation' | translate }} </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ 'UnsavedChangesConfirmationMessage' | translate }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.close(true)">
      <fa-icon icon="check"></fa-icon>
      &nbsp;{{ 'Proceed' | translate }}
    </button>
    <button class="btn btn-light text-primary b-white-button" (click)="modal.close(false)" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</ng-template>