<t-details [expand]="expand" collection="Role" [createFunc]="create" [cloneFunc]="clone" [mode]="mode"
  [additionalSelect]="additionalSelect" [idString]="idString" [masterCrumb]="'Roles' | translate"
  [detailsCrumb]="detailsCrumb" [documentTemplate]="document" [actions]="[
            { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
            { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
           ]">

</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>


<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

  <!-- Header Name -->
  <t-form-group class="col-12 mb-2 mb-sm-4 t-h2" [serverErrors]="getMultilingualValue(model?.serverErrors, 'Name', ws)">
    @if (!isEdit) {
      <h2 class="font-weight-normal">{{ getMultilingualValue(model, 'Name', ws) }}</h2>
    }

    @if (isEdit && ws.isPrimaryLanguage) {
      <t-text-editor [focusIf]="!model.Id" [(ngModel)]="model.Name"
        [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.primaryPostfix + '...'" required>
      </t-text-editor>
    }

    @if (isEdit && ws.isSecondaryLanguage) {
      <t-text-editor [focusIf]="!model.Id" [(ngModel)]="model.Name2"
        [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.secondaryPostfix + '...'">
      </t-text-editor>
    }

    @if (isEdit && ws.isTernaryLanguage) {
      <t-text-editor [focusIf]="!model.Id" [(ngModel)]="model.Name3"
        [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.ternaryPostfix + '...'">
      </t-text-editor>
    }
  </t-form-group>

  <!-- Name -->
  @if (!ws.isPrimaryLanguage) {
    <t-form-group class="t-form-group" [label]="('Name' | translate) + ws.primaryPostfix"
      [serverErrors]="model?.serverErrors?.Name">
      @if (!isEdit) {
        <div>{{ model?.Name }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
        </t-text-editor>
      }
    </t-form-group>
  }

  <!-- Name2 -->
  @if (!ws.isSecondaryLanguage && ws.settings.SecondaryLanguageId) {
    <t-form-group class="t-form-group"
      [label]="('Name' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Name2">
      @if (!isEdit) {
        <div>{{ model?.Name2 }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
      }
    </t-form-group>
  }

  <!-- Name3 -->
  @if (!ws.isTernaryLanguage && ws.settings.TernaryLanguageId) {
    <t-form-group class="t-form-group"
      [label]="('Name' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Name3">
      @if (!isEdit) {
        <div>{{ model?.Name3 }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Name3" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
      }
    </t-form-group>
  }

  <!-- Code -->
  <t-form-group class="t-form-group" [label]="'Code' | translate" [serverErrors]="model?.serverErrors?.Code">
    @if (!isEdit) {
      <div>{{ model?.Code }}</div>
    }
    @if (isEdit) {
      <t-text-editor [(ngModel)]="model.Code" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
    }
  </t-form-group>

  <!-- Is Public -->
  @if (showIsPublic) {
    <t-form-group class="t-form-group" [label]="'Role_IsPublic' | translate">
      @if (!isEdit) {
        <div>{{ (model?.IsPublic ? 'Yes' : 'No') | translate }}</div>
      }
      @if (isEdit) {
        <div class="custom-control custom-checkbox t-labelless-checkbox">
          <input type="checkbox" class="custom-control-input" [(ngModel)]="model.IsPublic" id="isPublic">
          <label class="custom-control-label t-pointer" for="isPublic">&zwnj;</label>
        </div>
      }
    </t-form-group>
  }

  <!-- Is Active -->
  @if (!isEdit) {
    <t-form-group class="t-form-group" [label]="'IsActive' | translate">
      <div>{{ (!model ? '' : model.IsActive ? 'Yes' : 'No') | translate }}</div>
    </t-form-group>
  }

  @if (showPublicRoleWarning(model)) {
    <t-warning-message class="pt-3 pt-sm-4 w-100"> {{ 'PublicRoleWarning' |
    translate }} </t-warning-message>
  }

  <ul ngbNav #tabs="ngbNav" class="pt-3 pt-sm-4 w-100 nav-tabs" [destroyOnHide]="true">

    <!-- Permissions -->
    @if (showPermissions) {
      <li ngbNavItem="permissions">
        <a ngbNavLink>
          @if (showPermissionsError(model)) {
            <span class="text-danger"><fa-icon icon="exclamation">
            </fa-icon>&nbsp;
          </span>
        }
        <span
        class="small t-slightly-bold">{{ ('Permissions' | translate) + (!model.Id || model?.EntityMetadata?.Permissions === 2 ? ' (' + (permissionsCount(model) | number) + ')' : '') }}</span>
      </a>
      <ng-template ngbNavContent>
        <t-restricted [metadata]="model?.EntityMetadata?.Permissions"
          [class.p-4]="model?.EntityMetadata?.Permissions === 1">
          <t-table [dataSource]="model?.Permissions" [isEdit]="isEdit"
            [columnPaths]="['View', 'Action', 'Criteria', 'Memo']" [columnTemplates]="{
              'View' : { headerTemplate : header_View, rowTemplate : row_View, weight : 1 },
              'Action' : { headerTemplate : header_Action, rowTemplate : row_Action, weight : 1 },
              'Criteria' : { headerTemplate : header_Criteria, rowTemplate : row_Criteria, weight : 1 },
              'Mask' : { headerTemplate : header_Mask, rowTemplate : row_Mask, weight : 1 },
              'Memo' : { headerTemplate : header_Memo, rowTemplate : row_Memo, weight : 1 }
            }">
          </t-table>
        </t-restricted>
        <!-- View -->
        <ng-template #header_View>{{ 'Permission_View' | translate }}</ng-template>
        <ng-template #row_View let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.View">
            @if (!isEdit) {
              <div>
                {{ permissionViewLookup(item.View) }}
              </div>
            }
            @if (isEdit) {
              <t-selector [choices]="permissionViewChoices" [(ngModel)]="item.View" [required]="!item.PH"
              (ngModelChange)="update.call(null, item); onPermissionChanged(item);"></t-selector>
            }
          </t-form-group-cell>
        </ng-template>
        <!-- Action -->
        <ng-template #header_Action>{{ 'Permission_Action' | translate }}</ng-template>
        <ng-template #row_Action let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Action">
            @if (!isEdit) {
              <div>{{ permissionActionLookup(item?.Action) | translate }}</div>
            }
            @if (isEdit) {
              <t-selector [(ngModel)]="item.Action" [required]="!item.PH"
                (ngModelChange)="update.call(null, item); onPermissionChanged(item);"
                [ngModelOptions]="{ updateOn: 'blur' }" [choices]="permissionActionChoices(item)" [disabled]="!item.View">
              </t-selector>
            }
          </t-form-group-cell>
        </ng-template>
        <!-- Criteria -->
        <ng-template #header_Criteria>{{ 'Permission_Criteria' | translate }}</ng-template>
        <ng-template #row_Criteria let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Criteria">
            @if (!isEdit) {
              <div>{{ item.Criteria }}</div>
            }
            @if (isEdit) {
              <t-text-editor [(ngModel)]="item.Criteria" (ngModelChange)="update.call(null, item)"
                [ngModelOptions]="{ updateOn: 'blur' }" [disabled]="disableCriteria(item)">
              </t-text-editor>
            }
          </t-form-group-cell>
        </ng-template>
        <!-- Mask -->
        <ng-template #header_Mask>{{ 'Permission_Mask' | translate }}</ng-template>
        <ng-template #row_Mask let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Mask">
            @if (!isEdit) {
              <div>{{ item.Mask }}</div>
            }
            @if (isEdit) {
              <t-text-editor [(ngModel)]="item.Mask" (ngModelChange)="update.call(null, item)"
                [ngModelOptions]="{ updateOn: 'blur' }" [disabled]="disableMask(item)">
              </t-text-editor>
            }
          </t-form-group-cell>
        </ng-template>
        <!-- Memo -->
        <ng-template #header_Memo>{{ 'Memo' | translate }}</ng-template>
        <ng-template #row_Memo let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Memo">
            @if (!isEdit) {
              <div>{{ item.Memo }}</div>
            }
            @if (isEdit) {
              <t-text-editor [(ngModel)]="item.Memo" (ngModelChange)="update.call(null, item)"
              [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
            }
          </t-form-group-cell>
        </ng-template>
      </ng-template>
    </li>
  }

  <!-- Members -->
  @if (showMembersTab(model)) {
    <li ngbNavItem="members">
      <a ngbNavLink>
        @if (showMembersError(model)) {
          <span class="text-danger"><fa-icon icon="exclamation">
          </fa-icon>&nbsp;
        </span>
      }
      <span
      class="small t-slightly-bold">{{ ('Members' | translate) + (!model.Id || model?.EntityMetadata?.Members == 2 ? ' (' + (membersCount(model) | number) + ')' : '') }}</span>
    </a>
    <ng-template ngbNavContent>
      <t-restricted [metadata]="model?.EntityMetadata?.Members" [class.p-4]="model?.EntityMetadata?.Members === 1">
          <t-table [dataSource]="model?.Members" [isEdit]="isEdit" [columnPaths]="['UserId', 'Memo']" [columnTemplates]="{
            'UserId' : { headerTemplate : header_UserId, rowTemplate : row_UserId, weight : 1 },
            'Memo' : { headerTemplate : header_Memo2, rowTemplate : row_Memo2, weight : 1 }
          }">
        </t-table>
      </t-restricted>
      <!-- User -->
      <ng-template #header_UserId>{{ 'RoleMembership_User' | translate }}</ng-template>
      <ng-template #row_UserId let-item="item" let-index="index" let-update="update">
        <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.UserId">
          @if (!isEdit) {
            <t-view-link link="../../users" [itemId]="item?.UserId">
              {{ getMultilingualValue(ws.User[item.UserId], 'Name', ws) }}
            </t-view-link>
          }
          @if (isEdit) {
            <t-users-picker [(ngModel)]="item.UserId" (ngModelChange)="update.call(null, item)"
              [showRoles]="false" [required]="!item.PH">
            </t-users-picker>
          }
        </t-form-group-cell>
      </ng-template>
      <!-- Memo -->
      <ng-template #header_Memo2>{{ 'Memo' | translate }}</ng-template>
      <ng-template #row_Memo2 let-item="item" let-index="index" let-update="update">
        <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Memo">
          @if (!isEdit) {
            <div>{{ item.Memo }}</div>
          }
          @if (isEdit) {
            <t-text-editor [(ngModel)]="item.Memo" (ngModelChange)="update.call(null, item)"
            [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
          }
        </t-form-group-cell>
      </ng-template>
    </ng-template>
  </li>
}
</ul>
<div class="w-100" [ngbNavOutlet]="tabs"></div>

</ng-template>


<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>