<t-details [expand]="expand" collection="Role" [createFunc]="create" [cloneFunc]="clone" [mode]="mode"
  [additionalSelect]="additionalSelect" [idString]="idString" [masterCrumb]="'Roles' | translate"
  [detailsCrumb]="detailsCrumb" [documentTemplate]="document" [actions]="[
            { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
            { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
           ]">

</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>


<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

  <!-- Header Name -->
  <t-form-group class="col-12 mb-2 mb-sm-4 t-h2" [serverErrors]="getMultilingualValue(model?.serverErrors, 'Name', ws)">
    <h2 class="font-weight-normal" *ngIf="!isEdit">{{ getMultilingualValue(model, 'Name', ws) }}</h2>

    <t-text-editor *ngIf="isEdit && ws.isPrimaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.primaryPostfix + '...'" required>
    </t-text-editor>

    <t-text-editor *ngIf="isEdit && ws.isSecondaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name2"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.secondaryPostfix + '...'">
    </t-text-editor>

    <t-text-editor *ngIf="isEdit && ws.isTernaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name3"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.ternaryPostfix + '...'">
    </t-text-editor>
  </t-form-group>

  <!-- Name -->
  <t-form-group class="t-form-group" *ngIf="!ws.isPrimaryLanguage" [label]="('Name' | translate) + ws.primaryPostfix"
    [serverErrors]="model?.serverErrors?.Name">
    <div *ngIf="!isEdit">{{ model?.Name }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
    </t-text-editor>
  </t-form-group>

  <!-- Name2 -->
  <t-form-group class="t-form-group" *ngIf="!ws.isSecondaryLanguage && ws.settings.SecondaryLanguageId"
    [label]="('Name' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Name2">
    <div *ngIf="!isEdit">{{ model?.Name2 }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
  </t-form-group>

  <!-- Name3 -->
  <t-form-group class="t-form-group" *ngIf="!ws.isTernaryLanguage && ws.settings.TernaryLanguageId"
    [label]="('Name' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Name3">
    <div *ngIf="!isEdit">{{ model?.Name3 }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name3" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
  </t-form-group>

  <!-- Code -->
  <t-form-group class="t-form-group" [label]="'Code' | translate" [serverErrors]="model?.serverErrors?.Code">
    <div *ngIf="!isEdit">{{ model?.Code }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Code" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
  </t-form-group>

  <!-- Is Public -->
  <t-form-group class="t-form-group" [label]="'Role_IsPublic' | translate" *ngIf="showIsPublic">
    <div *ngIf="!isEdit">{{ (model?.IsPublic ? 'Yes' : 'No') | translate }}</div>
    <div *ngIf="isEdit" class="custom-control custom-checkbox t-labelless-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="model.IsPublic" id="isPublic">
      <label class="custom-control-label t-pointer" for="isPublic">&zwnj;</label>
    </div>
  </t-form-group>

  <!-- Is Active -->
  <t-form-group class="t-form-group" [label]="'IsActive' | translate" *ngIf="!isEdit">
    <div>{{ (!model ? '' : model.IsActive ? 'Yes' : 'No') | translate }}</div>
  </t-form-group>

  <t-warning-message class="pt-3 pt-sm-4 w-100" *ngIf="showPublicRoleWarning(model)"> {{ 'PublicRoleWarning' |
    translate }} </t-warning-message>

  <ul ngbNav #tabs="ngbNav" class="pt-3 pt-sm-4 w-100 nav-tabs" [destroyOnHide]="true">

    <!-- Permissions -->
    <li *ngIf="showPermissions" ngbNavItem="permissions">
      <a ngbNavLink>
        <span *ngIf="showPermissionsError(model)" class="text-danger"><fa-icon icon="exclamation">
          </fa-icon>&nbsp;
        </span>
        <span
          class="small t-slightly-bold">{{ ('Permissions' | translate) + (!model.Id || model?.EntityMetadata?.Permissions === 2 ? ' (' + (permissionsCount(model) | number) + ')' : '') }}</span>
      </a>
      <ng-template ngbNavContent>
        <t-restricted [metadata]="model?.EntityMetadata?.Permissions"
          [class.p-4]="model?.EntityMetadata?.Permissions === 1">
          <t-table [dataSource]="model?.Permissions" [isEdit]="isEdit"
            [columnPaths]="['View', 'Action', 'Criteria', 'Memo']" [columnTemplates]="{
              'View' : { headerTemplate : header_View, rowTemplate : row_View, weight : 1 },
              'Action' : { headerTemplate : header_Action, rowTemplate : row_Action, weight : 1 },
              'Criteria' : { headerTemplate : header_Criteria, rowTemplate : row_Criteria, weight : 1 },
              'Mask' : { headerTemplate : header_Mask, rowTemplate : row_Mask, weight : 1 },
              'Memo' : { headerTemplate : header_Memo, rowTemplate : row_Memo, weight : 1 }
            }">
          </t-table>
        </t-restricted>
        <!-- View -->
        <ng-template #header_View>{{ 'Permission_View' | translate }}</ng-template>
        <ng-template #row_View let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.View">
            <div *ngIf="!isEdit">
              {{ permissionViewLookup(item.View) }}
            </div>
            <t-selector *ngIf="isEdit" [choices]="permissionViewChoices" [(ngModel)]="item.View" [required]="!item.PH"
              (ngModelChange)="update.call(null, item); onPermissionChanged(item);"></t-selector>
          </t-form-group-cell>
        </ng-template>

        <!-- Action -->
        <ng-template #header_Action>{{ 'Permission_Action' | translate }}</ng-template>
        <ng-template #row_Action let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Action">
            <div *ngIf="!isEdit">{{ permissionActionLookup(item?.Action) | translate }}</div>
            <t-selector *ngIf="isEdit" [(ngModel)]="item.Action" [required]="!item.PH"
              (ngModelChange)="update.call(null, item); onPermissionChanged(item);"
              [ngModelOptions]="{ updateOn: 'blur' }" [choices]="permissionActionChoices(item)" [disabled]="!item.View">
            </t-selector>
          </t-form-group-cell>
        </ng-template>

        <!-- Criteria -->
        <ng-template #header_Criteria>{{ 'Permission_Criteria' | translate }}</ng-template>
        <ng-template #row_Criteria let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Criteria">
            <div *ngIf="!isEdit">{{ item.Criteria }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="item.Criteria" (ngModelChange)="update.call(null, item)"
              [ngModelOptions]="{ updateOn: 'blur' }" [disabled]="disableCriteria(item)">
            </t-text-editor>
          </t-form-group-cell>
        </ng-template>

        <!-- Mask -->
        <ng-template #header_Mask>{{ 'Permission_Mask' | translate }}</ng-template>
        <ng-template #row_Mask let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Mask">
            <div *ngIf="!isEdit">{{ item.Mask }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="item.Mask" (ngModelChange)="update.call(null, item)"
              [ngModelOptions]="{ updateOn: 'blur' }" [disabled]="disableMask(item)">
            </t-text-editor>
          </t-form-group-cell>
        </ng-template>

        <!-- Memo -->
        <ng-template #header_Memo>{{ 'Memo' | translate }}</ng-template>
        <ng-template #row_Memo let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Memo">
            <div *ngIf="!isEdit">{{ item.Memo }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="item.Memo" (ngModelChange)="update.call(null, item)"
              [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
          </t-form-group-cell>
        </ng-template>
      </ng-template>
    </li>

    <!-- Members -->
    <li *ngIf="showMembersTab(model)" ngbNavItem="members">
      <a ngbNavLink>
        <span *ngIf="showMembersError(model)" class="text-danger"><fa-icon icon="exclamation">
          </fa-icon>&nbsp;
        </span>
        <span
          class="small t-slightly-bold">{{ ('Members' | translate) + (!model.Id || model?.EntityMetadata?.Members == 2 ? ' (' + (membersCount(model) | number) + ')' : '') }}</span>
      </a>
      <ng-template ngbNavContent>
        <t-restricted [metadata]="model?.EntityMetadata?.Members" [class.p-4]="model?.EntityMetadata?.Members === 1">
          <t-table [dataSource]="model?.Members" [isEdit]="isEdit" [columnPaths]="['UserId', 'Memo']" [columnTemplates]="{
            'UserId' : { headerTemplate : header_UserId, rowTemplate : row_UserId, weight : 1 },
            'Memo' : { headerTemplate : header_Memo, rowTemplate : row_Memo, weight : 1 }
          }">
          </t-table>
        </t-restricted>

        <!-- User -->
        <ng-template #header_UserId>{{ 'RoleMembership_User' | translate }}</ng-template>
        <ng-template #row_UserId let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.UserId">
            <t-view-link *ngIf="!isEdit" link="../../users" [itemId]="item?.UserId">
              {{ getMultilingualValue(ws.User[item.UserId], 'Name', ws) }}
            </t-view-link>
            <t-users-picker *ngIf="isEdit" [(ngModel)]="item.UserId" (ngModelChange)="update.call(null, item)"
              [showRoles]="false" [required]="!item.PH">
            </t-users-picker>
          </t-form-group-cell>
        </ng-template>

        <!-- Memo -->
        <ng-template #header_Memo>{{ 'Memo' | translate }}</ng-template>
        <ng-template #row_Memo let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Memo">
            <div *ngIf="!isEdit">{{ item.Memo }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="item.Memo" (ngModelChange)="update.call(null, item)"
              [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
          </t-form-group-cell>
        </ng-template>

      </ng-template>
    </li>
  </ul>
  <div class="w-100" [ngbNavOutlet]="tabs"></div>

</ng-template>


<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>