<div class="d-flex flex-column h-100">
  <nav class="navbar navbar-light shadow-sm border-bottom bg-white navbar-expand-sm p-0 align-items-sm-stretch">
    <div class="container d-flex align-items-sm-stretch">

      <!-- Brand -->
      <a class="b-brand-link b-navbar-button" routerLink="/root/welcome" [title]="'Home' | translate">
        <div class="d-flex flex-column align-items-center justify-content-center px-1" style="height: 34px;">
          <img src="/assets/tellma-light.png" width="64">
        </div>
      </a>

      <!-- Back and Forward -->
      <div class="mx-2 d-flex">
        <button class="b-navbar-button nav-link" (click)="onCollapse();nav.onBack();" [disabled]="!nav.canBack"
          *ngIf="nav.showBack">
          <fa-icon icon="arrow-left" [flip]="flip"></fa-icon>
        </button>
        &nbsp;
        <button class="b-navbar-button nav-link" (click)="onCollapse();nav.onForward();" [disabled]="!nav.canForward"
          *ngIf="nav.showForward">
          <fa-icon icon="arrow-right" [flip]="flip"></fa-icon>
        </button>
      </div>

      <!-- Collapse button -->
      <button type="button" class="navbar-toggler mx-2" (click)="onToggleCollapse()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible stuff -->
      <div class="collapse navbar-collapse align-items-stretch" [ngbCollapse]="isCollapsed">
        <ol class="nav navbar-nav px-4 px-sm-0" [class.mr-auto]="!isRtl" [class.ml-auto]="isRtl">

        </ol>
        <ol class="nav navbar-nav p-0 px-4 px-sm-0">
          <li class="nav-item" ngbDropdown container="" *ngIf="activeLanguages.length > 1">
            <button class="h-100 w-100 b-navbar-button b-no-arrow" ngbDropdownToggle>
              <span class="px-1">
                {{ currentLanguageDisplay }}
              </span>
            </button>
            <div class="dropdown-menu shadow m-0" ngbDropdownMenu aria-labelledby="action"
              [class.dropdown-menu-right]="!isRtl">
              <ng-container *ngFor="let lang of activeLanguages">
                <button type="button" class="dropdown-item btn-light" *ngIf="lang !== currentLanguage"
                  (click)="onSetLanguage(lang)">
                  {{ languageName(lang) }}
                </button>
              </ng-container>

            </div>
          </li>
          <li class="nav-item" *ngIf="!isAuthenticated">
            <button class="h-100 w-100 b-navbar-button" (click)="onSignIn()">
              <span class="px-1">
                {{ 'SignIn' | translate }}
              </span>
            </button>
          </li>
          <li class="nav-item" ngbDropdown container="" *ngIf="isAuthenticated">
            <button class="h-100 w-100 b-navbar-button b-no-arrow" ngbDropdownToggle>
              <span class="px-1">
                {{ userName }}
              </span>
            </button>
            <div class="dropdown-menu shadow m-0" ngbDropdownMenu aria-labelledby="action"
              [class.dropdown-menu-right]="!isRtl">
              <button type="button" class="dropdown-item btn-light" routerLink="/root/companies" (click)="onCollapse()">
                {{ 'MyCompanies' | translate }}
              </button>
              <button type="button" class="dropdown-item btn-light" routerLink="/root/welcome" (click)="onCollapse()">
                {{ 'WelcomePage' | translate }}
              </button>
              <button type="button" class="dropdown-item btn-light" (click)="onMySystemAccount();onCollapse()">
                {{ 'My0Account' | translate: { placeholder: ( 'AppName' | translate ) } }}
              </button>
              <button type="button" class="dropdown-item btn-light" (click)="onSignOut();onCollapse()">
                {{ 'SignOut' | translate }}
              </button>
            </div>
          </li>
        </ol>
      </div>
    </div>

  </nav>
  <main class="b-rest-of-screen container-fluid bg-white2 b-banner3">
    <router-outlet></router-outlet>
  </main>
</div>