<t-settings [title]="'GeneralSettings' | translate" endpoint="general-settings" view="general-settings" expand=""
  [template]="template">

</t-settings>


<ng-template #template let-model="model" let-isEdit="isEdit">

  <div class="m-0 pt-3 pt-sm-4 pb-3 pb-sm-5 pl-0 pl-sm-3 pr-0 pr-sm-3">


    <h5 class="col-12 bg-light t-settings-header">
      {{ 'Languages' | translate }}
    </h5>

    <div class="row col-12 t-settings-section">

      <!-- PrimaryLanguage -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_PrimaryLanguage' | translate"
        [description]="'Settings_PrimaryLanguageDescription' | translate"
        [serverErrors]="model.serverErrors?.PrimaryLanguageId">
        @if (!isEdit) {
          <div>{{ cultureName(model?.PrimaryLanguageId) || '-' }}</div>
        }
        @if (isEdit) {
          <t-selector [(ngModel)]="model.PrimaryLanguageId" [choices]="cultures" required>
          </t-selector>
        }
      </t-form-group-settings>

      <!-- SecondaryLanguage -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_SecondaryLanguage' | translate"
        [description]="'Settings_SecondaryLanguageDescription' | translate"
        [serverErrors]="model.serverErrors?.SecondaryLanguageId">
        @if (!isEdit) {
          <div>{{ cultureName(model?.SecondaryLanguageId) || '-' }}</div>
        }
        @if (isEdit) {
          <t-selector [(ngModel)]="model.SecondaryLanguageId" [choices]="cultures" isOptional="true">
          </t-selector>
        }
      </t-form-group-settings>

      <!-- TernaryLanguage -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_TernaryLanguage' | translate"
        [description]="'Settings_TernaryLanguageDescription' | translate"
        [serverErrors]="model.serverErrors?.TernaryLanguageId">
        @if (!isEdit) {
          <div>{{ cultureName(model?.TernaryLanguageId) || '-' }}</div>
        }
        @if (isEdit) {
          <t-selector [(ngModel)]="model.TernaryLanguageId" [choices]="cultures" isOptional="true">
          </t-selector>
        }
      </t-form-group-settings>

      <!-- PrimaryLanguageSymbol -->
      @if (model.SecondaryLanguageId) {
        <t-form-group-settings class="t-form-group"
          [label]="'Settings_PrimaryLanguageSymbol' | translate"
          [description]="'Settings_LanguageSymbolDescription' | translate"
          [serverErrors]="model.serverErrors?.PrimaryLanguageSymbol">
          @if (!isEdit) {
            <div>{{ model?.PrimaryLanguageSymbol || '-' }}</div>
          }
          @if (isEdit) {
            <t-text-editor [(ngModel)]="model.PrimaryLanguageSymbol" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          }
        </t-form-group-settings>
      }

      <!-- SecondaryLanguageSymbol -->
      @if (model.SecondaryLanguageId) {
        <t-form-group-settings class="t-form-group"
          [label]="'Settings_SecondaryLanguageSymbol' | translate"
          [description]="'Settings_LanguageSymbolDescription' | translate"
          [serverErrors]="model.serverErrors?.SecondaryLanguageSymbol">
          @if (!isEdit) {
            <div>{{ model?.SecondaryLanguageSymbol || '-' }}</div>
          }
          @if (isEdit) {
            <t-text-editor [(ngModel)]="model.SecondaryLanguageSymbol"
            [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
          }
        </t-form-group-settings>
      }

      <!-- TernaryLanguageSymbol -->
      @if (model.TernaryLanguageId) {
        <t-form-group-settings class="t-form-group"
          [label]="'Settings_TernaryLanguageSymbol' | translate"
          [description]="'Settings_LanguageSymbolDescription' | translate"
          [serverErrors]="model.serverErrors?.TernaryLanguageSymbol">
          @if (!isEdit) {
            <div>{{ model?.TernaryLanguageSymbol || '-' }}</div>
          }
          @if (isEdit) {
            <t-text-editor [(ngModel)]="model.TernaryLanguageSymbol" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          }
        </t-form-group-settings>
      }

    </div>

    <h5 class="col-12 bg-light t-settings-header">
      {{ 'GeneralSettings' | translate }}
    </h5>

    <div class="row col-12 t-settings-section">

      <!-- CompanyName -->
      <t-form-group-settings class="t-form-group" [label]="('Settings_CompanyName' | translate) + primaryPostfix"
        [description]="'Settings_CompanyNameDescription' | translate" [serverErrors]="model.serverErrors?.CompanyName">
        @if (!isEdit) {
          <div>{{ model?.CompanyName || '-' }}</div>
        }
        @if (isEdit) {
          <t-text-editor [(ngModel)]="model.CompanyName" [ngModelOptions]="{ updateOn: 'blur' }"
          required></t-text-editor>
        }
      </t-form-group-settings>

      <!-- CompanyName 2 -->
      @if (model.SecondaryLanguageId) {
        <t-form-group-settings class="t-form-group"
          [label]="('Settings_CompanyName' | translate) + secondaryPostfix"
          [description]="'Settings_CompanyNameDescription' | translate" [serverErrors]="model.serverErrors?.CompanyName2">
          @if (!isEdit) {
            <div>{{ model?.CompanyName2 || '-' }}</div>
          }
          @if (isEdit) {
            <t-text-editor [(ngModel)]="model.CompanyName2" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          }
        </t-form-group-settings>
      }

      <!-- CompanyName 3 -->
      @if (model.TernaryLanguageId) {
        <t-form-group-settings class="t-form-group"
          [label]="('Settings_CompanyName' | translate) + ternaryPostfix"
          [description]="'Settings_CompanyNameDescription' | translate" [serverErrors]="model.serverErrors?.CompanyName3">
          @if (!isEdit) {
            <div>{{ model?.CompanyName3 || '-' }}</div>
          }
          @if (isEdit) {
            <t-text-editor [(ngModel)]="model.CompanyName3" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          }
        </t-form-group-settings>
      }

      <!-- ShortCompanyName -->
      <t-form-group-settings class="t-form-group" [label]="('Settings_ShortCompanyName' | translate) + primaryPostfix"
        [description]="'Settings_ShortCompanyNameDescription' | translate"
        [serverErrors]="model.serverErrors?.ShortCompanyName">
        @if (!isEdit) {
          <div>{{ model?.ShortCompanyName || '-' }}</div>
        }
        @if (isEdit) {
          <t-text-editor [(ngModel)]="model.ShortCompanyName" [ngModelOptions]="{ updateOn: 'blur' }"
          required></t-text-editor>
        }
      </t-form-group-settings>

      <!-- ShortCompanyName 2 -->
      @if (model.SecondaryLanguageId) {
        <t-form-group-settings class="t-form-group"
          [label]="('Settings_ShortCompanyName' | translate) + secondaryPostfix"
          [description]="'Settings_ShortCompanyNameDescription' | translate"
          [serverErrors]="model.serverErrors?.ShortCompanyName2">
          @if (!isEdit) {
            <div>{{ model?.ShortCompanyName2 || '-' }}</div>
          }
          @if (isEdit) {
            <t-text-editor [(ngModel)]="model.ShortCompanyName2" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          }
        </t-form-group-settings>
      }

      <!-- ShortCompanyName 3 -->
      @if (model.TernaryLanguageId) {
        <t-form-group-settings class="t-form-group"
          [label]="('Settings_ShortCompanyName' | translate) + ternaryPostfix"
          [description]="'Settings_ShortCompanyNameDescription' | translate"
          [serverErrors]="model.serverErrors?.ShortCompanyName3">
          @if (!isEdit) {
            <div>{{ model?.ShortCompanyName3 || '-' }}</div>
          }
          @if (isEdit) {
            <t-text-editor [(ngModel)]="model.ShortCompanyName3" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          }
        </t-form-group-settings>
      }

      <!-- SupportEmails -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_SupportEmails' | translate"
        [description]="'Settings_SupportEmailsDescription' | translate"
        [serverErrors]="model.serverErrors?.SupportEmails">
        @if (!isEdit) {
          <div>{{ model?.SupportEmails || '-' }}</div>
        }
        @if (isEdit) {
          <t-text-editor [(ngModel)]="model.SupportEmails"
          [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
        }
      </t-form-group-settings>

      <div class="w-100"></div>

      <!-- Enforce2faOnLocalAccounts -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_Enforce2faOnLocalAccounts' | translate"
        [serverErrors]="model.serverErrors?.Enforce2faOnLocalAccounts">
        @if (!isEdit) {
          <div>{{ (model?.Enforce2faOnLocalAccounts ? 'Yes' : 'No') | translate }}</div>
        }
        @if (isEdit) {
          <div class="custom-control custom-checkbox t-labelless-checkbox">
            <input type="checkbox" class="custom-control-input" [(ngModel)]="model.Enforce2faOnLocalAccounts" id="Enforce2faOnLocalAccounts">
            <label class="custom-control-label t-pointer" for="Enforce2faOnLocalAccounts">&zwnj;</label>
          </div>
        }
      </t-form-group-settings>

      <!-- EnforceNoExternalAccounts -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_EnforceNoExternalAccounts' | translate"
        [serverErrors]="model.serverErrors?.EnforceNoExternalAccounts">
        @if (!isEdit) {
          <div>{{ (model?.EnforceNoExternalAccounts ? 'Yes' : 'No') | translate }}</div>
        }
        @if (isEdit) {
          <div class="custom-control custom-checkbox t-labelless-checkbox">
            <input type="checkbox" class="custom-control-input" [(ngModel)]="model.EnforceNoExternalAccounts" id="EnforceNoExternalAccounts">
            <label class="custom-control-label t-pointer" for="EnforceNoExternalAccounts">&zwnj;</label>
          </div>
        }
      </t-form-group-settings>

    </div>

    <h5 class="col-12 bg-light t-settings-header">
      {{ 'DatesAndTimes' | translate }}
    </h5>

    <div class="row col-12 t-settings-section">

      <!-- PrimaryCalendar -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_PrimaryCalendar' | translate"
        [description]="'Settings_PrimaryCalendarDescription' | translate"
        [serverErrors]="model.serverErrors?.PrimaryCalendar">
        @if (!isEdit) {
          <div>{{ calendarName(model?.PrimaryCalendar) || '-' }}</div>
        }
        @if (isEdit) {
          <t-selector [(ngModel)]="model.PrimaryCalendar" [choices]="calendars" required>
          </t-selector>
        }
      </t-form-group-settings>

      <!-- SecondaryCalendar -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_SecondaryCalendar' | translate"
        [description]="'Settings_SecondaryCalendarDescription' | translate"
        [serverErrors]="model.serverErrors?.SecondaryCalendar">
        @if (!isEdit) {
          <div>{{ calendarName(model?.SecondaryCalendar) || '-' }}</div>
        }
        @if (isEdit) {
          <t-selector [(ngModel)]="model.SecondaryCalendar" [choices]="calendars" isOptional="true">
          </t-selector>
        }
      </t-form-group-settings>

      <!-- DateFormat -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_DateFormat' | translate"
        [description]="'Settings_DateFormatDescription' | translate" [serverErrors]="model.serverErrors?.DateFormat">
        @if (!isEdit) {
          <div>{{ dateFormatDisplay(model?.DateFormat) || '-' }}</div>
        }
        @if (isEdit) {
          <t-selector [(ngModel)]="model.DateFormat" [choices]="dateFormats" isOptional="true">
          </t-selector>
        }
      </t-form-group-settings>

      <!-- TimeFormat -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_TimeFormat' | translate"
        [description]="'Settings_TimeFormatDescription' | translate" [serverErrors]="model.serverErrors?.TimeFormat">
        @if (!isEdit) {
          <div>{{ timeFormatDisplay(model?.TimeFormat) || '-' }}</div>
        }
        @if (isEdit) {
          <t-selector [(ngModel)]="model.TimeFormat" [choices]="timeFormats" isOptional="true">
          </t-selector>
        }
      </t-form-group-settings>
    </div>

    <h5 class="col-12 bg-light t-settings-header">
      {{ 'Branding' | translate }}
    </h5>

    <div class="row col-12 t-settings-section">
      <!-- BrandColor -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_BrandColor' | translate"
        [description]="'Settings_BrandColorDescription' | translate" [serverErrors]="model.serverErrors?.BrandColor">
        @if (!isEdit) {
          <div>{{ model?.BrandColor || '-' }}</div>
        }
        @if (isEdit) {
          <t-text-editor [(ngModel)]="model.BrandColor" [ngModelOptions]="{ updateOn: 'blur' }"
          placeholder="e.g. #343A40"></t-text-editor>
        }
      </t-form-group-settings>
    </div>


    <h5 class="col-12 bg-light t-settings-header">
      {{ 'CompanyAddress' | translate }}
    </h5>

    <div class="row col-12 t-settings-section">

      <!-- BuildingNumber -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_BuildingNumber' | translate"
        [serverErrors]="model.serverErrors?.CustomFields">
        @if (!isEdit) {
          <div>{{ model?.CustomFields?.BuildingNumber || '-' }}</div>
        }
        @if (isEdit) {
          <t-text-editor [ngModel]="model?.CustomFields?.BuildingNumber"
            (ngModelChange)="customFields(model).BuildingNumber = $event" [ngModelOptions]="{ updateOn: 'blur' }">
          </t-text-editor>
        }
      </t-form-group-settings>

      <!-- Street -->
      <t-form-group-settings class="t-form-group" [label]="('Settings_Street' | translate) + primaryPostfix"
        [serverErrors]="model.serverErrors?.CustomFields">
        @if (!isEdit) {
          <div>{{ model?.CustomFields?.Street || '-' }}</div>
        }
        @if (isEdit) {
          <t-text-editor [ngModel]="model?.CustomFields?.Street"
            (ngModelChange)="customFields(model).Street = $event" [ngModelOptions]="{ updateOn: 'blur' }">
          </t-text-editor>
        }
      </t-form-group-settings>

      <!-- Street2 -->
      @if (model.SecondaryLanguageId) {
        <t-form-group-settings class="t-form-group" [label]="('Settings_Street' | translate) + secondaryPostfix"
          [serverErrors]="model.serverErrors?.CustomFields">
          @if (!isEdit) {
            <div>{{ model?.CustomFields?.Street2 || '-' }}</div>
          }
          @if (isEdit) {
            <t-text-editor [ngModel]="model?.CustomFields?.Street2"
              (ngModelChange)="customFields(model).Street2 = $event" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          }
        </t-form-group-settings>
      }

      <!-- Street3 -->
      @if (model.TernaryLanguageId) {
        <t-form-group-settings class="t-form-group" [label]="('Settings_Street' | translate) + ternaryPostfix"
          [serverErrors]="model.serverErrors?.CustomFields">
          @if (!isEdit) {
            <div>{{ model?.CustomFields?.Street3 || '-' }}</div>
          }
          @if (isEdit) {
            <t-text-editor [ngModel]="model?.CustomFields?.Street3"
              (ngModelChange)="customFields(model).Street3 = $event" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          }
        </t-form-group-settings>
      }

      <!-- SecondaryNumber -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_SecondaryNumber' | translate"
        [serverErrors]="model.serverErrors?.CustomFields">
        @if (!isEdit) {
          <div>{{ model?.CustomFields?.SecondaryNumber || '-' }}</div>
        }
        @if (isEdit) {
          <t-text-editor [ngModel]="model?.CustomFields?.SecondaryNumber"
            (ngModelChange)="customFields(model).SecondaryNumber = $event" [ngModelOptions]="{ updateOn: 'blur' }">
          </t-text-editor>
        }
      </t-form-group-settings>

      <!-- District -->
      <t-form-group-settings class="t-form-group" [label]="('Settings_District' | translate) + primaryPostfix"
        [serverErrors]="model.serverErrors?.CustomFields">
        @if (!isEdit) {
          <div>{{ model?.CustomFields?.District || '-' }}</div>
        }
        @if (isEdit) {
          <t-text-editor [ngModel]="model?.CustomFields?.District"
            (ngModelChange)="customFields(model).District = $event" [ngModelOptions]="{ updateOn: 'blur' }">
          </t-text-editor>
        }
      </t-form-group-settings>

      <!-- District2 -->
      @if (model.SecondaryLanguageId) {
        <t-form-group-settings class="t-form-group" [label]="('Settings_District' | translate) + secondaryPostfix"
          [serverErrors]="model.serverErrors?.CustomFields">
          @if (!isEdit) {
            <div>{{ model?.CustomFields?.District2 || '-' }}</div>
          }
          @if (isEdit) {
            <t-text-editor [ngModel]="model?.CustomFields?.District2"
              (ngModelChange)="customFields(model).District2 = $event" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          }
        </t-form-group-settings>
      }

      <!-- District3 -->
      @if (model.TernaryLanguageId) {
        <t-form-group-settings class="t-form-group" [label]="('Settings_District' | translate) + ternaryPostfix"
          [serverErrors]="model.serverErrors?.CustomFields">
          @if (!isEdit) {
            <div>{{ model?.CustomFields?.District3 || '-' }}</div>
          }
          @if (isEdit) {
            <t-text-editor [ngModel]="model?.CustomFields?.District3"
              (ngModelChange)="customFields(model).District3 = $event" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          }
        </t-form-group-settings>
      }

      <!-- PostalCode -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_PostalCode' | translate"
        [serverErrors]="model.serverErrors?.CustomFields">
        @if (!isEdit) {
          <div>{{ model?.CustomFields?.PostalCode || '-' }}</div>
        }
        @if (isEdit) {
          <t-text-editor [ngModel]="model?.CustomFields?.PostalCode"
            (ngModelChange)="customFields(model).PostalCode = $event" [ngModelOptions]="{ updateOn: 'blur' }">
          </t-text-editor>
        }
      </t-form-group-settings>

      <!-- City -->
      <t-form-group-settings class="t-form-group" [label]="('Settings_City' | translate) + primaryPostfix"
        [serverErrors]="model.serverErrors?.CustomFields">
        @if (!isEdit) {
          <div>{{ model?.CustomFields?.City || '-' }}</div>
        }
        @if (isEdit) {
          <t-text-editor [ngModel]="model?.CustomFields?.City"
            (ngModelChange)="customFields(model).City = $event" [ngModelOptions]="{ updateOn: 'blur' }">
          </t-text-editor>
        }
      </t-form-group-settings>

      <!-- City2 -->
      @if (model.SecondaryLanguageId) {
        <t-form-group-settings class="t-form-group" [label]="('Settings_City' | translate) + secondaryPostfix"
          [serverErrors]="model.serverErrors?.CustomFields">
          @if (!isEdit) {
            <div>{{ model?.CustomFields?.City2 || '-' }}</div>
          }
          @if (isEdit) {
            <t-text-editor [ngModel]="model?.CustomFields?.City2"
              (ngModelChange)="customFields(model).City2 = $event" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          }
        </t-form-group-settings>
      }

      <!-- City3 -->
      @if (model.TernaryLanguageId) {
        <t-form-group-settings class="t-form-group" [label]="('Settings_City' | translate) + ternaryPostfix"
          [serverErrors]="model.serverErrors?.CustomFields">
          @if (!isEdit) {
            <div>{{ model?.CustomFields?.City3 || '-' }}</div>
          }
          @if (isEdit) {
            <t-text-editor [ngModel]="model?.CustomFields?.City3"
              (ngModelChange)="customFields(model).City3 = $event" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          }
        </t-form-group-settings>
      }

      <!-- CountryCode -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_CountryCode' | translate"
        [serverErrors]="model.serverErrors?.CountryCode">
        @if (!isEdit) {
          <div>{{ model?.CountryCode || '-' }}</div>
        }
        @if (isEdit) {
          <t-text-editor [(ngModel)]="model.CountryCode" [ngModelOptions]="{ updateOn: 'blur' }"
          required></t-text-editor>
        }
      </t-form-group-settings>

      <!-- CommercialRegistrationNumber -->
      <t-form-group-settings class="t-form-group" [label]="'Settings_CommercialRegistrationNumber' | translate"
        [serverErrors]="model.serverErrors?.CustomFields">
        @if (!isEdit) {
          <div>{{ model?.CustomFields?.CommercialRegistrationNumber || '-' }}</div>
        }
        @if (isEdit) {
          <t-text-editor [ngModel]="model?.CustomFields?.CommercialRegistrationNumber"
            (ngModelChange)="customFields(model).CommercialRegistrationNumber = $event" [ngModelOptions]="{ updateOn: 'blur' }">
          </t-text-editor>
        }
      </t-form-group-settings>

    </div>

  </div>
</ng-template>