<t-master collection="ContractDefinition" [mode]="mode" [showCreateButton]="showCreate" [filterDefault]="filter"
  [additionalSelect]="additionalSelect" [masterCrumb]="'ContractDefinitions' | translate" [tileTemplate]="tile"
  [tableSummaryColumnTemplate]="summaryColumn" [tableSummaryHeaderTemplate]="summaryHeader"
  selectDefault="Code,State" selectForTiles="Code,State" theme="dark"
  [multiselectActions]="[
              { template: makeHidden, action: onMakeHidden, showAction: showMakeHidden, canAction: hasStatePermission, actionTooltip: stateTooltip },
              { template: makeVisible, action: onMakeVisible, showAction: showMakeVisible, canAction: hasStatePermission, actionTooltip: stateTooltip },
              { template: makeArchived, action: onMakeArchived, showAction: showMakeArchived, canAction: hasStatePermission, actionTooltip: stateTooltip }
  ]" [filterDefinition]="{
            'CreatedBy' : [
              { template: createdByMe, expression: 'CreatedById eq me'}
            ],
            'State' : [
              { template: hidden, expression: 'State eq \'Hidden\'' },
              { template: visible, expression: 'State eq \'Visible\'' },
              { template: archived, expression: 'State eq \'Archived\'' }
            ]
          }">
</t-master>

<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex justify-content-between">
    <span class="d-block text-truncate">{{ ws.getMultilingualValue('ContractDefinition', id, 'TitleSingular') }}</span>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <div class="text-truncate flex-grow-1">
      <t-auto-cell collection="ContractDefinition" path="Code" [entity]="c[id]"></t-auto-cell>
    </div>
    <t-auto-cell collection="ContractDefinition" path="State" [entity]="c[id]"></t-auto-cell>
  </div>
</ng-template>

<!-- Summary Header -->
<ng-template #summaryHeader let-id="id">
  {{ 'ContractDefinition' | translate }}
</ng-template>

<!-- Summary Column -->
<ng-template #summaryColumn let-id="id">
  <span class="text-truncate">
    <t-auto-cell collection="ContractDefinition" [entity]="c[id]"></t-auto-cell>
  </span>
</ng-template>

<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>

<ng-template #hidden> {{ 'Definition_State_Hidden' | translate }} </ng-template>
<ng-template #visible> {{ 'Definition_State_Visible' | translate }} </ng-template>
<ng-template #archived> {{ 'Definition_State_Archived' | translate }} </ng-template>

<!-- Actions -->
<ng-template #makeHidden> {{ 'Definition_Hide' | translate }} </ng-template>
<ng-template #makeVisible> {{ 'Definition_Show' | translate }} </ng-template>
<ng-template #makeArchived> {{ 'Definition_Archive' | translate }} </ng-template>