<t-details *ngIf="found;else pageNotFound" collection="Resource" [definition]="definitionId" [createFunc]="create"
    [expand]="expand" [mode]="mode" [additionalSelect]="additionalSelect" [masterCrumb]="masterCrumb"
    [detailsCrumb]="detailsCrumb" [idString]="idString" [documentTemplate]="document" [actions]="[
            { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
            { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
           ]">

</t-details>

<!-- If definitionId is invalid -->
<ng-template #pageNotFound>
    <t-application-page-not-found>
    </t-application-page-not-found>
</ng-template>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
    <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>


<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

    <!-- Header Name -->
    <t-form-group class="col-12 mb-2 mb-sm-4 t-h2"
        [serverErrors]="getMultilingualValue(model?.serverErrors, 'Name', ws)">
        <h2 class="font-weight-normal" *ngIf="!isEdit">{{ getMultilingualValue(model, 'Name', ws) }}</h2>

        <t-text-editor *ngIf="isEdit && ws.isPrimaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name"
            [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.primaryPostfix + '...'"
            required>
        </t-text-editor>

        <t-text-editor *ngIf="isEdit && ws.isSecondaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name2"
            [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.secondaryPostfix + '...'">
        </t-text-editor>

        <t-text-editor *ngIf="isEdit && ws.isTernaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name3"
            [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.ternaryPostfix + '...'">
        </t-text-editor>
    </t-form-group>

    <!-- Name -->
    <t-form-group class="t-form-group" *ngIf="!ws.isPrimaryLanguage" [label]="('Name' | translate) + ws.primaryPostfix"
        [serverErrors]="model?.serverErrors?.Name">
        <div *ngIf="!isEdit">{{ model?.Name }}</div>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
        </t-text-editor>
    </t-form-group>

    <!-- Name2 -->
    <t-form-group class="t-form-group" *ngIf="!ws.isSecondaryLanguage && ws.settings.SecondaryLanguageId"
        [label]="('Name' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Name2">
        <div *ngIf="!isEdit">{{ model?.Name2 }}</div>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
    </t-form-group>

    <!-- Name3 -->
    <t-form-group class="t-form-group" *ngIf="!ws.isTernaryLanguage && ws.settings.TernaryLanguageId"
        [label]="('Name' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Name3">
        <div *ngIf="!isEdit">{{ model?.Name3 }}</div>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name3" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
    </t-form-group>

    <!-- Code -->
    <t-form-group class="t-form-group" [label]="'Code' | translate" [serverErrors]="model?.serverErrors?.Code">
        <div *ngIf="!isEdit">{{ model?.Code }}</div>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Code" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
    </t-form-group>

    <!-- Identifier -->
    <t-form-group *ngIf="Identifier_isVisible" class="t-form-group" [label]="Identifier_label"
        [serverErrors]="model?.serverErrors?.Identifier">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Identifier">
            <div>{{ model?.Identifier }}</div>
        </t-restricted>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Identifier" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="Identifier_isRequired">
        </t-text-editor>
    </t-form-group>

    <!-- Account Type -->
    <t-form-group class="t-form-group" [label]="'Resource_AccountType' | translate"
        [serverErrors]="model?.serverErrors?.AccountTypeId">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.AccountType">
            <t-view-link link="../../../account-types" [itemId]="model?.AccountTypeId">
                {{ ws.getMultilingualValue('AccountType', model.AccountTypeId, 'Name') }}
            </t-view-link>
        </t-restricted>
        <t-account-types-picker *ngIf="isEdit" [(ngModel)]="model.AccountTypeId" [required]="true"
            filter="IsResourceClassification eq true">
        </t-account-types-picker>
    </t-form-group>

    <!-- Currency -->
    <t-form-group *ngIf="Currency_isVisible" class="t-form-group" [label]="Currency_label"
        [serverErrors]="model?.serverErrors?.CurrencyId">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Currency">
            <t-view-link link="../../../currencies" [itemId]="model?.CurrencyId">
                {{ ws.getMultilingualValue('Currency', model.CurrencyId, 'Name') }}
            </t-view-link>
        </t-restricted>
        <t-currencies-picker *ngIf="isEdit" [(ngModel)]="model.CurrencyId" [required]="Currency_isRequired">
        </t-currencies-picker>
    </t-form-group>

    <!-- MonetaryValue -->
    <t-form-group *ngIf="MonetaryValue_isVisible" class="t-form-group" [label]="MonetaryValue_label"
        [serverErrors]="model?.serverErrors?.MonetaryValue">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.MonetaryValue">
            <div>
                {{ model?.MonetaryValue | number:'1.' + MonetaryValue_decimals(model) + '-' + MonetaryValue_decimals(model) }}
            </div>
        </t-restricted>
        <t-decimal-editor *ngIf="isEdit" [(ngModel)]="model.MonetaryValue" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="MonetaryValue_isRequired" [minDecimalPlaces]="MonetaryValue_decimals(model)"
            [maxDecimalPlaces]="MonetaryValue_decimals(model)">
        </t-decimal-editor>
    </t-form-group>

    <!-- Count Unit -->
    <t-form-group *ngIf="CountUnit_isVisible" class="t-form-group" [label]="CountUnit_label"
        [serverErrors]="model?.serverErrors?.CountUnitId">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.CountUnit">
            <t-view-link link="../../../measurement-units" [itemId]="model?.CountUnitId">
                {{ ws.getMultilingualValue('MeasurementUnit', model.CountUnitId, 'Name') }}
            </t-view-link>
        </t-restricted>
        <t-measurement-units-picker *ngIf="isEdit" [(ngModel)]="model.CountUnitId" filter="UnitType eq 'Count'"
            [required]="CountUnit_isRequired">
        </t-measurement-units-picker>
    </t-form-group>

    <!-- Count -->
    <t-form-group *ngIf="Count_isVisible" class="t-form-group" [label]="Count_label"
        [serverErrors]="model?.serverErrors?.Count">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Count">
            <div>{{ model?.Count | number:'1.0-4' }}</div>
        </t-restricted>
        <t-decimal-editor *ngIf="isEdit" [(ngModel)]="model.Count" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="Count_isRequired" [maxDecimalPlaces]="4">
        </t-decimal-editor>
    </t-form-group>

    <!-- Mass Unit -->
    <t-form-group *ngIf="MassUnit_isVisible" class="t-form-group" [label]="MassUnit_label"
        [serverErrors]="model?.serverErrors?.MassUnitId">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.MassUnit">
            <t-view-link link="../../../measurement-units" [itemId]="model?.MassUnitId">
                {{ ws.getMultilingualValue('MeasurementUnit', model.MassUnitId, 'Name') }}
            </t-view-link>
        </t-restricted>
        <t-measurement-units-picker *ngIf="isEdit" [(ngModel)]="model.MassUnitId" filter="UnitType eq 'Mass'"
            [required]="MassUnit_isRequired">
        </t-measurement-units-picker>
    </t-form-group>

    <!-- Mass -->
    <t-form-group *ngIf="Mass_isVisible" class="t-form-group" [label]="Mass_label"
        [serverErrors]="model?.serverErrors?.Mass">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Mass">
            <div>{{ model?.Mass | number:'1.0-4' }}</div>
        </t-restricted>
        <t-decimal-editor *ngIf="isEdit" [(ngModel)]="model.Mass" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="Mass_isRequired" [maxDecimalPlaces]="4">
        </t-decimal-editor>
    </t-form-group>

    <!-- Volume Unit -->
    <t-form-group *ngIf="VolumeUnit_isVisible" class="t-form-group" [label]="VolumeUnit_label"
        [serverErrors]="model?.serverErrors?.VolumeUnitId">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.VolumeUnit">
            <t-view-link link="../../../measurement-units" [itemId]="model?.VolumeUnitId">
                {{ ws.getMultilingualValue('MeasurementUnit', model.VolumeUnitId, 'Name') }}
            </t-view-link>
        </t-restricted>
        <t-measurement-units-picker *ngIf="isEdit" [(ngModel)]="model.VolumeUnitId" filter="UnitType eq 'Volume'"
            [required]="VolumeUnit_isRequired">
        </t-measurement-units-picker>
    </t-form-group>

    <!-- Volume -->
    <t-form-group *ngIf="Volume_isVisible" class="t-form-group" [label]="Volume_label"
        [serverErrors]="model?.serverErrors?.Volume">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Volume">
            <div>{{ model?.Volume | number:'1.0-4' }}</div>
        </t-restricted>
        <t-decimal-editor *ngIf="isEdit" [(ngModel)]="model.Volume" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="Volume_isRequired" [maxDecimalPlaces]="4">
        </t-decimal-editor>
    </t-form-group>

    <!-- Time Unit -->
    <t-form-group *ngIf="TimeUnit_isVisible" class="t-form-group" [label]="TimeUnit_label"
        [serverErrors]="model?.serverErrors?.TimeUnitId">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.TimeUnit">
            <t-view-link link="../../../measurement-units" [itemId]="model?.TimeUnitId">
                {{ ws.getMultilingualValue('MeasurementUnit', model.TimeUnitId, 'Name') }}
            </t-view-link>
        </t-restricted>
        <t-measurement-units-picker *ngIf="isEdit" [(ngModel)]="model.TimeUnitId" filter="UnitType eq 'Time'"
            [required]="TimeUnit_isRequired">
        </t-measurement-units-picker>
    </t-form-group>

    <!-- Time -->
    <t-form-group *ngIf="Time_isVisible" class="t-form-group" [label]="Time_label"
        [serverErrors]="model?.serverErrors?.Time">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Time">
            <div>{{ model?.Time | number:'1.0-4' }}</div>
        </t-restricted>
        <t-decimal-editor *ngIf="isEdit" [(ngModel)]="model.Time" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="Time_isRequired" [maxDecimalPlaces]="4">
        </t-decimal-editor>
    </t-form-group>

    <!-- Lookup 1 -->
    <t-form-group class="t-form-group" [label]="Lookup1_label" *ngIf="Lookup1_isVisible"
        [serverErrors]="model?.serverErrors?.Lookup1Id">

        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Lookup1">
            <t-view-link [link]="'../../../lookups/' + Lookup1_DefinitionId" [itemId]="model?.Lookup1Id">
                {{ ws.getMultilingualValue('Lookup', model.Lookup1Id, 'Name') }}
            </t-view-link>
        </t-restricted>
        <t-lookups-picker *ngIf="isEdit" [(ngModel)]="model.Lookup1Id" [definitionId]="Lookup1_DefinitionId"
            [required]="Lookup1_isRequired">
        </t-lookups-picker>
    </t-form-group>

    <!-- Lookup 2 -->
    <t-form-group class="t-form-group" [label]="Lookup2_label" *ngIf="Lookup2_isVisible"
        [serverErrors]="model?.serverErrors?.Lookup2Id">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Lookup2">
            <t-view-link [link]="'../../../lookups/' + Lookup2_DefinitionId" [itemId]="model?.Lookup2Id">
                {{ ws.getMultilingualValue('Lookup', model.Lookup2Id, 'Name') }}
            </t-view-link>
        </t-restricted>

        <t-lookups-picker *ngIf="isEdit" [(ngModel)]="model.Lookup2Id" [definitionId]="Lookup2_DefinitionId"
            [required]="Lookup2_isRequired">
        </t-lookups-picker>
    </t-form-group>

    <!-- Lookup 3 -->
    <t-form-group class="t-form-group" [label]="Lookup3_label" *ngIf="Lookup3_isVisible"
        [serverErrors]="model?.serverErrors?.Lookup3Id">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Lookup3">
            <t-view-link [link]="'../../../lookups/' + Lookup3_DefinitionId" [itemId]="model?.Lookup3Id">
                {{ ws.getMultilingualValue('Lookup', model.Lookup3Id, 'Name') }}
            </t-view-link>
        </t-restricted>

        <t-lookups-picker *ngIf="isEdit" [(ngModel)]="model.Lookup3Id" [definitionId]="Lookup3_DefinitionId"
            [required]="Lookup3_isRequired">
        </t-lookups-picker>
    </t-form-group>

    <!-- Lookup 4 -->
    <t-form-group class="t-form-group" [label]="Lookup4_label" *ngIf="Lookup4_isVisible"
        [serverErrors]="model?.serverErrors?.Lookup4Id">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Lookup4">
            <t-view-link [link]="'../../../lookups/' + Lookup4_DefinitionId" [itemId]="model?.Lookup4Id">
                {{ ws.getMultilingualValue('Lookup', model.Lookup4Id, 'Name') }}
            </t-view-link>
        </t-restricted>

        <t-lookups-picker *ngIf="isEdit" [(ngModel)]="model.Lookup4Id" [definitionId]="Lookup4_DefinitionId"
            [required]="Lookup4_isRequired">
        </t-lookups-picker>
    </t-form-group>

    <!-- Lookup 5 -->
    <!-- <t-form-group class="t-form-group" [label]="Lookup5_label" *ngIf="Lookup5_isVisible"
        [serverErrors]="model?.serverErrors?.Lookup5Id">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Lookup5">
        <t-view-link [link]="'../../../lookups/' + Lookup5_DefinitionId" [itemId]="model?.Lookup5Id">
            {{ ws.getMultilingualValue('Lookup', model.Lookup5Id, 'Name') }}
        </t-view-link>
        </t-restricted>

        <t-lookups-picker *ngIf="isEdit" [(ngModel)]="model.Lookup5Id" [definitionId]="Lookup5_DefinitionId"
            [required]="Lookup5_isRequired">
        </t-lookups-picker>
    </t-form-group> -->

    <!-- Reorder Level -->
    <t-form-group *ngIf="ReorderLevel_isVisible" class="t-form-group" [label]="'Resource_ReorderLevel' | translate"
        [serverErrors]="model?.serverErrors?.ReorderLevel">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.ReorderLevel">
            <div *ngIf="!isEdit">{{ model?.ReorderLevel | number:'1.0-4' }}</div>
        </t-restricted>
        <t-decimal-editor *ngIf="isEdit" [(ngModel)]="model.ReorderLevel" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="ReorderLevel_isRequired" [minDecimalPlaces]="0" [maxDecimalPlaces]="4">
        </t-decimal-editor>
    </t-form-group>

    <!-- Economic Order Quantity -->
    <t-form-group *ngIf="EconomicOrderQuantity_isVisible" class="t-form-group"
        [label]="'Resource_EconomicOrderQuantity' | translate"
        [serverErrors]="model?.serverErrors?.EconomicOrderQuantity">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.EconomicOrderQuantity">
            <div *ngIf="!isEdit">{{ model?.EconomicOrderQuantity | number:'1.0-4' }}</div>
        </t-restricted>
        <t-decimal-editor *ngIf="isEdit" [(ngModel)]="model.EconomicOrderQuantity"
            [ngModelOptions]="{ updateOn: 'blur' }" [required]="EconomicOrderQuantity_isRequired" [minDecimalPlaces]="0"
            [maxDecimalPlaces]="4">
        </t-decimal-editor>
    </t-form-group>

    <!-- Decimal 1 -->
    <t-form-group *ngIf="Decimal1_isVisible" class="t-form-group" [label]="Decimal1_label"
        [serverErrors]="model?.serverErrors?.Decimal1">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Decimal1">
            <div>{{ model?.Decimal1 | number:'1.0-4' }}</div>
        </t-restricted>
        <t-decimal-editor *ngIf="isEdit" [(ngModel)]="model.Decimal1" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="Decimal1_isRequired" [minDecimalPlaces]="0" [maxDecimalPlaces]="4">
        </t-decimal-editor>
    </t-form-group>

    <!-- Decimal 2 -->
    <t-form-group *ngIf="Decimal2_isVisible" class="t-form-group" [label]="Decimal2_label"
        [serverErrors]="model?.serverErrors?.Decimal2">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Decimal2">
            <div>{{ model?.Decimal2 | number:'1.0-4' }}</div>
        </t-restricted>
        <t-decimal-editor *ngIf="isEdit" [(ngModel)]="model.Decimal2" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="Decimal2_isRequired" [minDecimalPlaces]="0" [maxDecimalPlaces]="4">
        </t-decimal-editor>
    </t-form-group>

    <!-- Int 1 -->
    <t-form-group *ngIf="Int1_isVisible" class="t-form-group" [label]="Int1_label"
        [serverErrors]="model?.serverErrors?.Int1">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Int1">
            <div>{{ model?.Int1 | number:'1.0-0' }}</div>
        </t-restricted>
        <t-decimal-editor *ngIf="isEdit" [(ngModel)]="model.Int1" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="Int1_isRequired" [minDecimalPlaces]="0" [maxDecimalPlaces]="0">
        </t-decimal-editor>
    </t-form-group>

    <!-- Int 2 -->
    <t-form-group *ngIf="Int2_isVisible" class="t-form-group" [label]="Int2_label"
        [serverErrors]="model?.serverErrors?.Int2">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Int2">
            <div>{{ model?.Int2 | number:'1.0-0' }}</div>
        </t-restricted>
        <t-decimal-editor *ngIf="isEdit" [(ngModel)]="model.Int2" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="Int2_isRequired" [minDecimalPlaces]="0" [maxDecimalPlaces]="0">
        </t-decimal-editor>
    </t-form-group>

    <!-- Text 1 -->
    <t-form-group *ngIf="Text1_isVisible" class="t-form-group" [label]="Text1_label"
        [serverErrors]="model?.serverErrors?.Text1">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Text1">
            <div>{{ model?.Text1 }}</div>
        </t-restricted>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Text1" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="Text1_isRequired">
        </t-text-editor>
    </t-form-group>

    <!-- Text 2 -->
    <t-form-group *ngIf="Text2_isVisible" class="t-form-group" [label]="Text2_label"
        [serverErrors]="model?.serverErrors?.Text2">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Text2">
            <div>{{ model?.Text2 }}</div>
        </t-restricted>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Text2" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="Text2_isRequired">
        </t-text-editor>
    </t-form-group>

    <!-- Available Since -->
    <t-form-group *ngIf="AvailableSince_isVisible" class="t-form-group" [label]="AvailableSince_label"
        [serverErrors]="model?.serverErrors?.AvailableSince">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.AvailableSince">
            <div>{{ model?.AvailableSince | date:'yyyy-MM-dd' }}</div>
        </t-restricted>
        <t-date-picker *ngIf="isEdit" [(ngModel)]="model.AvailableSince" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="AvailableSince_isRequired">
        </t-date-picker>
    </t-form-group>

    <!-- Available Till -->
    <t-form-group *ngIf="AvailableTill_isVisible" class="t-form-group" [label]="AvailableTill_label"
        [serverErrors]="model?.serverErrors?.AvailableTill">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.AvailableTill">
            <div>{{ model?.AvailableTill | date:'yyyy-MM-dd' }}</div>
        </t-restricted>
        <t-date-picker *ngIf="isEdit" [(ngModel)]="model.AvailableTill" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="AvailableTill_isRequired">
        </t-date-picker>
    </t-form-group>

    <!-- Description -->
    <t-form-group *ngIf="Description_isVisible" class="t-form-group"
        [label]="('Description' | translate) + ws.primaryPostfix" [serverErrors]="model?.serverErrors?.Description">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Description">
            <div *ngIf="!isEdit">{{ model?.Description }}</div>
        </t-restricted>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Description" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="Description_isRequired">
        </t-text-editor>
    </t-form-group>

    <!-- Description2 -->
    <t-form-group *ngIf="Description_isVisible && ws.settings.SecondaryLanguageId" class="t-form-group"
        [label]="('Description' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Description2">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Description2">
            <div *ngIf="!isEdit">{{ model?.Description2 }}</div>
        </t-restricted>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Description2" [ngModelOptions]="{ updateOn: 'blur' }">
        </t-text-editor>
    </t-form-group>

    <!-- Description3 -->
    <t-form-group *ngIf="Description_isVisible && ws.settings.TernaryLanguageId" class="t-form-group"
        [label]="('Description' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Description3">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Description3">
            <div *ngIf="!isEdit">{{ model?.Description3 }}</div>
        </t-restricted>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Description3" [ngModelOptions]="{ updateOn: 'blur' }">
        </t-text-editor>
    </t-form-group>

    <!-- Is Active -->
    <t-form-group class="t-form-group" [label]="'IsActive' | translate" *ngIf="!isEdit">
        {{ (model?.IsActive ? 'Yes' : 'No') | translate }}
    </t-form-group>
</ng-template>

<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>