<t-details-picker [masterTemplate]="master" (entityLoaded)="onEntityLoaded()"
    [ensureAdditionalSelect]="ensureAdditionalSelect" [theme]="theme" [detailsTemplate]="showCreate ? details : null" [filter]="filter"
    [definitionIds]="definitionIds" collection="Resource" [additionalSelect]="additionalSelect">
</t-details-picker>

<!-- The Resource Details Modal -->
<ng-template #details let-modal="modal" let-update="update" let-initialText="initialText"
    let-definitionId="definitionId" let-idString="idString">
    <div class="modal-body">
        <t-resources-details mode="popup" [idString]="idString" [initialText]="initialText"
            [definitionId]="definitionId" (cancel)="modal.close(false);"
            (saved)="modal.close(true); update.call(null, $event);" [additionalSelect]="additionalSelect">
        </t-resources-details>
    </div>
</ng-template>

<!-- The Resource Master Modal -->
<ng-template #master let-modal="modal" let-update="update" let-create="create" let-definitionId="definitionId"
    let-filter="filter">
    <div class="modal-body">
        <t-resources-master mode="popup" (cancel)="modal.close(false);" [definitionId]="definitionId" [filter]="filter"
            (choose)="modal.close(true); update.call(null, $event);" (create)="modal.close(false); create.call()"
            [showCreate]="showCreate" [additionalSelect]="additionalSelect">
        </t-resources-master>
    </div>
</ng-template>