<t-master *ngIf="found;else pageNotFound" collection="Resource" [definitionId]="definitionId" [mode]="mode"
  [additionalSelect]="additionalSelect" [showCreateButton]="showCreate" [filterDefault]="filter"
  [masterCrumb]="masterCrumb" [tileTemplate]="tile" [tableSummaryColumnTemplate]="summaryColumn"
  [tableSummaryHeaderTemplate]="summaryHeader" selectDefault="Code,IsActive" selectForTiles="Code,Name,Name2,Name3"
  [multiselectActions]="[
              { template: activate, action: onActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
              { template: deactivate, action: onDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
          ]" [filterDefinition]="{
            'CreatedBy' : [
              { template: createdByMe, expression: 'CreatedById eq me'}
            ]
          }">
</t-master>

<!-- If definitionId is invalid -->
<ng-template #pageNotFound>
  <t-application-page-not-found [showHome]="!isPopupMode">
  </t-application-page-not-found>
</ng-template>

<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex justify-content-between">
    <t-auto-cell collection="Resource" [definitionId]="definitionId" path="" [entity]="c[id]"></t-auto-cell>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <t-auto-cell collection="Resource" [definitionId]="definitionId" path="Code" [entity]="c[id]"></t-auto-cell>
  </div>
</ng-template>

<!-- Summary Header -->
<ng-template #summaryHeader let-id="id">
  {{ summary }}
</ng-template>

<!-- Summary Column -->
<ng-template #summaryColumn let-id="id">
  <span class="text-truncate">
    <t-auto-cell collection="Resource" [definitionId]="definitionId" [entity]="c[id]"></t-auto-cell>
  </span>
</ng-template>

<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>

<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>