<t-details collection="Unit" [createFunc]="create"
  [expand]="expand" [mode]="mode" [additionalSelect]="additionalSelect" [masterCrumb]="'Units' | translate" [detailsCrumb]="detailsCrumb" [idString]="idString"
  [documentTemplate]="document" [actions]="[
            { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
            { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
           ]">

</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>


<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

  <!-- Header Name -->
  <t-form-group class="col-12 mb-2 mb-sm-4 t-h2"
    [serverErrors]="getMultilingualValue(model?.serverErrors, 'Name', ws)">
    @if (!isEdit) {
      <h2 class="font-weight-normal">{{ getMultilingualValue(model, 'Name', ws) }}</h2>
    }

    @if (isEdit && ws.isPrimaryLanguage) {
      <t-text-editor [focusIf]="!model.Id" [(ngModel)]="model.Name"
        [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.primaryPostfix + '...'" required>
      </t-text-editor>
    }

    @if (isEdit && ws.isSecondaryLanguage) {
      <t-text-editor [focusIf]="!model.Id" [(ngModel)]="model.Name2"
        [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.secondaryPostfix + '...'">
      </t-text-editor>
    }

    @if (isEdit && ws.isTernaryLanguage) {
      <t-text-editor [focusIf]="!model.Id" [(ngModel)]="model.Name3"
        [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.ternaryPostfix + '...'">
      </t-text-editor>
    }
  </t-form-group>

  <!-- Name -->
  @if (!ws.isPrimaryLanguage) {
    <t-form-group class="t-form-group" [label]="('Name' | translate) + ws.primaryPostfix"
      [serverErrors]="model?.serverErrors?.Name">
      @if (!isEdit) {
        <div>{{ model?.Name }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
        </t-text-editor>
      }
    </t-form-group>
  }

  <!-- Name2 -->
  @if (!ws.isSecondaryLanguage && ws.settings.SecondaryLanguageId) {
    <t-form-group class="t-form-group"
      [label]="('Name' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Name2">
      @if (!isEdit) {
        <div>{{ model?.Name2 }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
      }
    </t-form-group>
  }

  <!-- Name3 -->
  @if (!ws.isTernaryLanguage && ws.settings.TernaryLanguageId) {
    <t-form-group class="t-form-group"
      [label]="('Name' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Name3">
      @if (!isEdit) {
        <div>{{ model?.Name3 }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Name3" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
      }
    </t-form-group>
  }

  <!-- Code -->
  <t-form-group class="t-form-group" [label]="'Code' | translate" [serverErrors]="model?.serverErrors?.Code">
    @if (!isEdit) {
      <div>{{ model?.Code }}</div>
    }
    @if (isEdit) {
      <t-text-editor [(ngModel)]="model.Code" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
    }
  </t-form-group>

  <!-- Description -->
  <t-form-group class="t-form-group" [label]="('Description' | translate) + ws.primaryPostfix"
    [serverErrors]="model?.serverErrors?.Description">
    @if (!isEdit) {
      <div>{{ model?.Description }}</div>
    }
    @if (isEdit) {
      <t-text-editor [(ngModel)]="model.Description" [ngModelOptions]="{ updateOn: 'blur' }" required>
      </t-text-editor>
    }
  </t-form-group>

  <!-- Description2 -->
  @if (ws.settings.SecondaryLanguageId) {
    <t-form-group class="t-form-group"
      [label]="('Description' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Description2">
      @if (!isEdit) {
        <div>{{ model?.Description2 }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Description2" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
      }
    </t-form-group>
  }

  <!-- Description3 -->
  @if (ws.settings.TernaryLanguageId) {
    <t-form-group class="t-form-group"
      [label]="('Description' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Description3">
      @if (!isEdit) {
        <div>{{ model?.Description3 }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Description3" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
      }
    </t-form-group>
  }

  <!-- Unit Type -->
  <t-form-group class="t-form-group" [label]="'Unit_UnitType' | translate" [serverErrors]="model?.serverErrors?.UnitType">
    @if (!isEdit) {
      <div>
        <t-restricted [metadata]="model?.EntityMetadata?.UnitType"> {{ unitTypeLookup(model?.UnitType) | translate }}
        </t-restricted>
      </div>
    }
    @if (isEdit) {
      <t-selector [(ngModel)]="model.UnitType" [choices]="unitTypeChoices" required></t-selector>
    }
  </t-form-group>

  <!-- Unit Amount -->
  <t-form-group class="t-form-group" [label]="'Unit_UnitAmount' | translate"
    [serverErrors]="model?.serverErrors?.UnitAmount">
    @if (!isEdit) {
      <div>
        <t-restricted [metadata]="model?.EntityMetadata?.UnitAmount"> {{model?.UnitAmount | number}}</t-restricted>
      </div>
    }
    @if (isEdit) {
      <t-decimal-editor [(ngModel)]="model.UnitAmount" [ngModelOptions]="{ updateOn: 'blur' }" required>
      </t-decimal-editor>
    }
  </t-form-group>

  <!-- Base Amount -->
  <t-form-group class="t-form-group" [label]="'Unit_BaseAmount' | translate"
    [serverErrors]="model?.serverErrors?.BaseAmount">
    @if (!isEdit) {
      <div>
        <t-restricted [metadata]="model?.EntityMetadata?.BaseAmount"> {{model?.BaseAmount | number}}</t-restricted>
      </div>
    }
    @if (isEdit) {
      <t-decimal-editor [(ngModel)]="model.BaseAmount" [ngModelOptions]="{ updateOn: 'blur' }" required>
      </t-decimal-editor>
    }
  </t-form-group>

  <!-- Is Active -->
  @if (!isEdit) {
    <t-form-group class="t-form-group" [label]="'IsActive' | translate">
      <t-auto-cell collection="Unit" [entity]="model" path="IsActive"></t-auto-cell>
    </t-form-group>
  }
</ng-template>

<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>