<!-- Toolbar -->
<div class="bg-white p-1 w-100 d-flex align-items-baseline justify-content-between border-bottom">
    <!-- Toolbar -->
    <ng-container>
        <!-- Left -->
        <div>
            <!-- Custom Buttons -->
            <ng-container *ngIf="isSingleMessage || (isMultiMessage && !selected)">
                <ng-container *ngTemplateOutlet="toolbarButtons">
                </ng-container>
            </ng-container>

            <!-- All Messages -->
            <button class="btn btn-light btn-sm t-white-button text-primary mx-2 align-self-center"
                (click)="backToSearch()" *ngIf="selected && isMultiMessage">
                <fa-icon icon="arrow-left" [flip]="flip"></fa-icon>
                <span>&nbsp;&nbsp;{{ 'AllMessages' | translate }}</span>
            </button>
        </div>

        <!-- Right -->
        <div class="d-flex">
            <div class="flex-grow-1 px-3 d-none d-md-block" *ngIf="isMultiMessage && !selected"
                style="max-width: 25rem;">
                <t-text-editor [(ngModel)]="searchTerm" (ngModelChange)="skip = 0"
                    placeholder="{{ 'Search' | translate }}...">
                </t-text-editor>
            </div>

            <!-- Refresh -->
            <button class="btn btn-sm t-toolbar-button btn-light t-white-button" type="button"
                title="{{ 'Refresh' | translate }}" (click)="onRefresh()">
                <fa-icon icon="sync-alt"></fa-icon>
            </button>

            <!-- Paging -->
            <ng-container *ngIf="isMultiMessage">
                <!-- X / Z -->
                <div class="d-inline" *ngIf="selected">
                    <span class="t-vertical-align-middle small mx-2">
                        {{ order | number }} / {{ total | number }}</span>
                    <button class="btn btn-light btn-sm t-white-button t-toolbar-button" type="button"
                        title="{{ 'Previous' | translate }}" (click)="onPreviousItem()" [disabled]="!canPreviousItem">
                        <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
                    </button>
                    <button class="btn btn-light btn-sm t-white-button t-toolbar-button" type="button"
                        title="{{ 'Next' | translate }}" (click)="onNextItem()" [disabled]="!canNextItem">
                        <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
                    </button>
                </div>
                <!-- X-Y / Z -->
                <div class="d-inline" *ngIf="!selected">
                    <span class="t-vertical-align-middle small mx-2">
                        {{ from | number }} - {{ to | number }} / {{ total | number }}</span>
                    <button class="btn btn-light btn-sm t-white-button t-toolbar-button" type="button"
                        title="{{ 'Previous' | translate }}" (click)="onPreviousPage()" [disabled]="!canPreviousPage">
                        <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
                    </button>
                    <button class="btn btn-light btn-sm t-white-button t-toolbar-button" type="button"
                        title="{{ 'Next' | translate }}" (click)="onNextPage()" [disabled]="!canNextPage">
                        <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
                    </button>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <!-- Multiple Email Toolbar -->
    <ng-template #searchToolbar>
        <div>
            <ng-container *ngTemplateOutlet="toolbarButtons">
            </ng-container>
        </div>
        <div class="d-flex">
            <div class="flex-grow-1 px-3 d-none d-md-block" style="max-width: 25rem;">
                <t-text-editor [(ngModel)]="searchTerm" (ngModelChange)="skip = 0"
                    placeholder="{{ 'Search' | translate }}...">
                </t-text-editor>
            </div>
            <div class="flex-grow-0">
                <!-- Refresh -->
                <button class="btn btn-sm t-toolbar-button btn-light t-white-button" type="button"
                    title="{{ 'Refresh' | translate }}" (click)="onRefresh()">
                    <fa-icon icon="sync-alt"></fa-icon>
                </button>

                <!-- Paging -->
                <div class="d-inline">
                    <span class="t-vertical-align-middle small mx-2">
                        {{ from | number }} - {{ to | number }} / {{ total | number }}</span>
                    <button class="btn btn-light btn-sm t-white-button t-toolbar-button" type="button"
                        title="{{ 'Previous' | translate }}" (click)="onPreviousPage()" [disabled]="!canPreviousPage">
                        <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
                    </button>
                    <button class="btn btn-light btn-sm t-white-button t-toolbar-button" type="button"
                        title="{{ 'Next' | translate }}" (click)="onNextPage()" [disabled]="!canNextPage">
                        <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<div class="d-flex justify-content-center w-100 pb-5 mb-5 mt-3" *ngIf="isLoading; else loaded">
    <t-spinner [scale]="2"></t-spinner>
</div>

<ng-template #loaded>
    <t-error-message class="w-100 mt-3" *ngIf="errorFunc; else results">
        {{ errorFunc() }}
    </t-error-message>
</ng-template>

<!-- Results -->
<ng-template #results>
    <!-- Single Message -->
    <ng-container *ngIf="selected; else search">
        <div class="col pt-2 pb-4">
            <t-message [message]="selected">
            </t-message>
        </div>
    </ng-container>

    <!-- Multiple Messages -->
    <ng-template #search>
        <div class="table-responsive w-100 overflow-auto">
            <table #t class="bg-white border-bottom table table-hover table-striped table-sm text-nowrap t-table">

                <!-- Header -->
                <thead class="small">
                    <tr style="height:41px">
                        <th class="border-top-0 text-align-right text-muted t-slimfit"> </th>
                        <th class="border-top-0">
                            {{ 'NotificationTemplate_PhoneNumber' | translate }}
                        </th>
                        <th class="border-top-0">
                            {{ 'NotificationTemplate_Content' | translate }}
                        </th>
                    </tr>
                </thead>

                <!-- Body -->
                <tbody>
                    <ng-container *ngIf="!isLoading && !errorFunc">
                        <tr class="t-pointer" *ngFor="let item of pagedMessagesCopy; let i = index"
                            [class.t-highlight]="isRecentlyViewed(item)" (click)="onPreviewMessage(item)">
                            <td class="text-muted text-center">
                                &nbsp;
                            </td>
                            <td>{{ item.PhoneNumber }} </td>
                            <td>
                                <div class="text-truncate" style="max-width: 500px;">{{ item.Content }}</div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div class="w-100 pl-3 pr-3" *ngIf="showNoItemsFound">
            {{ 'NoItemsFound' | translate }}
        </div>
    </ng-template>
</ng-template>