<!-- minDecimalPlaces -->
<div class="form-group t-form-group t-text-whitish" *ngIf="showDecimalPlaces">
    <label class="small" for="mindecimalplaces">{{ 'ControlOptions_minDecimalPlaces' | translate }}</label>
    <div *ngIf="!isEdit; else mindecimalplaces">{{ options.minDecimalPlaces }}&zwnj;</div>
    <ng-template #mindecimalplaces>
        <input class="form-control t-studio-input" id="mindecimalplaces" type="number"
            [(ngModel)]="options.minDecimalPlaces" (ngModelChange)="onOptionsChange()"
            [ngModelOptions]="{ updateOn: 'blur' }" />
    </ng-template>
</div>

<!-- maxDecimalPlaces -->
<div class="form-group t-form-group t-text-whitish" *ngIf="showDecimalPlaces">
    <label class="small" for="maxdecimalplaces">{{ 'ControlOptions_maxDecimalPlaces' | translate }}</label>
    <div *ngIf="!isEdit; else maxdecimalplaces">{{ options.maxDecimalPlaces }}&zwnj;</div>
    <ng-template #maxdecimalplaces>
        <input class="form-control t-studio-input" id="maxdecimalplaces" type="number"
            [(ngModel)]="options.maxDecimalPlaces" (ngModelChange)="onOptionsChange()"
            [ngModelOptions]="{ updateOn: 'blur' }" />
    </ng-template>
</div>

<!-- prefix -->
<div class="form-group t-form-group t-text-whitish" *ngIf="showPrefix">
    <label class="small" for="prefix">{{ 'ControlOptions_prefix' | translate }}</label>
    <div *ngIf="!isEdit; else prefix">{{ options.prefix }}&zwnj;</div>
    <ng-template #prefix>
        <input class="form-control t-studio-input" id="prefix" type="text" [(ngModel)]="options.prefix"
            (ngModelChange)="onOptionsChange()" autocomplete="off" [ngModelOptions]="{ updateOn: 'blur' }" />
    </ng-template>
</div>

<!-- codeWidth -->
<div class="form-group t-form-group t-text-whitish" *ngIf="showCodeWidth">
    <label class="small" for="codewidth">{{ 'ControlOptions_codeWidth' | translate }}</label>
    <div *ngIf="!isEdit; else codewidth">{{ options.codeWidth }}&zwnj;</div>
    <ng-template #codewidth>
        <input class="form-control t-studio-input" id="codewidth" type="number" [(ngModel)]="options.codeWidth"
            (ngModelChange)="onOptionsChange()" [ngModelOptions]="{ updateOn: 'blur' }" />
    </ng-template>
</div>

<!-- filter -->
<div class="form-group t-form-group t-text-whitish" *ngIf="showFilter">
    <label class="small" for="filter">{{ 'ControlOptions_filter' | translate }}</label>
    <div *ngIf="!isEdit; else filter">{{ options.filter }}&zwnj;</div>
    <ng-template #filter>
        <input class="form-control t-studio-input" id="filter" type="text" [(ngModel)]="options.filter"
            (ngModelChange)="onOptionsChange()" autocomplete="off" [ngModelOptions]="{ updateOn: 'blur' }" />
    </ng-template>
</div>

<!-- definitionId -->
<div class="form-group t-form-group t-text-whitish" *ngIf="showDefinitionId">
    <label class="small" for="definitionid">{{ 'ControlOptions_definitionId' | translate }}</label>
    <div *ngIf="!isEdit; else definitionid">{{ definitionIdDisplay(options.definitionId) }}&zwnj;</div>
    <ng-template #definitionid>
        <select class="form-control t-studio-input" id="definitionid" [ngModel]="options.definitionId"
            (ngModelChange)="setDefId($event)" #definitionid="ngModel">
            <option value=""></option>
            <option *ngFor="let c of definitionIdOptions" value="{{c.value}}">
                {{ c.name() }}</option>
        </select>
    </ng-template>
</div>

<!-- choices -->
<div class="form-group t-wide-form-group t-text-whitish" *ngIf="showChoices">
    <table class="table table-sm table-dark text-nowrap mb-1">

        <thead class="small font-weight-normal">
            <tr>
                <th style="width: 1px;" *ngIf="isEdit">
                    <!-- Drag handle -->
                </th>
                <th>{{ 'ControlOptions_value' | translate }}</th>
                <th>{{ ('Name' | translate) + ws.primaryPostfix }}</th>
                <th *ngIf="ws.settings.SecondaryLanguageId">{{ ('Name' | translate) + ws.secondaryPostfix }}</th>
                <th *ngIf="ws.settings.TernaryLanguageId">{{ ('Name' | translate) + ws.ternaryPostfix }}</th>
                <th style="width: 1px;" *ngIf="isEdit">
                    <!-- Delete -->
                </th>
            </tr>
        </thead>
        <tbody cdkDropList [cdkDropListDisabled]="!isEdit" (cdkDropListDropped)="rowDrop($event, options.choices)">
            <tr *ngFor="let choice of options.choices || []" cdkDrag cdkDragLockAxis="y">
                <td *cdkDragPlaceholder colspan="1000">&zwnj;</td>
                <div *cdkDragPreview class="p-1 border t-dark-border t-much-less-dark text-white">
                    {{ ws.getMultilingualValueImmediate(choice, 'name') || choice.value }}&zwnj;</div>
                <td cdkDragHandle class="px-2" style="cursor: move;" *ngIf="isEdit">
                    <fa-icon icon="arrows-alt"></fa-icon>
                </td>

                <td [class.p-0]="isEdit">
                    <input class="form-control t-studio-input" type="text" [(ngModel)]="choice.value"
                        (ngModelChange)="onOptionsChange()" [ngModelOptions]="{ updateOn: 'blur' }"
                        autocomplete="off" />
                </td>
                <td [class.p-0]="isEdit">
                    <input class="form-control t-studio-input" type="text" [(ngModel)]="choice.name"
                        (ngModelChange)="onOptionsChange()" [ngModelOptions]="{ updateOn: 'blur' }"
                        autocomplete="off" />
                </td>
                <td *ngIf="ws.settings.SecondaryLanguageId" [class.p-0]="isEdit">
                    <input class="form-control t-studio-input" type="text" [(ngModel)]="choice.name2"
                        (ngModelChange)="onOptionsChange()" [ngModelOptions]="{ updateOn: 'blur' }"
                        autocomplete="off" />
                </td>
                <td *ngIf="ws.settings.TernaryLanguageId" [class.p-0]="isEdit">
                    <input class="form-control t-studio-input" type="text" [(ngModel)]="choice.name3"
                        (ngModelChange)="onOptionsChange()" [ngModelOptions]="{ updateOn: 'blur' }"
                        autocomplete="off" />
                </td>

                <td *ngIf="isEdit">
                    <button class="btn btn-secondary t-white-button t-text-whitish btn-sm py-0 px-1 align-baseline"
                        (click)="onDeleteRow(choice, options.choices)">
                        <fa-icon icon="trash">
                        </fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!isEdit && !options.choices?.length" class="font-italic mx-2">
        {{ 'NoItemsFound' | translate }}
    </div>
    <button *ngIf="isEdit" class="btn btn-sm t-toolbar-button t-text-whitish font-weight-normal"
        (click)="onInsertChoice()">
        <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;{{ 'Add' | translate }}
    </button>
</div>
