
@switch (metavalue) {
  <!-- Loaded Value -->
  @case (2) {
    @switch (control) {
      <!-- Error -->
      @case ('error') {
        <span class="text-danger"> Error </span>
      }
      <!-- Choice -->
      @case ('choice') {
        <div class="d-inline text-nowrap" [style.text-align]="alignment">
          @if (hasColor) {
            <span class="text-white px-2" [style.background-color]="stateColor">{{ displayValue }}</span>
          } @else {
            <span>{{ displayValue }}</span>
          }
        </div>
      }
      <!-- Number -->
      @case ('number') {
        <span class="d-inline" [style.float]="alignment">&zwnj;{{ displayValue }}&zwnj;</span>
      }
      @default {
        <!-- Entity -->
        @if (isEntity) {
          <span>{{ navigationValue }}</span>
        } @else {
          <span>{{ displayValue }}</span>
        }
        <!-- Everything Else -->
      }
    }
  }
  <!-- Restricted Value -->
  @case (1) {
    <span class="text-muted font-weight-bold" title="{{ 'Restricted' | translate }}">*******</span>
  }
  <!-- Value Not Loaded -->
  @case (0) {
    <span class="text-muted font-italic">({{ 'NotLoaded' | translate }})</span>
  }
  <!-- Invalid Path -->
  @case (-1) {
    <span class="text-danger font-italic" [title]="errorMessage">({{ 'Error' | translate }})</span>
  }
}
