<ng-container [ngSwitch]="metavalue">
  <!-- Loaded Value -->
  <ng-container *ngSwitchCase="2" [ngSwitch]="control">

    <!-- Error -->
    <span *ngSwitchCase="'error'" class="text-danger"> Error </span>

    <!-- Choice -->
    <div class="d-inline text-nowrap" *ngSwitchCase="'choice'" [style.text-align]="alignment">
      
      <span *ngIf="hasColor; else nocolor" class="text-white px-2" [style.background-color]="stateColor">{{ displayValue }}</span>
      <ng-template #nocolor>
        <span>{{ displayValue }}</span>
      </ng-template>
    </div>
    
    <!-- Number -->
    <span *ngSwitchCase="'number'" class="d-inline" [style.float]="alignment">&zwnj;{{ displayValue }}&zwnj;</span>
    
    <ng-container *ngSwitchDefault>
      <!-- Entity -->
      <span *ngIf="isEntity; else simple">{{ navigationValue }}</span>

      <!-- Everything Else -->
      <ng-template #simple>
        <span>{{ displayValue }}</span>
      </ng-template>
    </ng-container>

  </ng-container>

  <!-- Restricted Value -->
  <span *ngSwitchCase="1" class="text-muted font-weight-bold" title="{{ 'Restricted' | translate }}">*******</span>

  <!-- Value Not Loaded -->
  <span *ngSwitchCase="0" class="text-muted font-italic">({{ 'NotLoaded' | translate }})</span>

  <!-- Invalid Path -->
  <span *ngSwitchCase="-1" class="text-danger font-italic" [title]="errorMessage">({{ 'Error' | translate }})</span>
</ng-container>