<b-master collection="Agent" viewId="agents" [mode]="mode"
  [masterCrumb]="'Agents' | translate" [tileTemplate]="tile"
  [tableDescriptionColumnTemplate]="descriptionColumn"
  selectDefault="Code,AgentType,IsRelated" selectForTiles="Code,ImageId"
  [filterDefault]="filterDefault"
  [multiselectActions]="[
            { template : activate, action: onActivate, requiresUpdatePermission: true },
            { template : deactivate, action: onDeactivate, requiresUpdatePermission: true }
          ]" [includeInactiveLabel]="'IncludeInactive' | translate" [filterDefinition]="{
            'CreatedBy' : [
              { template: createdByMe, expression: 'CreatedById eq me'}
            ],
            'AgentType' : [
              { template: individual, expression: 'AgentType eq \'Individual\''},
              { template: organization, expression: 'AgentType eq \'Organization\''},
              { template: system, expression: 'AgentType eq \'System\''}
            ]
          }">
</b-master>

<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex">
    <ng-container *ngIf="c[id].EntityMetadata?.ImageId === 2">
      <div class="border b-dp-wrapper2">
        <b-image [src]="'agents/' + c[id].Id + '/image'" [imageId]="c[id].ImageId" [size]="42"></b-image>
      </div>
      &nbsp;&nbsp;&nbsp;
    </ng-container>
    <div class="flex-grow-1 d-inline-block b-mw-0">
      <div class="d-flex justify-content-between">
        <span class="d-block text-truncate">{{ ws.getMultilingualValue('Agent', id, 'Name') }}</span>
      </div>
      <div class="d-flex justify-content-between mt-1 small">
        <span>{{ c[id].Code }}</span>
      </div>
    </div>
  </div>
</ng-template>

<!-- Description Column -->
<ng-template #descriptionColumn let-id="id">
  <span class="text-truncate">
    <b-switch baseCollection="Agent" [entityId]="id"></b-switch>
  </span>
</ng-template>

<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>

<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>

<ng-template #individual> {{ agentTypeLookup('Individual') | translate }}</ng-template>
<ng-template #organization> {{ agentTypeLookup('Organization') | translate }}</ng-template>
<ng-template #system> {{ agentTypeLookup('System') | translate }}</ng-template>