<b-details [apiEndpoint]="'agents/' + agentType" [viewId]="agentType" collection="Custodies" [createFunc]="create" [expand]="expand"
  [mode]="mode" [idString]="idString" [masterCrumb]="masterCrumb | translate"
  [detailsCrumb]="detailsCrumb" [documentTemplate]="document" [actions]="[
              { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
              { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
           ]">

</b-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>


<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

  <!-- Header Name -->
  <b-form-group class="col-12 mb-2 mb-sm-4 b-h2" *ngIf="ws.isPrimaryLanguage" [serverErrors]="model?.serverErrors?.Name">
    <h2 class="font-weight-normal" *ngIf="!isEdit">{{ model?.Name }}</h2>
    <b-text-editor *ngIf="isEdit" [focusIf]="!model.Id" [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }"
      [placeholder]="('Name' | translate) + ws.primaryPostfix + '...'" required></b-text-editor>
  </b-form-group>

  <!-- Header Name2 -->
  <b-form-group class="col-12 mb-2 mb-sm-4 b-h2" *ngIf="ws.isSecondaryLanguage" [serverErrors]="model?.serverErrors?.Name2">
    <h2 class="font-weight-normal" *ngIf="!isEdit">{{ getMultilingualValue(model, 'Name', ws) }}</h2>
    <b-text-editor *ngIf="isEdit" [focusIf]="!model.Id" [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"
      [placeholder]="('Name' | translate) + ws.secondaryPostfix + '...'"></b-text-editor>
  </b-form-group>

  <!-- Title -->
  <ng-container *ngIf="isIndividual">
    <b-form-group class="b-form-group" [label]="('Agent_Title' | translate) + ws.primaryPostfix" [serverErrors]="model?.serverErrors?.Title">
      <div *ngIf="!isEdit">{{ model?.Title }}</div>
      <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Title" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
    </b-form-group>
  </ng-container>

  <ng-container *ngIf="ws.settings.SecondaryLanguageId">
    <!-- Name -->
    <b-form-group class="b-form-group" *ngIf="ws.isSecondaryLanguage" [label]="('Name' | translate) + ws.primaryPostfix"
      [serverErrors]="model?.serverErrors?.Name">
      <div *ngIf="!isEdit">{{ model?.Name }}</div>
      <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required></b-text-editor>
    </b-form-group>

    <!-- Name2 -->
    <b-form-group class="b-form-group" *ngIf="ws.isPrimaryLanguage" [label]="('Name' | translate) + ws.secondaryPostfix"
      [serverErrors]="model?.serverErrors?.Name2">
      <div *ngIf="!isEdit">{{ model?.Name2 }}</div>
      <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
    </b-form-group>
  </ng-container>

  <!-- Title2 -->
  <ng-container *ngIf="isIndividual">
    <b-form-group class="b-form-group" *ngIf="ws.settings.SecondaryLanguageId" [label]="('Agent_Title' | translate) + ws.secondaryPostfix"
      [serverErrors]="model?.serverErrors?.Title2">
      <div *ngIf="!isEdit">{{ model?.Title2 }}</div>
      <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Title2" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
    </b-form-group>
  </ng-container>

  <!-- Code -->
  <b-form-group class="b-form-group" [label]="'Code' | translate" [serverErrors]="model?.serverErrors?.Code">
    <div *ngIf="!isEdit">{{ model?.Code }}</div>
    <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Code" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
  </b-form-group>

  <!-- Address -->
  <b-form-group class="b-form-group" [label]="'Custody_Address' | translate" [serverErrors]="model?.serverErrors?.Address">
    <div *ngIf="!isEdit"><b-restricted [metadata]="model?.EntityMetadata?.Address"> {{ model?.Address }} </b-restricted></div>
    <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Address" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
  </b-form-group>

  <!-- BirthDateTime -->
  <b-form-group class="b-form-group" [label]="birthDateTimeName | translate" [serverErrors]="model?.serverErrors?.BirthDateTime">
    <div *ngIf="!isEdit"><b-restricted [metadata]="model?.EntityMetadata?.BirthDateTime"> {{ model?.BirthDateTime | date:'yyyy-MM-dd' }}</b-restricted></div>
    <b-date-picker *ngIf="isEdit" [(ngModel)]="model.BirthDateTime" [ngModelOptions]="{ updateOn: 'change' }"></b-date-picker>
  </b-form-group>

  <!-- TaxIdentificationNumber -->
  <b-form-group class="b-form-group" [label]="'Agent_TaxIdentificationNumber' | translate" [serverErrors]="model?.serverErrors?.TaxIdentificationNumber">
    <div *ngIf="!isEdit"><b-restricted [metadata]="model?.EntityMetadata?.TaxIdentificationNumber"> {{ model?.TaxIdentificationNumber }}</b-restricted></div>
    <b-text-editor *ngIf="isEdit" [(ngModel)]="model.TaxIdentificationNumber" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
  </b-form-group>

  <!-- Gender -->
  <ng-container *ngIf="isIndividual">
    <b-form-group class="b-form-group" [label]="'Agent_Gender' | translate" [serverErrors]="model?.serverErrors?.Gender">
      <div *ngIf="!isEdit"><b-restricted [metadata]="model?.EntityMetadata?.Gender"> {{ genderLookup(model?.Gender) | translate }}</b-restricted></div>
      <b-selector *ngIf="isEdit" [(ngModel)]="model.Gender" [choices]="genderChoices" required></b-selector>
    </b-form-group>
  </ng-container>

  <!-- IsRelated -->
  <b-form-group class="b-form-group" [label]="'Agent_IsRelated' | translate" [serverErrors]="model?.serverErrors?.IsRelated">
    <div *ngIf="!isEdit"><b-restricted [metadata]="model?.EntityMetadata?.IsRelated"> {{ (model?.IsRelated ? 'Yes' : 'No') | translate }}</b-restricted></div>
    <div *ngIf="isEdit" class="custom-control custom-checkbox b-labelless-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="model.IsRelated" id="isRelated">
      <label class="custom-control-label b-pointer" for="isRelated">&zwnj;</label>
    </div>
  </b-form-group>

  <!-- Is Active -->
  <b-form-group class="b-form-group" [label]="'IsActive' | translate" *ngIf="!isEdit">
    <div>{{ (!model ? '' : model.IsActive ? 'Active' : 'Inactive') | translate }}</div>
  </b-form-group>
</ng-template>


<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>
