<b-master [apiEndpoint]="'agents/' + agentType" [mode]="mode" [masterCrumb]="(agentType + 's') | translate"
  [tileTemplate]="tile" [tableColumnPaths]="tableColumnPaths" [tableColumnTemplates]="{
            'Name' : { headerTemplate : header_Name, rowTemplate : row_Name, weight : 1.5 },
            'Name2' : { headerTemplate : header_Name2, rowTemplate : row_Name2, weight : 1.5 },
            'Title' : { headerTemplate : header_Title, rowTemplate : row_Title, weight : 1 },
            'Title2' : { headerTemplate : header_Title2, rowTemplate : row_Title2, weight : 1 },
            'Code' : { headerTemplate : header_Code, rowTemplate : row_Code, weight : 1 },
            'Address' : { headerTemplate : header_Address, rowTemplate : row_Address, weight : 2 },
            'BirthDateTime' : { headerTemplate : header_BirthDateTime, rowTemplate : row_BirthDateTime, weight : 1 },
            'IsRelated' : { headerTemplate : header_IsRelated, rowTemplate : row_IsRelated, weight : 1 },
            'TaxIdentificationNumber' : { headerTemplate : header_TaxIdentificationNumber, rowTemplate : row_TaxIdentificationNumber, weight : 1 },
            'Gender' : { headerTemplate : header_Gender, rowTemplate : row_Gender, weight : 1 },            
            'IsActive' : { headerTemplate : header_IsActive, rowTemplate : row_IsActive, weight : 1 }
          }"
  [multiselectActions]="[
            { template : activate, action: onActivate },
            { template : deactivate, action: onDeactivate }
          ]"
  [includeInactiveLabel]="'IncludeInactive' | translate" 
  [filterDefinition]="agentType === 'Individual' ? {
              'CreatedBy' : [
                { template: createdByMe, expression: 'CreatedByMe'}
              ],
              'Gender' : [
                { template: male, expression: 'Gender eq \'M\''},
                { template: female, expression: 'Gender eq \'F\''}
              ] 
            }
            :
            {
              'CreatedBy' : [
                { template: createdByMe, expression: 'CreatedByMe'}
              ]
            }">
</b-master>

<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex justify-content-between">
    <span class="d-block text-truncate">{{ ws[id].Name }}</span>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <span>{{ ws[id].Code }}</span>
  </div>
</ng-template>


<!-- Table Templates -->
<ng-template #header_Name>{{ 'Name' | translate }}</ng-template>
<ng-template #row_Name let-id="id"> {{ ws[id].Name }} </ng-template>

<ng-template #header_Name2>{{ 'Name2' | translate }}</ng-template>
<ng-template #row_Name2 let-id="id"> {{ ws[id].Name2 }} </ng-template>

<ng-template #header_Title>{{ 'Agent_Title' | translate }}</ng-template>
<ng-template #row_Title let-id="id"> {{ ws[id].Title }} </ng-template>

<ng-template #header_Title2>{{ 'Agent_Title2' | translate }}</ng-template>
<ng-template #row_Title2 let-id="id"> {{ ws[id].Title2 }} </ng-template>

<ng-template #header_Code>{{ 'Code' | translate }}</ng-template>
<ng-template #row_Code let-id="id"> {{ ws[id].Code }} </ng-template>

<ng-template #header_Address>{{ 'Custody_Address' | translate }}</ng-template>
<ng-template #row_Address let-id="id"> {{ ws[id].Address }} </ng-template>

<ng-template #header_BirthDateTime>{{ birthDateTimeName | translate }}</ng-template>
<ng-template #row_BirthDateTime let-id="id"> {{ ws[id].BirthDateTime | date:'dd/MM/yyyy' }} </ng-template>

<ng-template #header_IsRelated>{{ 'Agent_IsRelated' | translate }}</ng-template>
<ng-template #row_IsRelated let-id="id"> {{ (ws[id].IsRelated ? 'Yes' : 'No') | translate }} </ng-template>

<ng-template #header_TaxIdentificationNumber>{{ 'Agent_TaxIdentificationNumber' | translate }}</ng-template>
<ng-template #row_TaxIdentificationNumber let-id="id"> {{ ws[id].TaxIdentificationNumber }} </ng-template>

<ng-template #header_Gender>{{ 'Agent_Gender' | translate }}</ng-template>
<ng-template #row_Gender let-id="id"> {{ genderLookup(ws[id].Gender) | translate }} </ng-template>

<ng-template #header_IsActive>{{ 'IsActive' | translate }}</ng-template>
<ng-template #row_IsActive let-id="id"> {{ (ws[id].IsActive ? 'Active' : 'Inactive') | translate }} </ng-template>





<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>


<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>

<ng-template #male> {{ genderLookup('M') | translate }}</ng-template>
<ng-template #female> {{ genderLookup('F') | translate }}</ng-template>