<div class="pt-3 pt-md-4 t-menu-screen">

  <!-- Search Bar -->
  <div class="t-menu-search-container mb-4">
    &nbsp;&nbsp;&nbsp;
    <fa-icon id="searchIcon" class="d-inline" icon="search"></fa-icon>
    <input class="form-control t-menu-search" [(ngModel)]="search" #searchInput
      placeholder="{{ 'Search' | translate }}..." />
  </div>
  <!-- Main Menu container -->
  <div class="t-menu-container">

    <!-- No items found -->
    <div *ngIf="showNoItemsFound"> {{ 'NoItemsFound' | translate }}</div>

    <!-- Quick Access -->
    <div class="mb-4 mb-md-5 t-quickaccess" *ngIf="!search" [class.d-none]="!showSection(quickAccess)">
      <div class="t-menu-section">
        <span>{{ 'Menu_QuickAccess' | translate }}</span></div>
      <a class="t-menu-item btn m-1" [id]="getId(0, i)" (focus)="onFocus(0, i)" [class.d-none]="!showItem(item)"
        (blur)="onBlur()" *ngFor="let item of quickAccess; let i = index;" [routerLink]="linkArray(item)"
        (click)="onMenuItemClick(item)">
        <div class="pt-4 pb-1 t-menu-item-icon">
          <fa-icon [icon]="item.icon"></fa-icon>
        </div>
        <div class="px-2 t-menu-item-label">
          {{ item.label | translate }}
        </div>
      </a>
    </div>

    <!-- Spinner for huge menu -->
    <div class="text-center" *ngIf="!initialized">
      <t-spinner [scale]="2"></t-spinner>
    </div>

    <!-- Main Menu -->
    <ng-container *ngIf="initialized">
      <div class="mb-4 mb-md-5 {{ section.background }}" *ngFor="let section of mainMenu; let s = index;"
        [class.d-none]="!showSection(section?.items)">
        <div class="t-menu-section" (dblclick)="onSectionDoubleClick(section)">
          <span>{{ section.label }}</span>
        </div>
        <a class="t-menu-item btn m-1" [id]="getId(s+1, i)" (focus)="onFocus(s+1, i)" (blur)="onBlur()"
          [class.d-none]="!showItem(item)" *ngFor="let item of section.items; let i = index;" [routerLink]="linkArray(item)"
          (click)="onMenuItemClick(item)">
          <div class="pt-4 pb-1 t-menu-item-icon">
            <fa-icon [icon]="item.icon"></fa-icon>
          </div>
          <div class="px-2 t-menu-item-label">
            {{ item.label }}
          </div>
        </a>
      </div>
    </ng-container>
  </div>
</div>