
@switch (desc?.control) {
  <!-- Unsupported -->
  @case ('unsupported') {
    <span class="font-italic text-muted">
      {{ 'NotSupportedForDisplay' | translate }}
    </span>
  }
  <!-- Text -->
  @case ('text') {
    <t-text-editor [(ngModel)]="value">
    </t-text-editor>
  }
  <!-- Decimal -->
  @case ('number') {
    <t-decimal-editor [(ngModel)]="value" [minDecimalPlaces]="minDecimalPlaces"
      [maxDecimalPlaces]="maxDecimalPlaces" [noSeparator]="noSeparator">
    </t-decimal-editor>
  }
  <!-- Percent -->
  @case ('percent') {
    <t-decimal-editor [(ngModel)]="value" [minDecimalPlaces]="minDecimalPlaces"
      [maxDecimalPlaces]="maxDecimalPlaces" [noSeparator]="noSeparator" [isPercentage]="true">
    </t-decimal-editor>
  }
  <!-- Serial -->
  @case ('serial') {
    <t-serial-editor [(ngModel)]="value" [prefix]="prefix" [codeWidth]="codeWidth">
    </t-serial-editor>
  }
  <!-- Date -->
  @case ('date') {
    <t-date-picker [(ngModel)]="value" [calendar]="calendar" [granularity]="dateGranularity">
    </t-date-picker>
  }
  <!-- Date Time -->
  @case ('datetime') {
    <t-date-picker [(ngModel)]="value" [calendar]="calendar">
    </t-date-picker>
  }
  <!-- Choice -->
  @case ('choice') {
    <t-selector [(ngModel)]="value" [choices]="choices">
    </t-selector>
  }
  <!-- Boolean -->
  @case ('check') {
    <div class="custom-control custom-checkbox t-labelless-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="value" id="{{checkboxId}}">
      <label class="custom-control-label t-pointer" for="{{checkboxId}}">&zwnj;</label>
    </div>
  }
  <!-- Entities -->
  @case ('AccountClassification') {
    <t-account-classifications-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-account-classifications-picker>
  }
  @case ('IfrsConcept') {
    <t-ifrs-concepts-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-ifrs-concepts-picker>
  }
  @case ('AccountType') {
    <t-account-types-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-account-types-picker>
  }
  @case ('Account') {
    <t-accounts-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-accounts-picker>
  }
  @case ('Agent') {
    <t-agents-picker [(ngModel)]="value" [definitionIds]="definitionIds" [showCreate]="showCreate" [filter]="filter">
    </t-agents-picker>
  }
  @case ('Currency') {
    <t-currencies-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-currencies-picker>
  }
  @case ('Document') {
    <t-documents-picker [(ngModel)]="value" [definitionIds]="definitionIds" [showCreate]="showCreate" [filter]="filter">
    </t-documents-picker>
  }
  @case ('EntryType') {
    <t-entry-types-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-entry-types-picker>
  }
  @case ('Lookup') {
    <t-lookups-picker [(ngModel)]="value" [definitionId]="definitionId" [showCreate]="showCreate" [filter]="filter">
    </t-lookups-picker>
  }
  @case ('Unit') {
    <t-units-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-units-picker>
  }
  @case ('Resource') {
    <t-resources-picker [(ngModel)]="value" [definitionIds]="definitionIds" [showCreate]="showCreate" [filter]="filter">
    </t-resources-picker>
  }
  @case ('Center') {
    <t-centers-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-centers-picker>
  }
  @case ('Role') {
    <t-roles-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-roles-picker>
  }
  @case ('User') {
    <t-users-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-users-picker>
  }
  @case ('AgentDefinition') {
    <t-agent-definitions-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-agent-definitions-picker>
  }
  @case ('ResourceDefinition') {
    <t-resource-definitions-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-resource-definitions-picker>
  }
  @case ('LookupDefinition') {
    <t-lookup-definitions-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-lookup-definitions-picker>
  }
  @case ('DocumentDefinition') {
    <t-document-definitions-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-document-definitions-picker>
  }
  @case ('ReportDefinition') {
    <t-report-definitions-picker [(ngModel)]="value" [showCreate]="showCreate" [filter]="filter">
    </t-report-definitions-picker>
  }
  @default {
    <div class="text-danger font-weight-bold">
      TODO: control for '{{ desc.control }}''
    </div>
  }
}
