<t-details collection="MarkupTemplate" [createFunc]="create" [expand]="expand" [mode]="mode"
    [additionalSelect]="additionalSelect" [masterCrumb]="'MarkupTemplates' | translate" [detailsCrumb]="detailsCrumb"
    [idString]="idString" [documentTemplate]="document" layout="full-screen" [actions]="[]" [isInactive]="isInactive"
    theme="dark">
</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
    <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>

<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">
    <div class="h-100 d-flex" *ngIf="watch(model)">

        <!-- Collapsed Metadata -->
        <div class="p-2 t-dark t-text-whitish t-collapsed-studio-pane t-pointer" *ngIf="isEdit && collapseMetadata"
            (click)="onToggleMetadata()">
            <div class="text-center mb-3">
                <fa-icon icon="angle-right" [flip]="flipIcon(false)"></fa-icon>
            </div>
            <span>{{ 'Metadata' | translate }}
                &nbsp;
                <fa-icon class="t-light-danger mx-1" icon="exclamation-triangle" *ngIf="metadataPaneErrors(model)">
                </fa-icon>
            </span>
        </div>

        <!-- Metadata -->
        <div class="t-less-dark h-100 flex-column t-studio-pane" *ngIf="isEdit" [class.d-flex]="!collapseMetadata"
            [class.d-none]="collapseMetadata">

            <!-- Metadata Header -->
            <div class="py-2 px-3 t-dark t-text-whitish d-flex justify-content-between t-pointer"
                (click)="onToggleMetadata()">
                <div>
                    <span>{{ 'Metadata' | translate }}</span>&nbsp;
                    <fa-icon class="t-light-danger mx-1" icon="exclamation-triangle" *ngIf="metadataPaneErrors(model)">
                    </fa-icon>
                </div>
                <div class="text-center">
                    <fa-icon icon="angle-left" [flip]="flipIcon(false)"></fa-icon>
                </div>
            </div>

            <!-- Metadata Content -->
            <div class="p-2 t-studio-section flex-wrap overflow-auto">

                <!-- Name -->
                <div class="form-group" [class.is-invalid]="invalid(name, model.serverErrors?.Name)">
                    <label class="small" for="name">{{ ('Name' | translate) + ws.primaryPostfix }}</label>
                    <input class="form-control t-studio-input" id="name" type="text" [(ngModel)]="model.Name"
                        [ngModelOptions]="{ updateOn: 'blur' }" autocomplete="off" #name="ngModel" />
                    <ng-container
                        *ngTemplateOutlet="errorsTemplate;context: { control: name, serverErrors: model.serverErrors?.Name }">
                    </ng-container>
                </div>

                <!-- Name2 -->
                <div class="form-group" [class.is-invalid]="invalid(name2, model.serverErrors?.Name2)"
                    *ngIf="ws.settings?.SecondaryLanguageId">
                    <label class="small" for="name2">{{ ('Name' | translate) + ws.secondaryPostfix }}</label>
                    <input class="form-control t-studio-input" id="name2" type="text" [(ngModel)]="model.Name2"
                        [ngModelOptions]="{ updateOn: 'blur' }" autocomplete="off" #name2="ngModel" />
                    <ng-container
                        *ngTemplateOutlet="errorsTemplate;context: { control: name2, serverErrors: model.serverErrors?.Name2 }">
                    </ng-container>
                </div>

                <!-- Name3 -->
                <div class="form-group" [class.is-invalid]="invalid(name3, model.serverErrors?.Name3)"
                    *ngIf="ws.settings?.TernaryLanguageId">
                    <label class="small" for="name3">{{ ('Name' | translate) + ws.ternaryPostfix }}</label>
                    <input class="form-control t-studio-input" id="name3" type="text" [(ngModel)]="model.Name3"
                        [ngModelOptions]="{ updateOn: 'blur' }" autocomplete="off" #name3="ngModel" />
                    <ng-container
                        *ngTemplateOutlet="errorsTemplate;context: { control: name3, serverErrors: model.serverErrors?.Name3 }">
                    </ng-container>
                </div>

                <!-- Code -->
                <div class="form-group" [class.is-invalid]="invalid(code, model.serverErrors?.Code)">
                    <label class="small" for="code">{{ 'Code' }}</label>
                    <input class="form-control t-studio-input" id="code" type="text" [(ngModel)]="model.Code"
                        #code="ngModel" [ngModelOptions]="{ updateOn: 'blur' }" autocomplete="off" />
                    <ng-container
                        *ngTemplateOutlet="errorsTemplate;context: { control: code, serverErrors: model.serverErrors?.Code }">
                    </ng-container>
                </div>

                <!-- Description -->
                <div class="form-group" [class.is-invalid]="invalid(description, model.serverErrors?.Description)">
                    <label class="small" for="desc">{{ ('Description' | translate) + ws.primaryPostfix }}</label>
                    <textarea class="form-control t-studio-input t-no-resize" rows="3" id="desc" type="text"
                        [(ngModel)]="model.Description" [ngModelOptions]="{ updateOn: 'blur' }"
                        #description="ngModel"></textarea>
                    <ng-container
                        *ngTemplateOutlet="errorsTemplate;context: { control: description, serverErrors: model.serverErrors?.Description }">
                    </ng-container>
                </div>

                <!-- Description2 -->
                <div class="form-group" [class.is-invalid]="invalid(description2, model.serverErrors?.Description2)"
                    *ngIf="ws.settings?.SecondaryLanguageId">
                    <label class="small" for="desc2">{{ ('Description' | translate) + ws.secondaryPostfix }}</label>
                    <textarea class="form-control t-studio-input t-no-resize" rows="3" id="desc2" type="text"
                        [(ngModel)]="model.Description2" [ngModelOptions]="{ updateOn: 'blur' }"
                        #description2="ngModel"></textarea>
                    <ng-container
                        *ngTemplateOutlet="errorsTemplate;context: { control: description2, serverErrors: model.serverErrors?.Description2 }">
                    </ng-container>
                </div>

                <!-- Description3 -->
                <div class="form-group" [class.is-invalid]="invalid(description3, model.serverErrors?.Description3)"
                    *ngIf="ws.settings?.TernaryLanguageId">
                    <label class="small" for="desc3">{{ ('Description' | translate) + ws.ternaryPostfix }}</label>
                    <textarea class="form-control t-studio-input t-no-resize" rows="3" id="desc3" type="text"
                        [(ngModel)]="model.Description3" [ngModelOptions]="{ updateOn: 'blur' }"
                        #description3="ngModel"></textarea>
                    <ng-container
                        *ngTemplateOutlet="errorsTemplate;context: { control: description3, serverErrors: model.serverErrors?.Description3 }">
                    </ng-container>
                </div>

                <!-- Usage -->
                <div class="form-group" [class.is-invalid]="invalid(usage, model.serverErrors?.Usage)">
                    <label class="small" for="usage">{{ 'MarkupTemplate_Usage' | translate }}</label>
                    <select class="form-control t-studio-input" id="usage" [(ngModel)]="model.Usage" #usage="ngModel"
                        (ngModelChange)="onDefinitionChange(model)">
                        <option value=""></option>
                        <option value="QueryByFilter">{{ 'MarkupTemplate_Usage_QueryByFilter' | translate }}
                        </option>
                        <option value="QueryById">{{ 'MarkupTemplate_Usage_QueryById' | translate }}</option>
                    </select>
                    <ng-container
                        *ngTemplateOutlet="errorsTemplate;context: { control: usage, serverErrors: model.serverErrors?.Usage }">
                    </ng-container>
                </div>

                <!-- Collection -->
                <ng-container *ngIf="showCollectionAndDefinition(model)">
                    <div class="form-group" [class.is-invalid]="invalid(collection, model.serverErrors?.Collection)">
                        <label class="small" for="collection">{{ 'MarkupTemplate_Collection' | translate }}</label>
                        <select class="form-control t-studio-input" id="collection" [(ngModel)]="model.Collection"
                            #collection="ngModel" (ngModelChange)="onCollectionChange(model)" required>
                            <option value=""></option>
                            <option *ngFor="let collection of allCollections" value="{{collection.value}}">
                                {{ collection.name() }}</option>
                        </select>
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: collection, serverErrors: model.serverErrors?.Collection }">
                        </ng-container>
                    </div>

                    <!-- Definition -->
                    <div class="form-group" *ngIf="showDefinitionIdSelector(model)"
                        [class.is-invalid]="invalid(definitionId, model.serverErrors?.DefinitionId)">
                        <label class="small" for="definitionId">{{ 'MarkupTemplate_DefinitionId' | translate }}</label>
                        <select class="form-control t-studio-input" id="definitionId" [(ngModel)]="model.DefinitionId"
                            #definitionId="ngModel" (ngModelChange)="onDefinitionIdChange(model)">
                            <option value=""></option>
                            <option *ngFor="let defInfo of allDefinitionIds(model)" value="{{ defInfo.value }}">
                                {{ defInfo.name() }}</option>
                        </select>
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: definitionId, serverErrors: model.serverErrors?.DefinitionId }">
                        </ng-container>
                    </div>
                </ng-container>

                <!-- DownloadName -->
                <div class="form-group" [class.is-invalid]="invalid(downloadName, model.serverErrors?.DownloadName)">
                    <label class="small" for="downloadName">{{ 'MarkupTemplate_DownloadName' | translate }} ({{ 'Visibility_Optional' | translate }})</label>
                    <input class="form-control t-studio-input" id="downloadName" type="text"
                        [(ngModel)]="model.DownloadName" #downloadName="ngModel"
                        (ngModelChange)="onDefinitionChange(model)" [ngModelOptions]="{ updateOn: 'blur' }"
                        autocomplete="off" />
                    <ng-container
                        *ngTemplateOutlet="errorsTemplate;context: { control: downloadName, serverErrors: model.serverErrors?.DownloadName }">
                    </ng-container>
                </div>

                <!-- Supports Primary Language -->
                <div class="custom-control custom-checkbox"
                    *ngIf="!!ws.settings.SecondaryLanguageId || !!ws.settings.TernaryLanguageId">
                    <input type="checkbox" class="custom-control-input" id="supportsPrimaryLanguage"
                        [(ngModel)]="model.SupportsPrimaryLanguage" (ngModelChange)="onDefinitionChange(model)">
                    <label class="custom-control-label"
                        for="supportsPrimaryLanguage">{{ ('MarkupTemplate_Supports' | translate) + ws.primaryPostfix }}</label>
                </div>

                <!-- Supports Secondary Language -->
                <div class="custom-control custom-checkbox" *ngIf="!!ws.settings.SecondaryLanguageId">
                    <input type="checkbox" class="custom-control-input" id="supportsSecondaryLanguage"
                        [(ngModel)]="model.SupportsSecondaryLanguage" (ngModelChange)="onDefinitionChange(model)">
                    <label class="custom-control-label"
                        for="supportsSecondaryLanguage">{{ ('MarkupTemplate_Supports' | translate) + ws.secondaryPostfix }}</label>
                </div>

                <!-- Supports Ternary Language -->
                <div class="custom-control custom-checkbox" *ngIf="!!ws.settings.TernaryLanguageId">
                    <input type="checkbox" class="custom-control-input" id="supportsTernaryLanguage"
                        [(ngModel)]="model.SupportsTernaryLanguage" (ngModelChange)="onDefinitionChange(model)">
                    <label class="custom-control-label"
                        for="supportsTernaryLanguage">{{ ('MarkupTemplate_Supports' | translate) + ws.ternaryPostfix }}</label>
                </div>

                <!-- IsDeployed -->
                <div class="custom-control custom-checkbox mt-3">
                    <input type="checkbox" class="custom-control-input" id="isdeployed" [(ngModel)]="model.IsDeployed">
                    <label class="custom-control-label"
                        for="isdeployed">{{ 'MarkupTemplate_IsDeployed' | translate }}</label>
                </div>
            </div>
        </div>

        <!-- Collapsed Editor -->
        <div class="p-2 t-dark t-text-whitish t-collapsed-studio-pane t-pointer" *ngIf="isEdit && collapseEditor"
            (click)="onToggleEditor()">
            <div class="text-center mb-3">
                <fa-icon icon="angle-right" [flip]="flipIcon(false)"></fa-icon>
            </div>
            <span>{{ 'Editor' | translate }}</span>
        </div>

        <div class="h-100 d-flex flex-grow-1">

            <!-- Editor -->
            <div class="t-less-dark h-100 t-studio-pane flex-column p-0 col-4" *ngIf="isEdit"
                [class.d-flex]="!collapseEditor" [class.d-none]="collapseEditor">

                <!-- Editor Header -->
                <div class="py-2 px-3 t-dark t-text-whitish d-flex justify-content-between t-pointer"
                    (click)="onToggleEditor()">
                    <span>{{ 'Editor' | translate }}</span>
                    <div class="text-center">
                        <fa-icon icon="angle-left" [flip]="flipIcon(false)"></fa-icon>
                    </div>
                </div>

                <!-- Editor Content -->
                <div class="flex-grow-1">
                    <textarea class="w-100 h-100 form-control t-studio-input text-nowrap border-0 t-code"
                        spellcheck="false" [ngModel]="model.Body" (ngModelChange)="onBodyChange($event, model)"
                        #textarea (keydown)="onKeydown(textarea, $event, model)"></textarea>
                    <!-- <ace class="w-100 h-100" [config]="config" [value]="model.Body"
                        (valueChange)="onAceValueChange($event, model)"></ace> -->
                </div>
            </div>

            <!-- Preview Section -->
            <div class="d-flex flex-column p-0" [class.col-8]="isEdit && !collapseEditor"
                [class.col-12]="!(isEdit && !collapseEditor)">
                <!-- Header -->
                <div class="t-dark t-text-whitish d-flex justify-content-between" *ngIf="isEdit">
                    <div class="p-2 px-3">
                        <span>{{ 'Preview' | translate }}</span>&nbsp;&nbsp;
                        <t-spinner *ngIf="showSpinner"></t-spinner>
                    </div>
                </div>

                <div class="d-flex flex-column t-rest-of-screen bg-white">
                    <div class="row mx-0 border-bottom bg-white">
                        <!-- Preview Parameters -->
                        <div class="mx-auto mb-3 w-100" style="max-width: 700px" *ngIf="showParametersSection(model)">
                            <div class="row m-0 px-0 px-lg-1 py-1">
                                <ng-container *ngIf="showQueryByFilterParams(model)">
                                    <!-- Filter -->
                                    <t-form-group class="t-form-group col" [label]="'Filter' | translate">
                                        <t-text-editor [(ngModel)]="filter" [ngModelOptions]="{ updateOn: 'blur' }"
                                            (ngModelChange)="onParameterChange(model)">
                                        </t-text-editor>
                                    </t-form-group>
                                    <!-- OrderBy -->
                                    <t-form-group class="t-form-group col" [label]="'OrderBy' | translate">
                                        <t-text-editor [(ngModel)]="orderby" [ngModelOptions]="{ updateOn: 'blur' }"
                                            (ngModelChange)="onParameterChange(model)">
                                        </t-text-editor>
                                    </t-form-group>
                                    <!-- Top -->
                                    <t-form-group class="t-form-group col" [label]="'Top' | translate">
                                        <t-decimal-editor [(ngModel)]="top" [ngModelOptions]="{ updateOn: 'blur' }"
                                            (ngModelChange)="onParameterChange(model)" [minDecimalPlaces]="0"
                                            [minDecimalPlaces]="0">
                                        </t-decimal-editor>
                                    </t-form-group>
                                    <!-- Skip -->
                                    <t-form-group class="t-form-group col" [label]="'Skip' | translate">
                                        <!-- <t-decimal-editor [(ngModel)]="skip" [ngModelOptions]="{ updateOn: 'blur' }" disabled
                                        (ngModelChange)="onParameterChange(model)" [minDecimalPlaces]="0" [minDecimalPlaces]="0">
                                    </t-decimal-editor> -->
                                        {{ skip }}
                                    </t-form-group>
                                </ng-container>
                                <ng-container *ngIf="showQueryByIdParams(model)">
                                    <ng-container [ngSwitch]="model.Collection">
                                        <t-form-group class="t-form-group col" [label]="detailsPickerLabel(model)">
                                            <t-account-classifications-picker *ngSwitchCase="'AccountClassification'"
                                                [(ngModel)]="id" (ngModelChange)="onParameterChange(model)"
                                                [showCreate]="false">
                                            </t-account-classifications-picker>

                                            <t-ifrs-concepts-picker *ngSwitchCase="'IfrsConcept'" [(ngModel)]="id"
                                                (ngModelChange)="onParameterChange(model)" [showCreate]="false">
                                            </t-ifrs-concepts-picker>

                                            <t-account-types-picker *ngSwitchCase="'AccountType'" [(ngModel)]="id"
                                                (ngModelChange)="onParameterChange(model)" [showCreate]="false">
                                            </t-account-types-picker>

                                            <t-accounts-picker *ngSwitchCase="'Account'" [(ngModel)]="id"
                                                (ngModelChange)="onParameterChange(model)" [showCreate]="false">
                                            </t-accounts-picker>

                                            <t-agents-picker *ngSwitchCase="'Agent'" [(ngModel)]="id"
                                                (ngModelChange)="onParameterChange(model)" [showCreate]="false">
                                            </t-agents-picker>

                                            <t-documents-picker *ngSwitchCase="'Document'"
                                                [(ngModel)]="id" (ngModelChange)="onParameterChange(model)"
                                                [definitionIds]="[model.DefinitionId]"
                                                [showCreate]="false">
                                            </t-documents-picker>

                                            <t-relations-picker *ngSwitchCase="'Relation'" [(ngModel)]="id"
                                                [definitionIds]="[model.DefinitionId]"
                                                (ngModelChange)="onParameterChange(model)" [showCreate]="false">
                                            </t-relations-picker>

                                            <t-currencies-picker *ngSwitchCase="'Currency'" [(ngModel)]="id"
                                                (ngModelChange)="onParameterChange(model)" [showCreate]="false">
                                            </t-currencies-picker>

                                            <t-entry-types-picker *ngSwitchCase="'EntryType'" [(ngModel)]="id"
                                                (ngModelChange)="onParameterChange(model)" [showCreate]="false">
                                            </t-entry-types-picker>

                                            <t-lookups-picker *ngSwitchCase="'Lookup'" [(ngModel)]="id"
                                                [definitionId]="model.DefinitionId"
                                                (ngModelChange)="onParameterChange(model)" [showCreate]="false">
                                            </t-lookups-picker>

                                            <t-units-picker *ngSwitchCase="'Unit'" [(ngModel)]="id"
                                                (ngModelChange)="onParameterChange(model)" [showCreate]="false">
                                            </t-units-picker>

                                            <t-custodies-picker *ngSwitchCase="'Custody'" [(ngModel)]="id"
                                                [definitionIds]="[model.DefinitionId]"
                                                (ngModelChange)="onParameterChange(model)" [showCreate]="false">
                                            </t-custodies-picker>

                                            <t-resources-picker *ngSwitchCase="'Resource'" [(ngModel)]="id"
                                                [definitionIds]="[model.DefinitionId]"
                                                (ngModelChange)="onParameterChange(model)" [showCreate]="false">
                                            </t-resources-picker>

                                            <t-centers-picker *ngSwitchCase="'Center'" [(ngModel)]="id"
                                                (ngModelChange)="onParameterChange(model)" [showCreate]="false">
                                            </t-centers-picker>

                                            <t-roles-picker *ngSwitchCase="'Role'" [(ngModel)]="id"
                                                (ngModelChange)="onParameterChange(model)" [showCreate]="false">
                                            </t-roles-picker>

                                            <t-users-picker *ngSwitchCase="'User'" [(ngModel)]="id"
                                                (ngModelChange)="onParameterChange(model)" [showCreate]="false">
                                            </t-users-picker>

                                            <t-relation-definitions-picker *ngSwitchCase="'RelationDefinition'"
                                                [(ngModel)]="id" (ngModelChange)="onParameterChange(model)"
                                                [showCreate]="false">
                                            </t-relation-definitions-picker>

                                            <t-custody-definitions-picker *ngSwitchCase="'CustodyDefinition'"
                                                [(ngModel)]="id" (ngModelChange)="onParameterChange(model)"
                                                [showCreate]="false">
                                            </t-custody-definitions-picker>

                                            <t-resource-definitions-picker *ngSwitchCase="'ResourceDefinition'"
                                                [(ngModel)]="id" (ngModelChange)="onParameterChange(model)"
                                                [showCreate]="false">
                                            </t-resource-definitions-picker>

                                            <t-lookup-definitions-picker *ngSwitchCase="'LookupDefinition'"
                                                [(ngModel)]="id" (ngModelChange)="onParameterChange(model)"
                                                [showCreate]="false">
                                            </t-lookup-definitions-picker>

                                            <t-document-definitions-picker *ngSwitchCase="'DocumentDefinition'"
                                                [(ngModel)]="id" (ngModelChange)="onParameterChange(model)"
                                                [showCreate]="false">
                                            </t-document-definitions-picker>
                                            
                                            <div class="text-danger font-weight-bold" *ngSwitchDefault>
                                                TODO: control for '{{ model.Collection }}''
                                            </div>
                                        </t-form-group>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Toolbar -->
                        <div class="col-12 p-1 d-flex justify-content-between t-toolbar">

                            <!-- Left Buttons -->
                            <div>

                                <!-- Print -->
                                <button class="btn btn-primary btn-sm t-toolbar-button" (click)="onPrint(model)"
                                    [disabled]="disablePrint">
                                    <fa-icon icon="print"></fa-icon>
                                    <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Print' | translate }}</span>
                                </button>

                                <!-- Download -->
                                <button
                                    class="btn btn-primary btn-light text-primary btn-sm t-toolbar-button t-white-button"
                                    (click)="onDownload(model)" [disabled]="disableDownload">
                                    <fa-icon icon="download"></fa-icon>
                                    <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Download' | translate }}</span>
                                </button>
                            </div>

                            <!-- Middle stuff -->
                            <div>
                                <!-- File Name -->
                                <div class="d-inline small mx-1 text-muted" *ngIf="fileDownloadName">
                                    <span class="t-vertical-align-middle">{{ fileDownloadName }}</span>
                                </div>

                                <!-- File Size -->
                                <div class="d-inline small mx-1 text-muted">
                                    <span class="t-vertical-align-middle">{{ fileSizeDisplay }}</span>
                                </div>
                            </div>

                            <!-- Right Buttons -->
                            <div>
                                <button class="btn btn-sm t-toolbar-button btn-light t-white-button" type="button"
                                    title="{{ 'Refresh' | translate }}" (click)="onRefresh(model)">
                                    <fa-icon icon="sync-alt"></fa-icon>
                                </button>

                                <!-- Language Toggle -->
                                <div class="btn-group btn-group-toggle t-toolbar-button"
                                    *ngIf="showLanguageToggle(model)">
                                    <label class="btn btn-sm t-pointer btn-light" *ngIf="showLang(1, model)"
                                        [class.active]="isLang(1)" title="{{ langDisplay(1) }}"
                                        (click)="onLang(1, model)">
                                        <input type="radio" name="searchView">
                                        {{ langDisplay(1) }}
                                    </label>
                                    <label class="btn btn-sm t-pointer btn-light" *ngIf="showLang(2, model)"
                                        [class.active]="isLang(2)" title="{{ langDisplay(2) }}"
                                        (click)="onLang(2, model)">
                                        <input type="radio" name="searchView">
                                        {{ langDisplay(2) }}
                                    </label>
                                    <label class="btn btn-sm t-pointer btn-light" *ngIf="showLang(3, model)"
                                        [class.active]="isLang(3)" title="{{ langDisplay(3) }}"
                                        (click)="onLang(3, model)">
                                        <input type="radio" name="searchView">
                                        {{ langDisplay(3) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Preview Document -->
                    <div class="t-rest-of-screen bg-white" *ngIf="!message;else messageTemplate">
                        <div class="w-100" style="position: absolute;">
                            <t-error-message *ngIf="error">{{ error }}</t-error-message>
                        </div>
                        <!-- Paper -->
                        <!-- <object *ngIf="!!url" class="p-0 w-100 h-100 d-block" [type]="contenType" [data]="safeUrl"></object> -->
                        <iframe #iframe class="p-0 border-0 w-100 h-100 d-block" sandbox></iframe>
                    </div>
                    <ng-template #messageTemplate>
                        <div class="w-100 p-3 px-4">
                            <fa-icon icon="info-circle"></fa-icon>
                            &nbsp;
                            {{ message }}
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #errorsTemplate let-control="control" let-serverErrors="serverErrors">
    <ng-container *ngIf="invalid(control, serverErrors)">
        <span class="small t-light-danger px-1" *ngFor="let e of errors(control, serverErrors)">
            {{ e() }}
        </span>
    </ng-container>
</ng-template>