@page "/identity/lockout"
@inject IViewLocalizer Localizer
@model LockoutModel
@{
    ViewData["Title"] = Localizer["LockedOut"];
}

<header class="text-center b-auth-title">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Localizer["LockedOutMessage"]</p>
</header>
