@page "/identity/sign-out"
@model LogoutModel
@{
    ViewData["Title"] = "Sign out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>