@page "/identity/reset-password"
@inject IViewLocalizer Localizer
@model ResetPasswordModel
@{
    ViewData["Title"] = @Localizer[Model.JustConfirmedEmail ? "CreateAPassword" : "ResetYourPassword"];
}

@if (Model.JustConfirmedEmail)
{
    <div class="text-center pt-3">
        <div class="alert-success p-2">
            <i class="fas fa-check"></i>&nbsp;
            <span>
                @Localizer["EmailConfirmationMessage"]
            </span>
        </div>
    </div>
}

<h4 class="b-auth-title">@Localizer[Model.JustConfirmedEmail ? "CreateAPassword" : "ResetYourPassword"]</h4>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Input.Code" type="hidden" />
    <input asp-for="Input.Email" type="hidden" />
    @*<div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>*@
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary w-100"><i class="fas fa-key"></i>&nbsp;&nbsp;@Localizer[Model.JustConfirmedEmail ? "CreateAPassword" : "ResetMyPassword"]</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
