<div class="h-100 d-flex flex-column">
  <div class="row border-bottom bg-white">

    <!-- Breadcrumb -->
    <div class="col-12 p-1">
      <ul class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          <a class="text-primary" [routerLink]="['..']">
            {{ title }}
          </a>
        </li>
        <li class="breadcrumb-item active">
          {{ 'ImportAFile' | translate }}
        </li>
      </ul>
    </div>

    <!-- Toolbar -->
    <div class="col-12 p-1 d-flex justify-content-between t-toolbar">

      <!-- Left Buttons -->
      <div>

        <!-- Cancel -->
        <button type="button" class="btn btn-light btn-sm text-primary t-white-button t-toolbar-button" (click)="onCancel()">
          <fa-icon icon="times"></fa-icon>
          <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Cancel' | translate }}</span>
        </button>
      </div>

      <!-- Right Buttons -->
      <div>

      </div>
    </div>
  </div>


  <!-- The main area -->
  <div class="row t-rest-of-screen bg-light">
    <div class="w-100 p-2">

      <div class=" p-3 border t-paper bg-white mb-3 mt-2 align-items-center" style="max-width: 600px">

        <!-- Step 1 -->
        <h3 class="font-weight-light">{{ 'Step1' | translate }}</h3>
        <div class="pb-2">
          {{ 'ImportStep1Instructions' | translate }}
        </div>
        <div class="form-group">
          <label class="font-weight-bold small">{{ 'Format' | translate }}</label>
          <t-selector [choices]="formatChoices" [(ngModel)]="format"></t-selector>
        </div>

        <button type="button" class="btn btn-primary w-100 mb-1" (click)="onDownloadTemplate()">
          <fa-icon icon="file-download"></fa-icon>
          &nbsp;{{ 'DownloadTemplate' | translate }}
          <t-spinner class="ml-1" *ngIf="showSpinner" [scale]="1"></t-spinner>
        </button>

        <!-- Error message -->
        <t-error-message *ngIf="showDownloadErrorMessage">
          {{ downloadErrorMessage }}
        </t-error-message>

        <!-- Step 2-->
        <h3 class="font-weight-light mt-4">{{ 'Step2' | translate }}</h3>
        <div class="pb-2">
          {{ 'ImportStep2Instructions' | translate }}
        </div>
        <div class="form-group">
          <label class="font-weight-bold small">{{ 'Mode' | translate }}</label>
          <t-selector [choices]="modeChoices" [(ngModel)]="mode"></t-selector>
        </div>

        <div class="custom-file mb-1">
          <input type="file" class="custom-file-input" accept=".xlsx" id="import" #input onclick="this.value = null"
            (change)="onImport(input)">
          <label class="btn btn-primary t-file-input-label" for="customFile">
            <fa-icon icon="upload"></fa-icon>
            &nbsp;{{ 'Import' | translate }}
          </label>
        </div>

        <t-success-message *ngIf="showSuccessMessage">
          {{ 'ImportMergeSuccessMessage' | translate:importResult }}
        </t-success-message>

        <!-- No items found -->
        <t-error-message *ngIf="showImportErrorMessage">
          {{ importErrorMessage }}
        </t-error-message>

      </div>

      <!-- Error report -->
      <div class="w-100 p-2 text-danger">
        <div *ngFor="let error of importValidationErrors">
          {{ error }}
        </div>
      </div>
    </div>
  </div>
</div>