<!-- SendEmail Dropdown -->
<div *ngIf="showSendEmail" class="btn-group" ngbDropdown [placement]="actionsDropdownPlacement">
    <button type="button" class="btn btn-sm btn-light text-primary t-white-button t-toolbar-button dropdown-toggle"
        ngbDropdownToggle>
        <fa-icon class="d-inline d-md-none" icon="envelope"></fa-icon>
        <span class="d-none d-md-inline">{{ 'SendByEmail' | translate }}</span>
    </button>
    <div class="dropdown-menu shadow small" ngbDropdownMenu aria-labelledby="action">
        <button type="button" class="dropdown-item t-transparent-background btn-light"
            *ngFor="let template of emailTemplates" ngbDropdownItem (click)="onSendEmailModal(template)">
            {{ template.name() }}
        </button>
    </div>
</div>

<!-- Email List Modal -->
<ng-template #emailListModal let-modal>

    <!-- header -->
    <div class="modal-header">
        <h5 class="modal-title"> {{ 'EmailsPreview' | translate }} </h5>
        <a [routerLink]="['/app/' + tenantId + '/notification-commands', { filter: 'TemplateId eq ' + emailTemplate.templateId }]"
            (click)="modal.dismiss()" class="btn btn-light btn-sm t-white-button text-primary mx-2 align-self-center">
            {{ 'ViewNotificationHistory' | translate }}
        </a>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- body -->
    <div class="modal-body">
        <t-email-list class="row overflow-auto" [emails]="emailCommand?.Emails" [isLoading]="isEmailCommandLoading"
            [errorFunc]="emailCommandError" (preview)="onPreviewEmail($event)">
        </t-email-list>
    </div>

    <!-- footer -->
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="onConfirmSendEmail(modal);" [disabled]="!canConfirmSendEmail">
            <fa-icon icon="envelope"></fa-icon>
            &nbsp;{{ 'ConfirmSend0Emails' | translate: { '0': (emailCommand?.Emails?.length || 0) } }}
        </button>
        <button class="btn btn-light text-primary t-white-button" (click)="modal.close(false)" ngbAutofocus>
            <fa-icon icon="times"></fa-icon>
            &nbsp;{{ 'Cancel' | translate }}
        </button>
    </div>
</ng-template>

<!-- Email Modal -->
<ng-template #emailModal let-modal>

    <!-- header -->
    <div class="modal-header">
        <h5 class="modal-title"> {{ 'EmailPreview' | translate }} </h5>
        <a *ngIf="isSingleEmail"
            [routerLink]="['/app/' + tenantId + '/notification-commands', { filter: 'TemplateId eq ' + emailTemplate.templateId }]"
            (click)="modal.dismiss()" class="btn btn-light btn-sm t-white-button text-primary mx-2 align-self-center">
            {{ 'ViewNotificationHistory' | translate }}
        </a>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- body -->
    <div class="modal-body bg-white py-2">
        <t-email [email]="email" [isLoading]="isEmailLoading || isEmailCommandLoading"
            [errorFunc]="emailCommandError || emailError"></t-email>
    </div>

    <!-- footer -->
    <div class="modal-footer">
        <ng-container *ngIf="isSingleEmail; else dismiss">
            <button class="btn btn-primary" (click)="onConfirmSendEmail(modal);" [disabled]="!canConfirmSendEmail">
                <fa-icon icon="envelope"></fa-icon>
                &nbsp;{{ 'ConfirmSendEmail' | translate }}
            </button>
            <button class="btn btn-light text-primary t-white-button" (click)="modal.close(false)" ngbAutofocus>
                <fa-icon icon="times"></fa-icon>
                &nbsp;{{ 'Cancel' | translate }}
            </button>
        </ng-container>
        <ng-template #dismiss>
            <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
                <fa-icon icon="times"></fa-icon>
                &nbsp;{{ 'Dismiss' | translate }}
            </button>
        </ng-template>
    </div>
</ng-template>


<!-- Success Modal -->
<ng-template #successModal let-modal>

    <!-- header -->
    <div class="modal-header">
        <h5 class="modal-title">
            <fa-icon class="text-success" icon="check"></fa-icon>&nbsp;&nbsp;{{ 'Success' | translate }}
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- body -->
    <div class="modal-body">
        {{ modalSuccessMessage }}
    </div>

    <!-- footer -->
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
            <fa-icon icon="times"></fa-icon>
            &nbsp;{{ 'Dismiss' | translate }}
        </button>
    </div>
</ng-template>


<!-- Error Modal -->
<ng-template #errorModal let-modal>

    <!-- header -->
    <div class="modal-header">
        <h5 class="modal-title">
            <fa-icon class="text-danger" icon="exclamation-triangle"></fa-icon>&nbsp;&nbsp;{{ 'Error' | translate }}
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- body -->
    <div class="modal-body">
        {{ modalErrorMessage }}
    </div>

    <!-- footer -->
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
            <fa-icon icon="times"></fa-icon>
            &nbsp;{{ 'Dismiss' | translate }}
        </button>
    </div>
</ng-template>