<div class="d-flex flex-column h-100">
    <div class="row">
        <!-- To -->
        <t-form-group class="t-wide-form-group" [label]="'EmailPreview_Recipients' | translate">
            <div style="margin: 0 -0.5rem;">
                <ng-container *ngFor="let address of email?.To">
                    <div class="d-inline px-1 bg-white mx-1" style="border: 1px solid darkgrey; border-radius: 10px;">{{
                        address }}</div>
                </ng-container>
            </div>
            <!-- {{ addressesDisplay(email?.To) }} -->
        </t-form-group>

        <!-- Cc -->
        <t-form-group class="t-wide-form-group" [label]="'EmailPreview_Cc' | translate" *ngIf="email?.Cc?.length">
            <div style="margin: 0 -0.5rem;">
                <ng-container *ngFor="let address of email?.Cc">
                    <div class="d-inline px-1 bg-white mx-1" style="border: 1px solid darkgrey; border-radius: 10px;">{{
                        address }}</div>
                </ng-container>
            </div>
            <!-- {{ addressesDisplay(email?.Cc) }} -->
        </t-form-group>

        <!-- Bcc -->
        <t-form-group class="t-wide-form-group" [label]="'EmailPreview_Bcc' | translate" *ngIf="email?.Bcc?.length">
            <div style="margin: 0 -0.5rem;">
                <ng-container *ngFor="let address of email?.Bcc">
                    <div class="d-inline px-1 bg-white mx-1" style="border: 1px solid darkgrey; border-radius: 10px;">{{
                        address }}</div>
                </ng-container>
            </div>
            <!-- {{ addressesDisplay(email?.Bcc) }} -->
        </t-form-group>

        <ng-template #emails let-emails>
            <div style="margin: 0 -0.5rem;">
                <ng-container *ngFor="let address of emails">
                    <div class="d-inline px-1 bg-white mx-1" style="border: 1px solid darkgrey; border-radius: 10px;">{{
                        address }}</div>
                </ng-container>
            </div>
        </ng-template>

        <!-- Subject -->
        <t-form-group class="t-wide-form-group" [label]="'EmailPreview_Subject' | translate">
            {{ email?.Subject }}
        </t-form-group>

    </div>

    <ng-container *ngIf="isLoading || errorFunc; else bodyAndAttachments">
        <div class="p-3 col-12 d-flex justify-content-center" style="height: 300px" *ngIf="isLoading">
            <t-spinner [scale]="2"></t-spinner>
        </div>

        <t-error-message class="w-100 py-3" *ngIf="errorFunc">
            {{ errorFunc() }}
        </t-error-message>
    </ng-container>

    <ng-template #bodyAndAttachments>

        <!-- Attachments -->
        <div class="px-3 pt-3 row d-flex flex-row">
            <div class="d-flex align-items-center py-1 t-email-attachment" *ngFor="let att of email?.Attachments"
                (click)="onViewAttachment(att)">
                <!-- Icon -->
                <div class="px-2">
                    <fa-icon [style.color]="color(att)" style="font-size: 200%;" [icon]="icon(att)">
                    </fa-icon>
                </div>
                <div class="px-2">
                    {{ att.DownloadName }} <t-spinner *ngIf="att.isLoading"></t-spinner>
                    <ng-container *ngIf="att.error">
                        <div class="text-danger"> {{ att.error }} </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <!-- Body -->
        <div class="p-3 flex-grow-1 row">
            <iframe #iframe class="p-0 w-100 h-100 d-block bg-light" style="border-width: 0; min-height: 300px;" sandbox
                [src]="safeBlobUrl"></iframe>
        </div>
    </ng-template>
    <!-- <br />
    <p class="font-weight-bold"> Attachments </p>
    <p *ngFor="let att of email?.Attachments"> {{ att.DownloadName }} </p> -->
</div>