<b-master collection="MeasurementUnit" [mode]="mode" [showCreateButton]="showCreate" [filterDefault]="filter"
  [masterCrumb]="'MeasurementUnits' | translate" [tileTemplate]="tile" [tableSummaryColumnTemplate]="summaryColumn"
  [tableSummaryHeaderTemplate]="summaryHeader" selectDefault="Code,UnitType,UnitAmount,BaseAmount,IsActive"
  selectForTiles="Code,Name,Name2,Name3" [multiselectActions]="[
            { template: activate, action: onActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
            { template: deactivate, action: onDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
          ]" [includeInactiveLabel]="'IncludeInactive' | translate" [filterDefinition]="{
            'CreatedBy' : [
              { template: createdByMe, expression: 'CreatedById eq me'}
            ],
            'UnitType' : [
              { template: pure, expression: 'UnitType eq \'Pure\''},
              { template: time, expression: 'UnitType eq \'Time\''},
              { template: distance, expression: 'UnitType eq \'Distance\''},
              { template: count, expression: 'UnitType eq \'Count\''},
              { template: mass, expression: 'UnitType eq \'Mass\''},
              { template: volume, expression: 'UnitType eq \'Volume\''}
            ]
          }">
</b-master>


<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex justify-content-between">
    <span class="d-block text-truncate">{{ ws.getMultilingualValue('MeasurementUnit', id, 'Name') }}</span>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <span class="d-block text-truncate">{{ ws.getMultilingualValue('MeasurementUnit', id, 'Description') }}</span>
  </div>
</ng-template>

<!-- Summary Header -->
<ng-template #summaryHeader let-id="id">
  {{ 'MeasurementUnit' | translate }}
</ng-template>

<!-- Summary Column -->
<ng-template #summaryColumn let-id="id">
  <span class="text-truncate">
    <b-auto-cell collection="MeasurementUnit" [entity]="c[id]"></b-auto-cell>
  </span>
</ng-template>

<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>

<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>

<ng-template #pure> {{ unitTypeLookup('Pure') | translate }}</ng-template>
<ng-template #time> {{ unitTypeLookup('Time') | translate }}</ng-template>
<ng-template #distance> {{ unitTypeLookup('Distance') | translate }}</ng-template>
<ng-template #count> {{ unitTypeLookup('Count') | translate }}</ng-template>
<ng-template #mass> {{ unitTypeLookup('Mass') | translate }}</ng-template>
<ng-template #volume> {{ unitTypeLookup('Volume') | translate }}</ng-template>