<b-master apiEndpoint="measurement-units"
          [mode]="mode"
          title="{{ 'MeasurementUnits' | translate }}"
          [tileTemplate]="tile"
          [tableColumnPaths]="['Name', 'Name2' , 'Code', 'UnitType', 'UnitAmount', 'BaseAmount', 'IsActive']"
          [tableColumnTemplates]="{
            'Name' : { headerTemplate : header_Name, rowTemplate : row_Name, weight : 1.5 },
            'Name2' : { headerTemplate : header_Name2, rowTemplate : row_Name2, weight : 1.5 },
            'Code' : { headerTemplate : header_Code, rowTemplate : row_Code, weight : 1 },
            'UnitType' : { headerTemplate : header_UnitType, rowTemplate : row_UnitType, weight : 1 },
            'UnitAmount' : { headerTemplate : header_UnitAmount, rowTemplate : row_UnitAmount, weight : 1 },
            'BaseAmount' : { headerTemplate : header_BaseAmount, rowTemplate : row_BaseAmount, weight : 1 },
            'IsActive' : { headerTemplate : header_IsActive, rowTemplate : row_IsActive, weight : 1 }
          }"
          [multiselectActions]="[
            { template : activate, action: onActivate },
            { template : deactivate, action: onDeactivate }
          ]"
          includeInactiveLabel="{{ 'IncludeInactive' | translate }}"
          [filterDefinition]="{
            'CreatedBy' : [
              { template: createdByMe, expression: 'CreatedByMe'}
            ],
            'UnitType' : [
              { template: pure, expression: 'UnitType eq \'Pure\''},
              { template: time, expression: 'UnitType eq \'Time\''},
              { template: distance, expression: 'UnitType eq \'Distance\''},
              { template: count, expression: 'UnitType eq \'Count\''},
              { template: mass, expression: 'UnitType eq \'Mass\''},
              { template: volume, expression: 'UnitType eq \'Volume\''},
              { template: money, expression: 'UnitType eq \'Money\''}
            ]
          }">
</b-master>

<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex justify-content-between">
    <span class="d-block text-truncate">{{ ws[id].Name }}</span>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <span>{{ ws[id].Code }}</span>
  </div>
</ng-template>

<!-- Table Templates -->
<ng-template #header_Name>{{ 'MU_Name' | translate }}</ng-template>
<ng-template #row_Name let-id="id"> {{ ws[id].Name }} </ng-template>

<ng-template #header_Name2>{{ 'MU_Name2' | translate }}</ng-template>
<ng-template #row_Name2 let-id="id"> {{ ws[id].Name2 }} </ng-template>

<ng-template #header_Code>{{ 'MU_Code' | translate }}</ng-template>
<ng-template #row_Code let-id="id"> {{ ws[id].Code }} </ng-template>

<ng-template #header_IsActive>{{ 'MU_IsActive' | translate }}</ng-template>
<ng-template #row_IsActive let-id="id"> {{ (ws[id].IsActive ? 'Active' : 'Inactive') | translate }} </ng-template>

<ng-template #header_UnitType>{{ 'MU_UnitType' | translate }}</ng-template>
<ng-template #row_UnitType let-id="id"> {{ unitTypeLookup(ws[id].UnitType) | translate }} </ng-template>

<ng-template #header_UnitAmount>{{ 'MU_UnitAmount' | translate }}</ng-template>
<ng-template #row_UnitAmount let-id="id"> {{ ws[id].UnitAmount | number }} </ng-template>

<ng-template #header_BaseAmount>{{ 'MU_BaseAmount' | translate }}</ng-template>
<ng-template #row_BaseAmount let-id="id"> {{ ws[id].BaseAmount | number }} </ng-template>


<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>


<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>

<ng-template #pure> {{ unitTypeLookup('Pure') | translate }}</ng-template>
<ng-template #time> {{ unitTypeLookup('Time') | translate }}</ng-template>
<ng-template #distance> {{ unitTypeLookup('Distance') | translate }}</ng-template>
<ng-template #count> {{ unitTypeLookup('Count') | translate }}</ng-template>
<ng-template #mass> {{ unitTypeLookup('Mass') | translate }}</ng-template>
<ng-template #volume> {{ unitTypeLookup('Volume') | translate }}</ng-template>
<ng-template #money> {{ unitTypeLookup('Money') | translate }}</ng-template>




