@page "/terms-of-service"
@inject IHtmlLocalizer<Strings> Localizer
@model TermsOfServiceModel
@{
    ViewData["Title"] = Localizer["TermsOfService"];
    ViewData["MaxWidth"] = "600px";
}
<div class="border2 p-3 pt-4" style="overflow-y:auto; max-height:500px;text-align:left;direction:ltr">
    <style>
        body {
            font-size: 14px;
            font-family: sans-serif;
            line-height: 1.2;
            padding: 2rem;
        }

        .part ol ol.sections {
            font-size: 1.3rem;
            font-weight: bold;
        }

        li.section {
            font-size: 1.1rem;
            font-weight: bold;
        }

        ol.units {
            font-size: 1rem;
            font-weight: normal;
        }

        h1 {
            font-size: 2rem;
            font-weight: bold;
            margin: 0 0 3rem 0;
        }

        li.partTitle h2 {
            font-size: 1.3rem;
            font-weight: bold;
            margin: 0;
        }

        ol.sections li.sectionTitle h3 {
            font-size: 1.1rem;
            font-weight: bold;
            margin: 0;
        }

        .part ol {
            counter-reset: sectioncounter partcounter;
            margin: 0px;
            padding: 0px;
        }

        ol.sections {
            counter-reset: sectioncounter;
            margin: 0px;
            padding: 0px;
        }

            ol.sections li {
                list-style: none;
                margin-left: 2rem;
                position: relative;
            }

        ol.units {
            counter-reset: unitcounter;
            margin: 0 0 2rem 0;
        }

        ol.sections li.partTitle {
            list-style: none;
            counter-increment: none;
            counter-reset: numberedpart;
            margin-left: 0;
        }

        ol.sections li.sectionTitle {
            list-style: none;
            counter-increment: none;
            counter-reset: numberedsection;
            margin-left: 0;
        }

        ol.sections li.unnumberedunit {
            margin-left: 0;
        }

        .sections li:before {
            position: absolute;
            left: -2rem;
        }

        .sections li.numberedpart:before {
            content: counter(partcounter, DECIMAL) ". ";
            counter-increment: partcounter;
        }

        .sections li.numberedsection:before {
            content: counter(sectioncounter, DECIMAL) ". ";
            counter-increment: sectioncounter;
        }

        .units li.numberedunit:before {
            content: counter(sectioncounter, DECIMAL) "."counter(unitcounter, DECIMAL) " ";
            counter-increment: unitcounter;
        }

        .unnumberedsection .units li.numberedunit:before {
            content: counter(unitcounter, DECIMAL) " ";
            counter-increment: unitcounter;
        }

        ol.sections li.definitionli {
            margin-left: 0;
        }

        li.unit ol,
        li.unit ol ol ol {
            counter-reset: loweralpha;
        }

            li.unit ol:not(.unnumbered) li:before,
            li.unit ol ol ol:not(.unnumbered) li:before {
                content: "("counter(loweralpha, lower-alpha) ") ";
                counter-increment: loweralpha;
            }

            li.unit ol ol,
            li.unit ol ol ol ol {
                counter-reset: lowerroman;
            }

                li.unit ol ol:not(.unnumbered) li:before,
                li.unit ol ol ol ol:not(.unnumbered) li:before {
                    content: "("counter(lowerroman, lower-roman) ") ";
                    counter-increment: lowerroman;
                }

                li.unit ol.unnumbered ol li:before,
                li.unit ol ol ol.unnumbered ol li:before {
                    content: "("counter(lowerroman, lower-alpha) ") ";
                    counter-increment: lowerroman;
                }

        .part dfn {
            font-weight: bold;
        }
    </style>

    <h1>Terms and conditions of use</h1>
    <section class="part unnumberedpart">
        <ol class="sections">
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Introduction</h3>
                    </li>
                    <li class="unit numberedunit">These terms and conditions shall govern your use of our website.</li>
                    <li class="unit numberedunit">
                        By using our website, you accept these terms and conditions in full;
                        accordingly, if you disagree with these terms and conditions or any part of these terms and
                        conditions, you must not use our website.
                    </li>
                    <li class="unit numberedunit">
                        Our website uses cookies; by using our website or agreeing to these
                        terms and conditions, you consent to our use of cookies in accordance with the terms of our
                        privacy policy.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Credit</h3>
                    </li>
                    <li class="unit numberedunit">
                        This document was created using a template from Docular (<a href="https://docular.net">https://docular.net</a>).
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Copyright notice</h3>
                    </li>
                    <li class="unit numberedunit">Copyright (c) 2000 Banan Information Technologies, Ltd.</li>
                    <li class="unit numberedunit">
                        Subject to the express provisions of these terms and conditions:<ol class="listitem  ">
                            <li>
                                we, together with our licensors, own and control all the copyright and other
                                intellectual property rights in our website and the material on our website; and
                            </li>
                            <li>
                                all the copyright and other intellectual property rights in our website and the material
                                on our website are reserved.
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Licence to use website</h3>
                    </li>
                    <li class="unit numberedunit">
                        You may:<ol class="listitem  ">
                            <li>view pages from our website in a web browser;</li>
                            <li>download pages from our website for caching in a web browser;</li>
                            <li>print pages from our website; and</li>
                            <li>use our website services by means of a web browser,</li>
                        </ol>subject to the other provisions of these terms and conditions.
                    </li>
                    <li class="unit numberedunit">
                        You may only use our website for your own personal and business
                        purposes, and you must not use our website for any other purposes.
                    </li>
                    <li class="unit numberedunit">
                        Except as expressly permitted by these terms and conditions, you must
                        not edit or otherwise modify any material on our website.
                    </li>
                    <li class="unit numberedunit">
                        Unless you own or control the relevant rights in the material, you
                        must not:<ol class="listitem  ">
                            <li>republish material from our website (including republication on another website);</li>
                            <li>sell, rent or sub-license material from our website;</li>
                            <li>show any material from our website in public;</li>
                            <li>exploit material from our website for a commercial purpose; or</li>
                            <li>redistribute material from our website.</li>
                        </ol>
                    </li>
                    <li class="unit numberedunit">
                        Notwithstanding Section 4.4, you may redistribute our newsletter in
                        print and electronic form to any person.
                    </li>
                    <li class="unit numberedunit">
                        We reserve the right to restrict access to areas of our website, or
                        indeed our whole website, at our discretion; you must not circumvent or bypass, or attempt to
                        circumvent or bypass, any access restriction measures on our website.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Acceptable use</h3>
                    </li>
                    <li class="unit numberedunit">
                        You must not:<ol class="listitem  ">
                            <li>
                                use our website in any way or take any action that causes, or may cause, damage to the
                                website or impairment of the performance, availability or accessibility of the website;
                            </li>
                            <li>
                                use our website in any way that is unlawful, illegal, fraudulent or harmful, or in
                                connection with any unlawful, illegal, fraudulent or harmful purpose or activity;
                            </li>
                            <li>
                                use our website to copy, store, host, transmit, send, use, publish or distribute any
                                material which consists of (or is linked to) any spyware, computer virus, Trojan horse,
                                worm, keystroke logger, rootkit or other malicious computer software;
                            </li>
                            <li>
                                conduct any systematic or automated data collection activities (including without
                                limitation scraping, data mining, data extraction and data harvesting) on or in relation
                                to our website without our express written consent;
                            </li>
                            <li>
                                access or otherwise interact with our website using any robot, spider or other automated
                                means, except for the purpose of search engine indexing;
                            </li>
                            <li>violate the directives set out in the robots.txt file for our website; or</li>
                            <li>
                                use data collected from our website for any direct marketing activity (including without
                                limitation email marketing, SMS marketing, telemarketing and direct mailing).
                            </li>
                        </ol>
                    </li>
                    <li class="unit numberedunit">
                        You must not use data collected from our website to contact
                        individuals, companies or other persons or entities.
                    </li>
                    <li class="unit numberedunit">
                        You must ensure that all the information you supply to us through our
                        website, or in relation to our website, is true, accurate, current, complete and non-misleading.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Registration and accounts</h3>
                    </li>
                    <li class="unit numberedunit">
                        You may register for an account with our website by completing and
                        submitting the account registration form on our website, and clicking on the verification link
                        in the email that the website will send to you.
                    </li>
                    <li class="unit numberedunit">
                        You must not allow any other person to use your account to access the
                        website.
                    </li>
                    <li class="unit numberedunit">
                        You must notify us in writing immediately if you become aware of any
                        unauthorised use of your account.
                    </li>
                    <li class="unit numberedunit">
                        You must not use any other person's account to access the website.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>User login details</h3>
                    </li>
                    <li class="unit numberedunit">
                        If you register for an account with our website, you will be asked to
                        choose a user ID and a password.
                    </li>
                    <li class="unit numberedunit">
                        Your user ID must not be liable to mislead and must comply with the
                        content rules set out in Section 10; you must not use your account or user ID for or in
                        connection with the impersonation of any person.
                    </li>
                    <li class="unit numberedunit">You must keep your password confidential.</li>
                    <li class="unit numberedunit">
                        You must notify us in writing immediately if you become aware of any
                        disclosure of your password.
                    </li>
                    <li class="unit numberedunit">
                        You are responsible for any activity on our website arising out of any
                        failure to keep your password confidential, and may be held liable for any losses arising out of
                        such a failure.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Cancellation and suspension of account</h3>
                    </li>
                    <li class="unit numberedunit">
                        We may:<ol class="listitem  ">
                            <li class="">cancel your account; and/or</li>
                            <li class="">edit your account details,</li>
                        </ol>at any time in our sole discretion without notice or explanation.
                    </li>
                    <li class="unit numberedunit">
                        You may cancel your account on our website using the "my account"
                        portal on the website.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Your content: licence</h3>
                    </li>
                    <li class="unit numberedunit">
                        In these terms and conditions, "your content" means all works and
                        materials (including without limitation text, graphics, images, audio material, video material,
                        audio-visual material, scripts, software and files) that you submit to us or our website for
                        storage or publication on, processing by, or transmission via, our website.
                    </li>
                    <li class="unit numberedunit">
                        You grant to us a worldwide, irrevocable, non-exclusive, royalty-free
                        licence to reproduce, store and, with your specific consent, publish your content on and in
                        relation to this website.
                    </li>
                    <li class="unit numberedunit">
                        You grant to us the right to sub-license the rights licensed under
                        Section 9.2.
                    </li>
                    <li class="unit numberedunit">
                        You grant to us the right to bring an action for infringement of the
                        rights licensed under Section 9.2.
                    </li>
                    <li class="unit numberedunit">
                        You hereby waive all your moral rights in your content to the maximum
                        extent permitted by applicable law; and you warrant and represent that all other moral rights in
                        your content have been waived to the maximum extent permitted by applicable law.
                    </li>
                    <li class="unit numberedunit">
                        You may edit your content to the extent permitted using the editing
                        functionality made available on our website.
                    </li>
                    <li class="unit numberedunit">
                        Without prejudice to our other rights under these terms and
                        conditions, if you breach any provision of these terms and conditions in any way, or if we
                        reasonably suspect that you have breached these terms and conditions in any way, we may delete,
                        unpublish or edit any or all of your content.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Your content: rules</h3>
                    </li>
                    <li class="unit numberedunit">
                        You warrant and represent that your content will comply with these
                        terms and conditions.
                    </li>
                    <li class="unit numberedunit">
                        Your content must not be illegal or unlawful, must not infringe any
                        person's legal rights, and must not be capable of giving rise to legal action against any person
                        (in each case in any jurisdiction and under any applicable law).
                    </li>
                    <li class="unit numberedunit">
                        Your content, and the use of your content by us in accordance with
                        these terms and conditions, must not:<ol class="listitem  ">
                            <li>be libellous or maliciously false;</li>
                            <li>be obscene or indecent;</li>
                            <li>
                                infringe any copyright, moral right, database right, trade mark right, design right,
                                right in passing off, or other intellectual property right;
                            </li>
                            <li>
                                infringe any right of confidence, right of privacy or right under data protection
                                legislation;
                            </li>
                            <li>constitute negligent advice or contain any negligent statement;</li>
                            <li>
                                constitute an incitement to commit a crime, instructions for the commission of a crime
                                or the promotion of criminal activity;
                            </li>
                            <li>be in contempt of any court, or in breach of any court order;</li>
                            <li>be in breach of racial or religious hatred or discrimination legislation;</li>
                            <li>be blasphemous;</li>
                            <li>be in breach of official secrets legislation;</li>
                            <li>be in breach of any contractual obligation owed to any person;</li>
                            <li>depict violence in an explicit, graphic or gratuitous manner;</li>
                            <li class="">be pornographic, lewd, suggestive or sexually explicit;</li>
                            <li>be untrue, false, inaccurate or misleading;</li>
                            <li>
                                consist of or contain any instructions, advice or other information which may be acted
                                upon and could, if acted upon, cause illness, injury or death, or any other loss or
                                damage;
                            </li>
                            <li>constitute spam;</li>
                            <li>
                                be offensive, deceptive, fraudulent, threatening, abusive, harassing, anti-social,
                                menacing, hateful, discriminatory or inflammatory; or
                            </li>
                            <li>cause annoyance, inconvenience or needless anxiety to any person.</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Limited warranties</h3>
                    </li>
                    <li class="unit numberedunit">
                        We do not warrant or represent:<ol class="listitem  ">
                            <li>the completeness or accuracy of the information published on our website;</li>
                            <li>that the material on the website is up to date; or</li>
                            <li>that the website or any service on the website will remain available.</li>
                        </ol>
                    </li>
                    <li class="unit numberedunit">
                        We reserve the right to discontinue or alter any or all of our website
                        services, and to stop publishing our website, at any time in our sole discretion without notice
                        or explanation; and save to the extent expressly provided otherwise in these terms and
                        conditions, you will not be entitled to any compensation or other payment upon the
                        discontinuance or alteration of any website services, or if we stop publishing the website.
                    </li>
                    <li class="unit numberedunit">
                        To the maximum extent permitted by applicable law and subject to
                        Section 12.1, we exclude all representations and warranties relating to the subject matter of
                        these terms and conditions, our website and the use of our website.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Limitations and exclusions of liability</h3>
                    </li>
                    <li class="unit numberedunit">
                        Nothing in these terms and conditions will:<ol class="listitem  ">
                            <li>
                                limit or exclude any liability for death or personal injury resulting from negligence;
                            </li>
                            <li>limit or exclude any liability for fraud or fraudulent misrepresentation;</li>
                            <li>limit any liabilities in any way that is not permitted under applicable law; or</li>
                            <li>exclude any liabilities that may not be excluded under applicable law.</li>
                        </ol>
                    </li>
                    <li class="unit numberedunit">
                        The limitations and exclusions of liability set out in this Section 12
                        and elsewhere in these terms and conditions: <ol class="listitem  ">
                            <li>are subject to Section 12.1; and</li>
                            <li>
                                govern all liabilities arising under these terms and conditions or relating to the
                                subject matter of these terms and conditions, including liabilities arising in contract,
                                in tort (including negligence) and for breach of statutory duty, except to the extent
                                expressly provided otherwise in these terms and conditions.
                            </li>
                        </ol>
                    </li>
                    <li class="unit numberedunit">
                        To the extent that our website and the information and services on our
                        website are provided free of charge, we will not be liable for any loss or damage of any nature.
                    </li>
                    <li class="unit numberedunit">
                        We will not be liable to you in respect of any losses arising out of
                        any event or events beyond our reasonable control.
                    </li>
                    <li class="unit numberedunit">
                        We will not be liable to you in respect of any business losses,
                        including (without limitation) loss of or damage to profits, income, revenue, use, production,
                        anticipated savings, business, contracts, commercial opportunities or goodwill.
                    </li>
                    <li class="unit numberedunit">
                        We will not be liable to you in respect of any loss or corruption of
                        any data, database or software.
                    </li>
                    <li class="unit numberedunit">
                        We will not be liable to you in respect of any special, indirect or
                        consequential loss or damage.
                    </li>
                    <li class="unit numberedunit">
                        You accept that we have an interest in limiting the personal liability
                        of our officers and employees and, having regard to that interest, you acknowledge that we are a
                        limited liability entity; you agree that you will not bring any claim personally against our
                        officers or employees in respect of any losses you suffer in connection with the website or
                        these terms and conditions (this will not, of course, limit or exclude the liability of the
                        limited liability entity itself for the acts and omissions of our officers and employees).
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Breaches of these terms and conditions</h3>
                    </li>
                    <li class="unit numberedunit">
                        Without prejudice to our other rights under these terms and
                        conditions, if you breach these terms and conditions in any way, or if we reasonably suspect
                        that you have breached these terms and conditions in any way, we may: <ol class="listitem  ">
                            <li>send you one or more formal warnings;</li>
                            <li>temporarily suspend your access to our website;</li>
                            <li>permanently prohibit you from accessing our website;</li>
                            <li>block computers using your IP address from accessing our website;</li>
                            <li>
                                contact any or all of your internet service providers and request that they block your
                                access to our website;
                            </li>
                            <li>
                                commence legal action against you, whether for breach of contract or otherwise; and/or
                            </li>
                            <li>suspend or delete your account on our website.</li>
                        </ol>
                    </li>
                    <li class="unit numberedunit">
                        Where we suspend or prohibit or block your access to our website or a
                        part of our website, you must not take any action to circumvent such suspension or prohibition
                        or blocking (including without limitation creating and/or using a different account).
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Variation</h3>
                    </li>
                    <li class="unit numberedunit">We may revise these terms and conditions from time to time.</li>
                    <li class="unit numberedunit">
                        We will give you written notice of any revision of these terms and
                        conditions, and the revised terms and conditions will apply to the use of our website from the
                        date that we give you such notice; if you do not agree to the revised terms and conditions, you
                        must stop using our website.
                    </li>
                    <li class="unit numberedunit">
                        If you have given your express agreement to these terms and
                        conditions, we will ask for your express agreement to any revision of these terms and
                        conditions; and if you do not give your express agreement to the revised terms and conditions
                        within such period as we may specify, we will disable or delete your account on the website, and
                        you must stop using the website.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Assignment</h3>
                    </li>
                    <li class="unit numberedunit">
                        You hereby agree that we may assign, transfer, sub-contract or
                        otherwise deal with our rights and/or obligations under these terms and conditions.
                    </li>
                    <li class="unit numberedunit">
                        You may not without our prior written consent assign, transfer,
                        sub-contract or otherwise deal with any of your rights and/or obligations under these terms and
                        conditions.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Severability</h3>
                    </li>
                    <li class="unit numberedunit">
                        If a provision of these terms and conditions is determined by any
                        court or other competent authority to be unlawful and/or unenforceable, the other provisions
                        will continue in effect.
                    </li>
                    <li class="unit numberedunit">
                        If any unlawful and/or unenforceable provision of these terms and
                        conditions would be lawful or enforceable if part of it were deleted, that part will be deemed
                        to be deleted, and the rest of the provision will continue in effect.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Third party rights</h3>
                    </li>
                    <li class="unit numberedunit">
                        A contract under these terms and conditions is for our benefit and
                        your benefit, and is not intended to benefit or be enforceable by any third party.
                    </li>
                    <li class="unit numberedunit">
                        The exercise of the parties' rights under a contract under these terms
                        and conditions is not subject to the consent of any third party.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Entire agreement</h3>
                    </li>
                    <li class="unit numberedunit">
                        Subject to Section 12.1, these terms and conditions, together with our
                        privacy policy, shall constitute the entire agreement between you and us in relation to your use
                        of our website and shall supersede all previous agreements between you and us in relation to
                        your use of our website.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Law and jurisdiction</h3>
                    </li>
                    <li class="unit numberedunit">
                        These terms and conditions shall be governed by and construed in
                        accordance with English law.
                    </li>
                    <li class="unit numberedunit">
                        Any disputes relating to these terms and conditions shall be subject
                        to the non-exclusive jurisdiction of the courts of England.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Statutory and regulatory disclosures</h3>
                    </li>
                    <li class="unit numberedunit">
                        We are registered in The Registrar of Companies for England and Wales;
                        you can find the online version of the register at <a href="https://beta.companieshouse.gov.uk/company/11552287">https://beta.companieshouse.gov.uk/company/11552287</a>,
                        and our registration number is 11552287.
                    </li>
                </ol>
            </li>
            <li class="section numberedsection">
                <ol class="units">
                    <li class="sectionTitle">
                        <h3>Our details</h3>
                    </li>
                    <li class="unit numberedunit">
                        This website is owned and operated by Tellma, Ltd.,
                        Ltd.
                    </li>
                    <li class="unit numberedunit">
                        We are registered in England and Wales under registration number
                        11552287, and our registered office is at 71-75 Shelton Street, London, Greater London, WC2H
                        9JQ, UNITED KINGDOM.
                    </li>
                    <li class="unit numberedunit">
                        You can contact us:<ol class="listitem  ">
                            <li>by post, using the postal address given above;</li>
                            <li>by telephone, on the contact number published on our website from time to time; or</li>
                            <li>by email, using the email address published on our website from time to time.</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </section>
</div>
