<t-details *ngIf="found;else pageNotFound" collection="Agent" [definition]="definitionId" [createFunc]="create"
  [cloneFunc]="clone" [expand]="expand" [mode]="mode" [additionalSelect]="additionalSelect" [idString]="idString"
  [masterCrumb]=masterCrumb [detailsCrumb]="detailsCrumb" [documentTemplate]="document" [actions]="[
            { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
            { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
           ]">

</t-details>

<!-- If definitionId is invalid -->
<ng-template #pageNotFound>
  <t-application-page-not-found>
  </t-application-page-not-found>
</ng-template>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>

<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

  <!-- Header Name -->
  <t-form-group class="col-12 col-md-8 mb-2 mb-sm-4 t-h2"
    [serverErrors]="getMultilingualValue(model?.serverErrors, 'Name', ws)">
    <h2 class="font-weight-normal" *ngIf="!isEdit">{{ getMultilingualValue(model, 'Name', ws) }}</h2>

    <t-text-editor *ngIf="isEdit && ws.isPrimaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.primaryPostfix + '...'" required>
    </t-text-editor>

    <t-text-editor *ngIf="isEdit && ws.isSecondaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name2"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.secondaryPostfix + '...'">
    </t-text-editor>

    <t-text-editor *ngIf="isEdit && ws.isTernaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name3"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.ternaryPostfix + '...'">
    </t-text-editor>
  </t-form-group>

  <!-- Image -->
  <div class="col-12 col-md-4 t-details-image-container">
    <t-restricted [metadata]="model?.EntityMetadata?.ImageId">
      <div class="border">
        <t-image *ngIf="!!model" [src]="model.Id ? 'agents/' + definitionId + '/' + model.Id + '/image' : null"
          [imageId]="model?.ImageId" [(ngModel)]="model.Image" [isEdit]="isEdit" icon="camera"></t-image>
      </div>
    </t-restricted>
  </div>

  <!-- Name -->
  <t-form-group class="t-form-group" *ngIf="!ws.isPrimaryLanguage" [label]="('Name' | translate) + ws.primaryPostfix"
    [serverErrors]="model?.serverErrors?.Name">
    <div *ngIf="!isEdit">{{ model?.Name }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
    </t-text-editor>
  </t-form-group>

  <!-- Name2 -->
  <t-form-group class="t-form-group" *ngIf="!ws.isSecondaryLanguage && ws.settings.SecondaryLanguageId"
    [label]="('Name' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Name2">
    <div *ngIf="!isEdit">{{ model?.Name2 }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
  </t-form-group>

  <!-- Name3 -->
  <t-form-group class="t-form-group" *ngIf="!ws.isTernaryLanguage && ws.settings.TernaryLanguageId"
    [label]="('Name' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Name3">
    <div *ngIf="!isEdit">{{ model?.Name3 }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name3" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
  </t-form-group>

  <!-- Code -->
  <t-form-group class="t-form-group" [label]="'Code' | translate" [serverErrors]="model?.serverErrors?.Code">
    <div *ngIf="!isEdit">{{ model?.Code }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Code" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
  </t-form-group>

  <!-- Tax Identification Number -->
  <t-form-group class="t-form-group" *ngIf="TaxIdentificationNumber_isVisible"
    [label]="'Agent_TaxIdentificationNumber' | translate" [serverErrors]="model?.serverErrors?.TaxIdentificationNumber">
    <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.TaxIdentificationNumber">
      <div>{{ model?.TaxIdentificationNumber }}</div>
    </t-restricted>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.TaxIdentificationNumber" [ngModelOptions]="{ updateOn: 'blur' }"
      [required]="TaxIdentificationNumber_isRequired">
    </t-text-editor>
  </t-form-group>

  <!-- Start Date -->
  <t-form-group class="t-form-group" *ngIf="StartDate_isVisible" [label]="StartDate_label"
    [serverErrors]="model?.serverErrors?.StartDate">
    <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.StartDate">
      <div>{{ model?.AvailableSince | date:'yyyy-MM-dd' }}</div>
    </t-restricted>
    <t-date-picker *ngIf="isEdit" [(ngModel)]="model.StartDate" [ngModelOptions]="{ updateOn: 'blur' }"
      [required]="StartDate_isRequired">
    </t-date-picker>
  </t-form-group>

  <!-- Bank Account Number -->
  <t-form-group class="t-form-group" *ngIf="BankAccountNumber_isVisible" [label]="'Agent_BankAccountNumber' | translate"
    [serverErrors]="model?.serverErrors?.BankAccountNumber">
    <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.BankAccountNumber">
      <div>{{ model?.BankAccountNumber }}</div>
    </t-restricted>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.BankAccountNumber" [ngModelOptions]="{ updateOn: 'blur' }"
      [required]="BankAccountNumber_isRequired">
    </t-text-editor>
  </t-form-group>

  <!-- User -->
  <t-form-group class="t-form-group" [label]="'Agent_User' | translate" [serverErrors]="model?.serverErrors?.UserId">
    <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.User">
      <t-view-link *ngIf="!isEdit" link="../../../users" [itemId]="model?.UserId">
        <t-auto-cell collection="Agent" [definition]="definitionId" [entity]="model" path="User">
        </t-auto-cell>
      </t-view-link>
    </t-restricted>
    <t-users-picker *ngIf="isEdit" [(ngModel)]="model.UserId">
    </t-users-picker>
  </t-form-group>

  <!-- Is Related -->
  <t-form-group class="t-form-group" [label]="'Agent_IsRelated' | translate"
    [serverErrors]="model?.serverErrors?.IsRelated">
    <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.IsRelated">
      {{ (model?.IsRelated ? 'Yes' : 'No') | translate }}
    </t-restricted>
    <div *ngIf="isEdit" class="custom-control custom-checkbox t-labelless-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="model.IsRelated" id="isRelated">
      <label class="custom-control-label t-pointer" for="isRelated">&zwnj;</label>
    </div>
  </t-form-group>

  <!-- Is Active -->
  <t-form-group class="t-form-group" [label]="'IsActive' | translate" *ngIf="!isEdit">
    <div>{{ (!model ? '' : model.IsActive ? 'Active' : 'Inactive') | translate }}</div>
  </t-form-group>

  <!-- Tabs -->
  <ng-container *ngIf="Tabs_isVisible">
    <ul ngbNav #tabs="ngbNav" class="pt-3 pt-sm-4 w-100 nav-tabs" [destroyOnHide]="true">

      <!-- Rates -->
      <li ngbNavItem="rates" *ngIf="Rates_isVisible">
        <a ngbNavLink>
          <span
            class="small t-slightly-bold">{{ Rates_label + (!model.Id || model?.EntityMetadata?.Rates === 2 ? ' (' + (Rates_count(model) | number) + ')' : '') }}</span>
          <span *ngIf="Rates_showError(model)" class="text-danger">&nbsp;<fa-icon icon="exclamation-triangle">
            </fa-icon>
          </span>
        </a>
        <ng-template ngbNavContent>
          <t-restricted [metadata]="model?.EntityMetadata?.Rates" [class.p-4]="model?.EntityMetadata?.Rates === 1">
            <t-table [dataSource]="model?.Rates" [isEdit]="isEdit"
              [columnPaths]="['Resource', 'Unit', 'Rate', 'Currency']" [columnTemplates]="{
                'Resource' : { headerTemplate : header_Resource, rowTemplate : row_Resource, weight : 2 },
                'Unit' : { headerTemplate : header_Unit, rowTemplate : row_Unit, weight : 1 },
                'Rate' : { headerTemplate : header_Rate, rowTemplate : row_Rate, weight : 1 },
                'Currency' : { headerTemplate : header_Currency, rowTemplate : row_Currency, weight : 1 }
              }">
            </t-table>
          </t-restricted>

          <!-- Resource -->
          <ng-template #header_Resource>{{ 'AgentRate_Resource' | translate }}</ng-template>
          <ng-template #row_Resource let-item="item" let-index="index" let-update="update">
            <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.ResourceId">
              <div *ngIf="!isEdit">
                {{ ws.getMultilingualValue('Resource', item.ResourceId, 'Name') }}
              </div>
              <t-resources-picker *ngIf="isEdit" [(ngModel)]="item.ResourceId"
                (ngModelChange)="update.call(null, item);">
              </t-resources-picker>
            </t-form-group-cell>
          </ng-template>

          <!-- Unit -->
          <ng-template #header_Unit>{{ 'AgentRate_Unit' | translate }}</ng-template>
          <ng-template #row_Unit let-item="item" let-index="index" let-update="update">
            <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.UnitId">
              <div *ngIf="!isEdit">
                {{ ws.getMultilingualValue('Unit', item.UnitId, 'Name') }}
              </div>
              <t-units-picker *ngIf="isEdit" [(ngModel)]="item.UnitId"
                (ngModelChange)="update.call(null, item);">
              </t-units-picker>
            </t-form-group-cell>
          </ng-template>

          <!-- Rate -->
          <ng-template #header_Rate>{{ 'AgentRate_Rate' | translate }}</ng-template>
          <ng-template #row_Rate let-item="item" let-index="index" let-update="update">
            <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Rate">
              <div *ngIf="!isEdit">{{ item.Rate | number:Rate_format(item) }}</div>
              <t-decimal-editor *ngIf="isEdit" [(ngModel)]="item.Rate" (ngModelChange)="update.call(null, item)"
                [ngModelOptions]="{ updateOn: 'blur' }" [minDecimalPlaces]="Rate_minDecimalPlaces(item)"
                [maxDecimalPlaces]="Rate_maxDecimalPlaces(item)">
              </t-decimal-editor>
            </t-form-group-cell>
          </ng-template>


          <!-- Currency -->
          <ng-template #header_Currency>{{ 'AgentRate_Currency' | translate }}</ng-template>
          <ng-template #row_Currency let-item="item" let-index="index" let-update="update">
            <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.CurrencyId">
              <div *ngIf="!isEdit">
                {{ ws.getMultilingualValue('Currency', item.CurrencyId, 'Name') }}
              </div>
              <t-currencies-picker *ngIf="isEdit" [(ngModel)]="item.CurrencyId"
                (ngModelChange)="update.call(null, item);" additionalSelect="E">
              </t-currencies-picker>
            </t-form-group-cell>
          </ng-template>

        </ng-template>
      </li>
    </ul>
    <div class="w-100" [ngbNavOutlet]="tabs"></div>
  </ng-container>
</ng-template>

<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>