<div class="h-100 d-flex flex-column">
  <div class="row  border-bottom">

    <!-- Breadcrumb -->
    <div class="col-12 p-1">
      <ul class="breadcrumb bg-white mb-0">
        <li class="breadcrumb-item">
          <a class="text-primary" [routerLink]="['..']">
            {{ title }}
          </a>
        </li>
        <li class="breadcrumb-item active">
          {{ 'ImportAFile' | translate }}
        </li>
      </ul>
    </div>

    <!-- Toolbar -->
    <div class="col-12 p-1 d-flex justify-content-between b-toolbar">

      <!-- Left Buttons -->
      <div>
        
        <!-- Cancel -->
        <button type="button" class="btn btn-light btn-sm text-primary b-white-button b-toolbar-button" (click)="onCancel()">
          <fa-icon icon="times"></fa-icon>
          <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Cancel' | translate }}</span>
        </button>
      </div>

      <!-- Right Buttons -->
      <div>

      </div>
    </div>
  </div>


  <!-- The search results -->
  <div class="row b-rest-of-screen bg-light">
    <div class="w-100 p-2">

      <div class=" p-3 border b-paper bg-white mb-3 mt-2 align-items-center" style="max-width: 600px">

        <!-- Step 1 -->
        <h3 class="font-weight-light">{{ 'Step1' | translate }}</h3>
        <div class="pb-2">
          {{ 'ImportStep1Instructions' | translate }}
        </div>
        <div class="form-group">
          <label for="mode" class="font-weight-bold small">{{ 'Format' | translate }}</label>
          <select id="model" class="form-control b-input" [(ngModel)]="format">
            <option value="xlsx">{{ formatLookup('xlsx') | translate }}</option>
            <option value="csv">{{ formatLookup('csv') | translate }}</option>
          </select>
        </div>

        <button type="button" class="btn btn-primary w-100 mb-1" (click)="onDownloadTemplate()">
          <fa-icon icon="file-download"></fa-icon>
          &nbsp;{{ 'DownloadTemplate' | translate }}
          <b-spinner class="ml-1" *ngIf="showSpinner" [scale]="1"></b-spinner>
        </button>

        <!-- Error message -->
        <b-error-message *ngIf="showDownloadErrorMessage">
          {{ downloadErrorMessage }}
        </b-error-message>

        <!-- Step 2-->
        <h3 class="font-weight-light mt-4">{{ 'Step2' | translate }}</h3>
        <div class="pb-2">
          {{ 'ImportStep2Instructions' | translate }}
        </div>
        <div class="form-group">
          <label for="mode" class="font-weight-bold small">{{ 'Mode' | translate }}</label>
          <select id="model" class="form-control b-input" [(ngModel)]="mode">
            <option value="Insert">{{ modeLookup('Insert') | translate }}</option>
            <option value="Update">{{ modeLookup('Update') | translate }}</option>
            <option value="Merge">{{ modeLookup('Merge') | translate }}</option>
          </select>
        </div>

        <div class="custom-file mb-1">
          <input type="file" class="custom-file-input" accept=".xlsx" id="import" #input onclick="this.value = null" (change)="onImport(input)">
          <label class="btn btn-primary b-file-input-label" for="customFile">
            <fa-icon icon="upload"></fa-icon>
            &nbsp;{{ 'Import' | translate }}
          </label>
        </div>

        <b-success-message *ngIf="showSuccessMessage">
          {{ 'ImportMergeSuccessMessage' | translate:importResult }}
        </b-success-message>

        <!-- No items found -->
        <b-error-message *ngIf="showImportErrorMessage">
          {{ importErrorMessage }}
        </b-error-message>

      </div>

      <!-- Error report -->
      <div class="w-100 p-2 text-danger">
        <div *ngFor="let error of importValidationErrors">
          {{ error }}
        </div>
      </div>
    </div>
  </div>
</div>

