<t-details collection="LegacyType" [expand]="expand" [mode]="mode" [additionalSelect]="additionalSelect" [showCreateButton]="false" [showEditButton]="false"
  [showDeleteButton]="false" [masterCrumb]="'LegacyTypes' | translate" [detailsCrumb]="detailsCrumb"
  [idString]="idString" [documentTemplate]="document" [actions]="[]">

</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>

<!-- Edit/View Template -->
<ng-template #document let-model="model">

  <!-- Header Name -->
  <t-form-group class="col-12 mb-2 mb-sm-4 t-h2">
    <h2 class="font-weight-normal">{{ getMultilingualValue(model, 'Name', ws) }}</h2>
  </t-form-group>

  <!-- Name -->
  <t-form-group class="t-form-group" *ngIf="!ws.isPrimaryLanguage" [label]="('Name' | translate) + ws.primaryPostfix">
    <div>{{ model?.Name }}</div>
  </t-form-group>

  <!-- Name2 -->
  <t-form-group class="t-form-group" *ngIf="!ws.isSecondaryLanguage && ws.settings.SecondaryLanguageId"
    [label]="('Name' | translate) + ws.secondaryPostfix">
    <div>{{ model?.Name2 }}</div>
  </t-form-group>

  <!-- Name3 -->
  <t-form-group class="t-form-group" *ngIf="!ws.isTernaryLanguage && ws.settings.TernaryLanguageId"
    [label]="('Name' | translate) + ws.ternaryPostfix">
    <div>{{ model?.Name3 }}</div>
  </t-form-group>

  <!-- Description -->
  <t-form-group class="t-form-group" [label]="('Description' | translate) + ws.primaryPostfix">
    <div>{{ model?.Description }}</div>
  </t-form-group>

  <!-- Description2 -->
  <t-form-group class="t-form-group" *ngIf="ws.settings.SecondaryLanguageId"
    [label]="('Description' | translate) + ws.secondaryPostfix">
    <div>{{ model?.Description2 }}</div>
  </t-form-group>

  <!-- Description3 -->
  <t-form-group class="t-form-group" *ngIf="ws.settings.TernaryLanguageId"
    [label]="('Description' | translate) + ws.ternaryPostfix">
    <div>{{ model?.Description3 }}</div>
  </t-form-group>
</ng-template>