// this contains all the SASS that is
// shared between web the mobile projects

$primary: #17a2b8; // Classy cyan
$dark-primary: #008784;
$info: #007bff; // Bright blue


$white: #ffffff;
$whitish: #fafeff;
$primary-disabled: #69c3d1;

$gray-800: #343a40;
$gray-900: #212529;
