@page "/identity/manage/disable-2fa"
@inject IViewLocalizer Localizer
@model Disable2faModel
@{
    ViewData["Title"] = Localizer["DisableTwoFactorAuthentication"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h1>@ViewData["Title"]</h1>
<hr />
<div class="alert alert-warning mt-2" role="alert">
    <p>
        <i class="fas fa-exclamation-triangle"></i>
        <strong>@Localizer["DisableTwoFactorAuthenticationTitle"]</strong>
    </p>
    <p>
        @Localizer["DisableTwoFactorAuthenticationBody"]&nbsp;&nbsp;<a asp-page="./ResetAuthenticator">@Localizer["ClickHereLower"]</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit"><i class="fas fa-exclamation-circle"></i>&nbsp;&nbsp;@Localizer["DisableTwoFactorAuthentication"]</button>
    </form>
</div>
