@page "/identity/manage/generate-recovery-codes"
@inject IHtmlLocalizer<Strings> Localizer
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = Localizer["GenerateTwoFactorAuthenticationRecoveryCodes"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<hr />
<div class="alert alert-warning mt-2" role="alert">
    <p>
        <i class="fas fa-exclamation-triangle"></i>&nbsp;
        <strong>@Localizer["RecoveryCodesWarningTitle"]</strong>
    </p>
    <p>
        @Localizer["RecoveryCodesWarningBody"]
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit"><i class="fas fa-exclamation-circle"></i>&nbsp;&nbsp;@Localizer["GenerateRecoveryCodes"]</button>
    </form>
</div>