@page "/identity/manage/reset-authenticator"
@inject IViewLocalizer Localizer
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = Localizer["ResetAuthenticatorKey"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<hr />
<div class="alert alert-warning  mt-2" role="alert">
    <p>
        <i class="fas fa-exclamation-triangle"></i><strong>&nbsp;&nbsp;@Localizer["ResetAuthenticatorKeyWarningTitle"]</strong>
    </p>
    <p>
        @Localizer["ResetAuthenticatorKeyWarningBody"]
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit"><i class="fas fa-exclamation-circle"></i>&nbsp;&nbsp;@Localizer["ResetAuthenticatorKey"]</button>
    </form>
</div>