<t-details-picker [filter]="filter" [masterTemplate]="master" [detailsTemplate]="showCreate ? details : null"
    collection="Currency" [additionalSelect]="additionalSelect">
</t-details-picker>

<!-- The Details Modal -->
<ng-template #details let-modal="modal" let-update="update" let-initialText="initialText" let-idString="idString">
    <div class="modal-body">
        <t-currencies-details mode="popup" [initialText]="initialText" [idString]="idString"
            (cancel)="modal.close(false);" (saved)="modal.close(true); update.call(null, $event);"
            [additionalSelect]="additionalSelect">
        </t-currencies-details>
    </div>
</ng-template>

<!-- The Master Modal -->
<ng-template #master let-modal="modal" let-update="update" let-create="create" let-filter="filter">
    <div class="modal-body">
        <t-currencies-master mode="popup" (cancel)="modal.close(false);" [filter]="filter"
            (choose)="modal.close(true); update.call(null, $event);" (create)="modal.close(false); create.call()"
            [showCreate]="showCreate" [additionalSelect]="additionalSelect">
        </t-currencies-master>
    </div>
</ng-template>