<t-details-picker [filter]="filter" collection="User" [masterTemplate]="master" (entityLoaded)="onEntityLoaded()"
    [ensureAdditionalSelect]="ensureAdditionalSelect" [theme]="theme" [detailsTemplate]="showCreate ? details : null"
    [additionalSelect]="additionalSelect">
</t-details-picker>

<!-- The Details Modal -->
<ng-template #details let-modal="modal" let-update="update" let-initialText="initialText" let-idString="idString">
    <div class="modal-body">
        <t-users-details mode="popup" [initialText]="initialText" [idString]="idString" (cancel)="modal.close(false);"
            (saved)="modal.close(true); update.call(null, $event);" [showRoles]="showRoles"
            [additionalSelect]="additionalSelect">
        </t-users-details>
    </div>
</ng-template>

<!-- The Master Modal -->
<ng-template #master let-modal="modal" let-update="update" let-create="create" let-filter="filter">
    <div class="modal-body">
        <t-users-master mode="popup" (cancel)="modal.close(false);" [showCreate]="showCreate" [filter]="filter"
            (choose)="modal.close(true); update.call(null, $event); " (create)="modal.close(false); create.call()"
            [additionalSelect]="additionalSelect">
        </t-users-master>
    </div>
</ng-template>