<b-details apiEndpoint="users" viewId="users" [expand]="expand" [idString]="idString"
  collection="User" [createFunc]="create" [cloneFunc]="clone" [mode]="mode" [masterCrumb]="'Users' | translate"
  [detailsCrumb]="detailsCrumb" [documentTemplate]="document" [isInactive]="isInactive"
  [documentHeaderTemplate]="documentHeader" [actions]="[
            { template: activate, action: onActivate, showAction: showActivate, canAction: canAction, actionTooltip: actionTooltip },
            { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canAction, actionTooltip: actionTooltip },
            { template: invite, action: onInvite, showAction: showInvite, canAction: canAction, actionTooltip: actionTooltip }
           ]">

</b-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ model?.Email }}</span>
</ng-template>

<ng-template #documentHeader let-model="model" let-isEdit="isEdit">
  <div class="w-100 b-document-header d-flex justify-content-end" *ngIf="model?.EntityMetadata?.ExternalId === 2">
    <div class="b-flow-chart small">
      <div [class.active]="!model?.ExternalId"><span>{{'User_New' | translate}}</span></div>
      <div [class.active]="!!model?.ExternalId"><span>{{'User_Confirmed' | translate}}</span></div>
    </div>
    <div class="small b-lone-state active d-none">
      <span>{{ (!!model?.ExternalId ? 'User_Confirmed' : 'User_New') | translate }}</span>
    </div>
  </div>
</ng-template>


<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

  <!-- Header Email -->
  <b-form-group class="col-12 col-md-8 mb-2 mb-sm-4 b-h2"
    [serverErrors]="model?.serverErrors?.Email">
    <h2 class="font-weight-normal" *ngIf="!isEdit">{{ model?.Email }}</h2>
    <b-text-editor *ngIf="isEdit" [focusIf]="!model.Id" [(ngModel)]="model.Email" [ngModelOptions]="{ updateOn: 'blur' }"
      [placeholder]="('User_Email' | translate) + ws.primaryPostfix + '...'" required></b-text-editor>
  </b-form-group>

  <div class="col-12 col-md-4 b-details-image-container">
    <div class="border" *ngIf="model?.EntityMetadata?.ImageId === 2">
      <b-image *ngIf="!!model" [src]="model.Id ? 'users/' + model.Id + '/image' : null"
      [imageId]="model?.ImageId" [(ngModel)]="model.Image" [isEdit]="isEdit"></b-image>
    </div>
  </div>

  <!-- Email -->
  <!-- <b-form-group class="b-form-group" [label]="'User_Email' | translate" [serverErrors]="model?.serverErrors?.Email">
    <div *ngIf="!isEdit || !!model.Id">
      <b-restricted [metadata]="model?.EntityMetadata?.Email"> {{ model?.Email }} </b-restricted>
    </div>
    <b-text-editor *ngIf="isEdit && !model.Id" [(ngModel)]="model.Email" [ngModelOptions]="{ updateOn: 'blur' }" email
      required></b-text-editor>
  </b-form-group> -->

  <ng-container *ngIf="ws.settings.SecondaryLanguageId">
    <!-- Name -->
    <!-- <b-form-group class="b-form-group" *ngIf="ws.isSecondaryLanguage" [label]="('Name' | translate) + ws.primaryPostfix"
      [serverErrors]="model?.serverErrors?.Name">
      <div *ngIf="!isEdit">{{ model?.Name }}</div>
      <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
      </b-text-editor>
    </b-form-group> -->

    <!-- Name2 -->
    <!-- <b-form-group class="b-form-group" *ngIf="ws.isPrimaryLanguage" [label]="('Name' | translate) + ws.secondaryPostfix"
      [serverErrors]="model?.serverErrors?.Name2">
      <div *ngIf="!isEdit">{{ model?.Name2 }}</div>
      <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
    </b-form-group> -->
  </ng-container>

  <!-- Agent -->
  <b-form-group class="b-form-group" [label]="'User_Agent' | translate">
    <b-restricted [metadata]="model?.EntityMetadata?.Agent">
      <b-view-link *ngIf="!isEdit" link="../../agents"
        [itemId]="model?.Id">
        {{ ws.getMultilingualValue('Agent', model?.Id, 'Name') }}
      </b-view-link>
    </b-restricted>
    <b-details-picker *ngIf="isEdit" [(ngModel)]="model.Id" apiEndpoint="agents" collection="Agent"
      [masterTemplate]="agentMaster" [detailsTemplate]="agentDetails">
    </b-details-picker>

    <!-- The Agents Details Modal -->
    <ng-template #agentDetails let-modal="modal" let-update="update" let-initialText="initialText">
      <div class="modal-body">
        <b-agents-details mode="popup" idString="new" [initialText]="initialText" (cancel)="modal.close(false);"
          (saved)="modal.close(true); update($event);">
        </b-agents-details>
      </div>
    </ng-template>

    <!-- The Agents Master Modal -->
    <ng-template #agentMaster let-modal="modal" let-update="update" let-create="create">
      <div class="modal-body">
        <b-agents-master mode="popup" (cancel)="modal.close(false);" (select)="modal.close(true); update($event); "
          (create)="modal.close(false); create()">
        </b-agents-master>
      </div>
    </ng-template>
  </b-form-group>

  <!-- Last Activity -->
  <b-form-group class="b-form-group" [label]="'User_LastActivity' | translate" *ngIf="!isEdit">
    <div>
      <b-restricted [metadata]="model?.EntityMetadata?.LastAccess">{{  model?.LastAccess | date:'yyyy-MM-dd h:mm a' }}
      </b-restricted>
    </div>
  </b-form-group>

  <!-- Is Active -->
  <!-- <b-form-group class="b-form-group" [label]="'IsActive' | translate" *ngIf="!isEdit">
    <div>{{ (!model ? '' : model.IsActive ? 'Active' : 'Inactive') | translate }}</div>
  </b-form-group> -->

  <!-- Email Notice -->
  <div class="col-12 alert-primary p-2 px-3 mt-3 mt-sm-4" *ngIf="showInvitationInfo(model)">
    <span>{{ 'UserInvitationNotice' | translate:{ email: model?.Email } }}</span>
  </div>

  <ngb-tabset class="pt-3 pt-sm-4 w-100" [destroyOnHide]="true" *ngIf="showRoles">

    <!-- Roles -->
    <ngb-tab [disabled]="true">
      <ng-template ngbTabTitle><span class="small">{{ 'User_Roles' | translate }}<span
            *ngIf="model?.EntityMetadata?.Roles == 2"> ({{ model?.Roles.length | number
          }})</span></span>
        <span *ngIf="showRolesError(model)" class="text-danger">&nbsp;<fa-icon icon="exclamation-triangle"></fa-icon>
        </span>
      </ng-template>
      <ng-template ngbTabContent>
        <b-restricted [metadata]="model?.EntityMetadata?.Roles" [class.p-4]="model?.EntityMetadata?.Roles !== 2">
          <b-table [dataSource]="model?.Roles" [isEdit]="isEdit" [columnPaths]="['RoleId', 'Memo']" [columnTemplates]="{
            'RoleId' : { headerTemplate : header_RoleId, rowTemplate : row_RoleId, weight : 1 },
            'Memo' : { headerTemplate : header_Memo, rowTemplate : row_Memo, weight : 1 }
          }">
          </b-table>
        </b-restricted>

        <!-- RoleId -->
        <ng-template #header_RoleId>{{ 'RoleMembership_Role' | translate }}</ng-template>
        <ng-template #row_RoleId let-item="item" let-index="originalIndex" let-update="update">
          <b-form-group class="b-form-group" [serverErrors]="item.serverErrors?.RoleId">
            <b-restricted [metadata]="item.EntityMetadata?.Role">
              <b-view-link *ngIf="!isEdit" link="../../roles" [itemId]="item?.RoleId">{{
              ws.getMultilingualValue('Role',
              item.RoleId, 'Name') }}</b-view-link>
            </b-restricted>
            <b-details-picker *ngIf="isEdit" [(ngModel)]="item.RoleId" (ngModelChange)="update(item)"
              apiEndpoint="roles" [detailsOptions]="[{ id: 'roles', name: '- not important -' }]"
              [masterTemplate]="roleMaster" [detailsTemplate]="roleDetails" collection="Role">
            </b-details-picker>

            <!-- The Role Details Modal -->
            <ng-template #roleDetails let-modal="modal" let-update="update" let-initialText="initialText">
              <div class="modal-body">
                <b-roles-details mode="popup" idString="new" [initialText]="initialText" (cancel)="modal.close(false);"
                  (saved)="modal.close(true); update($event);" [showMembers]="false" [showIsPublic]="false">
                </b-roles-details>
              </div>
            </ng-template>

            <!-- The Role Master Modal -->
            <ng-template #roleMaster let-modal="modal" let-update="update" let-create="create">
              <div class="modal-body">
                <b-roles-master mode="popup" (cancel)="modal.close(false);"
                  (select)="modal.close(true); update($event);" (create)="modal.close(false); create()">
                </b-roles-master>
              </div>
            </ng-template>
          </b-form-group>
        </ng-template>

        <!-- Memo -->
        <ng-template #header_Memo>{{ 'Memo' | translate }}</ng-template>
        <ng-template #row_Memo let-item="item" let-index="originalIndex" let-update="update">
          <b-form-group class="b-form-group" [serverErrors]="item.serverErrors?.Memo">
            <div *ngIf="!isEdit">
              <b-restricted [metadata]="item.EntityMetadata?.Memo">{{ item.Memo }}</b-restricted>
            </div>
            <b-text-editor *ngIf="isEdit" [(ngModel)]="item.Memo" (ngModelChange)="update(item)"
              [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
          </b-form-group>
        </ng-template>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</ng-template>

<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>
<ng-template #invite> {{ 'ResendInvitationEmail' | translate }} </ng-template>