<b-master apiEndpoint="ifrs-notes" viewId="ifrs-notes" [expand]="expand" [mode]="mode" [enableTreeView]="true"
  [showCreateButton]="false" [showImportButton]="false" [showDeleteButton]="false"
  [masterCrumb]="'IfrsNotes' | translate" [tileTemplate]="tile" [treeNodeTemplate]="node"
  [tableColumnPaths]="adjustForMultilingual(['Label', 'Label2', 'IfrsType', 'EffectiveDate', 'ExpiryDate', 'IsAggregate', 'ForDebit', 'ForCredit', 'IsActive'], ['Label'], ws)"
  [tableColumnTemplates]="{
            'Label' : { headerTemplate : header_Label, rowTemplate : row_Label, weight : 2 },
            'Label2' : { headerTemplate : header_Label2, rowTemplate : row_Label2, weight : 2 },
            'Id' : { headerTemplate : header_Id, rowTemplate : row_Id, weight : 1 },
            'IfrsType' : { headerTemplate : header_IfrsType, rowTemplate : row_IfrsType, weight : 1 },
            'EffectiveDate' : { headerTemplate : header_EffectiveDate, rowTemplate : row_EffectiveDate, weight : 1 },
            'ExpiryDate' : { headerTemplate : header_ExpiryDate, rowTemplate : row_ExpiryDate, weight : 1 },
            'IsAggregate' : { headerTemplate : header_IsAggregate, rowTemplate : row_IsAggregate, weight : 1 },
            'ForDebit' : { headerTemplate : header_ForDebit, rowTemplate : row_ForDebit, weight : 1 },
            'ForCredit' : { headerTemplate : header_ForCredit, rowTemplate : row_ForCredit, weight : 1 },
            'IsActive' : { headerTemplate : header_IsActive, rowTemplate : row_IsActive, weight : 1 }
          }" [multiselectActions]="[
            { template : activate, action: onActivate, requiresUpdatePermission: true },
            { template : deactivate, action: onDeactivate, requiresUpdatePermission: true }
          ]" [includeInactiveLabel]="'IncludeInactive' | translate" [filterDefinition]="{
            'CreatedBy' : [
              { template: createdByMe, expression: 'CreatedById eq me'}
            ],
            'UnitType' : [
              { template: amendment, expression: 'IfrsType eq \'Amendment\''},
              { template: extension, expression: 'IfrsType eq \'Extension\''},
              { template: regulatory, expression: 'IfrsType eq \'Regulatory\''}
            ]
          }">
</b-master>

<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex justify-content-between">
    <span class="d-block text-truncate">{{ ws.getMultilingualValue('IfrsNote', id, 'Label') }}</span>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <span class="d-block text-truncate">{{ c[id].Id }}</span>
  </div>
</ng-template>

<ng-template #node let-node="node">
  <span class="text-truncate">{{ ws.getMultilingualValue('IfrsNote', node.id, 'Label') }}
    <ng-container *ngIf="c[node.id]?.ChildCount">&nbsp;&nbsp;<span
        class="badge bg-white border">{{ c[node.id]?.ChildCount }}</span></ng-container></span>

  <!-- &nbsp;&nbsp;<span *ngIf="c[node.id]?.ChildCount">({{ c[node.id]?.ChildCount }})</span> -->

</ng-template>


<!-- Table Templates -->
<ng-template #header_Label>{{ ('IfrsConcepts_Label' | translate) + ws.primaryPostfix }}</ng-template>
<ng-template #row_Label let-id="id"> {{ c[id].Label }} </ng-template>

<ng-template #header_Label2>{{ ('IfrsConcepts_Label' | translate) + ws.secondaryPostfix }}</ng-template>
<ng-template #row_Label2 let-id="id"> {{ c[id].Label2 }} </ng-template>

<ng-template #header_Id>{{ 'Code' | translate }}</ng-template>
<ng-template #row_Id let-id="id"> {{ c[id].Id }} </ng-template>

<ng-template #header_IfrsType>{{ 'IfrsConcepts_IfrsType' | translate }}</ng-template>
<ng-template #row_IfrsType let-id="id">
  <b-restricted [metadata]="c[id].EntityMetadata?.IfrsType">{{ ifrsTypeLookup(c[id].IfrsType) | translate }}
  </b-restricted>
</ng-template>

<ng-template #header_EffectiveDate>{{ 'IfrsConcepts_EffectiveDate' | translate }}</ng-template>
<ng-template #row_EffectiveDate let-id="id">
  <b-restricted [metadata]="c[id].EntityMetadata?.EffectiveDate">{{ c[id].EffectiveDate | date:'yyyy-MM-dd' }}
  </b-restricted>
</ng-template>

<ng-template #header_ExpiryDate>{{ 'IfrsConcepts_ExpiryDate' | translate }}</ng-template>
<ng-template #row_ExpiryDate let-id="id">
  <b-restricted [metadata]="c[id].EntityMetadata?.ExpiryDate">{{ c[id].ExpiryDate | date:'yyyy-MM-dd' }} </b-restricted>
</ng-template>

<ng-template #header_IsAggregate>{{ 'IfrsNotes_IsAggregate' | translate }}</ng-template>
<ng-template #row_IsAggregate let-id="id"> {{ (c[id].IsAggregate ? 'Yes' : 'No') | translate }} </ng-template>

<ng-template #header_ForDebit>{{ 'IfrsNotes_ForDebit' | translate }}</ng-template>
<ng-template #row_ForDebit let-id="id"> {{ (c[id].ForDebit ? 'Yes' : 'No') | translate }} </ng-template>

<ng-template #header_ForCredit>{{ 'IfrsNotes_ForCredit' | translate }}</ng-template>
<ng-template #row_ForCredit let-id="id"> {{ (c[id].ForCredit ? 'Yes' : 'No') | translate }} </ng-template>

<ng-template #header_IsActive>{{ 'IsActive' | translate }}</ng-template>
<ng-template #row_IsActive let-id="id"> {{ (c[id].IsActive ? 'Active' : 'Inactive') | translate }} </ng-template>


<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>


<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>

<ng-template #amendment> {{ ifrsTypeLookup('Amendment') | translate }}</ng-template>
<ng-template #extension> {{ ifrsTypeLookup('Extension') | translate }}</ng-template>
<ng-template #regulatory> {{ ifrsTypeLookup('Regulatory') | translate }}</ng-template>