<b-master collection="IfrsNote" [mode]="mode" [enableTreeView]="true"
  [showCreateButton]="false" [showImportButton]="false" [showDeleteButton]="false"
  [masterCrumb]="'IfrsNotes' | translate" [tileTemplate]="tile"
  [tableSummaryColumnTemplate]="summaryColumn" [tableSummaryHeaderTemplate]="summaryHeader"
  selectDefault="IfrsType,EffectiveDate,ExpiryDate,IsAggregate,ForDebit,ForCredit,IsActive"
  [multiselectActions]="[
  { template: activate, action: onActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
  { template: deactivate, action: onDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
]" [includeInactiveLabel]="'IncludeInactive' | translate" [filterDefinition]="{
            'CreatedBy' : [
              { template: createdByMe, expression: 'CreatedById eq me'}
            ],
            'UnitType' : [
              { template: amendment, expression: 'IfrsType eq \'Amendment\''},
              { template: extension, expression: 'IfrsType eq \'Extension\''},
              { template: regulatory, expression: 'IfrsType eq \'Regulatory\''}
            ]
          }">
</b-master>

<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex justify-content-between">
    <span class="d-block text-truncate">{{ ws.getMultilingualValue('IfrsNote', id, 'Label') }}</span>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <span class="d-block text-truncate">{{ c[id].Id }}</span>
  </div>
</ng-template>


<!-- Summary Header -->
<ng-template #summaryHeader let-id="id">
    {{ 'IfrsNote' | translate }}
  </ng-template>

<!-- Summary Column -->
<ng-template #summaryColumn let-id="id">
    <span class="text-truncate">{{ ws.getMultilingualValue('IfrsNote', id, 'Label') }}</span>
</ng-template>

<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>


<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>

<ng-template #amendment> {{ ifrsTypeLookup('Amendment') | translate }}</ng-template>
<ng-template #extension> {{ ifrsTypeLookup('Extension') | translate }}</ng-template>
<ng-template #regulatory> {{ ifrsTypeLookup('Regulatory') | translate }}</ng-template>