<!-- 
  A basic form group, it would typically have a label and content, on wide screens both will appears side by side,
  with the label occupying a fixed minimum width and the content occupying the rest, on narrow screens they will
  appear stacked label above the content, so that both are occupying 100% of the available width, any input in the
  content will be typically have a bottom border which turns teal when focused and turns red when invalid
-->
<div class="d-flex flex-wrap flex-lg-nowrap" [ngbPopover]="invalid ? errorsPopover : null" container="body"
  [placement]="popoverPlacement" triggers="mouseenter:mouseleave">
  <!-- Label -->
  <div class="font-weight-bold small t-form-group-label" *ngIf="showLabel">
    <span class="t-vertical-align-middle" [class.text-danger]="invalid" [title]="label">{{ label }}</span>
  </div>
  <!-- Content -->
  <div class="d-flex form-group-container" [class.w-100]="!showLabel" [class.t-labeled-form-group-content]="showLabel"
    [class.is-invalid]="invalid">
    <ng-content></ng-content>
  </div>
</div>

<ng-template #errorsPopover>
  <div style="width: 250px">
    <p class="m-0 p-0" *ngFor="let error of errors">
      <fa-icon icon="exclamation-triangle" class="text-danger"></fa-icon>
      &nbsp;{{ error() }}
    </p>
  </div>
</ng-template>