@using Microsoft.AspNetCore.Identity
@using BSharp.Services.EmbeddedIdentityServer

@inject SignInManager<EmbeddedIdentityServerUser> SignInManager
@inject UserManager<EmbeddedIdentityServerUser> UserManager
@inject IViewLocalizer Localizer

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
</ul>
