<t-details collection="AccountType" [idString]="idString" [createFunc]="create" [cloneFunc]="clone" [expand]="expand" [mode]="mode"
  [additionalSelect]="additionalSelect" [masterCrumb]="masterCrumb" [detailsCrumb]="detailsCrumb"
  [documentTemplate]="document" [isInactive]="isInactive" [actions]="[
          { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
          { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
         ]">

</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>

<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

  <!-- Header Name -->
  <t-form-group class="col-12 mb-2 mb-sm-4 t-h2" [serverErrors]="getMultilingualValue(model?.serverErrors, 'Name', ws)">
    <h2 class="font-weight-normal" *ngIf="!isEdit">{{ getMultilingualValue(model, 'Name', ws) }}</h2>

    <t-text-editor *ngIf="isEdit && ws.isPrimaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.primaryPostfix + '...'" required>
    </t-text-editor>

    <t-text-editor *ngIf="isEdit && ws.isSecondaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name2"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.secondaryPostfix + '...'">
    </t-text-editor>

    <t-text-editor *ngIf="isEdit && ws.isTernaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name3"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.ternaryPostfix + '...'">
    </t-text-editor>
  </t-form-group>

  <!-- Name -->
  <t-form-group class="t-form-group" *ngIf="!ws.isPrimaryLanguage" [label]="('Name' | translate) + ws.primaryPostfix"
    [serverErrors]="model?.serverErrors?.Name">
    <div *ngIf="!isEdit">{{ model?.Name }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
    </t-text-editor>
  </t-form-group>

  <!-- Name2 -->
  <t-form-group class="t-form-group" *ngIf="!ws.isSecondaryLanguage && ws.settings.SecondaryLanguageId"
    [label]="('Name' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Name2">
    <div *ngIf="!isEdit">{{ model?.Name2 }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
  </t-form-group>

  <!-- Name3 -->
  <t-form-group class="t-form-group" *ngIf="!ws.isTernaryLanguage && ws.settings.TernaryLanguageId"
    [label]="('Name' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Name3">
    <div *ngIf="!isEdit">{{ model?.Name3 }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name3" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
  </t-form-group>

  <!-- Code -->
  <t-form-group class="t-form-group" [label]="'Code' | translate" [serverErrors]="model?.serverErrors?.Code">
    <span *ngIf="!isEdit">{{model?.Code}}</span>
    <t-text-editor *ngIf="isEdit" [disabled]="model.IsSystem" [(ngModel)]="model.Code"
      [ngModelOptions]="{ updateOn: 'blur' }" required>
    </t-text-editor>
  </t-form-group>

  <!-- Concept -->
  <t-form-group class="t-form-group" [label]="'AccountType_Concept' | translate"
    [serverErrors]="model?.serverErrors?.Concept">
    <span *ngIf="!isEdit">{{model?.Concept}}</span>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Concept" [ngModelOptions]="{ updateOn: 'blur' }" required>
    </t-text-editor>
  </t-form-group>

  <!-- Parent -->
  <t-form-group class="t-form-group" [label]="'TreeParent' | translate" [serverErrors]="model?.serverErrors?.ParentId">
    <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.Parent">
      <t-view-link link="../../account-types" [itemId]="model?.ParentId">{{
        ws.getMultilingualValue('AccountType', model?.ParentId, 'Name') }}</t-view-link>
    </t-restricted>
    <t-account-types-picker *ngIf="isEdit" [(ngModel)]="model.ParentId">
    </t-account-types-picker>
  </t-form-group>


  <!-- Entry Type Parent -->
  <t-form-group class="t-form-group" *ngIf="showEntryTypeParent(model)"
    [label]="'AccountType_EntryTypeParent' | translate" [serverErrors]="model?.serverErrors?.EntryTypeParentId">
    <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.EntryTypeParent">
      <t-view-link link="../../entry-types" [itemId]="model?.EntryTypeParentId">{{
        ws.getMultilingualValue('EntryType', model?.EntryTypeParentId, 'Name') }}</t-view-link>
    </t-restricted>
    <t-entry-types-picker *ngIf="isEdit" [(ngModel)]="model.EntryTypeParentId" required>
    </t-entry-types-picker>
  </t-form-group>

  <!-- IsAssignable -->
  <t-form-group class="t-form-group" [label]="'IsAssignable' | translate"
    [serverErrors]="model?.serverErrors?.IsAssignable">
    <div *ngIf="!isEdit">{{ (model?.IsAssignable ? 'Yes' : 'No') | translate }}</div>
    <div *ngIf="isEdit" class="custom-control custom-checkbox t-labelless-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="model.IsAssignable" id="isAssignable">
      <label class="custom-control-label t-pointer" for="isAssignable">&zwnj;</label>
    </div>
  </t-form-group>

  <!-- AllowsPureUnit -->
  <t-form-group class="t-form-group" [label]="'AccountType_AllowsPureUnit' | translate"
    [serverErrors]="model?.serverErrors?.AllowsPureUnit">
    <div *ngIf="!isEdit">{{ (model?.AllowsPureUnit ? 'Yes' : 'No') | translate }}</div>
    <div *ngIf="isEdit" class="custom-control custom-checkbox t-labelless-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="model.AllowsPureUnit" id="allowspureunit">
      <label class="custom-control-label t-pointer" for="allowspureunit">&zwnj;</label>
    </div>
  </t-form-group>

  <!-- IsMonetary -->
  <t-form-group class="t-form-group" [label]="'AccountType_IsMonetary' | translate"
    [serverErrors]="model?.serverErrors?.IsMonetary">
    <div *ngIf="!isEdit">{{ (model?.IsMonetary ? 'Yes' : 'No') | translate }}</div>
    <div *ngIf="isEdit" class="custom-control custom-checkbox t-labelless-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="model.IsMonetary" id="ismonetary">
      <label class="custom-control-label t-pointer" for="ismonetary">&zwnj;</label>
    </div>
  </t-form-group>

  <!-- Is Active -->
  <t-form-group class="t-form-group" [label]="'IsActive' | translate" *ngIf="!isEdit">
    <t-auto-cell collection="AccountType" [entity]="model" path="IsActive"></t-auto-cell>
  </t-form-group>

  <!-- IsSystem -->
  <t-form-group class="t-form-group" [label]="'IsSystem' | translate" *ngIf="!isEdit">
    <div>{{ (!model ? '' : model.IsSystem ? 'Yes' : 'No') | translate }}</div>
  </t-form-group>

  <ul ngbNav #tabs="ngbNav" class="w-100 pt-3 pt-sm-4 nav-tabs" [destroyOnHide]="true">

    <!-- Descriptions -->
    <li ngbNavItem="description">
      <a ngbNavLink>
        <span *ngIf="showDescriptionsError(model)" class="text-danger">
          <fa-icon icon="exclamation-triangle">
          </fa-icon>&nbsp;
        </span>
        <span class="small t-slightly-bold">{{ 'Description' | translate }}</span>
      </a>
      <ng-template ngbNavContent>
        <div class="row m-0 pt-2 pt-sm-3">

          <!-- Description -->
          <t-form-group class="t-form-group" [label]="('Description' | translate) + ws.primaryPostfix"
            [serverErrors]="model?.serverErrors?.Description">
            <div *ngIf="!isEdit">{{ model?.Description }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Description" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- Description2 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.SecondaryLanguageId"
            [label]="('Description' | translate) + ws.secondaryPostfix"
            [serverErrors]="model?.serverErrors?.Description2">
            <div *ngIf="!isEdit">{{ model?.Description2 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Description2" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- Description3 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.TernaryLanguageId"
            [label]="('Description' | translate) + ws.ternaryPostfix"
            [serverErrors]="model?.serverErrors?.Description3">
            <div *ngIf="!isEdit">{{ model?.Description3 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Description3" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>
        </div>
      </ng-template>
    </li>

    <!-- Labels -->
    <li ngbNavItem="labels">
      <a ngbNavLink>
        <span *ngIf="showLabelsError(model)" class="text-danger">
          <fa-icon icon="exclamation-triangle">
          </fa-icon>&nbsp;
        </span>
        <span class="small t-slightly-bold">{{ 'Labels' | translate }}</span>
      </a>
      <ng-template ngbNavContent>
        <div class="row m-0 pt-2 pt-sm-3">

          <!-- Time1Label -->
          <t-form-group class="t-form-group" [label]="('AccountType_Time1Label' | translate) + ws.primaryPostfix"
            [serverErrors]="model?.serverErrors?.Time1Label">
            <div *ngIf="!isEdit">{{ model?.Time1Label }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Time1Label" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- Time1Label2 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.SecondaryLanguageId"
            [label]="('AccountType_Time1Label' | translate) + ws.secondaryPostfix"
            [serverErrors]="model?.serverErrors?.Time1Label2">
            <div *ngIf="!isEdit">{{ model?.Time1Label2 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Time1Label2" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- Time1Label3 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.TernaryLanguageId"
            [label]="('AccountType_Time1Label' | translate) + ws.ternaryPostfix"
            [serverErrors]="model?.serverErrors?.Time1Label3">
            <div *ngIf="!isEdit">{{ model?.Time1Label3 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Time1Label3" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- Time2Label -->
          <t-form-group class="t-form-group" [label]="('AccountType_Time2Label' | translate) + ws.primaryPostfix"
            [serverErrors]="model?.serverErrors?.Time2Label">
            <div *ngIf="!isEdit">{{ model?.Time2Label }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Time2Label" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- Time2Label2 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.SecondaryLanguageId"
            [label]="('AccountType_Time2Label' | translate) + ws.secondaryPostfix"
            [serverErrors]="model?.serverErrors?.Time2Label2">
            <div *ngIf="!isEdit">{{ model?.Time2Label2 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Time2Label2" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- Time2Label3 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.TernaryLanguageId"
            [label]="('AccountType_Time2Label' | translate) + ws.ternaryPostfix"
            [serverErrors]="model?.serverErrors?.Time2Label3">
            <div *ngIf="!isEdit">{{ model?.Time2Label3 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Time2Label3" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- ExternalReferenceLabel -->
          <t-form-group class="t-form-group"
            [label]="('AccountType_ExternalReferenceLabel' | translate) + ws.primaryPostfix"
            [serverErrors]="model?.serverErrors?.ExternalReferenceLabel">
            <div *ngIf="!isEdit">{{ model?.ExternalReferenceLabel }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.ExternalReferenceLabel"
              [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- ExternalReferenceLabel2 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.SecondaryLanguageId"
            [label]="('AccountType_ExternalReferenceLabel' | translate) + ws.secondaryPostfix"
            [serverErrors]="model?.serverErrors?.ExternalReferenceLabel2">
            <div *ngIf="!isEdit">{{ model?.ExternalReferenceLabel2 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.ExternalReferenceLabel2"
              [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- ExternalReferenceLabel3 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.TernaryLanguageId"
            [label]="('AccountType_ExternalReferenceLabel' | translate) + ws.ternaryPostfix"
            [serverErrors]="model?.serverErrors?.ExternalReferenceLabel3">
            <div *ngIf="!isEdit">{{ model?.ExternalReferenceLabel3 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.ExternalReferenceLabel3"
              [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- AdditionalReferenceLabel -->
          <t-form-group class="t-form-group"
            [label]="('AccountType_AdditionalReferenceLabel' | translate) + ws.primaryPostfix"
            [serverErrors]="model?.serverErrors?.AdditionalReferenceLabel">
            <div *ngIf="!isEdit">{{ model?.AdditionalReferenceLabel }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.AdditionalReferenceLabel"
              [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- AdditionalReferenceLabel2 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.SecondaryLanguageId"
            [label]="('AccountType_AdditionalReferenceLabel' | translate) + ws.secondaryPostfix"
            [serverErrors]="model?.serverErrors?.AdditionalReferenceLabel2">
            <div *ngIf="!isEdit">{{ model?.AdditionalReferenceLabel2 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.AdditionalReferenceLabel2"
              [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- AdditionalReferenceLabel3 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.TernaryLanguageId"
            [label]="('AccountType_AdditionalReferenceLabel' | translate) + ws.ternaryPostfix"
            [serverErrors]="model?.serverErrors?.AdditionalReferenceLabel3">
            <div *ngIf="!isEdit">{{ model?.AdditionalReferenceLabel3 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.AdditionalReferenceLabel3"
              [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- NotedAgentNameLabel -->
          <t-form-group class="t-form-group"
            [label]="('AccountType_NotedAgentNameLabel' | translate) + ws.primaryPostfix"
            [serverErrors]="model?.serverErrors?.NotedAgentNameLabel">
            <div *ngIf="!isEdit">{{ model?.NotedAgentNameLabel }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.NotedAgentNameLabel"
              [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- NotedAgentNameLabel2 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.SecondaryLanguageId"
            [label]="('AccountType_NotedAgentNameLabel' | translate) + ws.secondaryPostfix"
            [serverErrors]="model?.serverErrors?.NotedAgentNameLabel2">
            <div *ngIf="!isEdit">{{ model?.NotedAgentNameLabel2 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.NotedAgentNameLabel2"
              [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- NotedAgentNameLabel3 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.TernaryLanguageId"
            [label]="('AccountType_NotedAgentNameLabel' | translate) + ws.ternaryPostfix"
            [serverErrors]="model?.serverErrors?.NotedAgentNameLabel3">
            <div *ngIf="!isEdit">{{ model?.NotedAgentNameLabel3 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.NotedAgentNameLabel3"
              [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- NotedAmountLabel -->
          <t-form-group class="t-form-group" [label]="('AccountType_NotedAmountLabel' | translate) + ws.primaryPostfix"
            [serverErrors]="model?.serverErrors?.NotedAmountLabel">
            <div *ngIf="!isEdit">{{ model?.NotedAmountLabel }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.NotedAmountLabel" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- NotedAmountLabel2 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.SecondaryLanguageId"
            [label]="('AccountType_NotedAmountLabel' | translate) + ws.secondaryPostfix"
            [serverErrors]="model?.serverErrors?.NotedAmountLabel2">
            <div *ngIf="!isEdit">{{ model?.NotedAmountLabel2 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.NotedAmountLabel2" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- NotedAmountLabel3 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.TernaryLanguageId"
            [label]="('AccountType_NotedAmountLabel' | translate) + ws.ternaryPostfix"
            [serverErrors]="model?.serverErrors?.NotedAmountLabel3">
            <div *ngIf="!isEdit">{{ model?.NotedAmountLabel3 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.NotedAmountLabel3" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- NotedDateLabel -->
          <t-form-group class="t-form-group" [label]="('AccountType_NotedDateLabel' | translate) + ws.primaryPostfix"
            [serverErrors]="model?.serverErrors?.NotedDateLabel">
            <div *ngIf="!isEdit">{{ model?.NotedDateLabel }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.NotedDateLabel" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- NotedDateLabel2 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.SecondaryLanguageId"
            [label]="('AccountType_NotedDateLabel' | translate) + ws.secondaryPostfix"
            [serverErrors]="model?.serverErrors?.NotedDateLabel2">
            <div *ngIf="!isEdit">{{ model?.NotedDateLabel2 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.NotedDateLabel2" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>

          <!-- NotedDateLabel3 -->
          <t-form-group class="t-form-group" *ngIf="ws.settings.TernaryLanguageId"
            [label]="('AccountType_NotedDateLabel' | translate) + ws.ternaryPostfix"
            [serverErrors]="model?.serverErrors?.NotedDateLabel3">
            <div *ngIf="!isEdit">{{ model?.NotedDateLabel3 }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="model.NotedDateLabel3" [ngModelOptions]="{ updateOn: 'blur' }">
            </t-text-editor>
          </t-form-group>
        </div>
      </ng-template>
    </li>

    <!-- ResourceDefinitions -->
    <li ngbNavItem="resourceDefs">
      <a ngbNavLink>
        <span *ngIf="showResourceDefinitionsError(model)" class="text-danger">
          <fa-icon icon="exclamation-triangle">
          </fa-icon>&nbsp;
        </span>
        <span
          class="small t-slightly-bold">{{ ('AccountType_ResourceDefinitions' | translate) + ' (' + (model?.ResourceDefinitions?.length | number) + ')'  }}</span>
      </a>
      <ng-template ngbNavContent>
        <t-table [dataSource]="model?.ResourceDefinitions" [isEdit]="isEdit" [columnPaths]="['Definition']"
          [columnTemplates]="{
          'Definition' : { headerTemplate : header, rowTemplate : row, weight : 1 }
        }">
        </t-table>

        <!-- Header -->
        <ng-template #header>{{ 'Account_ResourceDefinition' | translate}}</ng-template>
        <ng-template #row let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.ResourceDefinitionId">
            <t-view-link *ngIf="!isEdit" link="../../resource-definitions" [itemId]="item?.ResourceDefinitionId">
              {{ getMultilingualValue(ws.ResourceDefinition[item.ResourceDefinitionId], 'TitleSingular', ws) }}
            </t-view-link>
            <t-resource-definitions-picker *ngIf="isEdit" [(ngModel)]="item.ResourceDefinitionId"
              (ngModelChange)="update.call(null, item)" [required]="!item.PH" filter="State ne 'Hidden'">
            </t-resource-definitions-picker>
          </t-form-group-cell>
        </ng-template>

      </ng-template>
    </li>

    <!-- CustodyDefinitions -->
    <li ngbNavItem="custodyDefs">
      <a ngbNavLink>
        <span *ngIf="showCustodyDefinitionsError(model)" class="text-danger">
          <fa-icon icon="exclamation-triangle">
          </fa-icon>&nbsp;
        </span>
        <span
          class="small t-slightly-bold">{{ ('AccountType_CustodyDefinitions' | translate) + ' (' + (model?.CustodyDefinitions?.length | number) + ')'  }}</span>
      </a>
      <ng-template ngbNavContent>
        <t-table [dataSource]="model?.CustodyDefinitions" [isEdit]="isEdit" [columnPaths]="['Definition']"
          [columnTemplates]="{
          'Definition' : { headerTemplate : header, rowTemplate : row, weight : 1 }
        }">
        </t-table>

        <!-- Header -->
        <ng-template #header>{{ 'Account_CustodyDefinition' | translate}}</ng-template>
        <ng-template #row let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.CustodyDefinitionId">
            <t-view-link *ngIf="!isEdit" link="../../custody-definitions" [itemId]="item?.CustodyDefinitionId">
              {{ getMultilingualValue(ws.CustodyDefinition[item.CustodyDefinitionId], 'TitleSingular', ws) }}
            </t-view-link>
            <t-custody-definitions-picker *ngIf="isEdit" [(ngModel)]="item.CustodyDefinitionId"
              (ngModelChange)="update.call(null, item)" [required]="!item.PH">
            </t-custody-definitions-picker>
          </t-form-group-cell>
        </ng-template>

      </ng-template>
    </li>
    
    <!-- NotedRelationDefinitions -->
    <li ngbNavItem="notedrelationDefs">
      <a ngbNavLink>
        <span *ngIf="showNotedRelationDefinitionsError(model)" class="text-danger">
          <fa-icon icon="exclamation-triangle">
          </fa-icon>&nbsp;
        </span>
        <span
          class="small t-slightly-bold">{{ ('AccountType_NotedRelationDefinitions' | translate) + ' (' + (model?.NotedRelationDefinitions?.length | number) + ')'  }}</span>
      </a>
      <ng-template ngbNavContent>
        <t-table [dataSource]="model?.NotedRelationDefinitions" [isEdit]="isEdit" [columnPaths]="['Definition']"
          [columnTemplates]="{
          'Definition' : { headerTemplate : header, rowTemplate : row, weight : 1 }
        }">
        </t-table>

        <!-- Header -->
        <ng-template #header>{{ 'Account_NotedRelationDefinition' | translate}}</ng-template>
        <ng-template #row let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.NotedRelationDefinitionId">
            <t-view-link *ngIf="!isEdit" link="../../relation-definitions" [itemId]="item?.NotedRelationDefinitionId">
              {{ getMultilingualValue(ws.RelationDefinition[item.NotedRelationDefinitionId], 'TitleSingular', ws) }}
            </t-view-link>
            <t-relation-definitions-picker *ngIf="isEdit" [(ngModel)]="item.NotedRelationDefinitionId"
              (ngModelChange)="update.call(null, item)" [required]="!item.PH">
            </t-relation-definitions-picker>
          </t-form-group-cell>
        </ng-template>

      </ng-template>
    </li>

  </ul>
  <div class="w-100" [ngbNavOutlet]="tabs"></div>

</ng-template>

<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>