<div class="b-image" [style.width]="size + sizeUnit" [style.height]="size + sizeUnit" [class.b-image-round]="isRound">

  <div class="d-flex align-items-center justify-content-center w-100 h-100">
    <!-- image -->
    <img *ngIf="showImg" [src]="dataUrl" alt="" [class.b-image-round]="isRound" [style.max-width]="size + sizeUnit" [style.max-height]="size + sizeUnit" alt="Picture">

    <!-- placeholder if image is null -->
    <fa-icon class="b-image-placeholder" *ngIf="showIcon" [icon]="icon" [style.font-size]="placeholderFontSize + 'rem'"></fa-icon>

    <!-- error -->
    <fa-icon class="text-danger" *ngIf="showError" icon="exclamation-triangle" style="font-size: 1.5rem"></fa-icon>
  </div>

  <!-- edit controls -->
  <div class="b-image-controls w-100" *ngIf="showEditControls">
    <!-- we use divs to avoid tabbing and focus since they are hidden by default unless you hover and it's bad to let the user tab through hidden controls -->
    <div class="btn btn-primary p-0 pr-1 pl-1 w-50" (click)="onEdit()">
      <fa-icon icon="pen"></fa-icon>
    </div>
    <div class="btn btn-primary p-0 pr-1 pl-1 w-50" (click)="onDelete()">
      <fa-icon icon="trash"></fa-icon>
    </div>
  </div>
</div>

<!-- for the file dialog -->
<input type="file" accept=".jpg,.jpeg,.bmp,.png" class="d-none" #input (change)="onFileSelected(input)" />

<!-- Error Modal -->
<ng-template #errorModal let-modal>

    <!-- header -->
    <div class="modal-header">
      <h5 class="modal-title">
        <fa-icon class="text-danger" icon="exclamation-triangle"></fa-icon>&nbsp;&nbsp;{{ 'Error' | translate }}
      </h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <!-- body -->
    <div class="modal-body">
      {{ 'Error_ImageExceedsTheMaximumSizeOfX' | translate: { maxSize: maxSize / (1024 * 1024) } }}
    </div>
  
    <!-- footer -->
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
        <fa-icon icon="times"></fa-icon>
        &nbsp;{{ 'Dismiss' | translate }}
      </button>
    </div>
  </ng-template>