<t-details collection="MessageTemplate" [createFunc]="create" [cloneFunc]="clone" [expand]="expand" [mode]="mode"
    [additionalSelect]="additionalSelect" [masterCrumb]="'MessageTemplates' | translate" [detailsCrumb]="detailsCrumb"
    [idString]="idString" [documentTemplate]="document" layout="full-screen" [actions]="[]" [isInactive]="isInactive"
    theme="dark" [savePreprocessing]="savePreprocessing">
</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
    <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>

<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">
    <div class="h-100 d-flex" *ngIf="watch(model)">

        <!-- Collapsed Metadata -->
        <div class="p-2 t-dark t-text-whitish t-collapsed-studio-pane t-pointer" *ngIf="isEdit && collapseMetadata"
            (click)="onToggleMetadata()">
            <div class="text-center mb-3">
                <fa-icon icon="angle-right" [flip]="flipIcon(false)"></fa-icon>
            </div>
            <span>{{ 'Metadata' | translate }}
                &nbsp;
                <fa-icon class="t-light-danger mx-1" icon="exclamation" *ngIf="metadataPaneErrors(model)">
                </fa-icon>
            </span>
        </div>

        <!-- Metadata -->
        <div class="t-less-dark h-100 flex-column t-studio-pane t-wide-studio-pane" *ngIf="isEdit"
            [class.d-flex]="!collapseMetadata" [class.d-none]="collapseMetadata">

            <!-- Metadata Header -->
            <div class="py-2 px-3 t-dark t-text-whitish d-flex justify-content-between t-pointer"
                (click)="onToggleMetadata()">
                <div>
                    <span>{{ 'Metadata' | translate }}</span>&nbsp;
                    <fa-icon class="t-light-danger mx-1" icon="exclamation" *ngIf="metadataPaneErrors(model)">
                    </fa-icon>
                </div>
                <div class="text-center">
                    <fa-icon icon="angle-left" [flip]="flipIcon(false)"></fa-icon>
                </div>
            </div>

            <!-- Metadata Content -->
            <div class="flex-grow-1 overflow-auto">

                <!-- Title Header -->
                <div class="text-truncate t-studio-section-header t-pointer" (click)="onToggleSection('Title')">
                    &nbsp;
                    <fa-icon icon="angle-right" [flip]="flipIcon(showSection('Title'))"
                        [rotate]="rotateIcon(showSection('Title'))">
                    </fa-icon>
                    &nbsp;
                    {{ 'Title' | translate }}
                    <fa-icon class="t-light-danger mx-1" icon="exclamation" *ngIf="titleSectionErrors(model)">
                    </fa-icon>
                </div>

                <!-- Title Content -->
                <div class="py-2 t-studio-section d-none flex-wrap" [class.d-flex]="showSection('Title')">

                    <!-- Name -->
                    <div class="form-group col-6" [class.is-invalid]="invalid(name, model.serverErrors?.Name)">
                        <label class="small" for="name">{{ ('Name' | translate) + ws.primaryPostfix }}</label>
                        <input class="form-control t-studio-input" id="name" type="text" [(ngModel)]="model.Name"
                            [ngModelOptions]="{ updateOn: 'blur' }" autocomplete="off" #name="ngModel" />
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: name, serverErrors: model.serverErrors?.Name }">
                        </ng-container>
                    </div>

                    <!-- Name2 -->
                    <div class="form-group col-6" [class.is-invalid]="invalid(name2, model.serverErrors?.Name2)"
                        *ngIf="ws.settings?.SecondaryLanguageId">
                        <label class="small" for="name2">{{ ('Name' | translate) + ws.secondaryPostfix }}</label>
                        <input class="form-control t-studio-input" id="name2" type="text" [(ngModel)]="model.Name2"
                            [ngModelOptions]="{ updateOn: 'blur' }" autocomplete="off" #name2="ngModel" />
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: name2, serverErrors: model.serverErrors?.Name2 }">
                        </ng-container>
                    </div>

                    <!-- Name3 -->
                    <div class="form-group col-6" [class.is-invalid]="invalid(name3, model.serverErrors?.Name3)"
                        *ngIf="ws.settings?.TernaryLanguageId">
                        <label class="small" for="name3">{{ ('Name' | translate) + ws.ternaryPostfix }}</label>
                        <input class="form-control t-studio-input" id="name3" type="text" [(ngModel)]="model.Name3"
                            [ngModelOptions]="{ updateOn: 'blur' }" autocomplete="off" #name3="ngModel" />
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: name3, serverErrors: model.serverErrors?.Name3 }">
                        </ng-container>
                    </div>

                    <!-- Code -->
                    <div class="form-group col-6" [class.is-invalid]="invalid(code, model.serverErrors?.Code)">
                        <label class="small" for="code">{{ 'Code' }}</label>
                        <input class="form-control t-studio-input" id="code" type="text" [(ngModel)]="model.Code"
                            #code="ngModel" [ngModelOptions]="{ updateOn: 'blur' }" autocomplete="off" />
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: code, serverErrors: model.serverErrors?.Code }">
                        </ng-container>
                    </div>

                    <div class="col-12"></div>

                    <!-- Description -->
                    <div class="form-group col-6"
                        [class.is-invalid]="invalid(description, model.serverErrors?.Description)">
                        <label class="small" for="desc">{{ ('Description' | translate) + ws.primaryPostfix }}</label>
                        <textarea class="form-control t-studio-input t-no-resize" rows="3" id="desc" type="text"
                            [(ngModel)]="model.Description" [ngModelOptions]="{ updateOn: 'blur' }"
                            #description="ngModel"></textarea>
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: description, serverErrors: model.serverErrors?.Description }">
                        </ng-container>
                    </div>

                    <!-- Description2 -->
                    <div class="form-group col-6"
                        [class.is-invalid]="invalid(description2, model.serverErrors?.Description2)"
                        *ngIf="ws.settings?.SecondaryLanguageId">
                        <label class="small" for="desc2">{{ ('Description' | translate) + ws.secondaryPostfix }}</label>
                        <textarea class="form-control t-studio-input t-no-resize" rows="3" id="desc2" type="text"
                            [(ngModel)]="model.Description2" [ngModelOptions]="{ updateOn: 'blur' }"
                            #description2="ngModel"></textarea>
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: description2, serverErrors: model.serverErrors?.Description2 }">
                        </ng-container>
                    </div>

                    <!-- Description3 -->
                    <div class="form-group col-6"
                        [class.is-invalid]="invalid(description3, model.serverErrors?.Description3)"
                        *ngIf="ws.settings?.TernaryLanguageId">
                        <label class="small" for="desc3">{{ ('Description' | translate) + ws.ternaryPostfix }}</label>
                        <textarea class="form-control t-studio-input t-no-resize" rows="3" id="desc3" type="text"
                            [(ngModel)]="model.Description3" [ngModelOptions]="{ updateOn: 'blur' }"
                            #description3="ngModel"></textarea>
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: description3, serverErrors: model.serverErrors?.Description3 }">
                        </ng-container>
                    </div>

                    <!-- Caption -->
                    <div class="form-group col-12" [class.is-invalid]="invalid(caption, model.serverErrors?.Caption)">
                        <label class="small" for="caption">{{ 'NotificationTemplate_Caption' | translate
                            }}</label>
                        <input class="form-control t-studio-input" id="caption" type="text" [(ngModel)]="model.Caption"
                            (ngModelChange)="onTemplateChange(model)" #caption="ngModel"
                            [ngModelOptions]="{ updateOn: 'blur' }" autocomplete="off"
                            placeholder="{{ 'TemplateBrackets' | translate }}" required />
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: caption, serverErrors: model.serverErrors?.Caption }">
                        </ng-container>
                    </div>
                </div>

                <!-- Behavior Header -->
                <div class="text-truncate t-studio-section-header t-pointer" (click)="onToggleSection('Behavior')">
                    &nbsp;
                    <fa-icon icon="angle-right" [flip]="flipIcon(showSection('Behavior'))"
                        [rotate]="rotateIcon(showSection('Behavior'))">
                    </fa-icon>
                    &nbsp;
                    {{ 'Template_Behavior' | translate }}
                    <fa-icon class="t-light-danger mx-1" icon="exclamation" *ngIf="behaviorSectionErrors(model)">
                    </fa-icon>
                </div>

                <!-- Behavior Content -->
                <div class="py-2 t-studio-section d-none flex-wrap" [class.d-flex]="showSection('Behavior')">

                    <!-- Trigger -->
                    <div class="form-group col-6" [class.is-invalid]="invalid(trigger, model.serverErrors?.Trigger)">
                        <label class="small" for="trigger">{{ 'NotificationTemplate_Trigger' | translate }}</label>
                        <select class="form-control t-studio-input" id="trigger" [(ngModel)]="model.Trigger"
                            #trigger="ngModel" required>
                            <option value="Manual">{{ 'Trigger_Manual' |
                                translate }}
                            </option>
                            <option value="Automatic">{{ 'Trigger_Automatic' | translate }}</option>
                        </select>
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: trigger, serverErrors: model.serverErrors?.Trigger }">
                        </ng-container>
                    </div>

                    <!-- Cardinality -->
                    <div class="form-group col-6"
                        [class.is-invalid]="invalid(cardinality, model.serverErrors?.Cardinality)">
                        <label class="small" for="cardinality">{{ 'NotificationTemplate_Cardinality' | translate
                            }}</label>
                        <select class="form-control t-studio-input" id="cardinality" [(ngModel)]="model.Cardinality"
                            #cardinality="ngModel" (ngModelChange)="onMetadataChange(model)" required>
                            <option value="Single">{{ 'Cardinality_Single' |
                                translate }}
                            </option>
                            <option value="Multiple">{{ 'Cardinality_Multiple' | translate }}</option>
                        </select>
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: cardinality, serverErrors: model.serverErrors?.Cardinality }">
                        </ng-container>
                    </div>

                    <!-- Schedule -->
                    <div class="form-group col-12" *ngIf="showSchedule(model)"
                        [class.is-invalid]="invalid(schedule, model.serverErrors?.Schedule)">
                        <label class="small" for="schedule">{{ 'NotificationTemplate_Schedule' | translate
                            }}</label>
                        <input class="form-control t-studio-input" id="schedule" type="text"
                            [(ngModel)]="model.Schedule" #schedule="ngModel" [ngModelOptions]="{ updateOn: 'blur' }"
                            autocomplete="off" placeholder="{{ 'CronExpressionBrackets' | translate }}" required />
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: schedule, serverErrors: model.serverErrors?.Schedule }">
                        </ng-container>
                    </div>

                    <!-- ConditionExpression -->
                    <div class="form-group col-12" *ngIf="showConditionExpression(model)"
                        [class.is-invalid]="invalid(conditionExpression, model.serverErrors?.ConditionExpression)">
                        <label class="small" for="conditionExpression">{{ 'NotificationTemplate_ConditionExpression' |
                            translate
                            }}</label>
                        <input class="form-control t-studio-input" id="conditionExpression" type="text"
                            [(ngModel)]="model.ConditionExpression" #conditionExpression="ngModel"
                            [ngModelOptions]="{ updateOn: 'blur' }" autocomplete="off"
                            placeholder="{{ 'Expression' | translate }}" required />
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: conditionExpression, serverErrors: model.serverErrors?.ConditionExpression }">
                        </ng-container>
                    </div>

                    <!-- PreventRenotify -->
                    <div class="form-group col-6" *ngIf="showPreventRenotify(model)">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="preventrenotify"
                                [(ngModel)]="model.PreventRenotify">
                            <label class="custom-control-label" for="preventrenotify">{{
                                'NotificationTemplate_PreventRenotify' | translate
                                }}</label>
                        </div>
                    </div>

                    <!-- Version -->
                    <div class="form-group col-12" *ngIf="showVersion(model)"
                        [class.is-invalid]="invalid(version, model.serverErrors?.Version)">
                        <label class="small" for="version">{{ 'NotificationTemplate_Version' |
                            translate
                            }}</label>
                        <input class="form-control t-studio-input" id="version" type="text" [(ngModel)]="model.Version"
                            #version="ngModel" [ngModelOptions]="{ updateOn: 'blur' }" autocomplete="off"
                            placeholder="{{ 'Expression' | translate }}" required />
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: version, serverErrors: model.serverErrors?.Version }">
                        </ng-container>
                    </div>

                    <ng-container *ngIf="showUsageFields(model)">

                        <!-- Usage -->
                        <div class="form-group col-6" [class.is-invalid]="invalid(usage, model.serverErrors?.Usage)">
                            <label class="small" for="usage">{{ 'Template_Usage' | translate }}</label>
                            <select class="form-control t-studio-input" id="usage" [(ngModel)]="model.Usage"
                                #usage="ngModel" (ngModelChange)="onMetadataChange(model)" required>
                                <option value=""></option>
                                <option value="FromSearchAndDetails">{{ 'Template_Usage_FromSearchAndDetails' |
                                    translate }}
                                </option>
                                <option value="FromDetails">{{ 'Template_Usage_FromDetails' | translate }}</option>
                                <option value="Standalone">{{ 'Template_Usage_Standalone' | translate }}</option>
                            </select>
                            <ng-container
                                *ngTemplateOutlet="errorsTemplate;context: { control: usage, serverErrors: model.serverErrors?.Usage }">
                            </ng-container>
                        </div>

                        <!-- Collection -->
                        <ng-container *ngIf="showCollectionAndDefinition(model)">
                            <div class="form-group col-6"
                                [class.is-invalid]="invalid(collection, model.serverErrors?.Collection)">
                                <label class="small" for="collection">{{ 'Template_Collection' | translate }}</label>
                                <select class="form-control t-studio-input" id="collection"
                                    [(ngModel)]="model.Collection" #collection="ngModel"
                                    (ngModelChange)="onMetadataChange(model)" required>
                                    <option value=""></option>
                                    <option *ngFor="let collection of allCollections" value="{{collection.value}}">
                                        {{ collection.name() }}</option>
                                </select>
                                <ng-container
                                    *ngTemplateOutlet="errorsTemplate;context: { control: collection, serverErrors: model.serverErrors?.Collection }">
                                </ng-container>
                            </div>

                            <!-- Definition -->
                            <div class="form-group col-6" *ngIf="showDefinitionIdSelector(model)"
                                [class.is-invalid]="invalid(definitionId, model.serverErrors?.DefinitionId)">
                                <label class="small" for="definitionId">{{ 'Template_DefinitionId' | translate
                                    }}</label>
                                <select class="form-control t-studio-input" id="definitionId"
                                    [(ngModel)]="model.DefinitionId" #definitionId="ngModel"
                                    (ngModelChange)="onMetadataChange(model)">
                                    <option value=""></option>
                                    <option *ngFor="let defInfo of allDefinitionIds(model)" value="{{ defInfo.value }}">
                                        {{ defInfo.name() }}</option>
                                </select>
                                <ng-container
                                    *ngTemplateOutlet="errorsTemplate;context: { control: definitionId, serverErrors: model.serverErrors?.DefinitionId }">
                                </ng-container>
                            </div>
                        </ng-container>

                    </ng-container>
                    <div class="col-12"></div>

                    <!-- Parameters -->
                    <div class="form-group col-6" *ngIf="showParameters(model)">
                        <label class="small">{{ 'Template_Parameters' | translate }}</label>&nbsp;
                        <button class="btn btn-sm m-0 py-0 px-1 border-0 text-white t-pointer t-transparent"
                            (click)="onCreateParameter(model)" [title]="'Create' | translate">
                            <fa-icon icon="plus"></fa-icon>
                        </button>
                        <div class="t-studio-drop-area" style="border-style: solid;" cdkDropList
                            (cdkDropListDropped)="drop($event, model)" [cdkDropListData]="getParameters(model)">
                            <div class="t-studio-drop-row t-draggable"
                                *ngFor="let param of getParameters(model); let i = index;" cdkDrag>
                                <div class="d-flex">
                                    <fa-icon class="t-light-danger mx-1" icon="exclamation"
                                        *ngIf="weakEntityErrors(param)">
                                    </fa-icon>
                                    <span class="flex-grow-1 text-truncate">
                                        {{ param.Key }}
                                    </span>

                                    <button class="btn btn-sm m-0 py-0 px-1 border-0 text-white t-pointer t-transparent"
                                        (click)="onConfigureParameter(i, model)" [title]="'Configure' | translate">
                                        <fa-icon icon="cog"></fa-icon>
                                    </button>
                                    &nbsp;
                                    <button class="btn btn-sm m-0 py-0 px-1 border-0 text-white t-pointer t-transparent"
                                        (click)="onDeleteParameter(i, model)" [title]="'Delete' | translate">
                                        <fa-icon icon="times"></fa-icon>
                                    </button>
                                </div>
                                <div class="t-studio-drop-row" *cdkDragPlaceholder>
                                    &zwnj;
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Subscribers -->
                    <div class="form-group col-6 t-text-whitish" *ngIf="showSubscribers(model)">
                        <label class="small">{{ 'NotificationTemplate_Subscribers' | translate }}</label>
                        <table class="table table-sm table-dark text-nowrap mb-1">
                            <tbody>
                                <tr *ngFor="let sub of model.Subscribers; let i = index">
                                    <td class="p-0">
                                        <t-users-picker [(ngModel)]="sub.UserId"
                                            (ngModelChange)="onMetadataChange(model)" theme="dark" #submodel="ngModel"
                                            [showCreate]="false"></t-users-picker>
                                        <ng-container
                                            *ngTemplateOutlet="errorsTemplate;context: { control: submodel, serverErrors: sub?.serverErrors?.UserId }">
                                        </ng-container>
                                    </td>
                                    <td>
                                        <button
                                            class="btn btn-secondary t-white-button t-text-whitish btn-sm py-0 px-1 align-baseline"
                                            (click)="onDeleteSubscriber(model, i)">
                                            <fa-icon icon="trash">
                                            </fa-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-sm t-toolbar-button t-text-whitish font-weight-normal"
                            (click)="onInsertSubscriber(model)">
                            <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;{{ 'Add' | translate }}
                        </button>
                    </div>
                </div>

                <!-- Content Header -->
                <div class="text-truncate t-studio-section-header t-pointer" (click)="onToggleSection('Content')">
                    &nbsp;
                    <fa-icon icon="angle-right" [flip]="flipIcon(showSection('Content'))"
                        [rotate]="rotateIcon(showSection('Content'))">
                    </fa-icon>
                    &nbsp;
                    {{ 'NotificationTemplate_Content' | translate }}
                    <fa-icon class="t-light-danger mx-1" icon="exclamation" *ngIf="contentSectionErrors(model)">
                    </fa-icon>
                </div>

                <!-- Content Content -->
                <div class="py-2 t-studio-section pb-3 d-none flex-wrap" [class.d-flex]="showSection('Content')">

                    <!-- ListExpression -->
                    <div class="form-group col-12" *ngIf="showListExpression(model)"
                        [class.is-invalid]="invalid(listExpression, model.serverErrors?.ListExpression)">
                        <label class="small" for="listExpression">{{ 'NotificationTemplate_ListExpression' | translate
                            }}</label>
                        <input class="form-control t-studio-input" id="listExpression" type="text"
                            [(ngModel)]="model.ListExpression" #listExpression="ngModel"
                            (ngModelChange)="onTemplateChange(model)" [ngModelOptions]="{ updateOn: 'change' }"
                            autocomplete="off" placeholder="{{ 'Expression' | translate }}" required />
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: listExpression, serverErrors: model.serverErrors?.ListExpression }">
                        </ng-container>
                    </div>

                    <!-- PhoneNumber -->
                    <div class="form-group col-12"
                        [class.is-invalid]="invalid(phoneNumber, model.serverErrors?.PhoneNumber)">
                        <label class="small" for="phoneNumber">{{ 'NotificationTemplate_PhoneNumber' |
                            translate
                            }}</label>
                        <input class="form-control t-studio-input" id="phoneNumber" type="text"
                            [(ngModel)]="model.PhoneNumber" #phoneNumber="ngModel"
                            (ngModelChange)="onTemplateChange(model)" [ngModelOptions]="{ updateOn: 'change' }"
                            autocomplete="off" placeholder="{{ 'TemplateBrackets' | translate }}" />
                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: phoneNumber, serverErrors: model.serverErrors?.PhoneNumber }">
                        </ng-container>
                    </div>

                    <!-- Content -->
                    <div class="form-group col-12" [class.is-invalid]="invalid(content, model.serverErrors?.Content)">
                        <label class="small" for="content">{{ 'NotificationTemplate_Content' |
                            translate
                            }}</label>

                        <textarea class="form-control t-studio-input t-no-resize" rows="4" id="desc" type="text"
                            [(ngModel)]="model.Content" (ngModelChange)="onTemplateChange(model)"
                            [ngModelOptions]="{ updateOn: 'change' }" #content="ngModel"
                            placeholder="{{ 'TemplateBrackets' | translate }}" required></textarea>

                        <ng-container
                            *ngTemplateOutlet="errorsTemplate;context: { control: content, serverErrors: model.serverErrors?.Content }">
                        </ng-container>
                    </div>
                </div>

                <!-- Deploy Header -->
                <div class="text-truncate t-studio-section-header t-pointer" (click)="onToggleSection('Deploy')">
                    &nbsp;
                    <fa-icon icon="angle-right" [flip]="flipIcon(showSection('Deploy'))"
                        [rotate]="rotateIcon(showSection('Deploy'))">
                    </fa-icon>
                    &nbsp;
                    {{ (model.Usage === 'Standalone' ? 'MainMenu' : 'Deploy') | translate }}
                    <fa-icon class="t-light-danger mx-1" icon="exclamation" *ngIf="deploySectionErrors(model)">
                    </fa-icon>
                </div>

                <!-- Deploy Content -->
                <div class="py-2 t-studio-section pb-3 d-none flex-wrap" [class.d-flex]="showSection('Deploy')">

                    <!-- IsDeployed -->
                    <div class="form-group col-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="isdeployed"
                                [(ngModel)]="model.IsDeployed">
                            <label class="custom-control-label" for="isdeployed">{{ 'Template_IsDeployed' | translate
                                }}</label>
                        </div>
                    </div>

                    <div class="col-12"></div>

                    <!-- Main Menu Section -->
                    <ng-container *ngIf="showMainMenuFields(model)">
                        <div class="form-group col-6">
                            <label class="small" for="mainMenuSection">{{ 'MainMenuSection' | translate }}</label>
                            <select class="form-control t-studio-input" id="mainMenuSection"
                                [(ngModel)]="model.MainMenuSection" #mainMenuSection="ngModel">
                                <option value=""></option>
                                <option *ngFor="let mainMenuSection of allMainMenuSections"
                                    value="{{mainMenuSection.value}}">
                                    {{ mainMenuSection.name() }}</option>
                            </select>
                            <ng-container
                                *ngTemplateOutlet="errorsTemplate;context: { control: mainMenuSection, serverErrors: model.serverErrors?.MainMenuSection }">
                            </ng-container>
                        </div>

                        <!-- Main Menu Sort Key -->
                        <div class="form-group col-6">
                            <label class="small" for="sortKey">{{ 'MainMenuSortKey' | translate }}</label>
                            <input class="form-control t-studio-input" id="sortKey" type="number"
                                [(ngModel)]="model.MainMenuSortKey" #mainMenuSortKey="ngModel"
                                [ngModelOptions]="{ updateOn: 'blur' }" autocomplete="off" />

                            <ng-container
                                *ngTemplateOutlet="errorsTemplate;context: { control: mainMenuSortKey, serverErrors: model.serverErrors?.MainMenuSortKey }">
                            </ng-container>
                        </div>

                        <!-- Main Menu Icon -->
                        <div class="form-group col-12">
                            <label class="small" for="mainMenuIcon">{{ 'MainMenuIcon' | translate }}</label>
                            <div class="t-icon-selector d-flex align-content-start flex-wrap p-1">
                                <div class="py-1 text-center t-pointer t-icon-selector-icon"
                                    (click)="onIconClick(model, icon)"
                                    [class.t-highlighted]="icon.value === model.MainMenuIcon"
                                    *ngFor="let icon of allMainMenuIcons; let i = index;" [title]="icon.value">
                                    <fa-icon [icon]="icon.value" style="font-size: 1.1rem"></fa-icon>
                                </div>
                            </div>
                            <ng-container
                                *ngTemplateOutlet="errorsTemplate;context: { control: null, serverErrors: model.serverErrors?.MainMenuIcon }">
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <!-- Preview Section -->
        <div class="d-flex flex-column p-0 bg-white flex-grow-1 h-100">
            <!-- Header -->
            <div class="t-dark t-text-whitish d-flex justify-content-between" *ngIf="isEdit">
                <div class="p-2 px-3">
                    <span>{{ 'Preview' | translate }}</span>&nbsp;&nbsp;
                </div>
            </div>

            <!-- Preview Parameters -->
            <div class="border-bottom" *ngIf="showParametersSection">
                <div class="mx-auto mb-3 w-100" style="max-width: 700px">
                    <div class="w-100">
                        <div class="row m-0 px-0 px-lg-1 py-1">
                            <ng-container *ngIf="showMasterAndDetailsParams">
                                <!-- Filter -->
                                <t-form-group class="t-form-group col" [label]="'Filter' | translate">
                                    <t-text-editor [(ngModel)]="filter" [ngModelOptions]="{ updateOn: 'blur' }"
                                        (ngModelChange)="onArgumentChange()">
                                    </t-text-editor>
                                </t-form-group>
                                <!-- OrderBy -->
                                <t-form-group class="t-form-group col" [label]="'OrderBy' | translate">
                                    <t-text-editor [(ngModel)]="orderby" [ngModelOptions]="{ updateOn: 'blur' }"
                                        (ngModelChange)="onArgumentChange()">
                                    </t-text-editor>
                                </t-form-group>
                                <!-- Top -->
                                <t-form-group class="t-form-group col" [label]="'Top' | translate">
                                    <t-decimal-editor [(ngModel)]="top" [ngModelOptions]="{ updateOn: 'blur' }"
                                        (ngModelChange)="onArgumentChange()" [minDecimalPlaces]="0"
                                        [minDecimalPlaces]="0">
                                    </t-decimal-editor>
                                </t-form-group>
                                <!-- Skip -->
                                <t-form-group class="t-form-group col" [label]="'Skip' | translate">
                                    {{ skip }}
                                </t-form-group>
                            </ng-container>
                            <ng-container *ngIf="showDetailsParams">
                                <t-form-group class="t-form-group col" [label]="detailsPickerLabel">
                                    <t-editor [(ngModel)]="id" (ngModelChange)="onArgumentChange()"
                                        [desc]="detailsPickerDesc">
                                    </t-editor>
                                </t-form-group>
                            </ng-container>

                            <ng-container *ngIf="showCustomParameters">
                                <!-- Custom Parameters -->
                                <t-form-group *ngFor="let p of model.Parameters" class="t-form-group"
                                    [label]="label(p) + (p.IsRequired ? ' *' : '')">
                                    <t-editor [(ngModel)]="arguments[p.Key]"
                                        [ngModelOptions]="{ updateOn: updateOn(p) }" [required]="p.isRequired"
                                        (ngModelChange)="onArgumentChange()" [desc]="paramterDescriptor(p)">
                                    </t-editor>
                                </t-form-group>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-row t-rest-of-screen" *ngIf="!message; else messageTemplate">
                <div class="w-100 bg-light border-left border-right">
                    <t-message-list class="overflow-auto" [messages]="messageCommand?.Messages"
                        [isLoading]="isMessageCommandLoading" [errorFunc]="messageCommandError"
                        (preview)="onPreviewMessage($event)">
                    </t-message-list>
                </div>
            </div>

            <ng-template #messageTemplate>
                <div class="w-100 p-3 px-4">
                    <fa-icon icon="info-circle"></fa-icon>
                    &nbsp;
                    {{ message() }}
                </div>
            </ng-template>
        </div>
    </div>
</ng-template>

<ng-template #paramConfigModal let-modal>

    <!-- header -->
    <div class="modal-header t-dark t-text-whitish border-0">
        <h5 class="modal-title font-weight-light">
            {{ 'Configure' | translate }}
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span class="t-text-whitish" aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- body -->
    <div class="modal-body col t-less-dark t-text-whitish">
        <div class="row">

            <!-- Key -->
            <div class="form-group col-12 col-sm-6">
                <label class="small" for="key">{{ 'Parameter_Key' | translate }}</label>
                <input class="form-control t-studio-input" id="key" type="text" [(ngModel)]="paramToEdit.Key"
                    (ngModelChange)="paramToEditHasChanged = true" [ngModelOptions]="{ updateOn: 'blur' }"
                    autocomplete="off" #keycontrol="ngModel" />
                <ng-container
                    *ngTemplateOutlet="errorsTemplate;context: { control: keycontrol, serverErrors: paramToEdit?.serverErrors?.Key }">
                </ng-container>
            </div>

            <!-- Label -->
            <div class="form-group col-12 col-sm-6">
                <label class="small" for="label">{{ ('Label' | translate) + ws.primaryPostfix }}</label>
                <input class="form-control t-studio-input" id="label" type="text" [(ngModel)]="paramToEdit.Label"
                    (ngModelChange)="paramToEditHasChanged = true" [ngModelOptions]="{ updateOn: 'blur' }"
                    autocomplete="off" #labelcontrol="ngModel" />
                <ng-container
                    *ngTemplateOutlet="errorsTemplate;context: { control: labelcontrol, serverErrors: paramToEdit?.serverErrors?.Label }">
                </ng-container>
            </div>

            <!-- Label2 -->
            <div class="form-group col-12 col-sm-6" *ngIf="ws.settings?.SecondaryLanguageId">
                <label class="small" for="label2">{{ ('Label' | translate) + ws.secondaryPostfix }}</label>
                <input class="form-control t-studio-input" id="label2" type="text" [(ngModel)]="paramToEdit.Label2"
                    (ngModelChange)="paramToEditHasChanged = true" [ngModelOptions]="{ updateOn: 'blur' }"
                    autocomplete="off" #label2control="ngModel" />
                <ng-container
                    *ngTemplateOutlet="errorsTemplate;context: { control: label2control, serverErrors: paramToEdit?.serverErrors?.Label2 }">
                </ng-container>
            </div>

            <!-- Label3 -->
            <div class="form-group col-12 col-sm-6" *ngIf="ws.settings?.TernaryLanguageId">
                <label class="small" for="label3">{{ ('Label' | translate) + ws.ternaryPostfix }}</label>
                <input class="form-control t-studio-input" id="label3" type="text" [(ngModel)]="paramToEdit.Label3"
                    (ngModelChange)="paramToEditHasChanged = true" [ngModelOptions]="{ updateOn: 'blur' }"
                    autocomplete="off" #label3control="ngModel" />
                <ng-container
                    *ngTemplateOutlet="errorsTemplate;context: { control: label3control, serverErrors: paramToEdit?.serverErrors?.Label3 }">
                </ng-container>
            </div>

            <!-- IsRequired -->
            <div class="form-group col-12 col-sm-6">
                <label class="small">{{ 'Parameter_IsRequired' | translate }}</label>
                <div class="custom-control custom-checkbox t-labelless-checkbox">
                    <input type="checkbox" class="custom-control-input" id="showastree"
                        [(ngModel)]="paramToEdit.IsRequired" (ngModelChange)="paramToEditHasChanged = true">
                    <label class="custom-control-label" for="showastree">&zwnj;</label>
                </div>
            </div>
            <!-- Control -->
            <div class="form-group col-12 col-sm-6">
                <label class="small" for="orderdirection">{{ 'Definition_Control' | translate }}</label>
                <select class="form-control t-studio-input" [(ngModel)]="paramToEdit.Control"
                    (ngModelChange)="paramToEditHasChanged = true;" #paramcontrol="ngModel">
                    <option value=""></option>
                    <option *ngFor="let c of controlSimpleChoices()" value="{{c.value}}">
                        {{ c.name() }}</option>
                    <option disabled>
                        &#9473;&#9473;&#9473;&#9473;&#9473;&#9473;&#9473;&#9473;&#9473;&#9473;
                    </option>
                    <option *ngFor="let c of controlEntityChoices()" value="{{c.value}}">
                        {{ c.name() }}</option>
                </select>
                <ng-container
                    *ngTemplateOutlet="errorsTemplate;context: { control: paramcontrol, serverErrors: paramToEdit?.serverErrors?.Control }">
                </ng-container>
            </div>

            <!-- Control Options-->
            <div class="form-group w-100" *ngIf="showOptions(paramToEdit.Control)">
                <t-control-options [control]="paramToEdit.Control" [isEdit]="true"
                    [(ngModel)]="paramToEdit.ControlOptions" (ngModelChange)="paramToEditHasChanged = true"
                    #paramcontroloptions="ngModel">
                </t-control-options>

                <ng-container
                    *ngTemplateOutlet="errorsTemplate;context: { control: paramcontroloptions, serverErrors: paramToEdit?.serverErrors?.ControlOptions }">
                </ng-container>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="modal-footer t-dark t-text-whitish border-0 p-2">
        <button class="btn t-text-whitish font-weight-normal" (click)="modal.close();" [disabled]="!canApplyParam()">
            <fa-icon icon="check"></fa-icon>
            &nbsp;{{ 'Apply' | translate }}
        </button>
        <button class="btn t-text-whitish font-weight-normal" (click)="modal.dismiss();" ngbAutoFocus>
            <fa-icon icon="times"></fa-icon>
            &nbsp;{{ 'Cancel' | translate }}
        </button>
    </div>

</ng-template>

<ng-template #errorsTemplate let-control="control" let-serverErrors="serverErrors">
    <ng-container *ngIf="invalid(control, serverErrors)">
        <span class="small t-light-danger" *ngFor="let e of errors(control, serverErrors)">
            {{ e() }}
        </span>
    </ng-container>
</ng-template>