<div class="d-flex flex-column h-100">
  <nav class="navbar navbar-light shadow-sm border-bottom bg-white navbar-expand-sm p-0 align-items-sm-stretch">
    <div class="container d-flex align-items-sm-stretch">

      <!-- Brand -->
      <a class="t-brand-link t-navbar-button" routerLink="/root/welcome" [title]="'Home' | translate">
        <div class="d-flex flex-column align-items-center justify-content-center px-1" style="height: 34px;">
          <img src="/assets/tellma-light.png" width="64">
        </div>
      </a>

      <!-- Back and Forward -->
      <div class="mx-2 d-flex">
        @if (nav.showBack) {
          <button class="t-navbar-button nav-link" (click)="onCollapse();nav.onBack();" [disabled]="!nav.canBack"
            >
            <fa-icon icon="arrow-left" [flip]="flip"></fa-icon>
          </button>
        }
        &nbsp;
        @if (nav.showForward) {
          <button class="t-navbar-button nav-link" (click)="onCollapse();nav.onForward();" [disabled]="!nav.canForward"
            >
            <fa-icon icon="arrow-right" [flip]="flip"></fa-icon>
          </button>
        }
      </div>

      <!-- Collapse button -->
      <button type="button" class="navbar-toggler mx-2" (click)="onToggleCollapse()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible stuff -->
      <div class="collapse navbar-collapse align-items-stretch" [ngbCollapse]="isCollapsed">
        <ol class="nav navbar-nav px-4 px-sm-0" [class.mr-auto]="!isRtl" [class.ml-auto]="isRtl">

        </ol>
        <ol class="nav navbar-nav p-0 px-4 px-sm-0">
          @if (activeLanguages.length > 1) {
            <li class="nav-item" ngbDropdown container="">
              <button class="h-100 w-100 t-navbar-button t-no-arrow" ngbDropdownToggle>
                <span class="px-1">
                  {{ currentLanguageDisplay }}
                </span>
              </button>
              <div class="dropdown-menu shadow m-0" ngbDropdownMenu aria-labelledby="action"
                [class.dropdown-menu-right]="!isRtl">
                @for (lang of activeLanguages; track lang) {
                  @if (lang !== currentLanguage) {
                    <button type="button" class="dropdown-item btn-light" ngbDropdownItem
                      (click)="onSetLanguage(lang)">
                      {{ languageName(lang) }}
                    </button>
                  }
                }
              </div>
            </li>
          }
          @if (!isAuthenticated) {
            <li class="nav-item">
              <button class="h-100 w-100 t-navbar-button" (click)="onSignIn()">
                <span class="px-1">
                  {{ 'SignIn' | translate }}
                </span>
              </button>
            </li>
          }
          @if (isAuthenticated) {
            <li class="nav-item" ngbDropdown container="">
              <button class="h-100 w-100 t-navbar-button t-no-arrow" ngbDropdownToggle>
                <span class="px-1">
                  {{ userName }}
                </span>
              </button>
              <div class="dropdown-menu shadow m-0" ngbDropdownMenu aria-labelledby="action"
                [class.dropdown-menu-right]="!isRtl">
                <button type="button" class="dropdown-item btn-light" ngbDropdownItem routerLink="/root/companies" (click)="onCollapse()">
                  {{ 'MyCompanies' | translate }}
                </button>
                <button type="button" class="dropdown-item btn-light" ngbDropdownItem routerLink="/root/welcome" (click)="onCollapse()">
                  {{ 'WelcomePage' | translate }}
                </button>
                <button type="button" class="dropdown-item btn-light" ngbDropdownItem (click)="onMySystemAccount();onCollapse()">
                  {{ 'My0Account' | translate: { placeholder: ( 'AppName' | translate ) } }}
                </button>
                <button type="button" class="dropdown-item btn-light" ngbDropdownItem (click)="onSignOut();onCollapse()">
                  {{ 'SignOut' | translate }}
                </button>
              </div>
            </li>
          }
        </ol>
      </div>
    </div>

  </nav>
  <main class="t-rest-of-screen container-fluid bg-white2 t-banner3">
    <router-outlet></router-outlet>
  </main>
</div>