<t-details collection="MessageForQuery" [expand]="expand" [mode]="mode" [additionalSelect]="additionalSelect"
    [showCreateButton]="false" [showEditButton]="false" [showDeleteButton]="false"
    [masterCrumb]="'Messages' | translate" [detailsCrumb]="detailsCrumb" [idString]="idString"
    [documentTemplate]="document" [actions]="[]">
</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
    <div class="text-truncate" style="max-width: 200px;">{{ truncate(model?.Content) }}</div>
</ng-template>

<!-- Edit/View Template -->
<ng-template #document let-model="model">

    <!-- State -->
    <t-form-group class="t-form-group" [label]="'State'">
        <div class="text-white px-2" [style.background]="stateColor(model?.State)">{{ stateDisplay(model?.State) }}
        </div>
    </t-form-group>

    <!-- StateSince -->
    <t-form-group class="t-form-group" [label]="'StateSince' | translate">
        <div>{{ model?.StateSince | datetimeFormat }}</div>
    </t-form-group>

    <!-- ErrorMessage -->
    <t-form-group class="t-form-group" [label]="'Message_ErrorMessage' | translate" *ngIf="!!model && model.State < 0">
        <div>{{ model?.ErrorMessage }}</div>
    </t-form-group>
    
    <!-- The Message> -->
    <t-message class="col-12" [message]="model">
    </t-message>
</ng-template>