<b-details-picker [filter]="filter" [masterTemplate]="master" [detailsTemplate]="showCreate ? details : null"
    collection="ResponsibilityCenter" [additionalSelect]="additionalSelect">
</b-details-picker>

<!-- The Responsibility Center Details Modal -->
<ng-template #details let-modal="modal" let-update="update" let-initialText="initialText" let-idString="idString">
    <div class="modal-body">
        <b-responsibility-centers-details mode="popup" [initialText]="initialText" [idString]="idString"
            (cancel)="modal.close(false);" (saved)="modal.close(true); update.call(null, $event);">
        </b-responsibility-centers-details>
    </div>
</ng-template>

<!-- The Responsibility Center Master Modal -->
<ng-template #master let-modal="modal" let-update="update" let-create="create" let-filter="filter">
    <div class="modal-body">
        <b-responsibility-centers-master mode="popup" (cancel)="modal.close(false);" [filter]="filter"
            (choose)="modal.close(true); update.call(null, $event);" (create)="modal.close(false); create.call()"
            [showCreate]="showCreate" [additionalSelect]="additionalSelect">
        </b-responsibility-centers-master>
    </div>
</ng-template>