<div class="row" [class.border-left]="!isRtl" [class.border-right]="isRtl"  [ngbPopover]="invalid ? errorsPopover : null" container="body"
popoverClass="t-error-popover" [placement]="popoverPlacement" triggers="mouseenter:mouseleave">
    <div class="font-weight-bold small col-12 text-truncate" *ngIf="showLabel">
        <span class="t-vertical-align-middle" [class.text-danger]="invalid" [title]="label">{{ label }}</span>
    </div>
    <div class="text-muted small col-12 mb-2 text-nowrap" [title]="description">
        <span class="t-vertical-align-middle">{{ description }}</span>
    </div>
    <div class="col-12 d-flex form-group-container" [class.is-invalid]="invalid" [class.col-lg-8]="showLabel">
        <ng-content></ng-content>
        <fa-icon class="text-danger mx-1" icon="exclamation-triangle" *ngIf="areServerErrors"></fa-icon>
    </div>
</div>

<ng-template #errorsPopover>
    <div class="" style="width: 250px">
        <p class="m-0 p-0" *ngFor="let error of errors">
            <fa-icon icon="exclamation-triangle"></fa-icon>
            &nbsp;{{ error() }}
        </p>
    </div>
</ng-template>