<t-master *ngIf="found;else pageNotFound" collection="Document" [definition]="definitionId" [mode]="mode"
  [additionalSelect]="additionalSelect" [showCreateButton]="showCreate" [filterDefault]="filter"
  [masterCrumb]="masterCrumb" [tileTemplate]="tile" [tableSummaryColumnTemplate]="summaryColumn"
  [tableSummaryHeaderTemplate]="summaryHeader" selectDefault="DocumentDate,PostingState,State,Memo"
  selectForTiles="DocumentDate,State,Memo" [includeInactiveLabel]="'IncludeCanceled' | translate"
  inactiveFilter="PostingState ne -1" [multiselectActions]="[
                { template: post, action: onPost, showAction: showPost, canAction: hasPostingStatePermission, actionTooltip: postingStateTooltip },
                { template: cancel, action: onCancel, showAction: showCancel, canAction: hasPostingStatePermission, actionTooltip: postingStateTooltip },
                { template: unpost, action: onUnpost, showAction: showUnpost, canAction: hasPostingStatePermission, actionTooltip: postingStateTooltip },
                { template: uncancel, action: onUncancel, showAction: showUncancel, canAction: hasPostingStatePermission, actionTooltip: postingStateTooltip }
            ]" [filterDefinition]="{
            'CreatedBy' : [
                { template: createdByMe, expression: 'CreatedById eq me'},
                { template: assignedToMe, expression: 'AssigneeId eq me'}
            ],
            'PostingState' : [
                { template: postingState_0, expression: 'PostingState eq 0'},
                { template: postingState_1, expression: 'PostingState eq 1'},
                { template: postingState_minus_1, expression: 'PostingState eq -1'}
            ],
            'State' : [
                { template: state_0, expression: 'State eq 0'},
                { template: state_1, expression: 'State eq 1'},
                { template: state_minus_1, expression: 'State eq -1'},
                { template: state_2, expression: 'State eq 2'},
                { template: state_minus_2, expression: 'State eq -2'},
                { template: state_3, expression: 'State eq 3'},
                { template: state_minus_3, expression: 'State eq -3'},
                { template: state_4, expression: 'State eq 4'},
                { template: state_minus_4, expression: 'State eq -4'}
            ]
          }">
</t-master>

<!-- If definitionId is invalid -->
<ng-template #pageNotFound>
  <t-application-page-not-found>
  </t-application-page-not-found>
</ng-template>

<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex justify-content-between">
    <t-auto-cell collection="Document" [definition]="definitionId" path="" [entity]="c[id]"></t-auto-cell>
    <t-auto-cell collection="Document" [definition]="definitionId" path="DocumentDate" [entity]="c[id]"></t-auto-cell>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <div class="text-truncate flex-grow-1">
      <t-auto-cell collection="Document" [definition]="definitionId" path="Memo" [entity]="c[id]"></t-auto-cell>
    </div>
    <t-auto-cell collection="Document" [definition]="definitionId" path="PostingState" [entity]="c[id]"></t-auto-cell>
  </div>
</ng-template>

<!-- Summary Header -->
<ng-template #summaryHeader let-id="id">
  {{ summary }}
</ng-template>

<!-- Summary Column -->
<ng-template #summaryColumn let-id="id">
  <span class="text-truncate">
    <t-auto-cell collection="Document" [definition]="definitionId" [entity]="c[id]"></t-auto-cell>
  </span>
</ng-template>


<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>


<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>
<ng-template #assignedToMe> {{ 'AssignedToMe' | translate }} </ng-template>

<ng-template #state_0> {{ 'Document_State_0' | translate }} </ng-template>
<ng-template #state_minus_1> {{ 'Document_State_minus_1' | translate }} </ng-template>
<ng-template #state_1> {{ 'Document_State_1' | translate }} </ng-template>
<ng-template #state_minus_2> {{ 'Document_State_minus_2' | translate }} </ng-template>
<ng-template #state_2> {{ 'Document_State_2' | translate }} </ng-template>
<ng-template #state_minus_3> {{ 'Document_State_minus_3' | translate }} </ng-template>
<ng-template #state_3> {{ 'Document_State_3' | translate }} </ng-template>
<ng-template #state_minus_4> {{ 'Document_State_minus_4' | translate }} </ng-template>
<ng-template #state_4> {{ 'Document_State_4' | translate }} </ng-template>

<ng-template #postingState_0> {{ 'Document_PostingState_0' | translate }} </ng-template>
<ng-template #postingState_minus_1> {{ 'Document_PostingState_minus_1' | translate }} </ng-template>
<ng-template #postingState_1> {{ 'Document_PostingState_1' | translate }} </ng-template>


<ng-template #post> {{ 'Post' | translate }} </ng-template>
<ng-template #unpost> {{ 'Unpost' | translate }} </ng-template>
<ng-template #cancel> {{ 'Cancel' | translate }} </ng-template>
<ng-template #uncancel> {{ 'Uncancel' | translate }} </ng-template>