<t-details *ngIf="found;else pageNotFound" collection="Document" [definition]="definitionId" [createFunc]="create"
    [cloneFunc]="clone" [expand]="expand" [mode]="mode" [additionalSelect]="additionalSelect" [masterCrumb]="masterCrumb" [detailsCrumb]="detailsCrumb"
    [idString]="idString" [documentTemplate]="document" [isInactive]="isInactive"
    [documentHeaderTemplate]="documentHeader" [actions]="[
        { template: sign, action: onSign, showAction: showSign, canAction: canSign, actionTooltip: signTooltip }
    ]" [sidebarTemplate]="sidebar" [registerPristineFunc]="registerPristineFunc" [isDirtyFunc]="isDirtyFunc">

</t-details>

<!-- If definitionId is invalid -->
<ng-template #pageNotFound>
    <t-application-page-not-found>
    </t-application-page-not-found>
</ng-template>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
    <span>{{ formatSerial(model?.SerialNumber) }}</span>
</ng-template>

<ng-template #documentHeader let-model="model" let-isEdit="isEdit">
    <div class="w-100 t-document-header d-flex justify-content-end">
        <t-restricted [metadata]="model?.EntityMetadata?.State">
            <!-- Positive state in wide screen -->
            <div class="t-flow-chart small d-none d-md-block" *ngIf="!model?.State || model.State > 0">
                <div [class.active]="!model?.State"><span>{{'Document_State_Draft' | translate}}</span></div>
                <div [class.active]="model?.State === 1"><span>{{'Document_State_Requested' | translate}}</span></div>
                <div [class.active]="model?.State === 2"><span>{{'Document_State_Authorized' | translate}}</span></div>
                <div [class.active]="model?.State === 3"><span>{{'Document_State_Completed' | translate}}</span></div>
                <div [class.active]="model?.State === 4"><span>{{'Document_State_Reviewed' | translate}}</span></div>
                <div [class.active]="model?.State === 5"><span>{{'Document_State_Closed' | translate}}</span></div>
            </div>
            <div class="small t-lone-state active d-none d-md-block" *ngIf="!!model?.State && model.State < 0">
                <!-- Negative state in wide screen-->
                <ng-container *ngTemplateOutlet="loneState">

                </ng-container>
            </div>
            <div class="small t-lone-state active d-block d-md-none">
                <!-- Narrow screen -->
                <ng-container *ngTemplateOutlet="loneState"> </ng-container>
            </div>

            <ng-template #loneState>
                <span>{{ (!model?.State ? 'Document_State_Draft' :
                            model?.State === -1 ? 'Document_State_Void' :
                            model?.State === 1 ? 'Document_State_Requested' :
                            model?.State === -2 ? 'Document_State_Rejected' :
                            model?.State === 2 ? 'Document_State_Authorized' :
                            model?.State === -3 ? 'Document_State_Failed' :
                            model?.State === 3 ? 'Document_State_Completed' :
                            model?.State === -4 ? 'Document_State_Invalid' :
                            model?.State === 4 ? 'Document_State_Reviewed' :
                            model?.State === 5 ? 'Document_State_Closed' :
                             model?.State) | translate }}</span>
            </ng-template>
        </t-restricted>
    </div>
</ng-template>


<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

    <!-- Serial Number -->
    <t-form-group class="col-12 mb-2 mb-sm-4">
        <h2 class="font-weight-normal">{{ formatSerial(model?.SerialNumber) }}</h2>
    </t-form-group>

    <!-- Document Date -->
    <t-form-group class="t-form-group" [label]="'Document_DocumentDate' | translate"
        [serverErrors]="model?.serverErrors?.DocumentDate">
        <t-restricted *ngIf="!isEdit" [metadata]="model?.EntityMetadata?.DocumentDate">
            <div>{{ model?.DocumentDate | date:'yyyy-MM-dd' }}</div>
        </t-restricted>
        <t-date-picker *ngIf="isEdit" [(ngModel)]="model.DocumentDate" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="true">
        </t-date-picker>
    </t-form-group>

    <!-- Memo -->
    <t-form-group *ngIf="model?.MemoIsCommon" class="t-form-group" [label]="'Memo' | translate"
        [serverErrors]="model?.serverErrors?.Memo">
        <div *ngIf="!isEdit">{{ model?.Memo }}</div>
        <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Memo" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
    </t-form-group>

    <!-- Memo Is Common -->
    <t-form-group *ngIf="isEdit" class="t-form-group" [label]="'Document_MemoIsCommon' | translate"
        [serverErrors]="model?.serverErrors?.MemoIsCommon">
        <div class="custom-control custom-checkbox t-labelless-checkbox">
            <input type="checkbox" class="custom-control-input" [(ngModel)]="model.MemoIsCommon" id="memoIsCommon">
            <label class="custom-control-label t-pointer" for="memoIsCommon">&zwnj;</label>
        </div>
    </t-form-group>

    <ngb-tabset class="pt-3 pt-sm-4 w-100" [destroyOnHide]="true">

        <!-- Entries -->
        <ngb-tab>
            <ng-template ngbTabTitle><span class="small">{{ 'Entries' | translate }}<span
                        *ngIf="model?.EntityMetadata?.Lines == 2"> ({{ model?.Lines.length | number }})</span></span>
                <span *ngIf="showLineErrors(model)" class="text-danger">&nbsp;<fa-icon icon="exclamation-triangle">
                    </fa-icon>
                </span>
            </ng-template>
            <ng-template ngbTabContent>
                <t-restricted [metadata]="model?.EntityMetadata?.Lines"
                    [class.p-4]="model?.EntityMetadata?.Lines === 1">
                    <t-table [dataSource]="model?.Lines" [isEdit]="isEdit" [columnPaths]="columnPaths(model)"
                        [columnTemplates]="{
                            'Memo' : { headerTemplate : header_Memo, rowTemplate : row_Memo, weight : 3 },
                            'AccountId' : { headerTemplate : header_AccountId, rowTemplate : row_AccountId, weight : 2 },
                            'Debit' : { headerTemplate : header_Debit, rowTemplate : row_Debit, weight : 1 },
                            'Credit' : { headerTemplate : header_Credit, rowTemplate : row_Credit, weight : 1 },
                            'ResponsibilityCenter' : { headerTemplate : header_ResponsibilityCenter, rowTemplate : row_ResponsibilityCenter, weight : 2 },
                            'Dynamic' : { headerTemplate : header_Dynamic, rowTemplate : row_Dynamic, weight : 4 }
                        }" [onNewItem]="onNewLine">
                    </t-table>
                </t-restricted>

                <!-- Memo -->
                <ng-template #header_Memo>{{ 'Memo' | translate }}</ng-template>
                <ng-template #row_Memo let-item="item" let-index="originalIndex" let-update="update">
                    <t-form-group class="t-form-group" [serverErrors]="item.serverErrors?.Memo">
                        <div *ngIf="!isEdit">
                            <t-restricted [metadata]="item.EntityMetadata?.Memo">{{ item.Memo }}</t-restricted>
                        </div>
                        <t-text-editor *ngIf="isEdit" [(ngModel)]="item.Memo" (ngModelChange)="update.call(null, item)"
                            [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
                    </t-form-group>
                </ng-template>

                <!-- AccountId -->
                <ng-template #header_AccountId>{{ 'Entry_Account' | translate }}</ng-template>
                <ng-template #row_AccountId let-item="item" let-entry="item.Entries[0]" let-index="originalIndex"
                    let-update="update">
                    <t-form-group class="t-form-group" [serverErrors]="entry.serverErrors?.AccountId">
                        <span *ngIf="isCredit(entry)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <t-restricted [metadata]="entry.EntityMetadata?.AccountId">
                            <t-view-link *ngIf="!isEdit" link="../../../accounts" [itemId]="entry?.AccountId">{{
                  ws.getMultilingualValue('Account',
                  entry.AccountId, 'Name') }}</t-view-link>
                        </t-restricted>
                        <t-accounts-picker *ngIf="isEdit" style="min-width: 150px;" [(ngModel)]="entry.AccountId"
                            (ngModelChange)="update.call(null, item)"
                            additionalSelect="HasExternalReference,HasAdditionalReference,HasNotedAgentId,HasNotedAgentName,ResponsibilityCenter/Name,ResponsibilityCenter/Name2,ResponsibilityCenter/Name3,HasNotedAmount,HasNotedDate,HasAgent,HasResource,AccountType/EntryTypeParentId,AccountType/IsResourceClassification,EntryType/Name,EntryType/Name2,EntryType/Name3,AgentDefinitionId,Currency/Name,Currency/Name2,Currency/Name3,Currency/E,Agent/Name,Agent/Name2,Agent/Name3,Agent/DefinitionId,Resource/Name,Resource/Name2,Resource/Name3,Resource/DefinitionId,Resource/CountUnit/Name,Resource/CountUnit/Name2,Resource/CountUnit/Name3,Resource/MassUnit/Name,Resource/MassUnit/Name2,Resource/MassUnit/Name3,Resource/VolumeUnit/Name,Resource/VolumeUnit/Name2,Resource/VolumeUnit/Name3,Resource/TimeUnit/Name,Resource/TimeUnit/Name2,Resource/TimeUnit/Name3,Resource/Count,Resource/Mass,Resource/Volume,Resource/Time">
                        </t-accounts-picker>
                    </t-form-group>
                </ng-template>

                <!-- ResponsibilityCenter -->
                <ng-template #header_ResponsibilityCenter>
                    <div>{{ 'Entry_ResponsibilityCenter' | translate }}</div>
                </ng-template>
                <ng-template #row_ResponsibilityCenter let-item="item" let-entry="item.Entries[0]"
                    let-index="originalIndex" let-update="update">
                    <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.ResponsibilityCenterId">
                        <t-view-link link="../../../responsibility-centers" [itemId]="entry.ResponsibilityCenterId">
                            {{ ws.getMultilingualValue('ResponsibilityCenter', entry.ResponsibilityCenterId, 'Name') }}
                        </t-view-link>
                    </t-restricted>
                    <ng-container *ngIf="isEdit">
                        <t-responsibility-centers-picker style="min-width: 150px;"
                            *ngIf="!account(entry)?.ResponsibilityCenterId" [(ngModel)]="entry.ResponsibilityCenterId"
                            (ngModelChange)="update.call(null, item);" filter="IsLeaf eq true">
                        </t-responsibility-centers-picker>
                        <t-restricted *ngIf="!!account(entry)?.ResponsibilityCenterId"
                            [metadata]="entry.EntityMetadata?.ResponsibilityCenterId">
                            {{ ws.getMultilingualValue('ResponsibilityCenter', account(entry)?.ResponsibilityCenterId, 'Name') }}
                        </t-restricted>
                    </ng-container>
                </ng-template>

                <!-- Debit -->
                <ng-template #header_Debit>
                    <div style="float: right">{{ ('Debit' | translate) + functionalPostfix }}</div>
                </ng-template>
                <ng-template #row_Debit let-item="item" let-entry="item.Entries[0]" let-index="originalIndex"
                    let-update="update">
                    <t-restricted class="h-100" *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.Value">
                        <div style="float: right">{{ getDebit(entry) | number:functional_format }}</div>
                    </t-restricted>
                    <t-form-group *ngIf="isEdit" class="t-form-group" [serverErrors]="entry.serverErrors?.Value">
                        <t-decimal-editor [ngModel]="getDebit(entry)" [maxDecimalPlaces]="functional_decimals"
                            [minDecimalPlaces]="functional_decimals" textAlignment="right"
                            (ngModelChange)="setDebit(entry, $event); update.call(null, item);"
                            [ngModelOptions]="{ updateOn: 'blur' }">
                        </t-decimal-editor>
                    </t-form-group>
                </ng-template>

                <!-- Credit -->
                <ng-template #header_Credit>
                    <div style="float: right">{{ ('Credit' | translate) + functionalPostfix }}</div>
                </ng-template>
                <ng-template #row_Credit let-item="item" let-entry="item.Entries[0]" let-index="originalIndex"
                    let-update="update">
                    <t-restricted class="h-100" *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.Value">
                        <div style="float: right">{{ getCredit(entry) | number:functional_format }}</div>
                    </t-restricted>
                    <t-form-group *ngIf="isEdit" class="t-form-group" [serverErrors]="entry.serverErrors?.Value">
                        <t-decimal-editor [ngModel]="getCredit(entry)" [maxDecimalPlaces]="functional_decimals"
                            [minDecimalPlaces]="functional_decimals" textAlignment="right"
                            (ngModelChange)="setCredit(entry, $event); update.call(null, item);"
                            [ngModelOptions]="{ updateOn: 'blur' }">
                        </t-decimal-editor>
                    </t-form-group>
                </ng-template>

                <!-- Dynamic -->
                <ng-template #header_Dynamic>
                    <div></div>
                </ng-template>
                <ng-template #row_Dynamic let-item="item" let-entry="item.Entries[0]" let-index="originalIndex"
                    let-update="update">
                    <div class="d-flex">

                        <!-- Currency -->
                        <ng-container *ngIf="showCurrency(entry)">
                            <t-form-group-dynamic class="px-1" [label]="'Entry_Currency' | translate"
                                [serverErrors]="entry.serverErrors?.CurrencyId">
                                <!-- View -->
                                <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.CurrencyId">
                                    <t-view-link link="../../../currencies" [itemId]="entry.CurrencyId">
                                        {{ ws.getMultilingualValue('Currency', entry.CurrencyId, 'Name') }}
                                    </t-view-link>
                                </t-restricted>
                                <!-- Edit -->
                                <t-currencies-picker *ngIf="isEdit" style="min-width: 100px;"
                                    [(ngModel)]="entry.CurrencyId" (ngModelChange)="update.call(null, item);" required>
                                </t-currencies-picker>
                            </t-form-group-dynamic>
                        </ng-container>

                        <!-- Monetary Value -->
                        <ng-container *ngIf="showMonetaryValue(entry)">
                            <t-form-group-dynamic class="border-left px-1" label="="
                                [serverErrors]="entry.serverErrors?.MonetaryValue">
                                <!-- View -->
                                <ng-container *ngIf="!isEdit">
                                    <t-restricted [metadata]="entry.EntityMetadata?.MonetaryValue">
                                        {{ entry.MonetaryValue | number:MonetaryValue_format(entry) }}
                                    </t-restricted>
                                </ng-container>
                                <!-- Edit -->
                                <ng-container *ngIf="isEdit">
                                    <t-decimal-editor style="min-width: 75px; max-width: 125px"
                                        [(ngModel)]="entry.MonetaryValue"
                                        [maxDecimalPlaces]="MonetaryValue_decimals(entry)"
                                        [minDecimalPlaces]="MonetaryValue_decimals(entry)"
                                        (ngModelChange)="update.call(null, item);"
                                        [ngModelOptions]="{ updateOn: 'blur' }" textAlignment="right" required>
                                    </t-decimal-editor>
                                </ng-container>
                                <!-- Readonly Currency -->
                                &nbsp;
                                <t-restricted [metadata]="entry.EntityMetadata?.CurrencyId">
                                    {{ ws.getMultilingualValue('Currency', isEdit ? readonlyValueCurrencyId(entry) : entry.CurrencyId, 'Name') }}
                                </t-restricted>
                            </t-form-group-dynamic>
                        </ng-container>

                        <!-- Agent -->
                        <t-form-group-dynamic class="border-left px-1" *ngIf="showAgent(entry)"
                            [label]="labelAgent(entry)" [serverErrors]="entry.serverErrors?.AgentId">
                            <!-- View -->
                            <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.AgentId">
                                <t-view-link [link]="'../../../agents/' + ws.get('Agent', entry.AgentId)?.DefinitionId"
                                    [itemId]="entry.AgentId">
                                    {{ ws.getMultilingualValue('Agent', entry.AgentId, 'Name') }}
                                </t-view-link>
                            </t-restricted>
                            <!-- Edit -->
                            <ng-container *ngIf="isEdit">
                                <t-agents-picker style="min-width: 150px;" *ngIf="!readonlyAgent(entry)"
                                    [(ngModel)]="entry.AgentId" (ngModelChange)="update.call(null, item);"
                                    [definitionIds]="[account(entry)?.AgentDefinitionId]" required>
                                </t-agents-picker>
                                <t-restricted *ngIf="readonlyAgent(entry)" [metadata]="entry.EntityMetadata?.AgentId">
                                    {{ ws.getMultilingualValue('Agent', readonlyValueAgentId(entry), 'Name') }}
                                </t-restricted>
                            </ng-container>
                        </t-form-group-dynamic>

                        <!-- Resource -->
                        <t-form-group-dynamic class="border-left px-1" *ngIf="showResource(entry)"
                            [label]="labelResource(entry)" [serverErrors]="entry.serverErrors?.ResourceId">
                            <!-- View -->
                            <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.ResourceId">
                                <t-view-link
                                    [link]="'../../../resources/' + ws.get('Resource', entry.ResourceId)?.DefinitionId"
                                    [itemId]="entry.ResourceId">
                                    {{ ws.getMultilingualValue('Resource', entry.ResourceId, 'Name') }}
                                </t-view-link>
                            </t-restricted>
                            <!-- Edit -->
                            <ng-container *ngIf="isEdit">
                                <t-resources-picker style="min-width: 150px;" *ngIf="!readonlyResource(entry)"
                                    [(ngModel)]="entry.ResourceId" (ngModelChange)="update.call(null, item);"
                                    additionalSelect="Count,Mass,Volume,Time,CountUnit/Name,CountUnit/Name2,CountUnit/Name3,MassUnit/Name,MassUnit/Name2,MassUnit/Name3,VolumeUnit/Name,VolumeUnit/Name2,VolumeUnit/Name3,TimeUnit/Name,TimeUnit/Name2,TimeUnit/Name3"
                                    [filter]="filterResource(entry)" required>
                                </t-resources-picker>
                                <t-restricted *ngIf="readonlyResource(entry)"
                                    [metadata]="entry.EntityMetadata?.ResourceId">
                                    {{ ws.getMultilingualValue('Resource', readonlyValueResourceId(entry), 'Name') }}
                                </t-restricted>
                            </ng-container>
                        </t-form-group-dynamic>

                        <!-- Quantity + UnitId -->
                        <ng-container *ngIf="showQuantityAndUnit(entry)">
                            <t-form-group-dynamic class="border-left px-1" [label]="'Entry_Quantity' | translate"
                                [serverErrors]="entry.serverErrors?.Quantity">
                                <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.Quantity">
                                    {{ entry.Quantity | number:'1.0-4'}}
                                </t-restricted>
                                <t-decimal-editor *ngIf="isEdit" style="min-width: 100px;" [(ngModel)]="entry.Quantity"
                                    [maxDecimalPlaces]="4" [minDecimalPlaces]="0"
                                    (ngModelChange)="update.call(null, item);" [ngModelOptions]="{ updateOn: 'blur' }"
                                    textAlignment="right" required>
                                </t-decimal-editor>
                            </t-form-group-dynamic>

                            <t-form-group-dynamic class="px-1" [label]="'Entry_Unit' | translate"
                                [serverErrors]="entry.serverErrors?.UnitId">
                                <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.UnitId">
                                    <!-- <t-view-link link="../../../measurement-units" [itemId]="entry.UnitId"> -->
                                    {{ ws.getMultilingualValue('MeasurementUnit', entry.UnitId, 'Name') }}
                                    <!-- </t-view-link> -->
                                </t-restricted>
                                <ng-container *ngIf="isEdit">
                                    <t-restricted *ngIf="readonlyUnit(entry)" [metadata]="entry.EntityMetadata?.UnitId">
                                        {{ ws.getMultilingualValue('MeasurementUnit', readonlyValueUnitId(entry), 'Name') }}
                                    </t-restricted>
                                    <t-measurement-units-picker *ngIf="!readonlyUnit(entry)" style="min-width: 150px;"
                                        [(ngModel)]="entry.UnitId" (ngModelChange)="update.call(null, item);"
                                        [filter]="filterUnitId(entry)">
                                    </t-measurement-units-picker>
                                </ng-container>
                            </t-form-group-dynamic>
                        </ng-container>

                        <!-- Count + CountUnitId -->
                        <ng-container *ngIf="showCount(entry)">
                            <t-form-group-dynamic class="border-left px-1" [label]="'Entry_Count' | translate"
                                [serverErrors]="entry.serverErrors?.Count">
                                <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.Count">
                                    {{ entry.Count | number:'1.0-4'}}
                                </t-restricted>
                                <t-decimal-editor *ngIf="isEdit" style="min-width: 100px;" [(ngModel)]="entry.Count"
                                    [maxDecimalPlaces]="4" [minDecimalPlaces]="0"
                                    (ngModelChange)="update.call(null, item);" [ngModelOptions]="{ updateOn: 'blur' }"
                                    textAlignment="right" required>
                                </t-decimal-editor>
                            </t-form-group-dynamic>
                            <t-form-group-dynamic class="px-1" [serverErrors]="entry.serverErrors?.CountUnitId">
                                <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.CountUnitId">
                                    <!-- <t-view-link link="../../../measurement-units" [itemId]="entry.CountUnitId"> -->
                                    {{ ws.getMultilingualValue('MeasurementUnit', entry.CountUnitId, 'Name') }}
                                    <!-- </t-view-link> -->
                                </t-restricted>
                                <t-restricted *ngIf="isEdit" [metadata]="entry.EntityMetadata?.CountUnitId">
                                    {{ ws.getMultilingualValue('MeasurementUnit', resource(entry)?.CountUnitId, 'Name') }}
                                </t-restricted>
                            </t-form-group-dynamic>
                        </ng-container>

                        <!-- Mass + MassUnitId -->
                        <ng-container *ngIf="showMass(entry)">
                            <t-form-group-dynamic class="border-left px-1" [label]="'Entry_Mass' | translate"
                                [serverErrors]="entry.serverErrors?.Mass">
                                <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.Mass">
                                    {{ entry.Mass | number:'1.0-4'}}
                                </t-restricted>
                                <t-decimal-editor *ngIf="isEdit" style="min-width: 100px;" [(ngModel)]="entry.Mass"
                                    [maxDecimalPlaces]="4" [minDecimalPlaces]="0"
                                    (ngModelChange)="update.call(null, item);" [ngModelOptions]="{ updateOn: 'blur' }"
                                    textAlignment="right" required>
                                </t-decimal-editor>
                            </t-form-group-dynamic>
                            <t-form-group-dynamic class="px-1" [serverErrors]="entry.serverErrors?.MassUnitId">
                                <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.MassUnitId">
                                    <!-- <t-view-link link="../../../measurement-units" [itemId]="entry.MassUnitId"> -->
                                    {{ ws.getMultilingualValue('MeasurementUnit', entry.MassUnitId, 'Name') }}
                                    <!-- </t-view-link> -->
                                </t-restricted>
                                <t-restricted *ngIf="isEdit" [metadata]="entry.EntityMetadata?.MassUnitId">
                                    {{ ws.getMultilingualValue('MeasurementUnit', resource(entry)?.MassUnitId, 'Name') }}
                                </t-restricted>
                            </t-form-group-dynamic>
                        </ng-container>

                        <!-- Volume + VolumeUnitId -->
                        <ng-container *ngIf="showVolume(entry)">
                            <t-form-group-dynamic class="border-left px-1" [label]="'Entry_Volume' | translate"
                                [serverErrors]="entry.serverErrors?.Volume">
                                <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.Volume">
                                    {{ entry.Volume | number:'1.0-4'}}
                                </t-restricted>
                                <t-decimal-editor *ngIf="isEdit" style="min-width: 100px;" [(ngModel)]="entry.Volume"
                                    [maxDecimalPlaces]="4" [minDecimalPlaces]="0"
                                    (ngModelChange)="update.call(null, item);" [ngModelOptions]="{ updateOn: 'blur' }"
                                    textAlignment="right" required>
                                </t-decimal-editor>
                            </t-form-group-dynamic>
                            <t-form-group-dynamic class="px-1" [serverErrors]="entry.serverErrors?.VolumeUnitId">
                                <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.VolumeUnitId">
                                    <!-- <t-view-link link="../../../measurement-units" [itemId]="entry.VolumeUnitId"> -->
                                    {{ ws.getMultilingualValue('MeasurementUnit', entry.VolumeUnitId, 'Name') }}
                                    <!-- </t-view-link> -->
                                </t-restricted>
                                <t-restricted *ngIf="isEdit" [metadata]="entry.EntityMetadata?.VolumeUnitId">
                                    {{ ws.getMultilingualValue('MeasurementUnit', resource(entry)?.VolumeUnitId, 'Name') }}
                                </t-restricted>
                            </t-form-group-dynamic>
                        </ng-container>

                        <!-- Time + TimeUnitId -->
                        <ng-container *ngIf="showTime(entry)">
                            <t-form-group-dynamic class="border-left px-1" [label]="'Entry_Time' | translate"
                                [serverErrors]="entry.serverErrors?.Time">
                                <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.Time">
                                    {{ entry.Time | number:'1.0-4'}}
                                </t-restricted>
                                <t-decimal-editor *ngIf="isEdit" style="min-width: 100px;" [(ngModel)]="entry.Time"
                                    [maxDecimalPlaces]="4" [minDecimalPlaces]="0"
                                    (ngModelChange)="update.call(null, item);" [ngModelOptions]="{ updateOn: 'blur' }"
                                    textAlignment="right" required>
                                </t-decimal-editor>
                            </t-form-group-dynamic>
                            <t-form-group-dynamic class="px-1" [serverErrors]="entry.serverErrors?.TimeUnitId">
                                <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.TimeUnitId">
                                    <!-- <t-view-link link="../../../measurement-units" [itemId]="entry.TimeUnitId"> -->
                                    {{ ws.getMultilingualValue('MeasurementUnit', entry.TimeUnitId, 'Name') }}
                                    <!-- </t-view-link> -->
                                </t-restricted>
                                <t-restricted *ngIf="isEdit" [metadata]="entry.EntityMetadata?.TimeUnitId">
                                    {{ ws.getMultilingualValue('MeasurementUnit', resource(entry)?.TimeUnitId, 'Name') }}
                                </t-restricted>
                            </t-form-group-dynamic>
                        </ng-container>

                        <!-- DueDate -->
                        <ng-container *ngIf="showDueDate(entry)">
                            <t-form-group-dynamic class="border-left px-1" [label]="labelDueDate(entry)"
                                [serverErrors]="entry.serverErrors?.DueDate">
                                <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.DueDate">
                                    {{ entry.DueDate | date:'yyyy-MM-dd'}}
                                </t-restricted>
                                <t-date-picker *ngIf="isEdit" style="min-width: 120px;" [(ngModel)]="entry.DueDate"
                                    (ngModelChange)="update.call(null, item);" [ngModelOptions]="{ updateOn: 'blur' }"
                                    [required]="requireDueDate(entry)">
                                </t-date-picker>
                            </t-form-group-dynamic>
                        </ng-container>

                        <!-- Entry Type -->
                        <t-form-group-dynamic class="border-left px-1" *ngIf="showEntryType(entry)"
                            [label]="'Entry_EntryType' | translate" [serverErrors]="entry.serverErrors?.EntryTypeId">
                            <!-- View -->
                            <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.EntryTypeId">
                                <t-view-link link="../../../entry-types" [itemId]="entry.EntryTypeId">
                                    <div class="text-truncate" style="max-width: 200px;"
                                        [title]="ws.getMultilingualValue('EntryType', entry.EntryTypeId, 'Name')">
                                        {{ ws.getMultilingualValue('EntryType', entry.EntryTypeId, 'Name') }}
                                    </div>
                                </t-view-link>
                            </t-restricted>
                            <!-- Edit -->
                            <ng-container *ngIf="isEdit">
                                <t-entry-types-picker style="min-width: 150px;" *ngIf="!readonlyEntryType(entry)"
                                    [(ngModel)]="entry.EntryTypeId" (ngModelChange)="update.call(null, item);"
                                    [filter]="filterEntryType(entry)" required>
                                </t-entry-types-picker>
                                <t-restricted *ngIf="readonlyEntryType(entry)"
                                    [metadata]="entry.EntityMetadata?.EntryTypeId">
                                    <div class="text-truncate" style="max-width: 200px;"
                                        [title]="ws.getMultilingualValue('EntryType', entry.EntryTypeId, 'Name')">
                                        {{ ws.getMultilingualValue('EntryType', readonlyValueEntryTypeId(entry), 'Name') }}
                                    </div>
                                </t-restricted>
                            </ng-container>
                        </t-form-group-dynamic>

                        <!-- External Reference -->
                        <t-form-group-dynamic class="border-left px-1" *ngIf="showExternalReference(entry)"
                            [label]="'Entry_ExternalReference' | translate"
                            [serverErrors]="entry.serverErrors?.ExternalReference">
                            <!-- View -->
                            <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.ExternalReference">
                                <div class="text-truncate" style="max-width: 200px; min-width: 50px;"
                                    [title]="entry.ExternalReference">
                                    {{ entry.ExternalReference }}
                                </div>
                            </t-restricted>
                            <!-- Edit -->
                            <t-text-editor *ngIf="isEdit" style="min-width: 150px;"
                                [(ngModel)]="entry.ExternalReference" (ngModelChange)="update.call(null, item);">
                            </t-text-editor>
                        </t-form-group-dynamic>

                        <!-- Additional Reference -->
                        <t-form-group-dynamic class="border-left px-1" *ngIf="showAdditionalReference(entry)"
                            [label]="'Entry_AdditionalReference' | translate"
                            [serverErrors]="entry.serverErrors?.AdditionalReference">
                            <!-- View -->
                            <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.AdditionalReference">
                                <div class="text-truncate" style="max-width: 200px; min-width: 50px;"
                                    [title]="entry.AdditionalReference">
                                    {{ entry.AdditionalReference }}
                                </div>
                            </t-restricted>
                            <!-- Edit -->
                            <t-text-editor *ngIf="isEdit" style="min-width: 150px;"
                                [(ngModel)]="entry.AdditionalReference" (ngModelChange)="update.call(null, item);">
                            </t-text-editor>
                        </t-form-group-dynamic>

                        <!-- Noted Agent -->
                        <t-form-group-dynamic class="border-left px-1" *ngIf="showNotedAgent(entry)"
                            [label]="'Entry_NotedAgent' | translate" [serverErrors]="entry.serverErrors?.NotedAgent">
                            <!-- View -->
                            <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.NotedAgentId">
                                <t-view-link
                                    [link]="'../../../agents/' + ws.get('Agent', entry.NotedAgentId)?.DefinitionId"
                                    [itemId]="entry.NotedAgentId">
                                    {{ ws.getMultilingualValue('Agent', entry.NotedAgentId, 'Name') }}
                                </t-view-link>
                            </t-restricted>
                            <!-- Edit -->
                            <t-agents-picker *ngIf="isEdit" style="min-width: 150px;" [(ngModel)]="entry.NotedAgentId"
                                (ngModelChange)="update.call(null, item);">
                            </t-agents-picker>
                        </t-form-group-dynamic>

                        <!-- Noted Agent Name -->
                        <t-form-group-dynamic class="border-left px-1" *ngIf="showNotedAgentName(entry)"
                            [label]="'Entry_NotedAgentName' | translate"
                            [serverErrors]="entry.serverErrors?.NotedAgentName">
                            <!-- View -->
                            <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.NotedAgentName">
                                <div class="text-truncate" style="max-width: 200px; min-width: 50px;"
                                    [title]="entry.NotedAgentName">
                                    {{ entry.NotedAgentName }}
                                </div>
                            </t-restricted>
                            <!-- Edit -->
                            <t-text-editor *ngIf="isEdit" style="min-width: 150px;" [(ngModel)]="entry.NotedAgentName"
                                (ngModelChange)="update.call(null, item);">
                            </t-text-editor>
                        </t-form-group-dynamic>

                        <!-- Noted Amount -->
                        <t-form-group-dynamic class="border-left px-1" *ngIf="showNotedAmount(entry)"
                            [label]="'Entry_NotedAmount' | translate" [serverErrors]="entry.serverErrors?.NotedAmount">
                            <!-- View -->
                            <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.NotedAmount">
                                <div class="text-truncate" style="max-width: 200px; min-width: 50px;"
                                    [title]="entry.NotedAmount">
                                    {{ entry.NotedAmount | number:MonetaryValue_format(entry) }}
                                </div>
                            </t-restricted>
                            <!-- Edit -->
                            <t-decimal-editor *ngIf="isEdit" style="min-width: 150px;"
                                [minDecimalPlaces]="MonetaryValue_decimals(entry)"
                                [maxDecimalPlaces]="MonetaryValue_decimals(entry)" [(ngModel)]="entry.NotedAmount"
                                (ngModelChange)="update.call(null, item);">
                            </t-decimal-editor>
                        </t-form-group-dynamic>

                        <!-- Noted Date -->
                        <t-form-group-dynamic class="border-left px-1" *ngIf="showNotedDate(entry)"
                            [label]="'Entry_NotedDate' | translate" [serverErrors]="entry.serverErrors?.NotedDate">
                            <!-- View -->
                            <t-restricted *ngIf="!isEdit" [metadata]="entry.EntityMetadata?.NotedDate">
                                <div class="text-truncate" style="max-width: 200px; min-width: 50px;"
                                    [title]="entry.NotedDate">
                                    {{ entry.NotedDate | date:'yyyy-MM-dd' }}
                                </div>
                            </t-restricted>
                            <!-- Edit -->
                            <t-date-picker *ngIf="isEdit" style="min-width: 150px;" [(ngModel)]="entry.NotedDate"
                                (ngModelChange)="update.call(null, item);">
                            </t-date-picker>
                        </t-form-group-dynamic>
                    </div>
                </ng-template>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><span class="small">{{ 'Attachments' | translate }}<span
                        *ngIf="model?.EntityMetadata?.Attachments == 2">
                        ({{ model?.Attachments?.length | number }})</span></span>
            </ng-template>
            <ng-template ngbTabContent>
                <!-- No Attachments Message -->
                <div class="p-3 font-italic font-weight-light2 text-muted"
                    *ngIf="!model?.Attachments?.length && !isEdit">
                    <span>{{ 'NoItemsFound' | translate }}</span>
                </div>

                <!-- Attachments List -->
                <div *ngIf="!!model?.Attachments?.length">
                    <div class="p-13 col-122 t-dynamic-container2 text-nowrap"
                        *ngFor="let att of model?.Attachments; let i = index;">
                        <div class="p-2 bg-light border-bottom d-flex" [class.bg-light]="i % 2 === 0">
                            <!-- Icon and Name -->
                            <div class="flex-grow-1 text-truncate">
                                <div class="d-flex t-borderless-input2 align-items-center">
                                    <fa-icon class="px-1 text-muted" style="font-size: 150%;"
                                        [icon]="iconFromExtension(att.FileExtension)">
                                    </fa-icon>
                                    <span>&nbsp;&nbsp;&nbsp;</span>
                                    <span *ngIf="!isEdit">{{ att.FileName }}</span>
                                    <t-form-group class="w-100" [serverErrors]="att?.serverErrors?.FileName">
                                        <t-text-editor [(ngModel)]="att.FileName"
                                            [ngModelOptions]="{ updateOn: 'blur' }" *ngIf="isEdit" [required]="true">
                                        </t-text-editor>
                                    </t-form-group>
                                </div>
                            </div>

                            <!-- Commands -->
                            <div class="d-flex align-items-center">
                                <span class="px-2 small text-muted">{{ size(att) }}</span>
                                <button *ngIf="!att.downloading"
                                    class="btn btn-sm2 text-primary p-0 px-2 t-toolbar-button btn-light t-white-button"
                                    (click)="onDownloadAttachment(model, i)" [title]="'Download' | translate">
                                    <fa-icon icon="download"></fa-icon>
                                </button>
                                <div class="px-2 t-toolbar-button" *ngIf="att.downloading">
                                    <t-spinner class="text-black"></t-spinner>
                                </div>
                                <button
                                    class="btn btn-sm2 text-primary p-0 px-2 t-toolbar-button btn-light t-white-button"
                                    *ngIf="isEdit" (click)="onDeleteAttachment(model, i)"
                                    [title]="'Delete' | translate">
                                    <fa-icon icon="trash"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Upload Button -->
                <div class="p-2" *ngIf="isEdit">
                    <button class="btn btn-sm text-primary btn-light t-white-button" (click)="fileInput.click()">
                        <fa-icon icon="upload"></fa-icon>&nbsp;&nbsp;{{ 'Upload' | translate }}
                    </button>
                </div>

            </ng-template>
        </ngb-tab>

    </ngb-tabset>

    <!-- for the file dialog -->
    <input type="file" class="d-none" #fileInput (change)="onFileSelected(fileInput, model)" />

    <!-- Signatures -->
    <div class="col-12 pt-4" *ngIf="model?.Signatures && model.Signatures.length > 0">
        <span class="small font-weight-bold">{{ 'Document_Signatures' | translate }}:</span>
        <div class="row px-2 px-md-3 px-xl-5">
            <ng-container *ngFor="let signature of model?.Signatures">
                <div class="col-12 col-md-6 px-2 px-md-5 mt-3">
                    <div class="border-bottom d-flex">
                        <div class="d-flex align-items-center justify-content">
                            <t-image [src]="'users/' + signature.CreatedById + '/image'"
                                [imageId]="ws.get('User', signature.CreatedById)?.ImageId" [size]="36" shape="circle">
                            </t-image>
                        </div>
                        <div class="p-2 text-truncate d-flex flex-column">
                            <span>
                                <t-view-link link="../../../users" [itemId]="signature.CreatedById">
                                    {{ ws.getMultilingualValue('User', signature.CreatedById, 'Name') }}
                                </t-view-link>
                                <span *ngIf="!!signature?.OnBehalfOfUserId">
                                    {{ 'OnBehalfOf' | translate }}<t-view-link link="../../../users"
                                        [itemId]="signature.OnBehalfOfUserId">
                                        {{ ws.getMultilingualValue('User', signature.OnBehalfOfUserId, 'Name') }}
                                    </t-view-link></span>
                            </span>
                            <t-view-link link="../../../roles" [itemId]="signature.RoleId" class="small">
                                {{ ws.getMultilingualValue('Role', signature.RoleId, 'Name') }}</t-view-link>
                        </div>
                    </div>
                    <div class="px-2">
                        <span class="small text-muted" [style.margin-left.px]="marginLeft"
                            [style.margin-right.px]="marginRight"> {{ signature?.SignedAt | date:'yyyy-MM-dd HH:mm' }}
                        </span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #sidebar let-model="model" let-isEdit="isEdit">
    <div class="d-flex justify-content-center p-2">
        <div class="w-100 t-paper-width">
            <!-- <div class="py-3 px-3 d-flex justify-content-center small font-weight-bold" *ngIf="!!model.AssigneeId">
                {{ 'Document_AssignmentsHistory' | translate }}
            </div> -->

            <!-- Currently with -->
            <div class="t-biege border-bottom border-top2 py-2 px-3" *ngIf="!!model.AssigneeId">
                <div class="d-flex">
                    <t-image [src]="'users/' + model.AssigneeId + '/image'"
                        [imageId]="ws.get('User', model.AssigneeId)?.ImageId" [size]="picSize" shape="circle"></t-image>
                    <div class="p-2 text-truncate">
                        <t-view-link link="../../../users" [itemId]="model.AssigneeId">
                            {{ ws.getMultilingualValue('User', model.AssigneeId, 'Name') }}</t-view-link>
                        {{ 'OwnsThisDocument' | translate }}
                    </div>
                </div>

                <!-- Assign the document -->
                <div class="px-2 pb-2 pt-0" [style.margin-left.px]="marginLeft" [style.margin-right.px]="marginRight"
                    *ngIf="showAssignDocument(model)">
                    <div class="form-group">
                        <label class="small font-weight-bold" for="user">{{ 'AssignTo' | translate }}</label>
                        <div class="bg-white border t-borderless-input p-1">
                            <t-users-picker id="user" [(ngModel)]="assigneeId" [filter]="'Id ne ' + model.AssigneeId"
                                [showCreate]="false">
                            </t-users-picker>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label class="small font-weight-bold" for="message">Message (Optional)</label> -->
                        <textarea type="password" class="form-control t-input p-1 border bg-white" id="message"
                            placeholder="{{ 'OptionalMessage' | translate }}" [(ngModel)]="comment"></textarea>
                    </div>
                    <button class="btn btn-primary btn-sm" (click)="onAssign(model)"
                        [disabled]="!canAssign(model, isEdit)">{{ 'Assign' | translate }}</button>
                </div>
            </div>

            <!-- All history -->
            <ng-container *ngFor="let dayEvents of sortChronologically(model)">
                <div class="px-3 py-3 small font-weight-bold">{{ dayEvents.date }}</div>

                <!-- Day's history -->
                <ng-container *ngFor="let event of dayEvents.events; let i = index;">
                    <div class="t-biege border-bottom pt-2 pb-2 px-3" [class.border-top]="i === 0"
                        [ngSwitch]="event.type">

                        <!-- Reassignment -->
                        <ng-container *ngSwitchCase="'reassignment'">
                            <div class="d-flex flex-wrap">
                                <t-image [src]="'users/' + event.userId + '/image'"
                                    [imageId]="ws.get('User', event.userId)?.ImageId" [size]="36" shape="circle">
                                </t-image>
                                <div class="p-2 text-truncate">
                                    <t-view-link link="../../../users" [itemId]="event.userId">
                                        {{ ws.getMultilingualValue('User', event.userId, 'Name') }}
                                    </t-view-link>
                                </div>
                                &nbsp;
                                <div class="pt-2">
                                    <fa-icon icon="angle-right" [flip]="flip" [size]="120"></fa-icon>
                                </div>
                                &nbsp;
                                &nbsp;
                                <t-image [src]="'users/' + reassignment(event).assigneeId + '/image'"
                                    [imageId]="ws.get('User', reassignment(event).assigneeId)?.ImageId" [size]="36"
                                    shape="circle">
                                </t-image>
                                <div class="p-2 text-truncate">
                                    <t-view-link link="../../../users" [itemId]="reassignment(event).assigneeId">
                                        {{ ws.getMultilingualValue('User', reassignment(event).assigneeId, 'Name') }}
                                    </t-view-link>
                                </div>
                                <div class="py-2 text-truncate">
                                    <span class="my-auto t-vertical-alignment-center small text-muted">
                                        {{ event.time | date:'HH:mm' }}
                                    </span>
                                </div>
                            </div>
                            <div class="pt-1 pb-2 px-2" [style.margin-left.px]="marginLeft"
                                [style.margin-right.px]="marginRight" *ngIf="!!reassignment(event).comment">
                                {{ reassignment(event).comment }}
                            </div>
                        </ng-container>

                        <!-- Creation -->
                        <ng-container *ngSwitchCase="'creation'">
                            <div class="d-flex">
                                <t-image [src]="'users/' + event.userId + '/image'"
                                    [imageId]="ws.get('User', event.userId)?.ImageId" [size]="36" shape="circle">
                                </t-image>
                                <div class="p-2 text-truncate">
                                    <t-view-link link="../../../users" [itemId]="event.userId">
                                        {{ ws.getMultilingualValue('User', event.userId, 'Name') }}</t-view-link>
                                    {{ 'CreatedThisDocument' | translate }}
                                </div>
                                <div class="py-2 text-truncate">
                                    <span class="small text-muted">
                                        {{ event.time | date:'HH:mm' }}
                                    </span>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>

<!-- Actions -->
<ng-template #sign> {{ 'Sign' | translate }} </ng-template>
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>


<!-- Sign Modal -->
<ng-template #signModal let-modal>

    <!-- header -->
    <div class="modal-header">
        <h5 class="modal-title"> {{ 'Sign' | translate }} </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- body -->
    <div class="modal-body">
        <!-- To State -->
        <t-form-group class="t-form-group" [label]="'Document_State' | translate" [serverErrors]="null">
            <t-selector [(ngModel)]="toState" [choices]="stateChoices" required>
            </t-selector>
        </t-form-group>

        <!-- User -->
        <t-form-group class="t-form-group" [label]="'Signature_OnBehalfOfUser' | translate" [serverErrors]="null">
            <t-users-picker [(ngModel)]="onBehalfOfUserId" [showCreate]="false">
            </t-users-picker>
        </t-form-group>

        <!-- Role -->
        <t-form-group class="t-form-group" [label]="'Signature_Role' | translate" [serverErrors]="null">
            <t-roles-picker [(ngModel)]="roleId" required [showCreate]="false">
            </t-roles-picker>
        </t-form-group>
    </div>

    <!-- footer -->
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.close()" [disabled]="!canConfirmSign">
            <fa-icon icon="check"></fa-icon>
            &nbsp;{{ 'Sign' | translate }}
        </button>
        <button class="btn btn-light text-primary t-white-button" (click)="modal.dismiss()" ngbAutofocus>
            <fa-icon icon="times"></fa-icon>
            &nbsp;{{ 'Cancel' | translate }}
        </button>
    </div>
</ng-template>

<!-- Error Modal -->
<ng-template #errorModal let-modal>

    <!-- header -->
    <div class="modal-header">
        <h5 class="modal-title">
            <fa-icon class="text-danger" icon="exclamation-triangle"></fa-icon>&nbsp;&nbsp;{{ 'Error' | translate }}
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- body -->
    <div class="modal-body">
        {{ !!modalErrorMessageFunc ? modalErrorMessageFunc() : '' }}
    </div>

    <!-- footer -->
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
            <fa-icon icon="times"></fa-icon>
            &nbsp;{{ 'Dismiss' | translate }}
        </button>
    </div>
</ng-template>