<b-details-picker [filter]="filter" [masterTemplate]="master"
    [detailsTemplate]="showCreate ? details : null" collection="Currency">
</b-details-picker>

<!-- The Details Modal -->
<ng-template #details let-modal="modal" let-update="update" let-initialText="initialText"
    let-idString="idString">
    <div class="modal-body">
        <b-currencies-details mode="popup" [initialText]="initialText" [idString]="idString"
            (cancel)="modal.close(false);" (saved)="modal.close(true); update($event);">
        </b-currencies-details>
    </div>
</ng-template>

<!-- The Master Modal -->
<ng-template #master let-modal="modal" let-update="update" let-create="create" let-filter="filter">
    <div class="modal-body">
        <b-currencies-master mode="popup" (cancel)="modal.close(false);" [filter]="filter"
            (choose)="modal.close(true); update($event);" (create)="modal.close(false); create()" [showCreate]="showCreate">
        </b-currencies-master>
    </div>
</ng-template>