<t-details [expand]="expand" [idString]="idString" collection="AdminUser" [createFunc]="create" [cloneFunc]="clone"
  [mode]="mode" [additionalSelect]="additionalSelect" [masterCrumb]="'AdminUsers' | translate"
  [detailsCrumb]="detailsCrumb" [documentTemplate]="document" [documentHeaderTemplate]="documentHeader"
  [savePreprocessing]="savePreprocessing" [actions]="[
            { template: invite, action: onInvite, showAction: showInvite, canAction: canInvite, actionTooltip: inviteTooltip },
            { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
            { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
           ]">

</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ model?.Name }}</span>
</ng-template>

<ng-template #documentHeader let-model="model" let-isEdit="isEdit">
  <div class="w-100 t-document-header d-flex justify-content-end">
    <t-restricted [metadata]="model?.EntityMetadata?.State">
      <div class="t-flow-chart small">
        <div [class.active]="isNew || model?.State === 0"><span>{{'User_New' | translate}}</span></div>
        <div *ngIf="showInvitedState(model)" [class.active]="model?.State === 1"><span>{{'User_Invited' | translate}}</span>
        </div>
        <div [class.active]="model?.State === 2"><span>{{'User_Member' | translate}}</span></div>
      </div>
      <div class="small t-lone-state active d-none">
        <span>{{ (model?.State === 2 ? 'User_Member' : model?.State === 1 ? 'User_Invited' : 'User_New') | translate
          }}</span>
      </div>
    </t-restricted>
  </div>
</ng-template>

<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

  <!-- New Notice -->
  <div class="col-12 alert-primary p-2 px-3 mb-3 mb-sm-4" *ngIf="showUserNewNotice(model, isEdit)">
    <span>
      <fa-icon icon="info-circle"></fa-icon>&nbsp;&nbsp;{{ 'AdminUserNewNotice' | translate:{ name: model?.Name } }}
      &nbsp;&nbsp;<button class="btn btn-primary btn-sm py-0 align-baseline" *ngIf="canInvite(model)" (click)="onInvite(model)"> {{
        'SendInvitationEmail' | translate }}</button>
    </span>
  </div>

  <!-- Invited Fresh Notice -->
  <div class="col-12 alert-primary p-2 px-3 mb-3 mb-sm-4" *ngIf="showUserFreshInvitedNotice(model)">
    <span>
      <fa-icon icon="info-circle"></fa-icon>&nbsp;&nbsp;{{ 'AdminUserFreshInvitedNotice' | translate:{ email:
      model?.Email } }}
    </span>
  </div>

  <!-- Invited Expired Notice -->
  <div class="col-12 alert-primary p-2 px-3 mb-3 mb-sm-4" *ngIf="showUserExpiredInvitedNotice(model, isEdit)">
    <span>
      <fa-icon icon="info-circle"></fa-icon>&nbsp;&nbsp;{{ 'AdminUserExpiredInvitedNotice' | translate:{ name:
      model?.Name } }}
      &nbsp;&nbsp;<button class="btn btn-primary btn-sm py-0 align-baseline" *ngIf="canInvite(model)" (click)="onInvite(model)"> {{
        'SendInvitationEmail' | translate }}</button>
    </span>
  </div>

  <!-- Header Name -->
  <t-form-group class="col-12 mb-2 mb-sm-4 t-h2" [serverErrors]="model?.serverErrors?.Name">
    <h2 class="font-weight-normal" *ngIf="!isEdit">{{ model?.Name }}</h2>

    <t-text-editor *ngIf="isEdit" [focusIf]="!model.Id" [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }"
      [placeholder]="'Name' | translate" required>
    </t-text-editor>
  </t-form-group>

  <!-- IsService -->
  <t-form-group class="t-form-group" [label]="'User_IsService' | translate"
    [serverErrors]="model?.serverErrors?.IsService">
    <t-restricted *ngIf="!isEdit || !isNew" [metadata]="model?.EntityMetadata?.IsService">
      {{ (model?.IsService ? 'Yes' : 'No') | translate }}
    </t-restricted>
    <div *ngIf="isEdit && isNew" class="custom-control custom-checkbox t-labelless-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="model.IsService" id="isService">
      <label class="custom-control-label t-pointer" for="isService">&zwnj;</label>
    </div>
  </t-form-group>

  <!-- Email -->
  <t-form-group class="t-form-group" *ngIf="!model?.IsService" [label]="'User_Email' | translate"
    [serverErrors]="model?.serverErrors?.Email">
    <div *ngIf="!isEdit">{{ model?.Email }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Email" [ngModelOptions]="{ updateOn: 'blur' }" required
      email [disabled]="!isNew"></t-text-editor>
  </t-form-group>

  <!-- ClientId -->
  <t-form-group class="t-form-group" *ngIf="model?.IsService" [label]="'User_ClientId' | translate"
    [serverErrors]="model?.serverErrors?.ClientId">
    <div *ngIf="!isEdit">{{ model?.ClientId }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.ClientId" [ngModelOptions]="{ updateOn: 'blur' }" required
      [disabled]="!isNew"></t-text-editor>
  </t-form-group>

  <!-- Last Activity -->
  <t-form-group class="t-form-group" [label]="'User_LastActivity' | translate" *ngIf="!isEdit">
    <t-auto-cell collection="AdminUser" [entity]="model" path="LastAccess">
    </t-auto-cell>
  </t-form-group>

  <!-- Is Active -->
  <t-form-group class="t-form-group" [label]="'IsActive' | translate" *ngIf="!isEdit">
    <div>{{ (!model ? '' : model.IsActive ? 'Yes' : 'No') | translate }}</div>
  </t-form-group>

  <ul ngbNav #tabs="ngbNav" class="pt-3 pt-sm-4 w-100 nav-tabs" [destroyOnHide]="true">

    <!-- Permissions -->
    <li [disabled]="true" ngbNavItem="permissions">
      <a ngbNavLink>
        <span class="small t-slightly-bold">{{ ('User_Permissions' | translate) + (!model.Id ||
          model?.EntityMetadata?.Permissions === 2 ? ' (' + (model?.Permissions?.length | number) + ')' : '') }}</span>
        <span *ngIf="showPermissionsError(model)" class="text-danger">&nbsp;<fa-icon icon="exclamation">
          </fa-icon>
        </span>
      </a>
      <ng-template ngbNavContent>
        <t-restricted [metadata]="model?.EntityMetadata?.Permissions"
          [class.p-4]="model?.EntityMetadata?.Permissions === 1">
          <t-table [dataSource]="model?.Permissions" [isEdit]="isEdit"
            [columnPaths]="['View', 'Action', 'Criteria', 'Memo']" [columnTemplates]="{
                    'View' : { headerTemplate : header_View, rowTemplate : row_View, weight : 1 },
                    'Action' : { headerTemplate : header_Action, rowTemplate : row_Action, weight : 1 },
                    'Criteria' : { headerTemplate : header_Criteria, rowTemplate : row_Criteria, weight : 1 },
                    'Memo' : { headerTemplate : header_Memo, rowTemplate : row_Memo, weight : 1 }
                  }">
          </t-table>
        </t-restricted>

        <!-- View -->
        <ng-template #header_View>{{ 'Permission_View' | translate }}</ng-template>
        <ng-template #row_View let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.View">
            <div *ngIf="!isEdit">
              {{ permissionViewLookup(item.View) }}
            </div>
            <t-selector *ngIf="isEdit" [choices]="permissionViewChoices" [(ngModel)]="item.View" [required]="!item.PH"
              (ngModelChange)="update.call(null, item); onPermissionChanged(item);"></t-selector>
          </t-form-group-cell>
        </ng-template>

        <!-- Action -->
        <ng-template #header_Action>{{ 'Permission_Action' | translate }}</ng-template>
        <ng-template #row_Action let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Action">
            <div *ngIf="!isEdit">{{ permissionActionLookup(item?.Action) | translate }}</div>
            <t-selector *ngIf="isEdit" [(ngModel)]="item.Action" [required]="!item.PH"
              (ngModelChange)="update.call(null, item); onPermissionChanged(item);"
              [ngModelOptions]="{ updateOn: 'blur' }" [choices]="permissionActionChoices(item)" [disabled]="!item.View">
            </t-selector>
          </t-form-group-cell>
        </ng-template>

        <!-- Criteria -->
        <ng-template #header_Criteria>{{ 'Permission_Criteria' | translate }}</ng-template>
        <ng-template #row_Criteria let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Criteria">
            <div *ngIf="!isEdit">{{ item.Criteria }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="item.Criteria" (ngModelChange)="update.call(null, item)"
              [ngModelOptions]="{ updateOn: 'blur' }" [disabled]="disableCriteria(item)">
            </t-text-editor>
          </t-form-group-cell>
        </ng-template>

        <!-- Memo -->
        <ng-template #header_Memo>{{ 'Memo' | translate }}</ng-template>
        <ng-template #row_Memo let-item="item" let-index="index" let-update="update">
          <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Memo">
            <div *ngIf="!isEdit">{{ item.Memo }}</div>
            <t-text-editor *ngIf="isEdit" [(ngModel)]="item.Memo" (ngModelChange)="update.call(null, item)"
              [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
          </t-form-group-cell>
        </ng-template>
      </ng-template>
    </li>
  </ul>
  <div class="w-100" [ngbNavOutlet]="tabs"></div>
</ng-template>

<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>
<ng-template #invite> {{ 'SendInvitationEmail' | translate }} </ng-template>