<div class="h-100 d-flex flex-column">
  <!-- Breadcrumb and Toolbar -->
  <div class="row border-bottom" [class.bg-white]="isLight" [class.t-less-dark]="isDark" [class.t-dark-border]="isDark"
    [class.t-text-whitish]="isDark" *ngIf="isScreenMode">

    <!-- Breadcrumb -->
    <div class="col-12 p-1">
      <ul class="breadcrumb mb-0">
        <li class="breadcrumb-item" style="z-index: 1">
          <a [class.text-primary]="isLight" [class.t-text-whitish]="isDark" [routerLink]="['..']">
            {{ masterCrumb }}
          </a>
        </li>
        <li class="breadcrumb-item active" [class.t-text-whitish]="isDark">
          <ng-container *ngIf="(!showSpinner); else loading">
            <ng-container *ngIf="(!isNew); else new">
              <ng-container *ngIf="!showErrorMessage">
                <ng-container *ngTemplateOutlet="detailsCrumb; context: { model: activeModel, extras: extras }">
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-template #new>({{ 'New' | translate }})</ng-template>
          <ng-template #loading>{{ 'Loading' | translate }}...</ng-template>

          <!-- Dirty Asterisk -->
          <span class="text-danger t-dirty-asterisk px-1" [class.text-danger]="isLight" [class.t-light-danger]="isDark"
            *ngIf="isDirty">*</span>
        </li>
      </ul>
    </div>

    <!-- Toolbar -->
    <div class="col-12 p-1 d-flex justify-content-between t-toolbar">
      <!-- View Toolbar -->
      <div *ngIf="showViewToolbar">
        <!-- Edit -->
        <div class="d-inline-block" [placement]="actionsDropdownPlacement" [ngbTooltip]="editTooltip" container="body"
          *ngIf="showEdit">
          <button class="btn btn-sm t-toolbar-button" [class.btn-primary]="isLight" [class.t-text-whitish]="isDark"
            [class.font-weight-normal]="isDark" (click)="onEdit()" [disabled]="!canEdit">
            <fa-icon icon="pen"></fa-icon>
            <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Edit' | translate }}</span>
          </button>
        </div>

        <!-- Create -->
        <div class="d-inline-block" [placement]="actionsDropdownPlacement" [ngbTooltip]="createTooltip"
          *ngIf="showCreate" container="body">
          <button class="btn btn-sm t-toolbar-button"
            [ngClass]="{ 'btn-light': isLight, 'text-primary': isLight, 't-white-button': isLight, 't-text-whitish': isDark, 'font-weight-normal': isDark }"
            (click)="onCreate()" [disabled]="!canCreate">
            <fa-icon icon="plus"></fa-icon>
            <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Create' | translate }}</span>
          </button>
        </div>

        <!-- Print Dropdown -->
        <div *ngIf="!isEdit && showPrint" class="btn-group" ngbDropdown [placement]="actionsDropdownPlacement">
          <button type="button"
            class="btn btn-sm btn-light text-primary t-white-button t-toolbar-button dropdown-toggle" ngbDropdownToggle>
            <fa-icon *ngIf="!isPrinting; else spinner" icon="print"></fa-icon>
            <ng-template #spinner>
              <t-spinner></t-spinner>
            </ng-template>
            <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Print' | translate }}</span>
          </button>
          <div class="dropdown-menu shadow small" ngbDropdownMenu aria-labelledby="action">
            <button type="button" class="dropdown-item t-transparent-background btn-light"
              *ngFor="let template of printingTemplates" ngbDropdownItem (click)="onPrint(template)">
              {{ template.name() }}
            </button>
          </div>
        </div>

        <!-- SendEmail Dropdown -->
        <div *ngIf="showSendEmail" class="btn-group" ngbDropdown [placement]="actionsDropdownPlacement">
          <button type="button"
            class="btn btn-sm btn-light text-primary t-white-button t-toolbar-button dropdown-toggle" ngbDropdownToggle>
            <span class="d-none d-md-inline">{{ 'SendByEmail' | translate }}</span>
          </button>
          <div class="dropdown-menu shadow small" ngbDropdownMenu aria-labelledby="action">
            <button type="button" class="dropdown-item t-transparent-background btn-light"
              *ngFor="let template of emailTemplates" ngbDropdownItem (click)="onSendEmailModal(template)">
              {{ template.name() }}
            </button>
          </div>
        </div>

        <!-- SendEmail -->
        <!-- <div class="d-inline-block" *ngIf="showCreate">
          <button class="btn btn-sm t-toolbar-button"
            [ngClass]="{ 'btn-light': isLight, 'text-primary': isLight, 't-white-button': isLight, 't-text-whitish': isDark, 'font-weight-normal': isDark }"
            (click)="onSendEmailModal()" [disabled]="!canSendEmail">
            <fa-icon icon="envelope"></fa-icon>
            <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'SendByEmail' | translate }}</span>
          </button>
        </div> -->

        <!-- Actions -->
        <div *ngIf="showActions" class="btn-group" ngbDropdown [placement]="actionsDropdownPlacement">
          <button type="button" class="btn btn-sm t-toolbar-button dropdown-toggle" ngbDropdownToggle
            [ngClass]="{ 'btn-light': isLight, 'text-primary': isLight, 't-white-button': isLight, 't-text-whitish': isDark, 'font-weight-normal': isDark }">
            <!-- <fa-icon class="d-inline d-md-none2" icon="bars"></fa-icon> -->
            <span>{{ 'Actions' | translate }}</span>
          </button>
          <div class="dropdown-menu shadow small" ngbDropdownMenu aria-labelledby="action" [class.t-less-dark]="isDark">
            <ng-container *ngFor="let action of actions">
              <div *ngIf="showAction(action)" [placement]="actionsDropdownPlacement"
                [ngbTooltip]="actionTooltip(action)" container="body">
                <button type="button" class="dropdown-item t-transparent-background" [class.btn-light]="isLight"
                  [class.t-text-whitish]="isDark" ngbDropdownItem (click)="onAction(action)"
                  [disabled]="!canAction(action)">
                  <ng-container *ngTemplateOutlet="action.template"></ng-container>
                </button>
              </div>
            </ng-container>

            <div *ngIf="showDelete" [placement]="actionsDropdownPlacement" [ngbTooltip]="deleteTooltip"
              container="body">
              <button type="button" class="dropdown-item t-transparent-background" [class.btn-light]="isLight"
                [class.t-text-whitish]="isDark" ngbDropdownItem (click)="modalService.open(deleteModal)"
                [disabled]="!canDelete" *ngIf="showDelete">
                {{ 'Delete' | translate }}
              </button>
            </div>

            <div *ngIf="showClone" [placement]="actionsDropdownPlacement" [ngbTooltip]="cloneTooltip" container="body">
              <button type="button" class="dropdown-item t-transparent-background" [class.btn-light]="isLight"
                [class.t-text-whitish]="isDark" ngbDropdownItem (click)="onClone()" [disabled]="!canClone">
                {{ 'Clone' | translate }}
              </button>

            </div>
          </div>
        </div>

        <!-- Custom injected stuff -->
        <ng-container
          *ngTemplateOutlet="toolbarTemplate;context: { model: activeModel, extras: extras, isEdit: isEdit }">
        </ng-container>
      </div>

      <!-- Edit Toolbar -->
      <div *ngIf="showEditToolbar">

        <!-- Save -->
        <button class="btn btn-sm t-toolbar-button" [class.btn-primary]="isLight" [class.t-text-whitish]="isDark"
          (click)="onSave()">
          <fa-icon icon="save"></fa-icon>&nbsp;&nbsp;{{ 'Save' | translate }}
        </button>

        <!-- Cancel -->
        <button class="btn btn-sm t-toolbar-button"
          [ngClass]="{ 'btn-light': isLight, 'text-primary': isLight, 't-white-button': isLight, 't-text-whitish': isDark, 'font-weight-normal': isDark }"
          (click)="onCancel()">
          <fa-icon icon="times"></fa-icon>&nbsp;&nbsp;{{ 'Cancel' | translate }}
        </button>
        <ng-container
          *ngTemplateOutlet="toolbarTemplate;context: { model: activeModel, extras: extras, isEdit: isEdit }">
        </ng-container>
      </div>

      <div>
        <!-- Refresh -->
        <button class="btn btn-sm t-toolbar-button"
          [ngClass]="{ 'btn-light': isLight, 't-white-button': isLight, 't-text-whitish': isDark, 'font-weight-normal': isDark }"
          *ngIf="showRefresh" type="button" title="{{ 'Refresh' | translate }}" (click)="onRefresh()">
          <fa-icon icon="sync-alt"></fa-icon>
        </button>

        <!-- Paging -->
        <ng-container *ngIf="showNextAndPrevious">
          <div class="d-inline small mx-2">
            <span class="t-vertical-align-middle">{{ order | number }}</span>
            <span class="t-vertical-align-middle"> / {{ totalDisplay }}</span>
          </div>

          <button class="btn btn-sm t-toolbar-button"
            [ngClass]="{ 'btn-light': isLight, 't-white-button': isLight, 't-text-whitish': isDark, 'font-weight-normal': isDark }"
            type="button" title="{{ 'Previous' | translate }}" (click)="onPrevious()" [disabled]="!canPrevious">
            <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
          </button>
          <button class="btn btn-sm t-toolbar-button"
            [ngClass]="{ 'btn-light': isLight, 't-white-button': isLight, 't-text-whitish': isDark, 'font-weight-normal': isDark }"
            type="button" title="{{ 'Next' | translate }}" (click)="onNext()" [disabled]="!canNext">
            <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Popup Mode -->
  <div class="row border-bottom justify-content-between flex-row" [class.bg-white]="isLight"
    [class.t-less-dark]="isDark" [class.t-dark-border]="isDark" *ngIf="isPopupMode">

    <!-- Modal Breadcrumb -->
    <div class="p-2">
      <ul class="breadcrumb mb-0">
        <li class="breadcrumb-item active" [class.t-text-whitish]="isDark" style="z-index: 1">
          {{ masterCrumb }}
        </li>
        <li class="breadcrumb-item active" [class.t-text-whitish]="isDark">
          <ng-container *ngIf="(!showSpinner); else loading">
            <ng-container *ngIf="(!isNew); else new">
              <ng-container *ngTemplateOutlet="detailsCrumb; context: { model: activeModel, extras: extras }">
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-template #new>({{ 'New' | translate }})</ng-template>
          <ng-template #loading>{{ 'Loading' | translate }}...</ng-template>

          <!-- Dirty Asterisk -->
          <span class="t-dirty-asterisk px-1" [class.text-danger]="isLight" [class.t-light-danger]="isDark"
            *ngIf="isDirty">*</span>
        </li>
      </ul>
    </div>

    <!-- Modal Close Button -->
    <button type="button" class="close pr-3 pl-3" aria-label="Close" [class.text-white]="isDark" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Content Area -->
  <div class="row t-rest-of-screen" [class.t-main-and-side]="!!sidebarTemplate" [class.border-bottom]="isPopupMode"
    [class.t-much-less-dark]="isDark" [class.t-dark-border]="isDark"
    [tScrollMemory]="'details_' + collection + '_' + (definitionId || 'default')" [tScrollMemoryTrigger]="activeModel">
    <div class="w-100 " [class.t-main-document]="showSidebar" [class.h-100]="!showSidebar">

      <!-- Document content -->
      <div class="p-0 p-sm-3 d-flex flex-column align-items-center" *ngIf="showDocument && documentLayout">
        <div class="border w-100 t-paper" [class.bg-white]="!isDark" [class.t-less-dark]="isDark"
          [class.t-dark-border]="isDark">
          <div class="border-bottom" *ngIf="documentHeaderTemplate">
            <ng-container
              *ngTemplateOutlet="documentHeaderTemplate;context: { model: activeModel, extras: extras, isEdit: isEdit }">
            </ng-container>
          </div>
          <div class="row m-0 px-1 px-sm-3 pt-3 pt-sm-4 pb-3 pb-sm-5">
            <!-- Errors -->
            <div class="w-100 mb-3" *ngIf="unboundServerErrors.length || activeModel?.serverErrors?._Self">
              <div class="m-1" *ngFor="let error of unboundServerErrors">
                <t-error-message> {{ error }} </t-error-message>
              </div>
              <div class="m-1" *ngFor="let error of activeModel?.serverErrors?._Self">
                <t-error-message> {{ error }} </t-error-message>
              </div>
            </div>
            <!-- Details -->
            <ng-container
              *ngTemplateOutlet="documentTemplate;context: { model: activeModel, extras: extras, isEdit: isEdit, serverErrors: serverErrors }">
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Full screen content -->
      <ng-container *ngIf="showDocument && fullScreenLayout">
        <ng-container
          *ngTemplateOutlet="documentTemplate;context: { model: activeModel, extras: extras, isEdit: isEdit, serverErrors: serverErrors }">
        </ng-container>
      </ng-container>

      <!-- Spinner -->
      <div class="w-100 mt-3" *ngIf="showSpinner" [class.t-text-whitish]="isDark">
        <div class="w-100 p-2 d-flex justify-content-center">
          <t-spinner [scale]="2"></t-spinner>
        </div>
      </div>

      <!-- Error message -->
      <div class="mt-3" *ngIf="showErrorMessage">
        <t-error-message>
          {{ errorMessage }}
        </t-error-message>
      </div>
    </div>

    <!-- Sidebar -->
    <div *ngIf="showSidebar" class="t-sidebar bg-white">
      <div class="bg-white">
        <ng-container
          *ngTemplateOutlet="sidebarTemplate;context: { model: activeModel, extras: extras, isEdit: isEdit }">
        </ng-container>
      </div>
    </div>

  </div>

  <!-- Popup Mode Footer -->
  <div class="row p-3 justify-content-end" *ngIf="isPopupMode" [class.t-less-dark]="isDark">
    <button class="btn t-toolbar-button" (click)="onSave()" [class.btn-primary]="isLight"
      [class.t-text-whitish]="isDark">
      <fa-icon icon="save"></fa-icon>&nbsp;&nbsp;{{ 'Save' | translate }}
    </button>
    <button class="btn t-toolbar-button"
      [ngClass]="{ 'btn-light': isLight, 'text-primary': isLight, 't-white-button': isLight, 't-text-whitish': isDark, 'font-weight-normal': isDark }"
      (click)="onCancel()">
      <fa-icon icon="times"></fa-icon>&nbsp;&nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</div>


<!-- Delete Modal -->
<ng-template #deleteModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title"> {{ 'Confirmation' | translate }} </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ 'DetailsDeleteConfirmationMessage' | translate }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.dismiss(); onDelete();">
      <fa-icon icon="trash"></fa-icon>
      &nbsp;{{ 'Delete' | translate }}
    </button>
    <button class="btn btn-light text-primary t-white-button" (click)="modal.dismiss()" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</ng-template>

<!-- Error Modal -->
<ng-template #errorModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title">
      <fa-icon class="text-danger" icon="exclamation-triangle"></fa-icon>&nbsp;&nbsp;{{ 'Error' | translate }}
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body" style="white-space: pre-wrap;">{{ modalErrorMessage }}</div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Dismiss' | translate }}
    </button>
  </div>
</ng-template>

<!-- Success Modal -->
<ng-template #successModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title">
      <fa-icon class="text-success" icon="check"></fa-icon>&nbsp;&nbsp;{{ 'Success' | translate }}
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ modalSuccessMessage }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Dismiss' | translate }}
    </button>
  </div>
</ng-template>

<!-- Unsaved Changes Modal -->
<ng-template #unsavedChangesModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title"> {{ 'Confirmation' | translate }} </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ 'UnsavedChangesConfirmationMessage' | translate }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.close(true)">
      <fa-icon icon="check"></fa-icon>
      &nbsp;{{ 'Proceed' | translate }}
    </button>
    <button class="btn btn-light text-primary t-white-button" (click)="modal.close(false)" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</ng-template>


<!-- Email List Modal -->
<ng-template #emailListModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title"> {{ 'EmailsPreview' | translate }} </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    <t-email-list class="row overflow-auto" [emails]="emailCommand?.Emails" [isLoading]="isEmailCommandLoading"
      [errorFunc]="emailCommandError" (preview)="onPreviewEmail($event)">
    </t-email-list>
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="onConfirmSendEmail(modal);" [disabled]="!canConfirmSendEmail">
      <fa-icon icon="envelope"></fa-icon>
      &nbsp;{{ 'ConfirmSendEmail' | translate }}
    </button>
    <button class="btn btn-light text-primary t-white-button" (click)="modal.close(false)" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</ng-template>

<!-- Email Modal -->
<ng-template #emailModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title"> {{ 'EmailPreview' | translate }} </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body bg-white py-2">
    <t-email [email]="email" [isLoading]="isEmailLoading || isEmailCommandLoading"
      [errorFunc]="emailCommandError || emailError"></t-email>
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <ng-container *ngIf="isSingleEmail; else dismiss">
      <button class="btn btn-primary" (click)="onConfirmSendEmail(modal);" [disabled]="!canConfirmSendEmail">
        <fa-icon icon="envelope"></fa-icon>
        &nbsp;{{ 'ConfirmSendEmail' | translate }}
      </button>
      <button class="btn btn-light text-primary t-white-button" (click)="modal.close(false)" ngbAutofocus>
        <fa-icon icon="times"></fa-icon>
        &nbsp;{{ 'Cancel' | translate }}
      </button>
    </ng-container>
    <ng-template #dismiss>
      <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
        <fa-icon icon="times"></fa-icon>
        &nbsp;{{ 'Dismiss' | translate }}
      </button>
    </ng-template>
  </div>
</ng-template>