<!-- 
  A form group in a table cell, this will not have a label, only content that streches 100% of the width
  any input in the content will typically be borderless (the table cell border suffices), but a thin red 
  border appears when the input is invalid, and a thick teal border appears when the input is focused (or
  a red one if the input is invalid).
-->
<div class="form-group-container w-100 t-borderless-input" [class.is-invalid]="invalid"
    [ngbPopover]="invalid ? errorsPopover : null" container="body" [placement]="popoverPlacement"
    triggers="mouseenter:mouseleave">
    <ng-content></ng-content>
</div>

<ng-template #errorsPopover>
    <div style="width: 250px">
        <p class="m-0 p-0" *ngFor="let error of errors">
            <fa-icon icon="exclamation-triangle" class="text-danger"></fa-icon>
            &nbsp;{{ error() }}
        </p>
    </div>
</ng-template>