<div class="container">
  <div class="b-paper p-3">
    <h1>My Companies</h1>
    <p>
      TODO: This screen should show the companies that the current user is a member of, and allow the user to log into any of them. Also it should allow an admin user to access the admin portal, and allow all users to change the UI language and manage his/her account
    </p>
    <a class="btn btn-primary m-1" routerLink="/app/101">Contoso Inc.</a>
    <a class="btn btn-primary m-1" routerLink="/app/102">Fabrikam & Co.</a>
  </div>
</div>

