<b-details collection="IfrsNote" [expand]="expand" [mode]="mode" [showCreateButton]="false" [showEditButton]="false" [showDeleteButton]="false"
  [masterCrumb]="'IfrsNotes' | translate" [detailsCrumb]="detailsCrumb" [documentTemplate]="document" [actions]="[
            { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
            { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
           ]">

</b-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ getMultilingualValue(model, 'Label', ws) }}</span>
</ng-template>


<!-- Edit/View Template -->
<ng-template #document let-model="model">

  <!-- Header Label -->
  <b-form-group class="col-12 mb-2 mb-sm-4 b-h2">
    <h2 class="font-weight-normal">{{ getMultilingualValue(model, 'Label', ws) }}</h2>
  </b-form-group>

  <!-- Label -->
  <b-form-group class="b-form-group" *ngIf="!ws.isPrimaryLanguage"
    [label]="('IfrsConcepts_Label' | translate) + ws.primaryPostfix">
    <div class="d-block text-truncate">{{ model?.Label }}</div>
  </b-form-group>

  <!-- Label2 -->
  <b-form-group class="b-form-group" *ngIf="!ws.isSecondaryLanguage && ws.settings.SecondaryLanguageId"
    [label]="('IfrsConcepts_Label' | translate) + ws.secondaryPostfix">
    <div class="d-block text-truncate">{{ model?.Label2 }}</div>
  </b-form-group>

  <!-- Label3 -->
  <b-form-group class="b-form-group" *ngIf="!ws.isTernaryLanguage && ws.settings.TernaryLanguageId"
    [label]="('IfrsConcepts_Label' | translate) + ws.ternaryPostfix">
    <div class="d-block text-truncate">{{ model?.Label3 }}</div>
  </b-form-group>

  <!-- Code -->
  <b-form-group class="b-form-group" [label]="'Code' | translate">
    <div class="d-block text-truncate">{{model?.Id}}</div>
  </b-form-group>

  <!-- IFSR Type -->
  <b-form-group class="b-form-group" [label]="'IfrsConcepts_IfrsType' | translate">
    <b-restricted [metadata]="model?.EntityMetadata?.IfrsType"> {{ ifrsTypeLookup(model?.IfrsType) | translate }}
    </b-restricted>
  </b-form-group>

  <!-- Effective Date -->
  <b-form-group class="b-form-group" [label]="'IfrsConcepts_EffectiveDate' | translate">
    <b-restricted [metadata]="model?.EntityMetadata?.EffectiveDate"> {{model?.EffectiveDate | date:'yyyy-MM-dd'}}
    </b-restricted>
  </b-form-group>

  <!-- Effective Date -->
  <b-form-group class="b-form-group" [label]="'IfrsConcepts_ExpiryDate' | translate">
    <b-restricted [metadata]="model?.EntityMetadata?.ExpiryDate"> {{model?.ExpiryDate | date:'yyyy-MM-dd'}}
    </b-restricted>
  </b-form-group>

  <!-- Parent -->
  <b-form-group class="b-form-group" [label]="'TreeParent' | translate">
    <b-restricted [metadata]="model?.EntityMetadata?.Parent"> 
        <b-view-link link="../"
        [itemId]="model?.ParentId">
        {{ ws.getMultilingualValue('IfrsNote', model?.ParentId, 'Label') }}
      </b-view-link>
    </b-restricted>
  </b-form-group>
  
  <!-- Is Aggregate -->
  <b-form-group class="b-form-group" [label]="'IfrsNotes_IsAggregate' | translate">
    <b-restricted [metadata]="model?.EntityMetadata?.IsAggregate"> {{ (!model ? '' : model.IsAggregate ? 'Yes' : 'No') | translate }}</b-restricted>
  </b-form-group>
  
  <!-- For Debit -->
  <b-form-group class="b-form-group" [label]="'IfrsNotes_ForDebit' | translate">
    <b-restricted [metadata]="model?.EntityMetadata?.ForDebit"> {{ (!model ? '' : model.ForDebit ? 'Yes' : 'No') | translate }}</b-restricted>
  </b-form-group>
  
  <!-- For Credit -->
  <b-form-group class="b-form-group" [label]="'IfrsNotes_ForCredit' | translate">
    <b-restricted [metadata]="model?.EntityMetadata?.ForCredit"> {{ (!model ? '' : model.ForCredit ? 'Yes' : 'No') | translate }}</b-restricted>
  </b-form-group>

  <!-- Is Active -->
  <b-form-group class="b-form-group" [label]="'IsActive' | translate">
    <div>{{ (!model ? '' : model.IsActive ? 'Active' : 'Inactive') | translate }}</div>
  </b-form-group>

  <!-- Documentation -->
  <b-form-group class="b-form-group"
    [label]="('IfrsConcepts_Documentation' | translate) + ws.primaryPostfix">
    <b-restricted [metadata]="model?.EntityMetadata?.Documentation"> {{ model?.Documentation }}</b-restricted>
  </b-form-group>

  <!-- Documentation2 -->
  <b-form-group class="b-form-group" *ngIf="ws.settings.SecondaryLanguageId"
    [label]="('IfrsConcepts_Documentation' | translate) + ws.secondaryPostfix">
    <b-restricted [metadata]="model?.EntityMetadata?.Documentation2"> {{ model?.Documentation2 }}</b-restricted>
  </b-form-group>

  <!-- Documentation3 -->
  <b-form-group class="b-form-group" *ngIf="ws.settings.TernaryLanguageId"
    [label]="('IfrsConcepts_Documentation' | translate) + ws.ternaryPostfix">
    <b-restricted [metadata]="model?.EntityMetadata?.Documentation3"> {{ model?.Documentation3 }}</b-restricted>
  </b-form-group>

</ng-template>

<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>