@if (found) {
  <div class="h-100 d-flex flex-column">
    <!-- Title and Parameters -->
    <div class="row border-bottom bg-white">
      <!-- Breadcrumb -->
      <div class="col-12 p-1">
        <ul class="breadcrumb mb-0">
          <li class="breadcrumb-item active">
            {{ title }}
          </li>
        </ul>
      </div>
      <!-- Parameters -->
      <div class="mx-auto mb-3 w-100" style="max-width: 900px" [class.d-none]="collapseParameters">
        <div class="row m-0 px-0 px-lg-1 py-1">
          <!-- From Date -->
          <t-form-group class="t-form-group" [label]="('FromDate' | translate) + ' *'">
            <t-date-picker [(ngModel)]="fromDate" [ngModelOptions]="{ updateOn: 'blur' }"></t-date-picker>
          </t-form-group>
          <!-- To Date -->
          <t-form-group class="t-form-group" [label]="('ToDate' | translate) + ' *'">
            <t-date-picker [(ngModel)]="toDate" [ngModelOptions]="{ updateOn: 'blur' }"></t-date-picker>
          </t-form-group>
          @switch (type) {
            @case ('agent') {
              <!-- Agent -->
              <!-- <t-form-group class="t-form-group" [label]="labelAgent_Smart">
              <t-agents-picker [(ngModel)]="agentId" [definitionIds]="definitionIdsAgent_Smart"
                [additionalSelect]="agentAdditionalSelect" [ensureAdditionalSelect]="true"
                (entityLoaded)="onParameterLoaded()" [showCreate]="false">
              </t-agents-picker>
            </t-form-group> -->
          }
          @case ('account') {
            <!-- Account -->
            <t-form-group class="t-form-group" [label]="('Entry_Account' | translate) + ' *'">
              <t-accounts-picker [(ngModel)]="accountId" [additionalSelect]="accountAdditionalSelect"
                [ensureAdditionalSelect]="true" (entityLoaded)="onParameterLoaded()"
                [showCreate]="false">
              </t-accounts-picker>
            </t-form-group>
            <!-- Currency -->
            @if (showCurrencyParameter) {
              <t-form-group class="t-form-group" [label]="'Entry_Currency' | translate"
                >
                <t-currencies-picker [(ngModel)]="currencyId" [additionalSelect]="currencyAdditionalSelect"
                  [ensureAdditionalSelect]="true" [showCreate]="false">
                </t-currencies-picker>
              </t-form-group>
            }
            <!-- Agent -->
            @if (showAgentParameter) {
              <t-form-group class="t-form-group" [label]="labelAgent_Manual">
                @if (!readonlyAgent_Manual) {
                  <t-agents-picker [(ngModel)]="agentId"
                    [definitionIds]="definitionIdsAgent_Manual" (entityLoaded)="onParameterLoaded()"
                    [showCreate]="false" [additionalSelect]="agentAdditionalSelect"
                    [ensureAdditionalSelect]="true">
                  </t-agents-picker>
                }
                @if (readonlyAgent_Manual) {
                  <t-view-link
                    [link]="link('agents/') + ws.get('Agent', readonlyValueAgentId_Manual)?.DefinitionId"
                    [itemId]="readonlyValueAgentId_Manual">
                    {{ ws.getMultilingualValue('Agent', readonlyValueAgentId_Manual, 'Name') }}
                  </t-view-link>
                }
              </t-form-group>
            }
            <!-- Resource -->
            @if (showResourceParameter) {
              <t-form-group class="t-form-group" [label]="labelResource_Manual">
                @if (!readonlyResource_Manual) {
                  <t-resources-picker [(ngModel)]="resourceId"
                    [definitionIds]="definitionIdsResource_Manual"
                    [additionalSelect]="resourceAdditionalSelect" [ensureAdditionalSelect]="true"
                    (entityLoaded)="onParameterLoaded()" [showCreate]="false">
                  </t-resources-picker>
                }
                @if (readonlyResource_Manual) {
                  <t-view-link
                    [link]="link('resources/') + ws.get('Resource', readonlyValueResourceId_Manual)?.DefinitionId"
                    [itemId]="readonlyValueResourceId_Manual">
                    {{ ws.getMultilingualValue('Resource', readonlyValueResourceId_Manual, 'Name') }}
                  </t-view-link>
                }
              </t-form-group>
            }
            <!-- NotedAgent -->
            @if (showNotedAgentParameter) {
              <t-form-group class="t-form-group" [label]="labelNotedAgent_Manual"
                >
                @if (!readonlyNotedAgent_Manual) {
                  <t-agents-picker [(ngModel)]="notedAgentId"
                    [definitionIds]="definitionIdsNotedAgent_Manual" (entityLoaded)="onParameterLoaded()"
                    [showCreate]="false" [additionalSelect]="notedAgentAdditionalSelect"
                    [ensureAdditionalSelect]="true">
                  </t-agents-picker>
                }
                @if (readonlyNotedAgent_Manual) {
                  <t-view-link
                    [link]="link('agents/') + ws.get('Agent', readonlyValueNotedAgentId_Manual)?.DefinitionId"
                    [itemId]="readonlyValueNotedAgentId_Manual">
                    {{ ws.getMultilingualValue('Agent', readonlyValueNotedAgentId_Manual, 'Name') }}
                  </t-view-link>
                }
              </t-form-group>
            }
            <!-- NotedResource -->
            @if (showNotedResourceParameter) {
              <t-form-group class="t-form-group" [label]="labelNotedResource_Manual"
                >
                @if (!readonlyNotedResource_Manual) {
                  <t-resources-picker [(ngModel)]="notedResourceId"
                    [definitionIds]="definitionIdsNotedResource_Manual" (entityLoaded)="onParameterLoaded()"
                    [showCreate]="false" [additionalSelect]="notedResourceAdditionalSelect"
                    [ensureAdditionalSelect]="true">
                  </t-resources-picker>
                }
                @if (readonlyNotedResource_Manual) {
                  <t-view-link
                    [link]="link('resources/') + ws.get('Resource', readonlyValueNotedResourceId_Manual)?.DefinitionId"
                    [itemId]="readonlyValueNotedResourceId_Manual">
                    {{ ws.getMultilingualValue('Resource', readonlyValueNotedResourceId_Manual, 'Name') }}
                  </t-view-link>
                }
              </t-form-group>
            }
            <!-- Entry Type -->
            @if (showEntryTypeParameter) {
              <t-form-group class="t-form-group" [label]="'Entry_EntryType' | translate"
                >
                @if (!readonlyEntryType_Manual) {
                  <t-entry-types-picker [(ngModel)]="entryTypeId"
                    [filter]="filterEntryType_Manual" [showCreate]="false">
                  </t-entry-types-picker>
                }
                @if (readonlyEntryType_Manual) {
                  <t-view-link [link]="link('entry-types')"
                    [itemId]="readonlyValueEntryTypeId_Manual">
                    {{ ws.getMultilingualValue('EntryType', readonlyValueEntryTypeId_Manual, 'Name') }}
                  </t-view-link>
                }
              </t-form-group>
            }
            <!-- Center -->
            @if (showCenterParameter) {
              <t-form-group class="t-form-group" [label]="'Entry_Center' | translate"
                >
                @if (!readonlyCenter_Manual) {
                  <t-centers-picker [(ngModel)]="centerId"
                    [showCreate]="false">
                  </t-centers-picker>
                }
                @if (readonlyCenter_Manual) {
                  <t-view-link [link]="link('centers')"
                    [itemId]="readonlyValueCenterId_Manual">
                    {{ ws.getMultilingualValue('Center', readonlyValueCenterId_Manual, 'Name') }}
                  </t-view-link>
                }
              </t-form-group>
            }
          }
        }
        <!-- IncludeCompleted -->
        <t-form-group class="t-form-group" [label]="'IncludeCompleted' | translate">
          <div class="custom-control custom-checkbox t-labelless-checkbox">
            <input type="checkbox" class="custom-control-input" [(ngModel)]="includeCompleted"
              id="includecompleted">
              <label class="custom-control-label t-pointer" for="includecompleted">&zwnj;</label>
            </div>
          </t-form-group>
        </div>
      </div>
      <!-- Toolbar -->
      <div class="col-12 p-1 d-flex justify-content-between t-toolbar">
        <!-- Left Buttons -->
        <div class="d-flex">
          <!-- Export -->
          <button class="btn btn-primary btn-sm t-toolbar-button" (click)="onExport()" [disabled]="!canExport">
            <fa-icon icon="download"></fa-icon>
            <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Export' | translate }}</span>
          </button>
          <!-- Data dropdown -->
          <!-- <div class="btn-group t-toolbar-button" ngbDropdown [placement]="actionsDropdownPlacement">
          <button type="button"
            class="btn btn-light btn-sm text-primary t-white-button t-toolbar-button dropdown-toggle"
            ngbDropdownToggle>
            {{ 'Data' | translate }}
          </button>
          <div class="dropdown-menu shadow" ngbDropdownMenu aria-labelledby="action">
            <button type="button" class="dropdown-item btn-light" ngbDropdownItem (click)="onExport()"
              [disabled]="!canExport">
              {{ 'Export' | translate }}
            </button>
          </div>
        </div> -->
        @if (showExportSpinner) {
          <t-spinner class="align-self-center mx-1">
          </t-spinner>
        }
      </div>
      <!-- Right Buttons -->
      <div>
        <!-- Refresh -->
        <button class="btn btn-sm t-toolbar-button btn-light t-white-button" type="button"
          title="{{ 'Refresh' | translate }}" (click)="onRefresh()">
          <fa-icon icon="sync-alt"></fa-icon>
        </button>
        <!-- Paging -->
        <div class="d-inline small mx-2">
          <span class="t-vertical-align-middle"> <span>{{ from | number }}</span> -
          <span>{{ to | number }}</span>
        </span>
        <span class="t-vertical-align-middle"> / {{ totalDisplay }}</span>
      </div>
      <button class="btn btn-light btn-sm t-white-button t-toolbar-button" type="button"
        title="{{ 'Previous' | translate }}" (click)="onPreviousPage()" [disabled]="!canPreviousPage">
        <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
      </button>
      <button class="btn btn-light btn-sm t-white-button t-toolbar-button" type="button"
        title="{{ 'Next' | translate }}" (click)="onNextPage()" [disabled]="!canNextPage">
        <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
      </button>
      <!-- Expand/Collapse -->
      <button class="btn btn-sm t-toolbar-button btn-light t-white-button font-weight-normal" type="button"
        title="{{ (collapseParameters ? 'Expand' : 'Collapse') | translate }}"
        (click)="onToggleCollapseParameters()">
        <fa-icon [icon]="collapseParameters ? 'angle-down' : 'angle-up'"></fa-icon>
        <span class="d-none d-md-inline">&nbsp;&nbsp;{{ (collapseParameters ? 'Expand' : 'Collapse') |
        translate }}</span>
      </button>
    </div>
  </div>
</div>
<!-- Results -->
<div class="row t-rest-of-screen">
  @if (showInformation) {
    <div class="w-100 p-3 px-4">
      <fa-icon icon="info-circle"></fa-icon>
      &nbsp;
      {{ information() }}
    </div>
  }
  <!-- No items found -->
  <!-- <div class="w-100 pl-3 pr-3 mt-3" *ngIf="showNoItemsFound">
  {{ 'NoItemsFound' | translate }}
</div> -->
@if (!showInformation) {
  <div class="table-responsive">
    <!-- Details (Flat Table) -->
    <cdk-virtual-scroll-viewport class="h-100" itemSize="31">
      <table
        class="table table-hover table-striped table-sm border-bottom bg-white t-master-table text-nowrap">
        <!-- Column Header -->
        <thead>
          <tr>
            <th style="width:10px"></th>
            @for (col of columns; track col) {
              <th [style.width]="fromWeight(col.weight)"
                [class.text-right]="col.isRightAligned">
                {{ col.label() }}
              </th>
            }
            <th style="width:10px"></th>
          </tr>
        </thead>
        <!-- Rows -->
        <tbody>
          <!-- Opening Balance -->
          @if (showOpeningBalance) {
            <tr class="t-no-highlight">
              <td>&zwnj;</td>
              @for (col of columns; track col) {
                <td [class.text-right]="col.isRightAligned">
                  @if (col.id === 'PostingDate') {
                    {{ fromDate | dateFormat }}
                  }
                  @if (col.id === 'SerialNumber') {
                    {{ 'OpeningBalance' | translate }}
                  }
                  @if (col.id === 'QuantityAccumulation') {
                    &zwnj;{{ openingQuantityDisplay }}&zwnj;
                  }
                  @if (col.id === 'MonetaryValueAccumulation') {
                    &zwnj;{{ openingMonetaryValueDisplay }}&zwnj;
                  }
                  @if (col.id === 'Accumulation') {
                    &zwnj;{{ openingDisplay }}&zwnj;
                  }
                </td>
              }
              <td>&zwnj;</td>
            </tr>
          }
          @if (canPreviousPage) {
            <tr class="t-pointer" (click)="onPreviousPage()">
              <td class="text-center font-italic text-muted" [colSpan]="columns.length + 2">...</td>
            </tr>
          }
          <!-- Transactions -->
          <tr class="t-pointer" *cdkVirtualFor="let entity of entities" (click)="onSelectRow(entity)">
            <td>&zwnj;</td>
            @for (col of columns; track col) {
              <td [class.text-right]="col.isRightAligned">
                {{ col.display(entity) }}&zwnj;
              </td>
            }
            <td>&zwnj;</td>
          </tr>
          @if (canNextPage) {
            <tr class="t-pointer" (click)="onNextPage()">
              <td class="text-center font-italic text-muted" [colSpan]="columns.length + 2">...</td>
            </tr>
          }
          <!-- Closing Balance -->
          @if (showClosingBalance) {
            <tr class="t-no-highlight">
              <td>&zwnj;</td>
              @for (col of columns; track col) {
                <td [class.text-right]="col.isRightAligned">
                  @if (col.id === 'PostingDate') {
                    <span>{{ toDate | dateFormat }}</span>
                  }
                  @if (col.id === 'SerialNumber') {
                    <span>{{ 'ClosingBalance' | translate }}</span>
                  }
                  @if (col.id === 'Accumulation') {
                    <span class="border-bottom t-dark-border">&zwnj;{{ closingDisplay }}&zwnj;</span>
                  }
                  @if (col.id === 'QuantityAccumulation') {
                    <span class="border-bottom t-dark-border">&zwnj;{{ closingQuantityDisplay
                    }}&zwnj;</span>
                  }
                  @if (col.id === 'MonetaryValueAccumulation') {
                    <span class="border-bottom t-dark-border">&zwnj;{{ closingMonetaryValueDisplay
                    }}&zwnj;</span>
                  }
                </td>
              }
              <td>&zwnj;</td>
            </tr>
          }
        </tbody>
      </table>
      <!-- Spinner -->
      @if (showSpinner) {
        <div class="w-100 p-2 d-flex justify-content-center mt-3">
          <t-spinner [scale]="2"></t-spinner>
        </div>
      }
      <!-- Error message -->
      @if (showErrorMessage) {
        <div class="w-100 mt-3">
          <t-error-message>
            {{ errorMessage }}
          </t-error-message>
        </div>
      }
    </cdk-virtual-scroll-viewport>
  </div>
}
</div>
<!-- Ending Balances -->
<!-- <div class="border-top bg-white row" *ngIf="showClosingBalance">
<div class="col-12 d-flex justify-content-end align-items-baseline" style="padding: 0.3rem">
  <span class="small font-weight-bold">Closing Balance (Birr)</span><span>&nbsp;&nbsp;{{ closingDisplay }}</span>
  <div class="d-inline" style="width:10px"></div>
</div>
</div> -->
</div>
} @else {
  <t-application-page-not-found>
  </t-application-page-not-found>
}

<!-- If definitionId is invalid -->
<ng-template #pageNotFound>
  <t-application-page-not-found>
  </t-application-page-not-found>
</ng-template>

<!-- Error Modal -->
<ng-template #errorModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title">
      <fa-icon class="text-danger" icon="exclamation-triangle"></fa-icon>&nbsp;&nbsp;{{ 'Error' | translate }}
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ actionErrorMessage }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Dismiss' | translate }}
    </button>
  </div>
</ng-template>