<b-details collection="Resource" [definition]="definitionId" [createFunc]="create" [expand]="expand" [mode]="mode"
    [masterCrumb]="masterCrumb" [detailsCrumb]="detailsCrumb" [idString]="idString" [documentTemplate]="document"
    [actions]="[
            { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
            { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
           ]">

</b-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
    <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>


<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

    <!-- Header Name -->
    <b-form-group class="col-12 mb-2 mb-sm-4 b-h2" [serverErrors]="model?.serverErrors?.Name">
        <h2 class="font-weight-normal" *ngIf="!isEdit">{{ getMultilingualValue(model, 'Name', ws) }}</h2>

        <b-text-editor *ngIf="isEdit && ws.isPrimaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name"
            [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.primaryPostfix + '...'"
            required>
        </b-text-editor>

        <b-text-editor *ngIf="isEdit && ws.isSecondaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name2"
            [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.secondaryPostfix + '...'">
        </b-text-editor>

        <b-text-editor *ngIf="isEdit && ws.isTernaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name3"
            [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.ternaryPostfix + '...'">
        </b-text-editor>
    </b-form-group>

    <!-- Name -->
    <b-form-group class="b-form-group" *ngIf="!ws.isPrimaryLanguage" [label]="('Name' | translate) + ws.primaryPostfix"
        [serverErrors]="model?.serverErrors?.Name">
        <div *ngIf="!isEdit">{{ model?.Name }}</div>
        <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
        </b-text-editor>
    </b-form-group>

    <!-- Name2 -->
    <b-form-group class="b-form-group" *ngIf="!ws.isSecondaryLanguage && ws.settings.SecondaryLanguageId"
        [label]="('Name' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Name2">
        <div *ngIf="!isEdit">{{ model?.Name2 }}</div>
        <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
    </b-form-group>

    <!-- Name3 -->
    <b-form-group class="b-form-group" *ngIf="!ws.isTernaryLanguage && ws.settings.TernaryLanguageId"
        [label]="('Name' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Name3">
        <div *ngIf="!isEdit">{{ model?.Name3 }}</div>
        <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Name3" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
    </b-form-group>

    <!-- Code -->
    <b-form-group class="b-form-group" [label]="'Code' | translate" [serverErrors]="model?.serverErrors?.Code">
        <div *ngIf="!isEdit">{{ model?.Code }}</div>
        <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Code" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
    </b-form-group>

    <!-- Classification -->
    <b-form-group class="b-form-group" [label]="p.ResourceClassification | label"
        [serverErrors]="model?.serverErrors?.ResourceClassificationId">
        <b-restricted [metadata]="model?.EntityMetadata?.ResourceClassification">
            <b-view-link *ngIf="!isEdit" [link]="'../../../resource-classifications'"
                [itemId]="model?.ResourceClassificationId">{{
        ws.getMultilingualValue('ResourceClassification', model?.ResourceClassificationId, 'Name') }}</b-view-link>
        </b-restricted>
        <b-resource-classifications-picker *ngIf="isEdit" [(ngModel)]="model.ResourceClassificationId">
        </b-resource-classifications-picker>
    </b-form-group>

    <!-- Currency -->
    <b-form-group class="b-form-group" [label]="p.Currency  | label" *ngIf="!!p.Currency"
        [serverErrors]="model?.serverErrors?.CurrencyId">
        <b-view-link *ngIf="!isEdit" link="../../../currencies" [itemId]="model?.CurrencyId">
            <b-auto-cell collection="Resource" [definition]="definitionId" [entity]="model" path="Currency">
            </b-auto-cell>
        </b-view-link>
        <b-details-picker *ngIf="isEdit" [(ngModel)]="model.CurrencyId" [masterTemplate]="currenciesMaster"
            [detailsTemplate]="currenciesDetails" collection="Currency">
        </b-details-picker>

        <!-- The Currency Details Modal -->
        <ng-template #currenciesDetails let-modal="modal" let-update="update" let-initialText="initialText"
            let-idString="idString">
            <div class="modal-body">
                <b-currencies-details mode="popup" [idString]="idString" [initialText]="initialText"
                    (cancel)="modal.close(false);" (saved)="modal.close(true); update($event);">
                </b-currencies-details>
            </div>
        </ng-template>

        <!-- The Currency Master Modal -->
        <ng-template #currenciesMaster let-modal="modal" let-update="update" let-create="create">
            <div class="modal-body">
                <b-currencies-master mode="popup" (cancel)="modal.close(false);"
                    (choose)="modal.close(true); update($event);" (create)="modal.close(false); create()">
                </b-currencies-master>
            </div>
        </ng-template>
    </b-form-group>

    <!-- Mass Unit -->
    <b-form-group class="b-form-group" [label]="p.MassUnit | label" *ngIf="!!p.MassUnit"
        [serverErrors]="model?.serverErrors?.MassUnitId">
        <b-view-link *ngIf="!isEdit" link="../../../measurement-units" [itemId]="model?.MassUnitId">
            <b-auto-cell collection="Resource" [definition]="definitionId" [entity]="model" path="MassUnit">
            </b-auto-cell>
        </b-view-link>
        <b-measurement-units-picker *ngIf="isEdit" [(ngModel)]="model.MassUnitId" filter="UnitType eq 'Mass'"
            [required]="d.MassUnit_Visibility === 2">
        </b-measurement-units-picker>
    </b-form-group>

    <!-- Volume Unit -->
    <b-form-group class="b-form-group" [label]="p.VolumeUnit | label" *ngIf="!!p.VolumeUnit"
        [serverErrors]="model?.serverErrors?.VolumeUnitId">
        <b-view-link *ngIf="!isEdit" link="../../../measurement-units" [itemId]="model?.VolumeUnitId">
            <b-auto-cell collection="Resource" [definition]="definitionId" [entity]="model" path="VolumeUnit">
            </b-auto-cell>
        </b-view-link>
        <b-measurement-units-picker *ngIf="isEdit" [(ngModel)]="model.VolumeUnitId" filter="UnitType eq 'Volume'"
            [required]="d.VolumeUnit_Visibility === 2">
        </b-measurement-units-picker>
    </b-form-group>

    <!-- Area Unit -->
    <b-form-group class="b-form-group" [label]="p.AreaUnit | label" *ngIf="!!p.AreaUnit"
        [serverErrors]="model?.serverErrors?.AreaUnitId">
        <b-view-link *ngIf="!isEdit" link="../../../measurement-units" [itemId]="model?.AreaUnitId">
            <b-auto-cell collection="Resource" [definition]="definitionId" [entity]="model" path="AreaUnit">
            </b-auto-cell>
        </b-view-link>

        <b-measurement-units-picker *ngIf="isEdit" [(ngModel)]="model.AreaUnitId" filter="UnitType eq 'Area'"
            [required]="d.AreaUnit_Visibility === 2">
        </b-measurement-units-picker>
    </b-form-group>

    <!-- Length Unit -->
    <b-form-group class="b-form-group" [label]="p.LengthUnit | label" *ngIf="!!p.LengthUnit"
        [serverErrors]="model?.serverErrors?.LengthUnitId">
        <b-view-link *ngIf="!isEdit" link="../../../measurement-units" [itemId]="model?.LengthUnitId">
            <b-auto-cell collection="Resource" [definition]="definitionId" [entity]="model" path="LengthUnit">
            </b-auto-cell>
        </b-view-link>
        <b-measurement-units-picker *ngIf="isEdit" [(ngModel)]="model.LengthUnitId" filter="UnitType eq 'Distance'"
            [required]="d.LengthUnit_Visibility === 2">
        </b-measurement-units-picker>
    </b-form-group>

    <!-- Time Unit -->
    <b-form-group class="b-form-group" [label]="p.TimeUnit | label" *ngIf="!!p.TimeUnit"
        [serverErrors]="model?.serverErrors?.TimeUnitId">
        <b-view-link *ngIf="!isEdit" link="../../../measurement-units" [itemId]="model?.TimeUnitId">
            <b-auto-cell collection="Resource" [definition]="definitionId" [entity]="model" path="TimeUnit">
            </b-auto-cell>
        </b-view-link>

        <b-measurement-units-picker *ngIf="isEdit" [(ngModel)]="model.TimeUnitId" filter="UnitType eq 'Time'"
            [required]="d.TimeUnit_Visibility === 2">
        </b-measurement-units-picker>
    </b-form-group>

    <!-- Count Unit -->
    <b-form-group class="b-form-group" [label]="p.CountUnit | label" *ngIf="!!p.CountUnit"
        [serverErrors]="model?.serverErrors?.CountUnitId">
        <b-view-link *ngIf="!isEdit" link="../../../measurement-units" [itemId]="model?.CountUnitId">
            <b-auto-cell collection="Resource" [definition]="definitionId" [entity]="model" path="CountUnit">
            </b-auto-cell>
        </b-view-link>

        <b-measurement-units-picker *ngIf="isEdit" [(ngModel)]="model.CountUnitId" filter="UnitType eq 'Count'"
            [required]="d.CountUnit_Visibility === 2">
        </b-measurement-units-picker>
    </b-form-group>

    <!-- Resource Lookup 1 -->
    <b-form-group class="b-form-group" [label]="p.Lookup1 | label" *ngIf="!!p.Lookup1"
        [serverErrors]="model?.serverErrors?.Lookup1Id">
        <b-view-link *ngIf="!isEdit" [link]="'../../../lookups/' + p.Lookup1.definition" [itemId]="model?.Lookup1Id">
            <b-auto-cell collection="Resource" [definition]="definitionId" [entity]="model" path="Lookup1">
            </b-auto-cell>
        </b-view-link>

        <b-lookups-picker *ngIf="isEdit" [(ngModel)]="model.Lookup1Id" [definitionId]="Lookup1Definition"
            [required]="d.Lookup1_Visibility === 2">
        </b-lookups-picker>
    </b-form-group>

    <!-- Resource Lookup 2 -->
    <b-form-group class="b-form-group" [label]="p.Lookup2 | label" *ngIf="!!p.Lookup2"
        [serverErrors]="model?.serverErrors?.Lookup2Id">
        <b-view-link *ngIf="!isEdit" [link]="'../../../lookups/' + p.Lookup2.definition" [itemId]="model?.Lookup2Id">
            <b-auto-cell collection="Resource" [definition]="definitionId" [entity]="model" path="Lookup2">
            </b-auto-cell>
        </b-view-link>

        <b-lookups-picker *ngIf="isEdit" [(ngModel)]="model.Lookup2Id" [definitionId]="Lookup2Definition"
            [required]="d.Lookup2_Visibility === 2">
        </b-lookups-picker>
    </b-form-group>

    <!-- Resource Lookup 3 -->
    <b-form-group class="b-form-group" [label]="p.Lookup3 | label" *ngIf="!!p.Lookup3"
        [serverErrors]="model?.serverErrors?.Lookup3Id">
        <b-view-link *ngIf="!isEdit" [link]="'../../../lookups/' + p.Lookup3.definition" [itemId]="model?.Lookup3Id">
            <b-auto-cell collection="Resource" [definition]="definitionId" [entity]="model" path="Lookup3">
            </b-auto-cell>
        </b-view-link>

        <b-lookups-picker *ngIf="isEdit" [(ngModel)]="model.Lookup3Id" [definitionId]="Lookup3Definition"
            [required]="d.Lookup3_Visibility === 2">
        </b-lookups-picker>
    </b-form-group>

    <!-- Resource Lookup 4 -->
    <b-form-group class="b-form-group" [label]="p.Lookup4 | label" *ngIf="!!p.Lookup4"
        [serverErrors]="model?.serverErrors?.Lookup4Id">
        <b-view-link *ngIf="!isEdit" [link]="'../../../lookups/' + p['Lookup4'].definition" [itemId]="model?.Lookup4Id">
            <b-auto-cell collection="Resource" [definition]="definitionId" [entity]="model" path="Lookup4">
            </b-auto-cell>
        </b-view-link>

        <b-lookups-picker *ngIf="isEdit" [(ngModel)]="model.Lookup4Id" [definitionId]="Lookup4Definition"
            [required]="d.Lookup4_Visibility === 2">
        </b-lookups-picker>
    </b-form-group>

    <!-- Resource Lookup 5 -->
    <b-form-group class="b-form-group" [label]="p.Lookup5 | label" *ngIf="!!p.Lookup5"
        [serverErrors]="model?.serverErrors?.Lookup5Id">
        <b-view-link *ngIf="!isEdit" [link]="'../../../lookups/' + p['Lookup5'].definition" [itemId]="model?.Lookup5Id">
            <b-auto-cell collection="Resource" [definition]="definitionId" [entity]="model" path="Lookup5">
            </b-auto-cell>
        </b-view-link>

        <b-lookups-picker *ngIf="isEdit" [(ngModel)]="model.Lookup5Id" [definitionId]="Lookup5Definition"
            [required]="d.Lookup5_Visibility === 2">
        </b-lookups-picker>
    </b-form-group>

    <!-- Customs Reference -->
    <b-form-group class="b-form-group" [label]="p.CustomsReference | label" *ngIf="!!p.CustomsReference"
        [serverErrors]="model?.serverErrors?.CustomsReference">
        <div *ngIf="!isEdit">{{ model?.CustomsReference }}</div>
        <b-text-editor *ngIf="isEdit" [(ngModel)]="model.CustomsReference" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="d.CustomsReference_Visibility === 2">
        </b-text-editor>
    </b-form-group>

    <!-- Memo -->
    <b-form-group class="b-form-group" [label]="p.Memo | label" *ngIf="!!p.Memo"
        [serverErrors]="model?.serverErrors?.Memo">
        <div *ngIf="!isEdit">{{ model?.Memo }}</div>
        <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Memo" [ngModelOptions]="{ updateOn: 'blur' }"
            [required]="d.Memo_Visibility === 2"></b-text-editor>
    </b-form-group>

    <!-- Is Active -->
    <b-form-group class="b-form-group" [label]="'IsActive' | translate" *ngIf="!isEdit">
        <b-auto-cell collection="Resource" [definition]="definitionId" [entity]="model" path="IsActive">
        </b-auto-cell>
    </b-form-group>
</ng-template>

<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>