<t-details collection="SmsMessageForQuery" [expand]="expand" [mode]="mode" [additionalSelect]="additionalSelect"
    [showCreateButton]="false" [showEditButton]="false" [showDeleteButton]="false"
    [masterCrumb]="'SmsMessages' | translate" [detailsCrumb]="detailsCrumb" [idString]="idString"
    [documentTemplate]="document" [actions]="[]">

</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
    <div class="text-truncate" style="max-width: 200px;">{{ model?.Message }}</div>
</ng-template>

<!-- Edit/View Template -->
<ng-template #document let-model="model">

    <!-- ToPhoneNumber -->
    <t-form-group class="t-form-group" [label]="'SmsMessage_ToPhoneNumber' | translate">
        <div>{{ model?.ToPhoneNumber }}</div>
    </t-form-group>

    <div class="w-100"></div>

    <!-- State -->
    <t-form-group class="t-form-group" [label]="'State'">
        <div class="text-white px-2" [style.background]="stateColor(model?.State)">{{ stateDisplay(model?.State) }}
        </div>
    </t-form-group>

    <!-- StateSince -->
    <t-form-group class="t-form-group" [label]="'StateSince' | translate">
        <div>{{ model?.StateSince | date:'yyyy-MM-dd HH:mm' }}</div>
    </t-form-group>

    <!-- ErrorMessage -->
    <t-form-group class="t-form-group" [label]="'SmsMessage_ErrorMessage' | translate" *ngIf="!!model && model.State < 0">
        <div>{{ model?.ErrorMessage }}</div>
    </t-form-group>

    <!-- Message -->
    <t-form-group class="t-wide-form-group" [label]="'SmsMessage_Message' | translate">
        <span style="white-space: pre;">{{ model?.Message }}</span>
    </t-form-group>
</ng-template>