<div class="input-group" [class.t-disabled-background]="isDisabled">
    <input class="form-control t-input" placeholder="yyyy-mm-dd" ngbDatepicker container="body" #d="ngbDatepicker">
    <ng-container *ngIf="!isDisabled">
        <button class="btn btn-light btn-sm text-primary t-white-button p-0 px-1 align-baseline" tabindex="-1" style="width:22.6px"
            (click)="d.toggle()" type="button">
            <fa-icon icon="calendar-alt"></fa-icon>
        </button>
    </ng-container>
</div>