<div class="h-100 d-flex flex-column">
  <!-- Breadcrumb and Toolbar -->
  <div class="row border-bottom" [class.bg-white]="isLight" [class.b-less-dark]="isDark" [class.b-dark-border]="isDark"
    [class.b-text-whitish]="isDark" *ngIf="isScreenMode">

    <!-- Breadcrumb -->
    <div class="col-12 p-1">
      <ul class="breadcrumb mb-0">
        <li class="breadcrumb-item" style="z-index: 1">
          <a [class.text-primary]="isLight" [class.b-text-whitish]="isDark" [routerLink]="['..']">
            {{ masterCrumb }}
          </a>
        </li>
        <li class="breadcrumb-item active" [class.b-text-whitish]="isDark">
          <ng-container *ngIf="(!showSpinner); else loading">
            <ng-container *ngIf="(!isNew); else new">
              <ng-container *ngIf="!showErrorMessage">
                <ng-container *ngTemplateOutlet="detailsCrumb; context: { model: activeModel }">
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-template #new>({{ 'New' | translate }})</ng-template>
          <ng-template #loading>{{ 'Loading' | translate }}...</ng-template>

          <!-- Dirty Asterisk -->
          <span class="text-danger b-dirty-asterisk px-2" [class.text-danger]="isLight" [class.b-light-danger]="isDark"
            *ngIf="isDirty">*</span>
        </li>
      </ul>
    </div>

    <!-- Toolbar -->
    <div class="col-12 p-1 d-flex justify-content-between b-toolbar">
      <!-- View Toolbar -->
      <div *ngIf="showViewToolbar">
        <!-- Edit -->
        <div class="d-inline-block" [placement]="actionsDropdownPlacement" [ngbTooltip]="editTooltip" container="body"
          *ngIf="showEdit">
          <button class="btn btn-sm b-toolbar-button" [class.btn-primary]="isLight" [class.b-text-whitish]="isDark"
            [class.font-weight-normal]="isDark" (click)="onEdit()" [disabled]="!canEdit">
            <fa-icon icon="pen"></fa-icon>
            <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Edit' | translate }}</span>
          </button>
        </div>

        <!-- Create -->
        <div class="d-inline-block" [placement]="actionsDropdownPlacement" [ngbTooltip]="createTooltip"
          *ngIf="showCreate" container="body">
          <button class="btn btn-sm b-toolbar-button"
            [ngClass]="{ 'btn-light': isLight, 'text-primary': isLight, 'b-white-button': isLight, 'b-text-whitish': isDark, 'font-weight-normal': isDark }"
            (click)="onCreate()" [disabled]="!canCreate">
            <fa-icon icon="plus"></fa-icon>
            <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Create' | translate }}</span>
          </button>
        </div>

        <!-- Actions -->
        <div class="btn-group b-toolbar-button" ngbDropdown [placement]="actionsDropdownPlacement">
          <button type="button" class="btn btn-sm b-toolbar-button dropdown-toggle" ngbDropdownToggle
            [ngClass]="{ 'btn-light': isLight, 'text-primary': isLight, 'b-white-button': isLight, 'b-text-whitish': isDark, 'font-weight-normal': isDark }">
            {{ 'Actions' | translate }}
          </button>
          <div class="dropdown-menu shadow small" ngbDropdownMenu aria-labelledby="action" [class.b-less-dark]="isDark">
            <ng-container *ngFor="let action of actions">
              <div *ngIf="showAction(action)" [placement]="actionsDropdownPlacement"
                [ngbTooltip]="actionTooltip(action)" container="body">
                <button type="button" class="dropdown-item b-transparent-background" [class.btn-light]="isLight"
                  [class.b-text-whitish]="isDark" (click)="onAction(action)" [disabled]="!canAction(action)">
                  <ng-container *ngTemplateOutlet="action.template"></ng-container>
                </button>
              </div>
            </ng-container>

            <div [placement]="actionsDropdownPlacement" [ngbTooltip]="deleteTooltip" container="body"
              *ngIf="showDelete">
              <button type="button" class="dropdown-item b-transparent-background" [class.btn-light]="isLight"
                [class.b-text-whitish]="isDark" (click)="modalService.open(deleteModal)" [disabled]="!canDelete"
                *ngIf="showDelete">
                {{ 'Delete' | translate }}
              </button>
            </div>

            <div [placement]="actionsDropdownPlacement" [ngbTooltip]="cloneTooltip" container="body">
              <button type="button" class="dropdown-item b-transparent-background" [class.btn-light]="isLight"
                [class.b-text-whitish]="isDark" *ngIf="showClone" (click)="onClone()" [disabled]="!canClone">
                {{ 'Clone' | translate }}
              </button>

            </div>
          </div>
        </div>
      </div>

      <!-- Edit Toolbar -->
      <div *ngIf="showEditToolbar">

        <!-- Save -->
        <button class="btn btn-sm b-toolbar-button" [class.btn-primary]="isLight" [class.b-text-whitish]="isDark"
          (click)="onSave()">
          <fa-icon icon="save"></fa-icon>&nbsp;&nbsp;{{ 'Save' | translate }}
        </button>

        <!-- Cancel -->
        <button class="btn btn-sm b-toolbar-button"
          [ngClass]="{ 'btn-light': isLight, 'text-primary': isLight, 'b-white-button': isLight, 'b-text-whitish': isDark, 'font-weight-normal': isDark }"
          (click)="onCancel()">
          <fa-icon icon="times"></fa-icon>&nbsp;&nbsp;{{ 'Cancel' | translate }}
        </button>
      </div>

      <div>
        <!-- Refresh -->
        <button class="btn btn-sm b-toolbar-button"
          [ngClass]="{ 'btn-light': isLight, 'b-white-button': isLight, 'b-text-whitish': isDark, 'font-weight-normal': isDark }"
          *ngIf="showRefresh" type="button" title="{{ 'Refresh' | translate }}" (click)="onRefresh()">
          <fa-icon icon="sync-alt"></fa-icon>
        </button>

        <!-- Paging -->
        <ng-container *ngIf="showNextAndPrevious">
          <div class="d-inline small mx-2">
            <span class="b-vertical-align-middle">{{ order | number }}</span>
            <span class="b-vertical-align-middle"> / {{ total | number }}</span>
          </div>

          <button class="btn btn-sm b-toolbar-button"
            [ngClass]="{ 'btn-light': isLight, 'b-white-button': isLight, 'b-text-whitish': isDark, 'font-weight-normal': isDark }"
            type="button" title="{{ 'Previous' | translate }}" (click)="onPrevious()" [disabled]="!canPrevious">
            <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
          </button>
          <button class="btn btn-sm b-toolbar-button"
            [ngClass]="{ 'btn-light': isLight, 'b-white-button': isLight, 'b-text-whitish': isDark, 'font-weight-normal': isDark }"
            type="button" title="{{ 'Next' | translate }}" (click)="onNext()" [disabled]="!canNext">
            <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Popup Mode -->
  <div class="row border-bottom justify-content-between flex-row bg-white" *ngIf="isPopupMode">

    <!-- Modal Breadcrumb -->
    <div class="p-2">
      <ul class="breadcrumb mb-0">
        <li class="breadcrumb-item" style="z-index: 1">
          {{ masterCrumb }}
        </li>
        <li class="breadcrumb-item">
          <ng-container *ngIf="(!showSpinner); else loading">
            <ng-container *ngIf="(!isNew); else new">
              <ng-container *ngTemplateOutlet="detailsCrumb; context: { model: activeModel }">
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-template #new>({{ 'New' | translate }})</ng-template>
          <ng-template #loading>{{ 'Loading' | translate }}...</ng-template>

          <!-- Dirty Asterisk -->
          <span class="text-danger b-dirty-asterisk px-2" *ngIf="isDirty">*</span>
        </li>
      </ul>
    </div>

    <!-- Modal Close Button -->
    <button type="button" class="close pr-3 pl-3" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Content Area -->
  <div class="row" [class.b-main-and-side]="!!sidebarTemplate" [class.border-bottom]="isPopupMode"
    [class.b-rest-of-screen]="isScreenMode">
    <div class="w-100 h-100" [class.b-main-document]="showSidebar">

      <!-- Document content -->
      <div class="p-0 p-sm-3 d-flex flex-column align-items-center" *ngIf="showDocument && documentLayout">
        <div class="border bg-white w-100 b-paper">
          <div class="border-bottom" *ngIf="documentHeaderTemplate">
            <ng-container *ngTemplateOutlet="documentHeaderTemplate;context: { model: activeModel, isEdit: isEdit }">
            </ng-container>
          </div>
          <div class="row m-0 px-1 px-sm-3 pt-3 pt-sm-4 pb-3 pb-sm-5">
            <ng-container *ngTemplateOutlet="documentTemplate;context: { model: activeModel, isEdit: isEdit }">
            </ng-container>

            <!-- Errors -->
            <div class="w-100 mt-3" *ngIf="unboundServerErrors.length">
              <div class="m-1" *ngFor="let error of unboundServerErrors">
                <b-error-message> {{ error }} </b-error-message>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Full screen content -->
      <ng-container *ngIf="showDocument && fullScreenLayout">
        <ng-container *ngTemplateOutlet="documentTemplate;context: { model: activeModel, isEdit: isEdit }">
        </ng-container>
      </ng-container>

      <!-- Spinner -->
      <div class="w-100 mt-3" *ngIf="showSpinner">
        <div class="w-100 p-2 d-flex justify-content-center">
          <b-spinner [scale]="2"></b-spinner>
        </div>
      </div>

      <!-- Error message -->
      <div class="mt-3" *ngIf="showErrorMessage">
        <b-error-message>
          {{ errorMessage }}
        </b-error-message>
      </div>
    </div>

    <!-- Sidebar -->
    <div *ngIf="showSidebar" class="b-sidebar bg-white">
      <ng-container *ngTemplateOutlet="sidebarTemplate;context: { model: activeModel, isEdit: isEdit }">
      </ng-container>
    </div>

  </div>

  <!-- Popup Mode Footer -->
  <div *ngIf="isPopupMode">
    <div class="pt-3 pb-3 d-flex justify-content-end">
      <button class="btn btn-primary b-toolbar-button" (click)="onSave()">
        <fa-icon icon="save"></fa-icon>&nbsp;&nbsp;{{ 'Save' | translate }}
      </button>

      <button class="btn btn-light text-primary b-white-button b-toolbar-button" (click)="onCancel()">
        <fa-icon icon="times"></fa-icon>&nbsp;&nbsp;{{ 'Cancel' | translate }}
      </button>
    </div>
  </div>
</div>


<!-- Delete Modal -->
<ng-template #deleteModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title"> {{ 'Confirmation' | translate }} </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ 'DetailsDeleteConfirmationMessage' | translate }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.dismiss(); onDelete();">
      <fa-icon icon="trash"></fa-icon>
      &nbsp;{{ 'Delete' | translate }}
    </button>
    <button class="btn btn-light text-primary b-white-button" (click)="modal.dismiss()" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</ng-template>

<!-- Error Modal -->
<ng-template #errorModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title">
      <fa-icon class="text-danger" icon="exclamation-triangle"></fa-icon>&nbsp;&nbsp;{{ 'Error' | translate }}
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ modalErrorMessage }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Dismiss' | translate }}
    </button>
  </div>
</ng-template>

<!-- Success Modal -->
<ng-template #successModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title">
      <fa-icon class="text-success" icon="check"></fa-icon>&nbsp;&nbsp;{{ 'Success' | translate }}
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ modalSuccessMessage }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Dismiss' | translate }}
    </button>
  </div>
</ng-template>

<!-- Unsaved Changes Modal -->
<ng-template #unsavedChangesModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title"> {{ 'Confirmation' | translate }} </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ 'UnsavedChangesConfirmationMessage' | translate }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.close(true)">
      <fa-icon icon="check"></fa-icon>
      &nbsp;{{ 'Proceed' | translate }}
    </button>
    <button class="btn btn-light text-primary b-white-button" (click)="modal.close(false)" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</ng-template>