<t-details collection="NotificationCommand" [idString]="idString" [showCreateButton]="false" [showDeleteButton]="false"
    [showEditButton]="false" [expand]="expand" [mode]="mode" [additionalSelect]="additionalSelect"
    [masterCrumb]="'NotificationCommands' | translate" [detailsCrumb]="detailsCrumb" [documentTemplate]="document"
    [actions]="[]" [isInactive]="null">
</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
    <span>{{ model?.Caption }}</span>
</ng-template>

<!-- Edit/View Template -->
<ng-template #document let-model="model">

    <!-- Caption -->
    <t-form-group class="t-wide-form-group" [label]="'NotificationCommand_Caption' | translate">
        {{ model?.Caption }}
    </t-form-group>

    <!-- Template -->
    <t-form-group class="t-form-group" [label]="'NotificationCommand_Template' | translate">
        <t-view-link link="../../notification-templates" [itemId]="model?.TemplateId">
            {{ ws.getMultilingualValue('NotificationTemplate', model?.TemplateId, 'Name') }}
        </t-view-link>
    </t-form-group>

    <!-- CreatedAt -->
    <t-form-group class="t-form-group" [label]="'CreatedAt' | translate">
        <div>{{ model?.CreatedAt | datetimeFormat }}</div>
    </t-form-group>

    <!-- Stats -->
    <table class="table table-sm mt-4 mb-0 border-bottom text-nowrap">
        <thead>
            <tr class="small">
                <th>{{ 'NotificationTemplate_Channel' | translate }}</th>
                <th class="">{{ 'NotificationCommand_Total' | translate }}</th>
                <th>{{ 'NotificationCommand_Successes' | translate }}</th>
                <th>{{ 'NotificationCommand_Errors' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ 'Channel_Email' | translate }}</td>
                <td><a [routerLink]="['../../emails', { filter: 'CommandId eq ' + model?.Id }]">{{ model?.EmailTotal
                        | accounting }}</a></td>
                <td><a [routerLink]="['../../emails', { filter: 'State gt 2 and CommandId eq ' + model?.Id }]">{{
                        model?.EmailSuccesses | accounting }}</a></td>
                <td><a [class.text-danger]="model?.EmailErrors"
                        [routerLink]="['../../emails', { filter: 'State lt 0 and CommandId eq ' + model?.Id }]">{{
                        model?.EmailErrors | accounting }}</a></td>
            </tr>
            <tr *ngIf="model?.SmsTotal">
                <td>{{ 'Channel_Sms' | translate }}</td>
                <td><a [routerLink]="['../../messages', { filter: 'CommandId eq ' + model?.Id }]">{{
                        model?.SmsTotal | accounting }}</a></td>
                <td><a [routerLink]="['../../messages', { filter: 'State gt 2 and CommandId eq ' + model?.Id }]">{{
                        model?.SmsSuccesses | accounting }}</a></td>
                <td><a [class.text-danger]="model?.SmsErrors"
                        [routerLink]="['../../messages', { filter: 'State lt 0 and CommandId eq ' + model?.Id }]">{{
                        model?.SmsErrors | accounting }}</a></td>
            </tr>
        </tbody>
    </table>

</ng-template>