<div class="container py-4 px-3 px-sm-5">
  <div class="row text-center">
    <div class="col-12  my-5">
      <h1 class="text-center display-4 m-02">
        {{ 'LandingPageTitle0' | translate: { appName: ( 'AppName' | translate ) } }}
      </h1>
      <span class="text-muted">{{ 'LandingPageSubtitle' | translate }}</span>
    </div>
    <div class="col-12 d-flex d-lg-none2 justify-content-center py-4">
      <button class="btn btn-outline-primary" (click)="onSignIn()" *ngIf="showSignIn">
        <fa-icon icon="sign-in-alt" [flip]="flip"></fa-icon>&nbsp;&nbsp;{{ 'SignIn' | translate }}
      </button>
      <button class="btn btn-outline-primary" (click)="onGoToApp()"
        *ngIf="showGoToApp">{{ 'GoToApp' | translate: { appName: ( 'AppName' | translate ) } }}&nbsp;&nbsp;<fa-icon
          icon="chevron-right" [flip]="flip"></fa-icon></button>
    </div>

    <div class="mt-4" *ngIf="showError">
      <b-error-message> {{ error | translate }} </b-error-message>
    </div>
    <div class="col-12 col-lg-4">
      <div
        class="col-12 col-md-63 p-2 text-white2 bg-dark2 justify-content-center align-items-center d-flex b-text-primary"
        style="min-height: 210px">
        <fa-icon icon="cogs" size="7x"></fa-icon>
      </div>
      <div class="col-12 col-md-63 p-4 justify-content-center align-items-center d-flex">
        <div>
          <h3 class="text-muted2">Efficient Business</h3>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo pulvinar nisl a facilisis. Sed
            finibus
            justo mattis nisi blandit malesuada. Donec consectetur sollicitudin justo, a pulvinar diam ullamcorper eget.
          </span>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div
        class="col-12 col-md-63 p-2 text-white2 bg-dark2 justify-content-center align-items-center d-flex b-text-primary"
        style="min-height: 210px">
        <fa-icon icon="cube" size="7x"></fa-icon>
      </div>

      <div class="col-12 col-md-63 p-4 justify-content-center align-items-center d-flex">
        <div>
          <h3 class="text-muted2">Wholistic Vision</h3>
          <span>
            Etiam porta a risus in varius. Vestibulum sapien nisl, feugiat ut laoreet in, vestibulum quis massa.
            Suspendisse tincidunt eros in nunc interdum, et maximus nunc efficitur. Donec id dui vel ipsum mollis
            scelerisque a ut velit.
          </span>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div
        class="col-12 col-md-63 p-2 text-white2 bg-dark2 justify-content-center align-items-center d-flex b-text-primary"
        style="min-height: 210px">
        <fa-icon icon="hands" size="7x"></fa-icon>
      </div>
      <div class="col-12 col-md-63 p-4 justify-content-center align-items-center d-flex">
        <div>
          <h3 class="text-muted2">Data Security</h3>
          <span>
            Donec id dui vel ipsum mollis
            scelerisque a ut velit. Curabitur eu hendrerit neque. Aliquam mollis tempor fringilla. Vestibulum vitae
            lectus
            ut lorem viverra rhoncus at quis lectus.

          </span>
        </div>
      </div>
    </div>

    <footer class=" col-12 pt-5">
      <hr style="max-width: 150px" />
      <div class="small">
        {{ 'CopyrightNoticeClient' | translate: { year: year } }}
      </div>
    </footer>
  </div>

</div>