<div class="container py-4 px-3 px-sm-5">
  <div class="row 2text-center">

    <div class="col-12  my-5">
      <h1 class="text-center display-4">
          {{ 'GetMoreWithApp' | translate: { appName: ( 'AppName' | translate ) } }}
      </h1>

      <!-- <h1 class="text-center display-1">
          {{ 'AppName' | translate }}
        </h1> -->
    </div>
    <div class="col-12 d-flex justify-content-center ">
        <button class="btn btn-primary mx-1" (click)="onSignIn()" *ngIf="showSignIn">{{ 'SignIn' | translate }}</button>
        <button class="btn btn-primary" (click)="onBackToApp()" *ngIf="showBackToApp">{{ 'BackToApp' | translate: { appName: ( 'AppName' | translate ) } }}</button>
    </div>
    <!-- <div class="d-flex justify-content-center my-5">
    <table>
      <tbody>
        <tr>
          <th>
            <img src="/favicon.ico" width="60">
          </th>
          <th>
            <span style="font-size: 200%;">
              <span class="font-weight-bold text-black-50">&nbsp;{{ 'AppName' | translate }}</span><span
                class="font-weight-bold b-brand">ERP</span>
            </span>
          </th>
        </tr>
      </tbody>
    </table>
  </div> -->
    <div class="col-12 col-md-6 p-4 justify-content-center align-items-center d-flex" style="min-height: 120px">
      <div>
        <h3 class="text-primary">Efficient Operations</h3>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo pulvinar nisl a facilisis. Sed finibus
          justo mattis nisi blandit malesuada. Donec consectetur sollicitudin justo, a pulvinar diam ullamcorper eget.
        </span>
      </div>

    </div>

    <div class="col-12 col-md-6 p-2 text-white2 bg-dark2 justify-content-center align-items-center d-flex text-primary"
      style="min-height: 220px">
      <fa-icon icon="hard-hat" size="7x"></fa-icon>
    </div>


    <div
      class="col-12 col-md-6 p-2 text-white2 bg-dark2 justify-content-center align-items-center d-none d-md-flex text-primary"
      style="min-height: 220px">
      <fa-icon icon="cube" size="7x"></fa-icon>
    </div>

    <div class="col-12 col-md-6 p-4 justify-content-center align-items-center d-flex" style="min-height: 120px">
      <div>
        <h3 class="text-primary">Wholistic Vision</h3>
        <span>
          Etiam porta a risus in varius. Vestibulum sapien nisl, feugiat ut laoreet in, vestibulum quis massa.
          Suspendisse tincidunt eros in nunc interdum, et maximus nunc efficitur. Donec id dui vel ipsum mollis
          scelerisque a ut velit.
        </span>
      </div>
    </div>


    <div
      class="col-12 col-md-6 p-2 text-white2 bg-dark2 justify-content-center align-items-center d-flex d-md-none text-primary"
      style="min-height: 220px">
      <fa-icon icon="cube" size="7x"></fa-icon>
    </div>



    <div class="col-12 col-md-6 p-4 justify-content-center align-items-center d-flex" style="min-height: 120px">
      <div>
        <h3 class="text-primary">Experienced Consultants</h3>
        <span>
          Donec id dui vel ipsum mollis
          scelerisque a ut velit. Curabitur eu hendrerit neque. Aliquam mollis tempor fringilla. Vestibulum vitae lectus
          ut lorem viverra rhoncus at quis lectus.

        </span>
      </div>
    </div>

    <div class="col-12 col-md-6 p-2 text-white2 bg-dark2 justify-content-center align-items-center d-flex text-primary"
      style="min-height: 220px">
      <fa-icon icon="hands" size="7x"></fa-icon>
    </div>


    <div class="mt-4" *ngIf="showError">
      <b-error-message> {{ error | translate }} </b-error-message>
    </div>
  </div>

</div>