<t-details collection="Currency" [createFunc]="create" [expand]="expand" [mode]="mode"
  [additionalSelect]="additionalSelect" [masterCrumb]="'Currencies' | translate" [detailsCrumb]="detailsCrumb"
  [idString]="idString" [documentTemplate]="document" [actions]="[
            { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
            { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
           ]">

</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>


<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

  <!-- Header Name -->
  <t-form-group class="col-12 mb-2 mb-sm-4 t-h2" [serverErrors]="getMultilingualValue(model?.serverErrors, 'Name', ws)">
    @if (!isEdit) {
      <h2 class="font-weight-normal">{{ getMultilingualValue(model, 'Name', ws) }}</h2>
    }

    @if (isEdit && ws.isPrimaryLanguage) {
      <t-text-editor [focusIf]="!model.Id" [(ngModel)]="model.Name"
        [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.primaryPostfix + '...'" required>
      </t-text-editor>
    }

    @if (isEdit && ws.isSecondaryLanguage) {
      <t-text-editor [focusIf]="!model.Id" [(ngModel)]="model.Name2"
        [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.secondaryPostfix + '...'">
      </t-text-editor>
    }

    @if (isEdit && ws.isTernaryLanguage) {
      <t-text-editor [focusIf]="!model.Id" [(ngModel)]="model.Name3"
        [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.ternaryPostfix + '...'">
      </t-text-editor>
    }
  </t-form-group>

  <!-- Id -->
  <t-form-group class="t-form-group" [label]="'Code' | translate" [serverErrors]="model?.serverErrors?.Id">
    @if (!isEdit) {
      <div>{{ model?.Id }}</div>
    }
    @if (isEdit) {
      <t-text-editor [(ngModel)]="model.Id" [ngModelOptions]="{ updateOn: 'blur' }" required
      [disabled]="!isNew"></t-text-editor>
    }
  </t-form-group>

  <!-- Name -->
  @if (!ws.isPrimaryLanguage) {
    <t-form-group class="t-form-group" [label]="('Name' | translate) + ws.primaryPostfix"
      [serverErrors]="model?.serverErrors?.Name">
      @if (!isEdit) {
        <div>{{ model?.Name }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
        </t-text-editor>
      }
    </t-form-group>
  }

  <!-- Name2 -->
  @if (!ws.isSecondaryLanguage && ws.settings.SecondaryLanguageId) {
    <t-form-group class="t-form-group"
      [label]="('Name' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Name2">
      @if (!isEdit) {
        <div>{{ model?.Name2 }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
      }
    </t-form-group>
  }

  <!-- Name3 -->
  @if (!ws.isTernaryLanguage && ws.settings.TernaryLanguageId) {
    <t-form-group class="t-form-group"
      [label]="('Name' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Name3">
      @if (!isEdit) {
        <div>{{ model?.Name3 }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Name3" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
      }
    </t-form-group>
  }

  <!-- Description -->
  <t-form-group class="t-form-group" [label]="('Description' | translate) + ws.primaryPostfix"
    [serverErrors]="model?.serverErrors?.Description">
    @if (!isEdit) {
      <div>{{ model?.Description }}</div>
    }
    @if (isEdit) {
      <t-text-editor [(ngModel)]="model.Description" [ngModelOptions]="{ updateOn: 'blur' }" required>
      </t-text-editor>
    }
  </t-form-group>

  <!-- Description2 -->
  @if (ws.settings.SecondaryLanguageId) {
    <t-form-group class="t-form-group"
      [label]="('Description' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Description2">
      @if (!isEdit) {
        <div>{{ model?.Description2 }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Description2" [ngModelOptions]="{ updateOn: 'blur' }">
        </t-text-editor>
      }
    </t-form-group>
  }

  <!-- Description3 -->
  @if (ws.settings.TernaryLanguageId) {
    <t-form-group class="t-form-group"
      [label]="('Description' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Description3">
      @if (!isEdit) {
        <div>{{ model?.Description3 }}</div>
      }
      @if (isEdit) {
        <t-text-editor [(ngModel)]="model.Description3" [ngModelOptions]="{ updateOn: 'blur' }">
        </t-text-editor>
      }
    </t-form-group>
  }

  <!-- Numeric Code -->
  <t-form-group class="t-form-group" [label]="'Currency_NumericCode' | translate"
    [serverErrors]="model?.serverErrors?.E">
    @if (!isEdit) {
      <t-auto-cell collection="Currency" [entity]="model" path="NumericCode"></t-auto-cell>
    }
    @if (isEdit) {
      <t-decimal-editor [(ngModel)]="model.NumericCode" [minDecimalPlaces]="0" [maxDecimalPlaces]="0">
      </t-decimal-editor>
    }
  </t-form-group>

  <!-- Decimal Places -->
  <t-form-group class="t-form-group" [label]="'Currency_DecimalPlaces' | translate"
    [serverErrors]="model?.serverErrors?.E">
    @if (!isEdit) {
      <t-auto-cell collection="Currency" [entity]="model" path="E"></t-auto-cell>
    }
    @if (isEdit) {
      <t-selector [(ngModel)]="model.E" [choices]="decimalPlacesChoices" required></t-selector>
    }
  </t-form-group>

  <!-- Is Active -->
  @if (!isEdit) {
    <t-form-group class="t-form-group" [label]="'IsActive' | translate">
      <t-auto-cell collection="Currency" [entity]="model" path="IsActive"></t-auto-cell>
    </t-form-group>
  }
</ng-template>


<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>