<t-master collection="EmailForQuery" [mode]="mode" [showCreateButton]="false" [filterDefault]="filter"
  [additionalSelect]="additionalSelect" [masterCrumb]="'Emails' | translate" [showImportButton]="false"
  [showDeleteButton]="false" [tileTemplate]="tile" [tableSummaryColumnTemplate]="summaryColumn"
  [tableSummaryHeaderTemplate]="summaryHeader" selectDefault="To,State,StateSince"
  selectForTiles="To,Subject" [multiselectActions]="[]" [filterDefinition]="{
    'State' : [
      { template: success, expression: 'State gt 2' },
      { template: pending, expression: 'State ge 0 and State le 2' },
      { template: error, expression: 'State lt 0' }
    ]
  }">
</t-master>

<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex justify-content-between">
    <span class="d-block text-truncate">{{ c[id].To }}</span>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <span class="d-block text-truncate">{{ c[id].Subject }}</span>
  </div>
</ng-template>

<!-- Summary Header -->
<ng-template #summaryHeader let-id="id">
  {{ 'Email_Subject' | translate }}
</ng-template>

<!-- Summary Column -->
<ng-template #summaryColumn let-id="id">
  <span class="text-truncate">{{ c[id].Subject }}</span>
</ng-template>

<ng-template #success> {{ 'Success' | translate }} </ng-template>
<ng-template #pending> {{ 'Pending' | translate }} </ng-template>
<ng-template #error> {{ 'Error' | translate }} </ng-template>
