<t-master *ngIf="found;else pageNotFound" collection="Document" [definitionId]="definitionId" [mode]="mode"
  [additionalSelect]="additionalSelect" [showCreateButton]="showCreate" [filterDefault]="filter"
  [masterCrumb]="masterCrumb" [tileTemplate]="tile" [tableSummaryColumnTemplate]="summaryColumn"
  [tableSummaryHeaderTemplate]="summaryHeader"
  [selectDefault]="selectDefault" selectForTiles="PostingDate,State,Memo"
  [multiselectToolbarTemplate]="multiselectTemplate"
  [multiselectActions]="[
                { template: close, action: onClose, showAction: showClose, canAction: hasStatePermission, actionTooltip: stateTooltip },
                { template: cancel, action: onCancel, showAction: showCancel, canAction: hasStatePermission, actionTooltip: stateTooltip },
                { template: open, action: onOpen, showAction: showOpen, canAction: hasStatePermission, actionTooltip: stateTooltip },
                { template: uncancel, action: onUncancel, showAction: showUncancel, canAction: hasStatePermission, actionTooltip: stateTooltip }
            ]" [filterDefinition]="{
            'CreatedBy' : [
                { template: createdByMe, expression: 'CreatedById eq me' },
                { template: assignedToMe, expression: 'AssigneeId eq me' }
            ],
            'State' : [
                { template: state_0, expression: 'State eq 0' },
                { template: state_1, expression: 'State eq 1' },
                { template: state_minus_1, expression: 'State eq -1' }
            ]
          }">
</t-master>

<!-- If definitionId is invalid -->
<ng-template #pageNotFound>
  <t-application-page-not-found [showHome]="!isPopupMode">
  </t-application-page-not-found>
</ng-template>

<!-- If definitionId is invalid -->
<ng-template #multiselectTemplate>

  <!-- Email Menu -->
  <t-send-email class="btn-group" [emailTemplates]="emailTemplates" *ngIf="showSendEmail"
      [emailCommandPreview]="emailCommandPreview" [emailPreview]="emailPreview"
      [sendEmail]="sendEmail">
  </t-send-email>
  
    <!-- SMS Menu -->
    <t-message-button class="btn-group" *ngIf="showSendMessage" [messageTemplates]="messageTemplates"
        [messageCommandPreview]="messageCommandPreview"
        [sendMessage]="sendMessage">
    </t-message-button>

</ng-template>

<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex justify-content-between">
    <t-auto-cell collection="Document" [definitionId]="definitionId" path="" [entity]="c[id]"></t-auto-cell>
    <t-auto-cell collection="Document" [definitionId]="definitionId" path="PostingDate" [entity]="c[id]" *ngIf="showDocumentPostingDate"></t-auto-cell>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <div class="text-truncate flex-grow-1">
      <t-auto-cell collection="Document" [definitionId]="definitionId" path="Memo" [entity]="c[id]"  *ngIf="showDocumentMemo"></t-auto-cell>
    </div>
    <t-auto-cell collection="Document" [definitionId]="definitionId" path="State" [entity]="c[id]"></t-auto-cell>
  </div>
</ng-template>

<!-- Summary Header -->
<ng-template #summaryHeader let-id="id">
  {{ 'Document_SerialNumber' | translate }}
</ng-template>

<!-- Summary Column -->
<ng-template #summaryColumn let-id="id">
  <span class="text-truncate">
    <t-auto-cell collection="Document" [definitionId]="definitionId" [entity]="c[id]"></t-auto-cell>
  </span>
</ng-template>


<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>


<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>
<ng-template #assignedToMe> {{ 'AssignedToMe' | translate }} </ng-template>

<ng-template #state_0> {{ 'Document_State_0' | translate }} </ng-template>
<ng-template #state_minus_1> {{ 'Document_State_minus_1' | translate }} </ng-template>
<ng-template #state_1> {{ 'Document_State_1' | translate }} </ng-template>

<!-- Actions -->
<ng-template #close> {{ 'Close' | translate }} </ng-template>
<ng-template #open> {{ 'Open' | translate }} </ng-template>
<ng-template #cancel> {{ 'Cancel' | translate }} </ng-template>
<ng-template #uncancel> {{ 'Uncancel' | translate }} </ng-template>