<t-details-picker [masterTemplate]="master" (entityLoaded)="onEntityLoaded()"
    [ensureAdditionalSelect]="ensureAdditionalSelect" [theme]="theme" collection="Document" [definitionIds]="definitionIds"
    [filter]="filter" [additionalSelect]="additionalSelect">
</t-details-picker>

<!-- The Master Modal -->
<ng-template #master let-modal="modal" let-update="update" let-create="create" let-definitionId="definitionId"
    let-filter="filter">
    <div class="modal-body">
        <t-documents-master mode="popup" (cancel)="modal.close(false);" [definitionId]="definitionId" [filter]="filter"
            [showCreate]="false" (choose)="modal.close(true); update.call(null, $event);"
            (create)="modal.close(false); create.call()" [additionalSelect]="additionalSelect">
        </t-documents-master>
    </div>
</ng-template>