<div class="h-100 d-flex flex-column">
  <div class="row  border-bottom">

    <!-- Breadcrumb -->
    <div class="col-6 p-1">
      <ul class="breadcrumb bg-white mb-0">
        <li class="breadcrumb-item active">
          {{ masterCrumb }}
        </li>
      </ul>
    </div>

    <!-- Search and Filter -->
    <div class="col-6 p-1">
      <div class="d-flex b-search">
        <!-- Search Box -->
        <b-text-editor placeholder="{{ 'Search' | translate }}..." [(ngModel)]="search" focus></b-text-editor>

        <!-- Filter -->
        <div ngbDropdown autoClose="outside" [placement]="filterDropdownPlacement">
          <button class="btn btn-light btn-sm b-white-button d-flex b-no-arrow b-filter-button" ngbDropdownToggle type="button" title="{{ 'Filter' | translate }}">
            <fa-icon icon="filter"></fa-icon>
            <div class="bg-danger b-indicator" *ngIf="isAnyFilterChecked"></div>
          </button>

          <ul class="b-filter-dropdown-menu small shadow" ngbDropdownMenu>

            <!-- Include Inactive -->
            <li class="dropdown-item" [class.selected]="isIncludeInactive" (click)="onIncludeInactive()"><span> {{ includeInactiveLabel }} </span></li>

            <!-- Custom filter options -->
            <ng-container *ngFor="let groupName of groupNames">
              <li><hr /></li>
              <ng-container *ngFor="let e of filterTemplates(groupName)">
                <li class="dropdown-item" [class.selected]="isFilterChecked(groupName, e.expression)"
                    (click)="onFilterCheck(groupName, e.expression)">
                  <div>
                    <ng-container *ngTemplateOutlet="e.template"></ng-container>

                  </div>

                </li>
              </ng-container>
            </ng-container>

            <!-- Clear Filter -->
            <li><hr /></li>
            <li class="dropdown-item d-flex justify-content-between" [class.disabled]="!isAnyFilterChecked" (click)="onClearFilter()"><span class="d-block">{{ 'ClearFilter' | translate }}</span><span class="text-danger">&#x2718;</span></li>
          </ul>
        </div>

      </div>
    </div>

    <!-- Regular Toolbar -->
    <div class="col-12 p-1 d-flex justify-content-between b-toolbar" *ngIf="!areAnyChecked">

      <!-- Left Buttons -->
      <div>
        <!-- Create -->
        <button class="btn btn-primary btn-sm b-toolbar-button" (click)="onCreate()" *ngIf="showCreate" [disabled]="!canCreate">
          <fa-icon icon="plus"></fa-icon>
          <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Create' | translate }}</span>
        </button>

        <!-- Import -->
        <button class="btn btn-light btn-sm text-primary b-white-button b-toolbar-button" *ngIf="showImport" (click)="onImport()">
          <fa-icon icon="upload"></fa-icon>
          <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Import' | translate }}</span>
        </button>

        <!-- Export -->
        <button class="btn btn-light btn-sm text-primary b-white-button b-toolbar-button" *ngIf="showExport" (click)="modalService.open(exportModal)">
          <fa-icon icon="download"></fa-icon>
          <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Export' | translate }}</span>
        </button>
      </div>

      <!-- Right Buttons -->
      <div>

        <!-- Refresh -->
        <button class="btn btn-light btn-sm b-white-button b-toolbar-button"
                type="button" title="{{ 'Refresh' | translate }}" (click)="onRefresh()">
          <fa-icon icon="sync-alt"></fa-icon>
        </button>

        <!-- Paging -->
        <div class="d-inline small mr-2 ml-2">
          <span class="b-vertical-align-middle"> <span>{{ from | number }}</span> - <span>{{ to | number }}</span> </span>
          <span class="b-vertical-align-middle"> / {{ total | number }}</span>
        </div>

        <!--<button class="btn btn-light btn-sm b-white-button"
                type="button" title="{{ 'First' | translate }}" (click)="onFirstPage()" [disabled]="!canFirstPage">
          <fa-icon icon="angle-double-left" [flip]="flip"></fa-icon>
        </button>-->
        <button class="btn btn-light btn-sm b-white-button b-toolbar-button"
                type="button" title="{{ 'Previous' | translate }}" (click)="onPreviousPage()" [disabled]="!canPreviousPage">
          <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
        </button>
        <button class="btn btn-light btn-sm b-white-button b-toolbar-button"
                type="button" title="{{ 'Next' | translate }}" (click)="onNextPage()" [disabled]="!canNextPage">
          <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
        </button>


        <!-- Tiles/Table Toggle -->
        <div class="btn-group btn-group-toggle b-toolbar-button">
          <label class="btn btn-sm btn-light" [class.active]="showTilesView" title="{{ 'Tiles' | translate }}" (click)="onTilesView()">
            <input type="radio" name="searchView"><fa-icon icon="th-large"></fa-icon>
          </label>
          <label class="btn btn-sm btn-light" [class.active]="showTableView" title="{{ 'Table' | translate }}" (click)="onTableView()">
            <input type="radio" name="searchView"><fa-icon icon="list" [flip]="flip"></fa-icon>
          </label>
        </div>
      </div>
    </div>

    <!-- Multi-Select Toolbar -->
    <div class="col-12 p-1 d-flex justify-content-between b-toolbar" *ngIf="areAnyChecked">
      <div>
        <span class="ml-2 mr-2 b-vertical-align-middle">
          {{ 'NSelectedItems' | translate: { count: checkedCount } }}
        </span>

        <!-- Actions -->
        <div class="btn-group b-toolbar-button" ngbDropdown [placement]="actionsDropdownPlacement">
          <button type="button" class="btn btn-primary btn-sm b-toolbar-button dropdown-toggle" ngbDropdownToggle>
            {{ 'Actions' | translate }}
          </button>
          <div class="dropdown-menu shadow" ngbDropdownMenu aria-labelledby="action">
            <ng-container *ngFor="let action of multiselectActions">
              <button type="button" class="dropdown-item btn-light" (click)="onAction(action.action)">
                <ng-container *ngTemplateOutlet="action.template"></ng-container>
              </button>
            </ng-container>
            <button type="button" class="dropdown-item btn-light" (click)="modalService.open(deleteModal)">
              {{ 'Delete' | translate }}
            </button>
          </div>
        </div>

        <!-- Cancel -->
        <button class="btn btn-light btn-sm text-primary b-white-button b-toolbar-button" type="button" *ngIf="!isPopupMode" (click)="onCancelMultiselect()">
          <fa-icon icon="times"></fa-icon>
          <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Cancel' | translate }}</span>
        </button>
      </div>

    </div>

  </div>

  <!-- The search results -->
  <div class="row b-rest-of-screen bg-light">
    <div class="w-100">

      <!-- Tiles -->
      <div class="col-12" *ngIf="showTilesView">
        <div class="row mb-3">
          <div class="b-tile-container p-0 p-sm-1" [class.b-popup-tile-container]="isPopupMode" *ngFor="let id of masterIds; trackBy: trackById">
            <div class="p-2 bg-white b-tile" [class.b-highlight]="isRecentlyViewed(id)" (click)="onSelect(id)">
              <ng-container *ngTemplateOutlet="tileTemplate;context: { id : id }">
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <!-- Table: using the Angular CDK -->
      <div class="w-100 table-responsive" *ngIf="showTableView">
        <table class="table table-hover table-sm table-striped bg-white border-bottom b-master-table" cdk-table [dataSource]="masterIds" [trackBy]="trackById">

          <!-- The only purpose of this invisible TR element is to suppress VS warnings -->
          <tr style="display:none!important">


            <!-- Column definitions -->
            <ng-container cdkColumnDef="multiselect">

              <!-- Checkboxes column -->
              <th class="b-multiselect-th" cdk-header-cell *cdkHeaderCellDef>
                <div class="ml-2 mr-2">
                  <div class="custom-control custom-checkbox b-labelless-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkAll" [ngModel]="areAllChecked" (ngModelChange)="onCheckAll()" [disabled]="!canCheckAll">
                    <label class="custom-control-label b-pointer" for="checkAll">&zwnj;</label>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let id">
                <div class="ml-2 mr-2">

                  <!-- checkbox -->
                  <div class="custom-control custom-checkbox b-labelless-checkbox d-inline">
                    <input type="checkbox" class="custom-control-input" id="check{{id}}" [(ngModel)]="checked[id]">
                    <label class="custom-control-label b-pointer" for="check{{id}}">&zwnj;</label>
                  </div>
                </div>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="errors">
              <!-- Errors -->
              <th class="b-multiselect-th pl-0 pr-0" cdk-header-cell *cdkHeaderCellDef>
              </th>
              <td class="pl-0 pr-0" cdk-cell *cdkCellDef="let id">

                <!-- Validation errors -->
                <div class="ml-2 mr-2" *ngIf="showErrorHighlight(id)">
                  <fa-icon class="text-danger" icon="exclamation-triangle" ngbPopover="{{ actionValidationErrors[id] }}" triggers="mouseenter:mouseleave" [placement]="errorPopoverPlacement"></fa-icon>
                </div>
              </td>
            </ng-container>

            <!-- Custom feature columns -->
            <ng-container *ngFor="let colPath of tableColumnPaths">
              <ng-container cdkColumnDef="{{colPath}}">

                <!-- Column header -->
                <th class="b-pointer" [style.width]="colWith(colPath)" [class.dropdown-toggle]="orderBy === colPath" cdk-header-cell *cdkHeaderCellDef (click)="onOrderBy(colPath)">
                  <ng-content *ngTemplateOutlet="tableColumnTemplates[colPath].headerTemplate">
                  </ng-content>
                </th>

                <!-- Column rows -->
                <td class="b-pointer" cdk-cell *cdkCellDef="let id" (click)="onSelect(id)">
                  <ng-container *ngTemplateOutlet="tableColumnTemplates[colPath].rowTemplate;context: { id: id }">
                  </ng-container>
                </td>
              </ng-container>
            </ng-container>
          </tr>

          <!-- Row definitions -->
          <tr cdk-header-row *cdkHeaderRowDef="tableColumnPathsAndExtras" [class.dropup]="desc"></tr>
          <tr cdk-row *cdkRowDef="let id; columns: tableColumnPathsAndExtras" [class.b-highlight]="isRecentlyViewed(id)"></tr>

        </table>
      </div>

      <!-- Spinner -->
      <div class="w-100 p-2 d-flex justify-content-center" *ngIf="showSpinner">
        <b-spinner [scale]="2"></b-spinner>
      </div>

      <!-- No items found -->
      <div class="w-100 pl-3 pr-3" *ngIf="showNoItemsFound">
        {{ 'NoItemsFound' | translate }}
      </div>

      <!-- Error message -->
      <b-error-message *ngIf="showErrorMessage">
        {{ errorMessage }}
      </b-error-message>
    </div>
  </div>
</div>

<!-- Export Modal -->
<ng-template #exportModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ 'Export' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- Format -->
    <div class="mt-1">
      <div class="font-weight-bold small">
        <span class="b-vertical-align-middle">{{ 'Format' | translate }}</span>
      </div>
      <b-selector [choices]="formatChoices" [(ngModel)]="exportFormat"></b-selector>
    </div>

    <!-- Page -->
    <div class="mt-3 mb-2">
      <div class="font-weight-bold small">
        <span class="b-vertical-align-middle">{{ 'ExportRange' | translate }}</span>
      </div>
      <div [class.mt-1]="showExportPaging">
        <button class="btn btn-light btn-sm b-white-button b-toolbar-button" *ngIf="showExportPaging"
                type="button" title="{{ 'Previous' | translate }}" (click)="onPerviousPageExport()" [disabled]="!canPreviousPageExport">
          <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
        </button>
        <button class="btn btn-light btn-sm b-white-button b-toolbar-button" *ngIf="showExportPaging"
                type="button" title="{{ 'Next' | translate }}" (click)="onNextPageExport()" [disabled]="!canNextPageExport">
          <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
        </button>

        <div class="d-inline ml-2 mr-2">
          <span class="b-vertical-align-middle"> <span>{{ fromExport | number }}</span> - <span>{{ toExport | number }}</span> </span>
          <span class="b-vertical-align-middle"> / {{ totalExport | number }}</span>
        </div>
      </div>
    </div>

    <b-warning-message *ngIf="showExportPaging">
      {{ 'MaxExportSizeWarning' | translate: { max: (maxTotalExport | number) } }}
    </b-warning-message>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="onExport(modal);" ngbAutofocus>
      <fa-icon icon="download"></fa-icon>
      &nbsp;{{ 'Export' | translate }}
    </button>
    <button class="btn btn-light text-primary b-white-button" (click)="modal.dismiss()">
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #deleteModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title"> {{ 'Confirmation' | translate }} </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ 'DeleteConfirmationMessage' | translate: { count: checkedCount } }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.dismiss(); onDelete();">
      <fa-icon icon="trash-alt"></fa-icon>
      &nbsp;{{ 'Delete' | translate }}
    </button>
    <button class="btn btn-light text-primary b-white-button" (click)="modal.dismiss()" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</ng-template>


<!-- Error Modal -->
<ng-template #errorModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title"><fa-icon class="text-danger" icon="exclamation-triangle"></fa-icon>&nbsp;&nbsp;{{ 'Error' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ actionErrorMessage }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Dismiss' | translate }}
    </button>
  </div>
</ng-template>
