<div class="h-100 d-flex flex-column">

  <div class="row border-bottom justify-content-between flex-row bg-white" *ngIf="isPopupMode">

    <!-- Breadcrumb -->
    <div class="p-2">
      <ul class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          {{ masterCrumb }}
        </li>
      </ul>
    </div>

    <button type="button" class="close pr-3 pl-3" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row border-bottom bg-white">

    <!-- Breadcrumb -->
    <div class="col-6 p-1" *ngIf="isScreenMode">
      <ul class="breadcrumb mb-0">
        <li class="breadcrumb-item active">
          {{ masterCrumb }}
        </li>
      </ul>
    </div>

    <!-- Search and Filter -->
    <div class="p-1" [class.col-6]="isScreenMode" [class.col-12]="isPopupMode">
      <div class="d-flex b-search">
        <!-- Search Box -->
        <b-text-editor [placeholder]="('Search' | translate) + '...'" [(ngModel)]="search" [focusIf]="isPopupMode">
        </b-text-editor>

        <!-- Filter -->
        <div ngbDropdown autoClose="outside" [placement]="filterDropdownPlacement" bDropdownAppendToBody>
          <button class="btn btn-light btn-sm b-white-button d-flex b-no-arrow b-filter-button" ngbDropdownToggle
            type="button" title="{{ 'Filter' | translate }}">
            <fa-icon icon="filter"></fa-icon>
            <div class="bg-danger b-indicator" *ngIf="isAnyFilterChecked"></div>
          </button>

          <ul class="b-filter-dropdown-menu small shadow" ngbDropdownMenu>

            <!-- Include Inactive -->
            <li class="dropdown-item" [class.selected]="isIncludeInactive" (click)="onIncludeInactive()"><span> {{
                includeInactiveLabel }} </span></li>

            <!-- Custom filter options -->
            <ng-container *ngFor="let groupName of groupNames">
              <li>
                <hr />
              </li>
              <ng-container *ngFor="let e of filterTemplates(groupName)">
                <li class="dropdown-item" [class.selected]="isFilterChecked(groupName, e.expression)"
                  (click)="onFilterCheck(groupName, e.expression)">
                  <div>
                    <ng-container *ngTemplateOutlet="e.template"></ng-container>

                  </div>

                </li>
              </ng-container>
            </ng-container>

            <!-- Clear Filter -->
            <li>
              <hr />
            </li>
            <li class="dropdown-item d-flex justify-content-between" [class.disabled]="!isAnyFilterChecked"
              (click)="onClearFilter()"><span class="d-block">{{ 'ClearFilter' | translate }}</span><span
                class="text-danger">&#x2718;</span></li>
          </ul>
        </div>

      </div>
    </div>

    <!-- Regular Toolbar -->
    <div class="col-12 p-1 d-flex justify-content-between b-toolbar" *ngIf="!areAnyChecked">

      <!-- Left Buttons -->
      <div>
        <!-- Create -->
        <div class="d-inline-block" [placement]="actionsDropdownPlacement" [ngbTooltip]="createTooltip" container="body"
          *ngIf="showCreate">
          <button type="button" class="btn btn-primary btn-sm b-toolbar-button" (click)="onCreate()"
            [disabled]="!canCreate">
            <fa-icon icon="plus"></fa-icon>
            <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Create' | translate }}</span>
          </button>
        </div>

        <!-- Data dropdown -->
        <div class="btn-group b-toolbar-button" ngbDropdown [placement]="actionsDropdownPlacement"
          *ngIf="showDataDropdown" bDropdownAppendToBody>
          <button type="button"
            class="btn btn-light btn-sm text-primary b-white-button b-toolbar-button dropdown-toggle" ngbDropdownToggle>
            {{ 'Data' | translate }}
          </button>
          <div class="dropdown-menu shadow" ngbDropdownMenu aria-labelledby="action">
            <div [placement]="actionsDropdownPlacement" [ngbTooltip]="exportTooltip" container="body">
              <button type="button" class="dropdown-item btn-light" *ngIf="showExport"
                (click)="exportErrorMessage = null; modalService.open(exportModal);" [disabled]="!canExport">
                {{ 'Export' | translate }}
              </button>
            </div>
            <div [placement]="actionsDropdownPlacement" [ngbTooltip]="importTooltip" container="body">
              <button type="button" class="dropdown-item btn-light" (click)="onImport()" [disabled]="!canImport"
                *ngIf="showImport">
                {{ 'Import' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Buttons -->
      <div>

        <!-- Refresh -->
        <button class="btn btn-light btn-sm b-white-button b-toolbar-button" type="button"
          title="{{ 'Refresh' | translate }}" (click)="onRefresh()">
          <fa-icon icon="sync-alt"></fa-icon>
        </button>

        <!-- Paging -->
        <ng-container *ngIf="!showTreeView">
          <div class="d-inline small mr-2 ml-2">
            <span class="b-vertical-align-middle"> <span>{{ from | number }}</span> - <span>{{ to | number }}</span>
            </span>
            <span class="b-vertical-align-middle"> / {{ total | number }}</span>
          </div>
          <button class="btn btn-light btn-sm b-white-button b-toolbar-button" type="button"
            title="{{ 'Previous' | translate }}" (click)="onPreviousPage()" [disabled]="!canPreviousPage">
            <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
          </button>
          <button class="btn btn-light btn-sm b-white-button b-toolbar-button" type="button"
            title="{{ 'Next' | translate }}" (click)="onNextPage()" [disabled]="!canNextPage">
            <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
          </button>
        </ng-container>


        <!-- Tiles/Table Toggle -->
        <div class="btn-group btn-group-toggle b-toolbar-button">
          <label class="btn btn-sm btn-light b-pointer" [class.active]="showTreeView" title="{{ 'Tree' | translate }}"
            (click)="onTreeView()" *ngIf="enableTree && !searchOrFilter">
            <input type="radio" name="searchView">
            <fa-icon icon="code-branch" rotate="90"></fa-icon>
          </label>
          <label class="btn btn-sm btn-light b-pointer" [class.active]="showTilesView" title="{{ 'Tiles' | translate }}"
            (click)="onTilesView()">
            <input type="radio" name="searchView">
            <fa-icon icon="th-large"></fa-icon>
          </label>
          <label class="btn btn-sm btn-light b-pointer" [class.active]="showTableView" title="{{ 'Table' | translate }}"
            (click)="onTableView()">
            <input type="radio" name="searchView">
            <fa-icon icon="list" [flip]="flip"></fa-icon>
          </label>
        </div>
      </div>
    </div>

    <!-- Multi-Select Toolbar -->
    <div class="col-12 p-1 d-flex justify-content-between b-toolbar" *ngIf="areAnyChecked">
      <div>
        <span class="ml-2 mr-2 b-vertical-align-middle">
          {{ 'NSelectedItems' | translate: { count: checkedCount } }}
        </span>

        <!-- Actions -->
        <div class="btn-group b-toolbar-button" ngbDropdown [placement]="actionsDropdownPlacement">
          <button type="button" class="btn btn-primary btn-sm b-toolbar-button dropdown-toggle" ngbDropdownToggle>
            {{ 'Actions' | translate }}
          </button>
          <div class="dropdown-menu shadow" ngbDropdownMenu aria-labelledby="action">
            <ng-container *ngFor="let action of multiselectActions">
              <div [placement]="actionsDropdownPlacement" [ngbTooltip]="actionTooltip(action.requiresUpdatePermission)"
                container="body">
                <button type="button" class="dropdown-item btn-light" (click)="onAction(action.action)"
                  [disabled]="!canAction(action.requiresUpdatePermission)">
                  <ng-container *ngTemplateOutlet="action.template"></ng-container>
                </button>
              </div>
            </ng-container>
            <div [placement]="actionsDropdownPlacement" [ngbTooltip]="deleteTooltip" container="body">
              <button type="button" class="dropdown-item btn-light" (click)="modalService.open(deleteModal)"
                [disabled]="!canDelete">
                {{ 'Delete' | translate }}
              </button>
            </div>
          </div>
        </div>

        <!-- Cancel -->
        <button class="btn btn-light btn-sm text-primary b-white-button b-toolbar-button" type="button"
          (click)="onCancelMultiselect()">
          <fa-icon icon="times"></fa-icon>
          <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Cancel' | translate }}</span>
        </button>
      </div>

    </div>

  </div>

  <!-- The search results -->
  <div class="row b-rest-of-screen bg-light">
    <div class="w-100">

        <!-- Tree View -->
      <ng-container *ngIf="showTreeView">
        <div class="bg-white p-2 pb-3 border-bottom" *ngIf="showTreeContainer">
          <cdk-tree [dataSource]="treeIds" [treeControl]="treeControl">
            <cdk-tree-node *cdkTreeNodeDef="let node" [class.d-flex]="showTreeNode(node)"
              [class.d-none]="!showTreeNode(node)">
              <div class="border-bottom2 w-100 py-12 d-flex" [style.padding-left]="paddingLeft(node)"
                [style.padding-right]="paddingRight(node)">

                <!-- Expand button -->
                <button class="border-0 px-2 mx-2" style="background-color: transparent" [style.opacity]="!hasChildren(node) ? 0 : 1"
                  [disabled]="!hasChildren(node)" cdkTreeNodeToggle (click)="onExpand(node)">
                  <fa-icon *ngIf="!showNodeSpinner(node)" icon="angle-right" [flip]="flipNode(node)"
                    [rotate]="rotateNode(node)"></fa-icon>
                  <b-spinner *ngIf="showNodeSpinner(node)"></b-spinner>
                </button>

                <!-- Node template -->
                <div class="b-tree-node p-1" [class.b-highlight]="isRecentlyViewed(node.id)" (click)="onSelect(node.id)">
                  <ng-container *ngTemplateOutlet="treeNodeTemplate;context: { node : node }">
                  </ng-container>
                </div>
              </div>
            </cdk-tree-node>
          </cdk-tree>
        </div>


        <!-- Spinner -->
        <div class="w-100 p-2 d-flex justify-content-center mt-3" *ngIf="showTreeSpinner">
          <b-spinner [scale]="2"></b-spinner>
        </div>

        <!-- No items found -->
        <div class="w-100 pl-3 pr-3" *ngIf="showTreeNoItemsFound">
          {{ 'NoItemsFound' | translate }}
        </div>

        <!-- Error message -->
        <b-error-message *ngIf="showTreeErrorMessage">
          {{ treeErrorMessage }}
        </b-error-message>
      </ng-container>

      <ng-container *ngIf="!showTreeView">
        
        <!-- Tiles -->
        <div class="col-12" *ngIf="showTilesView">
          <div class="row mb-3">
            <div class="b-tile-container p-0 p-sm-1" [class.b-popup-tile-container]="isPopupMode"
              *ngFor="let id of masterIds; trackBy: trackById">
              <div class="p-2 bg-white b-tile" [class.b-highlight]="isRecentlyViewed(id)" (click)="onSelect(id)">
                <ng-container *ngTemplateOutlet="tileTemplate;context: { id : id }">
                </ng-container>
              </div>
            </div>
          </div>
        </div>

        <!-- Table: using the Angular CDK -->
        <div class="w-100 table-responsive" *ngIf="showTableView">
          <table class="table table-hover table-sm table-striped bg-white border-bottom b-master-table text-nowrap"
            cdk-table [dataSource]="masterIds" [trackBy]="trackById">

            <!-- The only purpose of this invisible TR element is to suppress VS warnings -->
            <tr style="display:none!important">


              <!-- Column definitions -->
              <ng-container cdkColumnDef="multiselect">

                <!-- Checkboxes column -->
                <th class="b-multiselect-th" cdk-header-cell *cdkHeaderCellDef>
                  <div class="ml-2 mr-2">
                    <div class="custom-control custom-checkbox b-labelless-checkbox">
                      <input type="checkbox" class="custom-control-input" id="checkAll" [ngModel]="areAllChecked"
                        (ngModelChange)="onCheckAll()" [disabled]="!canCheckAll">
                      <label class="custom-control-label b-pointer" for="checkAll">&zwnj;</label>
                    </div>
                  </div>
                </th>
                <td cdk-cell *cdkCellDef="let id">
                  <div class="ml-2 mr-2">

                    <!-- checkbox -->
                    <div class="custom-control custom-checkbox b-labelless-checkbox d-inline">
                      <input type="checkbox" class="custom-control-input" id="check{{id}}" [(ngModel)]="checked[id]">
                      <label class="custom-control-label b-pointer" for="check{{id}}">&zwnj;</label>
                    </div>
                  </div>
                </td>
              </ng-container>

              <ng-container cdkColumnDef="errors">
                <!-- Errors -->
                <th class="b-multiselect-th pl-0 pr-0" cdk-header-cell *cdkHeaderCellDef>
                </th>
                <td class="pl-0 pr-0" cdk-cell *cdkCellDef="let id">

                  <!-- Validation errors -->
                  <div class="ml-2 mr-2" *ngIf="showErrorHighlight(id)">
                    <fa-icon class="text-danger" icon="exclamation-triangle"
                      ngbPopover="{{ actionValidationErrors[id] }}" triggers="mouseenter:mouseleave"
                      [placement]="errorPopoverPlacement"></fa-icon>
                  </div>
                </td>
              </ng-container>

              <!-- Custom feature columns -->
              <ng-container *ngFor="let colPath of tableColumnPaths">
                <ng-container cdkColumnDef="{{colPath}}">

                  <!-- Column header -->
                  <th class="b-pointer" [style.width]="colWidth(colPath)" [class.dropdown-toggle]="orderBy === colPath"
                    cdk-header-cell *cdkHeaderCellDef (click)="onOrderBy(colPath)">
                    <ng-content *ngTemplateOutlet="tableColumnTemplates[colPath].headerTemplate">
                    </ng-content>
                  </th>

                  <!-- Column rows -->
                  <td class="b-pointer" cdk-cell *cdkCellDef="let id" (click)="onSelect(id)">
                    <ng-container *ngTemplateOutlet="tableColumnTemplates[colPath].rowTemplate;context: { id: id }">
                    </ng-container>
                  </td>
                </ng-container>
              </ng-container>
            </tr>

            <!-- Row definitions -->
            <tr cdk-header-row *cdkHeaderRowDef="tableColumnPathsAndExtras" [class.dropup]="desc"></tr>
            <tr cdk-row *cdkRowDef="let id; columns: tableColumnPathsAndExtras"
              [class.b-highlight]="isRecentlyViewed(id)"></tr>

          </table>
        </div>

        <!-- Spinner -->
        <div class="w-100 p-2 d-flex justify-content-center" *ngIf="showSpinner">
          <b-spinner [scale]="2"></b-spinner>
        </div>

        <!-- No items found -->
        <div class="w-100 pl-3 pr-3" *ngIf="showNoItemsFound">
          {{ 'NoItemsFound' | translate }}
        </div>

        <!-- Error message -->
        <b-error-message *ngIf="showErrorMessage">
          {{ errorMessage }}
        </b-error-message>
      </ng-container>
    </div>
  </div>
</div>

<!-- Export Modal -->
<ng-template #exportModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ 'Export' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- Format -->
    <div class="mt-1">
      <div class="font-weight-bold small">
        <span class="b-vertical-align-middle">{{ 'Format' | translate }}</span>
      </div>
      <b-selector [choices]="formatChoices" [(ngModel)]="exportFormat"></b-selector>
    </div>

    <!-- Page -->
    <div class="mt-3 mb-2">
      <div class="font-weight-bold small">
        <span class="b-vertical-align-middle">{{ 'ExportRange' | translate }}</span>
      </div>
      <div [class.mt-1]="showExportPaging">
        <button class="btn btn-light btn-sm b-white-button b-toolbar-button" *ngIf="showExportPaging" type="button"
          title="{{ 'Previous' | translate }}" (click)="onPerviousPageExport()" [disabled]="!canPreviousPageExport">
          <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
        </button>
        <button class="btn btn-light btn-sm b-white-button b-toolbar-button" *ngIf="showExportPaging" type="button"
          title="{{ 'Next' | translate }}" (click)="onNextPageExport()" [disabled]="!canNextPageExport">
          <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
        </button>

        <div class="d-inline ml-2 mr-2">
          <span class="b-vertical-align-middle"> <span>{{ fromExport | number }}</span> - <span>{{ toExport | number
              }}</span>
          </span>
          <span class="b-vertical-align-middle"> / {{ totalExport | number }}</span>
        </div>
      </div>
    </div>

    <b-warning-message *ngIf="showExportPaging">
      {{ 'MaxExportSizeWarning' | translate: { max: (maxTotalExport | number) } }}
    </b-warning-message>

    <!-- Error message -->
    <b-error-message *ngIf="showExportErrorMessage">
      {{ exportErrorMessage }}
    </b-error-message>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="onExport(modal);" ngbAutofocus>
      <fa-icon icon="download"></fa-icon>
      &nbsp;{{ 'Export' | translate }}
      <b-spinner class="ml-1" *ngIf="showExportSpinner" [scale]="1"></b-spinner>
    </button>
    <button class="btn btn-light text-primary b-white-button" (click)="modal.dismiss()">
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #deleteModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title"> {{ 'Confirmation' | translate }} </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ 'DeleteConfirmationMessage' | translate: { count: checkedCount } }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.dismiss(); onDelete();">
      <fa-icon icon="trash"></fa-icon>
      &nbsp;{{ 'Delete' | translate }}
    </button>
    <button class="btn btn-light text-primary b-white-button" (click)="modal.dismiss()" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</ng-template>

<!-- Error Modal -->
<ng-template #errorModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title">
      <fa-icon class="text-danger" icon="exclamation-triangle"></fa-icon>&nbsp;&nbsp;{{ 'Error' | translate }}
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ actionErrorMessage }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Dismiss' | translate }}
    </button>
  </div>
</ng-template>