<div class="h-100 d-flex flex-column">

  <div class="row border-bottom justify-content-between flex-row bg-white" *ngIf="isPopupMode">

    <!-- Breadcrumb -->
    <div class="p-2">
      <ul class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          {{ masterCrumb }}
        </li>
      </ul>
    </div>

    <button type="button" class="close pr-3 pl-3" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row border-bottom bg-white">

    <!-- Breadcrumb -->
    <div class="col-6 p-1" *ngIf="isScreenMode">
      <ul class="breadcrumb mb-0">
        <li class="breadcrumb-item active">
          {{ masterCrumb }}
        </li>
      </ul>

    </div>

    <!-- Search and Filter -->
    <div class="p-1" [class.col-6]="isScreenMode" [class.col-12]="isPopupMode">
      <div class="d-flex b-search">
        <!-- Search Box -->
        <b-text-editor [placeholder]="('Search' | translate) + '...'" [(ngModel)]="search" [focusIf]="isPopupMode">
        </b-text-editor>

        <!-- Filter -->
        <div ngbDropdown autoClose="outside" [placement]="filterDropdownPlacement">
          <button class="btn btn-light btn-sm b-white-button d-flex b-no-arrow b-filter-button" ngbDropdownToggle
            type="button" title="{{ 'Filter' | translate }}">
            <fa-icon icon="filter"></fa-icon>
            <div class="bg-danger b-indicator" *ngIf="isAnyFilterChecked"></div>
          </button>

          <ul class="b-filter-dropdown-menu shadow" style="min-width: 250px" ngbDropdownMenu>

            <!-- Include Inactive -->
            <li class="dropdown-item" [class.selected]="isIncludeInactive" (click)="onIncludeInactive()"><span> {{
                includeInactiveLabel }} </span></li>

            <!-- Custom filter options -->
            <ng-container *ngFor="let groupName of groupNames">
              <li>
                <hr />
              </li>
              <ng-container *ngFor="let e of filterTemplates(groupName)">
                <li class="dropdown-item" [class.selected]="isFilterChecked(groupName, e.expression)"
                  (click)="onFilterCheck(groupName, e.expression)">
                  <div>
                    <ng-container *ngTemplateOutlet="e.template || defaultExpressionTemplate"></ng-container>
                    <ng-template #defaultExpressionTemplate>
                      {{ e.expression }}
                    </ng-template>
                  </div>
                </li>
              </ng-container>
            </ng-container>

            <!-- Custom Filter -->
            <li>
              <hr />
            </li>
            <li class="dropdown-item bg-white" style="cursor: default" [class.selected]="!!customFilter">
              <div>
                <input class="form-control b-input w-100 border-0" style="font-size: inherit"
                  placeholder="{{ 'CustomFilter' | translate }}..." [(ngModel)]="customFilter"
                  [ngModelOptions]="{updateOn: 'blur'}" />
              </div>
            </li>

            <!-- Clear Filter -->
            <li>
              <hr />
            </li>
            <li class="dropdown-item d-flex justify-content-between" [class.disabled]="!isAnyFilterChecked"
              (click)="onClearFilter()"><span class="d-block">{{ 'ClearFilter' | translate }}</span><span
                class="text-danger">&#x2718;</span></li>
          </ul>
        </div>

      </div>
    </div>

    <!-- Regular Toolbar -->
    <div class="col-12 p-1 d-flex justify-content-between b-toolbar" *ngIf="!areAnyChecked">

      <!-- Left Buttons -->
      <div>
        <!-- Create -->
        <div class="d-inline-block" [placement]="actionsDropdownPlacement" [ngbTooltip]="createTooltip" container="body"
          *ngIf="showCreate">
          <button type="button" class="btn btn-primary btn-sm b-toolbar-button" (click)="onCreate()"
            [disabled]="!canCreate">
            <fa-icon icon="plus"></fa-icon>
            <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Create' | translate }}</span>
          </button>
        </div>

        <!-- Data dropdown -->
        <div class="btn-group b-toolbar-button" ngbDropdown [placement]="actionsDropdownPlacement"
          *ngIf="showDataDropdown">
          <button type="button"
            class="btn btn-light btn-sm text-primary b-white-button b-toolbar-button dropdown-toggle" ngbDropdownToggle>
            {{ 'Data' | translate }}
          </button>
          <div class="dropdown-menu shadow" ngbDropdownMenu aria-labelledby="action">
            <div [placement]="actionsDropdownPlacement" [ngbTooltip]="exportTooltip" container="body" *ngIf="showExport">
              <button type="button" class="dropdown-item btn-light"
                (click)="exportErrorMessage = null; modalService.open(exportModal);" [disabled]="!canExport">
                {{ 'Export' | translate }}
              </button>
            </div>
            <div [placement]="actionsDropdownPlacement" [ngbTooltip]="importTooltip" container="body">
              <button type="button" class="dropdown-item btn-light" (click)="onImport()" [disabled]="!canImport"
                *ngIf="showImport">
                {{ 'Import' | translate }}
              </button>
            </div>
            <div [placement]="actionsDropdownPlacement" [ngbTooltip]="expandNextLevelTooltip" container="body" *ngIf="showExpandNextLevel" >
              <button type="button" class="dropdown-item btn-light" (click)="onExpandNextLevel()"
                [disabled]="!canExpandNextLevel">
                {{ 'ExpandLevel0' | translate: { level: level+1 } }}
              </button>
            </div>
            <div [placement]="actionsDropdownPlacement" [ngbTooltip]="collapseAllTooltip" container="body" *ngIf="showCollapseAll" >
              <button type="button" class="dropdown-item btn-light" (click)="onCollapseAll()"
                [disabled]="!canCollapseAll">
                {{ 'CollapseAll' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Buttons -->
      <div>

        <!-- Refresh -->
        <button class="btn btn-light btn-sm b-white-button b-toolbar-button" type="button"
          title="{{ 'Refresh' | translate }}" (click)="onRefresh()">
          <fa-icon icon="sync-alt"></fa-icon>
        </button>

        <!-- Paging -->
        <ng-container *ngIf="showPagingControls">
          <div class="d-inline small mr-2 ml-2">
            <span class="b-vertical-align-middle"> <span>{{ from | number }}</span> - <span>{{ to | number }}</span>
            </span>
            <span class="b-vertical-align-middle"> / {{ total | number }}</span>
          </div>
          <button class="btn btn-light btn-sm b-white-button b-toolbar-button" type="button"
            title="{{ 'Previous' | translate }}" (click)="onPreviousPage()" [disabled]="!canPreviousPage">
            <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
          </button>
          <button class="btn btn-light btn-sm b-white-button b-toolbar-button" type="button"
            title="{{ 'Next' | translate }}" (click)="onNextPage()" [disabled]="!canNextPage">
            <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
          </button>
        </ng-container>

        <!-- Flat/Tree Toggle -->
        <div class="btn-group btn-group-toggle b-toolbar-button" *ngIf="enableTree">
          <label class="btn btn-sm btn-light b-pointer" [class.active]="isTreeMode" title="{{ 'Tree' | translate }}"
            (click)="onTreeMode()">
            <input type="radio" name="displayMode">
            <fa-icon icon="code-branch" rotate="90"></fa-icon>
            <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Tree' | translate }}</span>
          </label>
          <label class="btn btn-sm btn-light b-pointer" [class.active]="isFlatMode" title="{{ 'Flat' | translate }}"
            (click)="onFlatMode()">
            <input type="radio" name="displayMode">
            <fa-icon icon="bars"></fa-icon>
            <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'List' | translate }}</span>
          </label>
        </div>

        <!-- Tiles/Table Toggle -->
        <div class="btn-group btn-group-toggle b-toolbar-button">
          <label class="btn btn-sm btn-light b-pointer" [class.active]="showTilesView" title="{{ 'Tiles' | translate }}"
            (click)="onTilesView()">
            <input type="radio" name="searchView">
            <fa-icon icon="th-large"></fa-icon>
          </label>
          <label class="btn btn-sm btn-light b-pointer" [class.active]="showTableView" title="{{ 'Table' | translate }}"
            (click)="onTableView()">
            <input type="radio" name="searchView">
            <fa-icon icon="table" [flip]="flip"></fa-icon>
          </label>
        </div>
      </div>
    </div>

    <!-- Multi-Select Toolbar -->
    <div class="col-12 p-1 d-flex justify-content-between b-toolbar" *ngIf="areAnyChecked">
      <div>
        <span class="ml-2 mr-2 b-vertical-align-middle">
          {{ 'NSelectedItems' | translate: { count: checkedCount } }}
        </span>

        <!-- Actions -->
        <div class="btn-group b-toolbar-button" ngbDropdown [placement]="actionsDropdownPlacement">
          <button type="button" class="btn btn-primary btn-sm b-toolbar-button dropdown-toggle" ngbDropdownToggle>
            {{ 'Actions' | translate }}
          </button>
          <div class="dropdown-menu shadow" ngbDropdownMenu aria-labelledby="action">
            <ng-container *ngFor="let action of multiselectActions">
              <div *ngIf="showAction(action)" [placement]="actionsDropdownPlacement"
                [ngbTooltip]="actionTooltip(action)" container="body">
                <button type="button" class="dropdown-item btn-light" (click)="onAction(action)"
                  [disabled]="!canAction(action)">
                  <ng-container *ngTemplateOutlet="action.template"></ng-container>
                </button>
              </div>
            </ng-container>
            <div [placement]="actionsDropdownPlacement" [ngbTooltip]="deleteTooltip" container="body"
              *ngIf="showDelete">
              <button type="button" class="dropdown-item btn-light" (click)="modalService.open(deleteModal)"
                [disabled]="!canDelete">
                {{ 'Delete' | translate }}
              </button>
            </div>
            <div [placement]="actionsDropdownPlacement" [ngbTooltip]="deleteTooltip" container="body"
              *ngIf="showDeleteWithDescendants">
              <button type="button" class="dropdown-item btn-light"
                (click)="modalService.open(deleteWithDescendantsModal)" [disabled]="!canDelete">
                {{ 'DeleteWithDescendants' | translate }}
              </button>
            </div>
          </div>
        </div>

        <!-- Cancel -->
        <button class="btn btn-light btn-sm text-primary b-white-button b-toolbar-button" type="button"
          (click)="onCancelMultiselect()">
          <fa-icon icon="times"></fa-icon>
          <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Cancel' | translate }}</span>
        </button>
      </div>

    </div>

  </div>

  <!-- The search results -->
  <div class="row b-rest-of-screen bg-light">
    <div class="w-100">

      <!-- Tiles -->
      <div class="col-12" *ngIf="showTilesView">
        <div class="row mb-3">

          <ng-container *ngIf="isFlatMode">
            <div class="b-tile-container p-0 p-sm-1" [class.b-popup-tile-container]="isPopupMode"
              *ngFor="let id of flatIds; trackBy: trackById">
              <div class="p-2 bg-white b-tile" [class.b-highlight]="isRecentlyViewed(id)" (click)="onSelect(id)">
                <ng-container *ngTemplateOutlet="tileTemplate;context: { id : id }">
                </ng-container>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="isTreeMode">
            <div class="w-100 border bg-white" style="border-top-width: 0!important"
              *ngFor="let node of treeNodes; trackBy: trackByNodeId" [class.d-none]="!showTreeNode(node)">
              <div class="b-tree-tile" [class.b-highlight]="isRecentlyViewed(node.id)">
                <div [style.padding-left]="paddingLeft(node)" [style.padding-right]="paddingRight(node)">
                  <button class="border-0 px-4 w-100 h-100" style="background-color: transparent"
                    [style.opacity]="!hasChildren(node) ? 0 : 1" [disabled]="!hasChildren(node)"
                    (click)="onExpand(node)">
                    <fa-icon icon="angle-right" [flip]="flipNode(node)" [rotate]="rotateNode(node)"></fa-icon>
                  </button>
                </div>
                &nbsp;
                <div class="p-2 b-pointer flex-grow-1" (click)="onSelect(node.id)"
                  [class.font-weight-bold]="node.highlight">
                  <ng-container *ngTemplateOutlet="tileTemplate;context: { id : node.id }">
                  </ng-container>
                </div>
                <div class="px-2 py-1" *ngIf="showNodeSpinner(node)">
                  <b-spinner></b-spinner>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <!-- Table -->
      <div class="w-100 table-responsive" *ngIf="showTableView">
        <table class="table table-hover table-sm bg-white border-bottom b-master-table text-nowrap"
          [class.table-striped]="isFlatMode">
          <thead>
            <tr [class.dropup]="desc" cdkDropList cdkDropListOrientation="horizontal"
              (cdkDropListDropped)="onDragLeave($event)">

              <!-- Checkboxes -->
              <th class="b-multiselect-th">
                <div class="ml-2 mr-2">
                  <div class="custom-control custom-checkbox b-labelless-checkbox" *ngIf="isScreenMode">
                    <input type="checkbox" class="custom-control-input" id="checkAll" [ngModel]="areAllChecked"
                      (ngModelChange)="onCheckAll()" [disabled]="!canCheckAll">
                    <label class="custom-control-label b-pointer" for="checkAll">&zwnj;</label>
                  </div>
                </div>
              </th>

              <!-- Errors -->
              <th class="b-multiselect-th px-0" *ngIf="isScreenMode">
              </th>

              <!-- Description -->
              <th class="b-pointer" [style.width]="colWidth('(Description)')"
                [class.dropdown-toggle]="isOrderedBy('(Description)')" (click)="onOrderBy('(Description)')">
                <ng-content
                  *ngTemplateOutlet="(tableSummaryHeaderTemplate || tableSummaryHeaderTemplateDefault);context: { id: id }">
                </ng-content>

                <ng-template #tableSummaryHeaderTemplateDefault let-modal>
                  {{ 'Description' | translate }}
                </ng-template>

              </th>

              <!-- Custom feature columns -->
              <th class="b-pointer" *ngFor="let colPath of tableColumnPaths; let i = index"
                [style.width]="colWidth(colPath)" [class.dropdown-toggle]="isOrderedBy(colPath)"
                (click)="onOrderBy(colPath)" cdkDrag>
                <!-- <div class="d-flex align-items-center"> -->

                <b-auto-label [collection]="collection" [path]="colPath" [definition]="definition">
                </b-auto-label>
                <!-- &nbsp;
                  <button *ngIf="editingColumns" class="btn btn-light btn-sm b-white-button b-toolbar-button" style="margin:-20px 0"
                  type="button" (click)="onDeleteColumn(i)">
                  <fa-icon class="text-danger" icon="trash"></fa-icon>
                </button> -->
                <!-- </div> -->
              </th>

              <!-- Cog -->
              <th>
                <button class="btn btn-light btn-sm b-white-button b-toolbar-button" type="button"
                  title="{{ editingColumns ? 'Done' : 'EditColumns' | translate }}"
                  (click)="modalService.open(editColumns)">
                  <fa-icon [icon]="editingColumns ? 'save' : 'pen'"></fa-icon>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>

            <!-- Flat -->
            <ng-container *ngIf="isFlatMode">
              <tr *ngFor="let id of flatIds" [class.b-highlight]="isRecentlyViewed(id)">

                <!-- Checkboxes -->
                <ng-content *ngTemplateOutlet="checkboxesColumn;context: { id: id }">
                </ng-content>

                <!-- Errors -->
                <ng-content *ngTemplateOutlet="errorsColumn;context: { id: id }">
                </ng-content>

                <!-- Description -->
                <td class="b-pointer" (click)="onSelect(id)">
                  <ng-content *ngTemplateOutlet="tableSummaryColumnTemplate;context: { id: id }">
                  </ng-content>
                </td>

                <!-- Column rows -->
                <ng-content *ngTemplateOutlet="selectColumns;context: { id: id }">
                </ng-content>

                <td></td>
              </tr>
            </ng-container>

            <!-- Tree -->
            <ng-container *ngIf="isTreeMode">
              <tr *ngFor="let node of treeNodes;trackBy: trackByNodeId" [class.d-none]="!showTreeNode(node)"
                [class.b-highlight]="isRecentlyViewed(node.id)" [style.opacity]="node.fromResult ? 1 : 1">

                <!-- Checkboxes -->
                <ng-content *ngTemplateOutlet="checkboxesColumn;context: { id: node.id }">
                </ng-content>

                <!-- Errors -->
                <ng-content *ngTemplateOutlet="errorsColumn;context: { id: node.id }">
                </ng-content>

                <!-- Description -->
                <td class="px-0">
                  <div class="d-flex" [style.padding-left]="paddingLeft(node)"
                    [style.padding-right]="paddingRight(node)">
                    <!-- Expand button -->
                    <button class="border-0 px-2 mx-2" style="background-color: transparent; margin: -2px 0"
                      [style.opacity]="!hasChildren(node) ? 0 : 1" [disabled]="!hasChildren(node)"
                      (click)="onExpand(node)">
                      <fa-icon icon="angle-right" [flip]="flipNode(node)" [rotate]="rotateNode(node)"></fa-icon>
                    </button>
                    <!-- Expand button -->
                    <div class="b-pointer flex-grow-1" style="margin: -0.3rem 0; padding: 0.3rem 0"
                      (click)="onSelect(node.id)" [class.font-weight-bold]="node.highlight">
                      <ng-content *ngTemplateOutlet="tableSummaryColumnTemplate;context: { id: node.id }">
                      </ng-content>
                      <b-spinner class="mx-2" *ngIf="showNodeSpinner(node)"></b-spinner>
                    </div>
                  </div>
                </td>

                <!-- Column rows -->
                <ng-content *ngTemplateOutlet="selectColumns;context: { id: node.id }">
                </ng-content>

                <td>

                </td>

              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <!-- Template reused in both tree and flat tables -->
      <ng-template #checkboxesColumn let-id="id">

        <!-- In screen mode, this column contains the multiselect checkboxes -->
        <td *ngIf="isScreenMode">
          <div class="ml-2 mr-2">

            <!-- checkbox -->
            <div class="custom-control custom-checkbox b-labelless-checkbox d-inline">
              <input type="checkbox" class="custom-control-input" id="check{{id}}" [(ngModel)]="checked[id]">
              <label class="custom-control-label b-pointer" for="check{{id}}">&zwnj;</label>
            </div>
          </div>
        </td>

        <!-- In popup mode, this column is merely a clickable margin -->
        <td class="b-pointer" (click)="onSelect(id)" *ngIf="!isScreenMode">

        </td>
      </ng-template>

      <!-- Template reused in both tree and flat tables -->
      <ng-template #errorsColumn let-id="id">
        <td class="pl-0 pr-0" *ngIf="isScreenMode">

          <!-- Validation errors -->
          <div class="ml-2 mr-2" *ngIf="showErrorHighlight(id)">
            <fa-icon class="text-danger" icon="exclamation-triangle" ngbPopover="{{ actionValidationErrors[id] }}"
              triggers="mouseenter:mouseleave" [placement]="errorPopoverPlacement"></fa-icon>
          </div>
        </td>
      </ng-template>

      <!-- Template reused in both tree and flat tables -->
      <ng-template #selectColumns let-id="id">
        <td class="b-pointer" *ngFor="let colPath of tableColumnPaths" (click)="onSelect(id)">
          <b-auto-cell [collection]="collection" [path]="colPath" [definition]="definition" [entity]="entity(id)">
          </b-auto-cell>
        </td>
      </ng-template>

      <!-- Spinner -->
      <div class="w-100 p-2 d-flex justify-content-center" *ngIf="showSpinner">
        <b-spinner [scale]="2"></b-spinner>
      </div>

      <!-- No items found -->
      <div class="w-100 pl-3 pr-3" *ngIf="showNoItemsFound">
        {{ 'NoItemsFound' | translate }}
      </div>

      <!-- Error message -->
      <b-error-message *ngIf="showErrorMessage">
        {{ errorMessage }}
      </b-error-message>

    </div>
  </div>
</div>

<!-- Export Modal -->
<ng-template #exportModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ 'Export' | translate }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- Format -->
    <div class="mt-1">
      <div class="font-weight-bold small">
        <span class="b-vertical-align-middle">{{ 'Format' | translate }}</span>
      </div>
      <b-selector [choices]="formatChoices" [(ngModel)]="exportFormat"></b-selector>
    </div>

    <!-- Page -->
    <div class="mt-3 mb-2">
      <div class="font-weight-bold small">
        <span class="b-vertical-align-middle">{{ 'ExportRange' | translate }}</span>
      </div>
      <div [class.mt-1]="showExportPaging">
        <button class="btn btn-light btn-sm b-white-button b-toolbar-button" *ngIf="showExportPaging" type="button"
          title="{{ 'Previous' | translate }}" (click)="onPerviousPageExport()" [disabled]="!canPreviousPageExport">
          <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
        </button>
        <button class="btn btn-light btn-sm b-white-button b-toolbar-button" *ngIf="showExportPaging" type="button"
          title="{{ 'Next' | translate }}" (click)="onNextPageExport()" [disabled]="!canNextPageExport">
          <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
        </button>

        <div class="d-inline ml-2 mr-2">
          <span class="b-vertical-align-middle"> <span>{{ fromExport | number }}</span> - <span>{{ toExport | number
              }}</span>
          </span>
          <span class="b-vertical-align-middle"> / {{ totalExport | number }}</span>
        </div>
      </div>
    </div>

    <b-warning-message *ngIf="showExportPaging">
      {{ 'MaxExportSizeWarning' | translate: { max: (maxTotalExport | number) } }}
    </b-warning-message>

    <!-- Error message -->
    <b-error-message *ngIf="showExportErrorMessage">
      {{ exportErrorMessage }}
    </b-error-message>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="onExport();" ngbAutofocus>
      <fa-icon icon="download"></fa-icon>
      &nbsp;{{ 'Export' | translate }}
      <b-spinner class="ml-1" *ngIf="showExportSpinner" [scale]="1"></b-spinner>
    </button>
    <button class="btn btn-light text-primary b-white-button" (click)="modal.dismiss()">
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #deleteModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title"> {{ 'Confirmation' | translate }} </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ 'DeleteConfirmationMessage' | translate: { count: checkedCount } }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.dismiss(); onDelete();">
      <fa-icon icon="trash"></fa-icon>
      &nbsp;{{ 'Delete' | translate }}
    </button>
    <button class="btn btn-light text-primary b-white-button" (click)="modal.dismiss()" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #deleteWithDescendantsModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title"> {{ 'Confirmation' | translate }} </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ 'DeleteWithDescendantsConfirmationMessage' | translate: { count: checkedCount } }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.dismiss(); onDeleteWithDescendants();">
      <fa-icon icon="trash"></fa-icon>
      &nbsp;{{ 'Delete' | translate }}
    </button>
    <button class="btn btn-light text-primary b-white-button" (click)="modal.dismiss()" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</ng-template>

<!-- Error Modal -->
<ng-template #errorModal let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title">
      <fa-icon class="text-danger" icon="exclamation-triangle"></fa-icon>&nbsp;&nbsp;{{ 'Error' | translate }}
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    {{ actionErrorMessage }}
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Dismiss' | translate }}
    </button>
  </div>
</ng-template>


<!-- Select Modal (Temporary) -->
<ng-template #editColumns let-modal>

  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title">
      {{ 'EditColumns' | translate }}
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body">
    <input class="form-control b-input w-100" type="text" [(ngModel)]="stateSelect"
      [ngModelOptions]="{updateOn: 'blur'}" />
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Dismiss' | translate }}
    </button>
  </div>
</ng-template>