<b-master apiEndpoint="roles" viewId="roles" [mode]="mode" [expand]="expand" [workspaceApplyFns]="workspaceApplyFns"
  [masterCrumb]="'Roles' | translate" [tileTemplate]="tile" [tableColumnPaths]="adjustForMultilingual(['Name', 'Name2' , 'Code', 'IsPublic', 'IsActive'], ['Name'], ws)"
  [tableColumnTemplates]="{
            'Name' : { headerTemplate : header_Name, rowTemplate : row_Name, weight : 1.5 },
            'Name2' : { headerTemplate : header_Name2, rowTemplate : row_Name2, weight : 1.5 },
            'Code' : { headerTemplate : header_Code, rowTemplate : row_Code, weight : 1 },
            'IsPublic' : { headerTemplate : header_IsPublic, rowTemplate : row_IsPublic, weight : 1 },
            'IsActive' : { headerTemplate : header_IsActive, rowTemplate : row_IsActive, weight : 1 }
          }"
  [multiselectActions]="[
            { template : activate, action: onActivate, requiresUpdatePermission: true },
            { template : deactivate, action: onDeactivate, requiresUpdatePermission: true }
          ]"
  [includeInactiveLabel]="'IncludeInactive' | translate" [filterDefinition]="{
            'CreatedBy' : [
              { template: createdByMe, expression: 'CreatedByMe'}
            ],
            'IsPublic' : [
              { template: isPublic, expression: 'IsPublic eq true'},
              { template: isNotPublic, expression: 'IsPublic eq false'}
            ]
          }">
</b-master>

<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex justify-content-between">
    <span class="d-block text-truncate">{{ ws.getMultilingualValue('Roles', id, 'Name') }}</span>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <span>{{ c[id].Code }}</span>
  </div>
</ng-template>


<!-- Table Templates -->
<ng-template #header_Name>{{ ('Name' | translate) + ws.primaryPostfix }}</ng-template>
<ng-template #row_Name let-id="id"> {{ c[id].Name }} </ng-template>

<ng-template #header_Name2>{{ ('Name' | translate) + ws.secondaryPostfix }}</ng-template>
<ng-template #row_Name2 let-id="id"> {{ c[id].Name2 }} </ng-template>

<ng-template #header_Code>{{ 'Code' | translate }}</ng-template>
<ng-template #row_Code let-id="id"> {{ c[id].Code }} </ng-template>

<ng-template #header_IsPublic>{{ 'Role_IsPublic' | translate }}</ng-template>
<ng-template #row_IsPublic let-id="id"> {{ (c[id].IsPublic ? 'Yes' : 'No') | translate }} </ng-template>

<ng-template #header_IsActive>{{ 'IsActive' | translate }}</ng-template>
<ng-template #row_IsActive let-id="id"> {{ (c[id].IsActive ? 'Active' : 'Inactive') | translate }} </ng-template>


<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>


<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>

<ng-template #isPublic> {{ 'Public' | translate }} </ng-template>
<ng-template #isNotPublic> {{ 'NotPublic' | translate }} </ng-template>