<b-details-picker [filter]="filter" collection="Role" [masterTemplate]="master"
    [detailsTemplate]="showCreate ? details : null" [additionalSelect]="additionalSelect">
</b-details-picker>

<!-- The Details Modal -->
<ng-template #details let-modal="modal" let-update="update" let-initialText="initialText" let-idString="idString">
    <div class="modal-body">
        <b-roles-details mode="popup" [initialText]="initialText" [idString]="idString" (cancel)="modal.close(false);"
            (saved)="modal.close(true); update.call(null, $event);" [showMembers]="showMembers">
        </b-roles-details>
    </div>
</ng-template>

<!-- The Master Modal -->
<ng-template #master let-modal="modal" let-update="update" let-create="create" let-filter="filter">
    <div class="modal-body">
        <b-roles-master mode="popup" (cancel)="modal.close(false);" [showCreate]="showCreate" [filter]="filter"
        (choose)="modal.close(true); update.call(null, $event); " (create)="modal.close(false); create.call()" [additionalSelect]="additionalSelect">
        </b-roles-master>
    </div>
</ng-template>