<b-master collection="Role" [mode]="mode"
  [masterCrumb]="'Roles' | translate" [tileTemplate]="tile"
  [tableSummaryColumnTemplate]="summaryColumn" selectForTiles="Code"
  selectDefault="Code,IsPublic,IsActive" [tableSummaryHeaderTemplate]="summaryHeader"
  [multiselectActions]="[
  { template: activate, action: onActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
  { template: deactivate, action: onDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
          ]"
  [includeInactiveLabel]="'IncludeInactive' | translate" [filterDefinition]="{
            'CreatedBy' : [
              { template: createdByMe, expression: 'SavedById eq me'}
            ],
            'IsPublic' : [
              { template: isPublic, expression: 'IsPublic eq true'},
              { template: isNotPublic, expression: 'IsPublic eq false'}
            ]
          }">
</b-master>

<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex justify-content-between">
    <span class="d-block text-truncate">{{ ws.getMultilingualValue('Role', id, 'Name') }}</span>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <span>{{ c[id].Code }}</span>
  </div>
</ng-template>

<!-- Summary Header -->
<ng-template #summaryHeader let-id="id">
    {{ 'Role' | translate }}
  </ng-template>

<!-- Summary Column -->
<ng-template #summaryColumn let-id="id">
    <span class="text-truncate">{{ ws.getMultilingualValue('Role', id, 'Name') }}</span>
</ng-template>

<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>


<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>

<ng-template #isPublic> {{ 'Public' | translate }} </ng-template>
<ng-template #isNotPublic> {{ 'NotPublic' | translate }} </ng-template>