<div class="d-flex flex-column h-100">
  <!-- <b-warning-message>The license has expired. The system will become read-only in <b>22 days.</b></b-warning-message> -->
  <!-- <b-error-message>The system is readonly, please renew your license</b-error-message> -->
  <nav class="navbar navbar-dark b-dark navbar-expand-lg p-0 align-items-lg-stretch"
    [style.background-color]="settings?.BrandColor">
    <a class="b-brand-link b-navbar-button" routerLink="main-menu" [title]="'Home' | translate">
      <b-brand [scale]="1.0"></b-brand>
    </a>
    <div class="mx-2 d-flex">
      <button class="b-navbar-button nav-link" (click)="onCollapse();nav.onBack();" [disabled]="!nav.canBack"
        *ngIf="nav.showBack">
        <fa-icon icon="arrow-left" [flip]="flip"></fa-icon>
      </button>
      &nbsp;
      <button class="b-navbar-button nav-link" (click)="onCollapse();nav.onForward();" [disabled]="!nav.canForward"
        *ngIf="nav.showForward">
        <fa-icon icon="arrow-right" [flip]="flip"></fa-icon>
      </button>
    </div>
    <button type="button" class="navbar-toggler mx-2" (click)="onToggleCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-stretch" [ngbCollapse]="isCollapsed">
      <ol class="nav navbar-nav px-4 px-lg-0" [class.mr-auto]="!isRtl" [class.ml-auto]="isRtl">
        <!-- <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100" routerLink="./main-menu"
            (click)="onCollapse()">
            {{ 'Home' | translate }}
          </a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100" routerLink="./ifrs-notes"
            (click)="onCollapse()">
            {{ 'IfrsNotes' | translate }}
          </a>
        </li> -->
        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100" routerLink="./users"
            (click)="onCollapse()">
            {{ 'Users' | translate }}
          </a>
        </li>

        <!-- <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100"
            routerLink="./resources/raw-materials" (click)="onCollapse()">
            {{ 'Raw Materials' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100"
            routerLink="./resources/currencies" (click)="onCollapse()">
            {{ 'Currencies' | translate }}
          </a>
        </li>
        
        <li class="nav-item">
            <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100"
              routerLink="./resources/bla" (click)="onCollapse()">
              {{ 'Bla' | translate }}
            </a>
          </li> -->

        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100" routerLink="./roles"
            (click)="onCollapse()">
            {{ 'Roles' | translate }}
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100"
            routerLink="./accounts/gl-accounts" (click)="onCollapse()">
            {{ 'G/L Accounts' | translate }}
          </a>
        </li> -->
        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100"
            routerLink="./measurement-units" (click)="onCollapse()">
            {{ 'MeasurementUnits' | translate }}
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100"
            routerLink="./resources/raw-materials" (click)="onCollapse()">
            {{ 'Raw Materials' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100"
            routerLink="./resources/finished-goods" (click)="onCollapse()">
            {{ 'Finished Goods' | translate }}
          </a>
        </li> -->
        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100" routerLink="./currencies"
            (click)="onCollapse()">
            {{ 'Currencies' | translate }}
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100"
            routerLink="./lookups/colors" (click)="onCollapse()">
            {{ 'Colors' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100"
            routerLink="./lookups/thicknesses" (click)="onCollapse()">
            {{ 'Thicknesses' | translate }}
          </a>
        </li> -->
        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100" routerLink="./settings"
            (click)="onCollapse()">
            {{ 'Settings' | translate }}
          </a>
        </li>
      </ol>

      <ol class="nav navbar-nav p-0">
        <li class="nav-item" ngbDropdown container="">
          <button class="h-100 w-100 d-flex b-navbar-button b-no-arrow" ngbDropdownToggle>
            <div class="align-self-center">
              <div class="b-dp-wrapper b-dp-dark bg-white mx-1">
                <b-image [src]="'users/' + ws?.userSettings?.UserId + '/image'" [imageId]="ws?.userSettings?.ImageId"
                  shape="circle" [size]="28"></b-image>
              </div>
            </div>
            &nbsp;&nbsp;
            <div class="d-flex flex-column justify-content-center">
              <div style="line-height:1.1rem">{{ userName }}</div>
              <div class="small font-weight-bold"> {{ companyName }}</div>
            </div>
            &nbsp;&nbsp;
          </button>
          <div class="dropdown-menu shadow m-0" ngbDropdownMenu aria-labelledby="action"
            [class.dropdown-menu-right]="!isRtl">

            <button type="button" class="dropdown-item btn-light" routerLink="/root/companies" (click)="onCollapse()">
              {{ 'ChangeCompany' | translate }}
            </button>
            <button type="button" class="dropdown-item btn-light" routerLink="/root/welcome" (click)="onCollapse()">
              {{ 'WelcomePage' | translate }}
            </button>
            <button type="button" class="dropdown-item btn-light" (click)="onMySystemAccount();onCollapse()">
              {{ 'My0Account' | translate: { placeholder: ( 'AppName' | translate ) } }}
            </button>
            <button type="button" class="dropdown-item btn-light" (click)="onMyCompanyAccount();onCollapse()">
              {{ 'My0Account' | translate: { placeholder: companyName } }}
            </button>
            <button type="button" class="dropdown-item btn-light" (click)="onSignOut();onCollapse()">
              {{ 'SignOut' | translate }}
            </button>
            <!-- Company languages -->
            <ng-container *ngIf="settings?.SecondaryLanguageId || settings?.TernaryLanguageId">
              <hr />
              <button type="button" class="dropdown-item btn-light" *ngIf="!ws.isPrimaryLanguage"
                (click)="onPrimary();onCollapse()">
                {{ settings?.PrimaryLanguageName }}
              </button>
              <button type="button" class="dropdown-item btn-light"
                *ngIf="!ws.isSecondaryLanguage && !!settings?.SecondaryLanguageId" (click)="onSecondary();onCollapse()">
                {{ settings?.SecondaryLanguageName }}
              </button>
              <button type="button" class="dropdown-item btn-light"
                *ngIf="!ws.isTernaryLanguage && !!settings?.TernaryLanguageId" (click)="onTernary();onCollapse()">
                {{ settings?.TernaryLanguageName }}
              </button>
            </ng-container>
          </div>
        </li>
      </ol>
    </div>
  </nav>
  <main class="b-rest-of-screen container-fluid">
    <router-outlet></router-outlet>
  </main>
</div>

<!-- My Account Modal -->
<ng-template #myAccountModal let-modal>
  <!-- header -->
  <div class="modal-header">
    <h5 class="modal-title"> {{ 'My0Account' | translate: { placeholder: companyName } }} </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- body -->
  <div class="modal-body p-0 bg-white">
    <div class="row m-0 px-1 px-sm-3 pt-3 pt-sm-4 pb-3 pb-sm-5" *ngIf="isMyUserLoaded">
      <!-- Header Name -->
      <b-form-group class="col-12 col-md-8 mb-2 mb-sm-4 b-h2">
        <h2 class="font-weight-normal">{{ myEmail }}</h2>
      </b-form-group>

      <!-- Image -->
      <div class="col-12 col-md-4 b-details-image-container">
        <div class="border">
          <b-image [src]="'users/' + ws.userSettings.UserId + '/image'" [imageId]="myImageId" [(ngModel)]="myUser.Image"
            [isEdit]="true" [size]="70"></b-image>
        </div>
      </div>

      <!-- Name -->
      <b-form-group class="b-form-group" [label]="('Name' | translate) + ws.primaryPostfix"
        [serverErrors]="myUser?.serverErrors?.Name">
        <b-text-editor [(ngModel)]="myUser.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
        </b-text-editor>
      </b-form-group>

      <!-- Name2 -->
      <b-form-group class="b-form-group" [label]="('Name' | translate) + ws.secondaryPostfix"
        *ngIf="ws.settings.SecondaryLanguageId" [serverErrors]="myUser?.serverErrors?.Name2">
        <b-text-editor [(ngModel)]="myUser.Name2" [ngModelOptions]="{ updateOn: 'blur' }" required>
        </b-text-editor>
      </b-form-group>

      <!-- Name3 -->
      <b-form-group class="b-form-group" [label]="('Name' | translate) + ws.ternaryPostfix"
        *ngIf="ws.settings.TernaryLanguageId" [serverErrors]="myUser?.serverErrors?.Name3">
        <b-text-editor [(ngModel)]="myUser.Name3" [ngModelOptions]="{ updateOn: 'blur' }" required>
        </b-text-editor>
      </b-form-group>
    </div>
    <b-error-message *ngIf="isMyUserLoaded && !!saveErrorMessage">
      {{ saveErrorMessage }}
    </b-error-message>
    <b-error-message *ngIf="isMyUserError">
      {{ errorMessage }}
    </b-error-message>
    <div *ngIf="isMyUserLoading" class="d-flex justify-content-center py-2">
      <b-spinner [scale]="2">
      </b-spinner>
    </div>
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="onSave(modal)" [disabled]="!canSave">
      <fa-icon icon="save"></fa-icon>
      &nbsp;{{ 'Save' | translate }}
    </button>
    <button class="btn btn-light text-primary b-white-button" (click)="modal.close(false)" ngbAutofocus>
      <fa-icon icon="times"></fa-icon>
      &nbsp;{{ 'Cancel' | translate }}
    </button>
  </div>
</ng-template>