<div class="d-flex flex-column h-100">
  <!-- <b-error-message>The system license has expired. If the license is not renewed the system will become read-only in <b>22 days.</b></b-error-message> -->
  <nav class="navbar navbar-dark b-dark navbar-expand-lg p-0 align-items-lg-stretch"
    [style.background-color]="settings?.BrandColor">
    <a class="b-brand-link b-navbar-button" routerLink="main-menu" [title]="'Home' | translate">
      <b-brand [scale]="1.2"></b-brand>
    </a>
    <div class="mx-2 d-flex">
      <button class="b-navbar-button nav-link" (click)="onCollapse();nav.onBack();" [disabled]="!nav.canBack"
        *ngIf="nav.showBack">
        <fa-icon icon="arrow-left" [flip]="flip"></fa-icon>
      </button>
      &nbsp;
      <button class="b-navbar-button nav-link" (click)="onCollapse();nav.onForward();" [disabled]="!nav.canForward"
        *ngIf="nav.showForward">
        <fa-icon icon="arrow-right" [flip]="flip"></fa-icon>
      </button>
    </div>
    <button type="button" class="navbar-toggler mx-2" (click)="onToggleCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-stretch" [ngbCollapse]="isCollapsed">
      <ol class="nav navbar-nav px-4 px-lg-0" [class.mr-auto]="!isRtl" [class.ml-auto]="isRtl">
        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100" routerLink="./main-menu"
            (click)="onCollapse()">
            {{ 'Home' | translate }}
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100" routerLink="./ifrs-notes"
            (click)="onCollapse()">
            {{ 'IfrsNotes' | translate }}
          </a>
        </li> -->
        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100" routerLink="./users"
            (click)="onCollapse()">
            {{ 'Users' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100" routerLink="./agents"
            (click)="onCollapse()">
            {{ 'Agents' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100" routerLink="./roles"
            (click)="onCollapse()">
            {{ 'Roles' | translate }}
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100"
            routerLink="./measurement-units" (click)="onCollapse()">
            {{ 'MeasurementUnits' | translate }}
          </a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100"
            routerLink="./product-categories" (click)="onCollapse()">
            {{ 'ProductCategories' | translate }}
          </a>
        </li> -->
        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100" routerLink="./resource-lookups/colors"
            (click)="onCollapse()">
            {{ 'Colors' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100" routerLink="./resource-lookups/thicknesses"
            (click)="onCollapse()">
            {{ 'Thicknesses' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="b-navbar-button nav-link d-flex flex-column justify-content-center h-100" routerLink="./settings"
            (click)="onCollapse()">
            {{ 'Settings' | translate }}
          </a>
        </li>
      </ol>

      <ol class="nav navbar-nav p-0">
        <li class="nav-item" ngbDropdown container="">
          <button class="h-100 w-100 d-flex b-navbar-button b-no-arrow" ngbDropdownToggle>
            <div class="align-self-center">
              <div class="b-dp-wrapper b-dp-dark bg-white mx-1">
                <b-image
                  [src]="'agents/' + ws?.userSettings?.UserId + '/image'"
                  [imageId]="ws?.userSettings?.ImageId"
                  shape="circle" [size]="28"></b-image>
              </div>
            </div>
            &nbsp;&nbsp;
            <div class="d-flex flex-column justify-content-center">
              <div style="line-height:1.1rem">{{ userName }}</div>
              <div class="small font-weight-bold"> {{ companyName }}</div>
            </div>
            &nbsp;&nbsp;
          </button>
          <div class="dropdown-menu shadow m-0" ngbDropdownMenu aria-labelledby="action" [class.dropdown-menu-right]="!isRtl">
            <ng-container *ngIf="ws?.settings?.SecondaryLanguageId">
              <button type="button" class="dropdown-item btn-light" *ngIf="!ws.isPrimaryLanguage"
                (click)="onPrimary();onCollapse()">
                {{ settings?.PrimaryLanguageName }}
              </button>
              <button type="button" class="dropdown-item btn-light" *ngIf="!ws.isSecondaryLanguage && !!ws.settings?.SecondaryLanguageId"
                (click)="onSecondary();onCollapse()">
                {{ settings?.SecondaryLanguageName }}
              </button>
              <button type="button" class="dropdown-item btn-light" *ngIf="!ws.isTernaryLanguage && !!ws.settings?.TernaryLanguageId"
              (click)="onSecondary();onCollapse()">
              {{ settings?.SecondaryLanguageName }}
            </button>
              <hr />
            </ng-container>

            <button type="button" class="dropdown-item btn-light" routerLink="/root/companies" (click)="onCollapse()">
              {{ 'ChangeCompany' | translate }}
            </button>
            <button type="button" class="dropdown-item btn-light" routerLink="/root/welcome" (click)="onCollapse()">
              {{ 'WelcomePage' | translate }}
            </button>
            <button type="button" class="dropdown-item btn-light" (click)="onMySystemAccount();onCollapse()">
              {{ 'My0Account' | translate: { placeholder: ( 'AppName' | translate ) } }}
            </button>
            <button type="button" class="dropdown-item btn-light" (click)="onMyCompanyAccount();onCollapse()">
              {{ 'My0Account' | translate: { placeholder: companyName } }}
            </button>
            <button type="button" class="dropdown-item btn-light" (click)="onSignOut();onCollapse()">
              {{ 'SignOut' | translate }}
            </button>
          </div>
        </li>
      </ol>
    </div>
  </nav>
  <main class="b-rest-of-screen container-fluid">
    <router-outlet></router-outlet>
  </main>
</div>