<div class="b-banner h-100 row">
  <div class="p-5 container h-100">
    <h1>Main Menu</h1>
    <p>
      TODO: This screen should show buttons to all the screens that the user has access to
    </p>
    <a class="btn btn-primary m-1" routerLink="../measurement-units">{{ 'MeasurementUnits' | translate }}</a>
    <a class="btn btn-primary m-1" routerLink="../agents/individuals">{{ 'Individuals' | translate }}</a>
    <a class="btn btn-primary m-1" routerLink="../agents/organizations">{{ 'Organizations' | translate }}</a>
    <a class="btn btn-primary m-1" routerLink="../roles">{{ 'Roles' | translate }}</a>
    <a class="btn btn-primary m-1" routerLink="../local-users">{{ 'Users' | translate }}</a>
    <a class="btn btn-primary m-1" routerLink="../settings">{{ 'Settings' | translate }}</a>
  </div>
</div>
