.b-menu-item {
  color: white;
  width: 135px;
  height: 130px;
  padding: 0px;
  white-space: normal;
  transition: none;
  border-width: 0;
  font-weight: normal;
  box-shadow: 0 7px 12px -10px black;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  overflow-y: hidden;
}

.b-menu-item:focus {
  box-shadow: 0 0 0 0.2rem #343a40;
}

@media (min-width: 576px) {
  .b-menu-search-container {
    width: auto;
  }
}

@mixin background-color($base-color) {
  .b-menu-item {
    background-color: $base-color;
  }
  .b-menu-item:hover {
    background-color: darken($base-color, 5%);
  }
  .b-menu-item:active {
    background-color: darken($base-color, 10%);
  }
}

.b-cyan {
  @include background-color(#17a2b8);
}

.b-green {
  @include background-color(#259093);
}

.b-blue {
  @include background-color(#159f85);
}

.b-menu-section {
  color: #6c757d;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.b-menu-item-label {
  font-size: 100%;
}

.b-menu-item-icon {
  font-size: 2rem;
}

// styling for the search input at the top of the screen
.b-menu-search {
  background-color: transparent;
  border-width: 0px;
  margin: 0px;
}

.b-menu-search:focus {
  box-shadow: none;
}

.b-menu-search-container {
  color: #6c757d;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-width: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1);
}

// this creates a container, central to the screen that
// fits a certain number of main menu tiles
// IMPORTANT: If you change these you must change the corresponding fields in main-menu-component.ts accordingly
$max-tiles: 6;
$tile-width: 135px;
$tile-margin: 4px;
$container-margin: 15px;

.b-menu-container,
.b-menu-search-container {
  width: ($tile-width + (2 * $tile-margin));
  margin: 0 auto;
}

@for $i from 2 through $max-tiles {
  @media (min-width: ($container-margin * 2) + ($tile-width + (2 * $tile-margin)) * $i) {
    .b-menu-container,
    .b-menu-search-container {
      width: ($tile-width + (2 * $tile-margin)) * $i;
    }
  }
}

@media (max-width: 576px) {
  .b-menu-search-container {
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

.b-menu-screen {
  margin: 0 -15px;
  height: 100%;
}
