<t-master *ngIf="found;else pageNotFound" collection="Agent" [definitionId]="definitionId" [mode]="mode"
  [additionalSelect]="additionalSelect" [showCreateButton]="showCreate" [filterDefault]="filter"
  [masterCrumb]="masterCrumb" [tileTemplate]="tile" [tableSummaryColumnTemplate]="summaryColumn"
  [tableSummaryHeaderTemplate]="summaryHeader" selectDefault="Code" selectForTiles="Code,ImageId"
  [multiselectToolbarTemplate]="multiselectTemplate" [multiselectActions]="[
  { template: activate, action: onActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
  { template: deactivate, action: onDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
          ]" [filterDefinition]="{
            'CreatedBy' : [
              { template: createdByMe, expression: 'CreatedById eq me'}
            ]
          }">
</t-master>

<!-- If definitionId is invalid -->
<ng-template #pageNotFound>
  <t-application-page-not-found [showHome]="!isPopupMode">
  </t-application-page-not-found>
</ng-template>

<!-- If definitionId is invalid -->
<ng-template #multiselectTemplate>

  <!-- SMS Menu -->
  <t-message-button class="btn-group" *ngIf="showSendMessage" [messageTemplates]="messageTemplates"
    [messageCommandPreview]="messageCommandPreview" [sendMessage]="sendMessage">
  </t-message-button>

</ng-template>

<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex">
    <ng-container *ngIf="c[id].EntityMetadata?.ImageId === 2 && Image_isVisible">
      <div class="border t-dp-wrapper2">
        <t-image [src]="'agents/' + c[id].DefinitionId + '/' + c[id].Id + '/image'" [imageId]="c[id].ImageId"
          [size]="42" icon="camera"></t-image>
      </div>
      &nbsp;&nbsp;&nbsp;
    </ng-container>
    <div class="flex-grow-1 d-inline-block t-mw-0">
      <div class="d-flex justify-content-between">
        <span class="d-block text-truncate">{{ ws.getMultilingualValue('Agent', id, 'Name') }}</span>
      </div>
      <div class="d-flex justify-content-between mt-1 small">
        <span>{{ c[id].Code }}</span>
      </div>
    </div>
  </div>
</ng-template>

<!-- Summary Header -->
<ng-template #summaryHeader let-id="id">
  {{ summary }}
</ng-template>

<!-- Summary Column -->
<ng-template #summaryColumn let-id="id">
  <span class="text-truncate">
    <t-auto-cell collection="Agent" [definitionId]="definitionId" [entity]="c[id]"></t-auto-cell>
  </span>
</ng-template>

<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>

<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>