<div class="h-100 d-flex flex-column">

  <!-- New version indicator -->
  @if (showNewUpdateIsAvailable) {
    <div class="alert alert-success m-0 p-2 d-flex justify-content-center align-items-center" role="alert"
      >
      {{ 'NewVersionIsAvailable' | translate }} &nbsp;&nbsp;<button class="btn btn-primary py-0" (click)="onRefresh()">{{
    'Refresh' | translate }}</button>
  </div>
}

<!-- IE warning -->
@if (showIEWarning) {
  <div class="alert alert-warning m-0 p-2 d-flex justify-content-center align-items-center" role="alert"
    >
    <div class="d-inline mx-3" style="font-size:1.5rem">
      <fa-icon [icon]="['fab', 'internet-explorer']"></fa-icon>
    </div>
    <div class="d-inline">
      <p class="m-0">
        {{ 'IEDoesNotSupportModernWebStandards' | translate: { appName: ('AppName' | translate) } }}
      </p>
      <p class="m-0">
        {{ 'WeRecommendUpgradingToTheLatestBrowsers' | translate }}
      </p>
    </div>
  </div>
}

<!-- Offline indicator -->
@if (showOfflineIndicator) {
  <div class="alert alert-danger m-0 p-2 d-flex justify-content-center align-items-center" role="alert"
    >
    <div class="d-inline mx-3" style="font-size:1.5rem">
      <fa-icon icon="wifi"></fa-icon>
    </div>
    {{ 'Error_ConnectionLostReconnecting' | translate }}
  </div>
}

<!-- The app -->
<div class="t-rest-of-screen">
  <router-outlet></router-outlet>
</div>
</div>

@if (showOverlay()) {
  <div class="t-overlay text-white">
    <fa-icon class="t-overlay-spinner" icon="spinner" animation="spin"></fa-icon>
    @for (labelName of labelNames; track labelName) {
      @if (labelName) {
        <div class="t-overlay-message"> {{ labelName | translate }}... </div>
      }
    }
  </div>
}