<div class="h-100 d-flex flex-column">
    <div class="row border-bottom bg-white">

        <!-- Breadcrumb -->
        <div class="col-12 p-1">
            <ul class="breadcrumb mb-0">
                <li class="breadcrumb-item active">
                    {{ 'BankReconciliation' | translate }}
                    <!-- Dirty Asterisk -->
                    <span class="text-danger t-dirty-asterisk px-1" *ngIf="isDirty">&nbsp;*</span>
                </li>
            </ul>
        </div>

        <!-- Parameters -->
        <div class="mx-auto mb-3 w-100" style="max-width: 700px">
            <div class="w-100">
                <div class="row m-0 px-0 px-lg-1 py-1">

                    <!-- View -->
                    <t-form-group class="t-form-group" [label]="'View' | translate">
                        <t-selector [(ngModel)]="view" [choices]="viewChoices" [ngModelOptions]="{ updateOn: 'blur' }">
                        </t-selector>
                    </t-form-group>

                    <!-- Account -->
                    <t-form-group class="t-form-group" [label]="'Entry_Account' | translate">
                        <t-accounts-picker [(ngModel)]="accountId" additionalSelect="CustodyDefinitionId,Currency/E"
                            filter="AccountType/Concept eq 'BalancesWithBanks'" [ensureAdditionalSelect]="true"
                            (entityLoaded)="onParameterLoaded()" [showCreate]="false">
                        </t-accounts-picker>
                    </t-form-group>

                    <!-- Custody -->
                    <t-form-group class="t-form-group" [label]="labelCustody_Manual" *ngIf="showCustodyParameter">
                        <t-custodies-picker *ngIf="!readonlyCustody_Manual" [(ngModel)]="custodyId"
                            additionalSelect="Currency/E" [definitionIds]="definitionIdsCustody_Manual"
                            [ensureAdditionalSelect]="true" (entityLoaded)="onParameterLoaded()" [showCreate]="false">
                        </t-custodies-picker>
                        <t-view-link *ngIf="readonlyCustody_Manual"
                            [link]="'../custodies/' + ws.get('Custody', readonlyValueCustodyId_Manual)?.DefinitionId"
                            [itemId]="readonlyValueCustodyId_Manual">
                            {{ ws.getMultilingualValue('Custody', readonlyValueCustodyId_Manual, 'Name') }}
                        </t-view-link>
                    </t-form-group>

                    <!-- ToDate -->
                    <t-form-group class="t-form-group" [label]="(isUnreconciled ? 'AsOfDate' : 'ToDate') | translate">
                        <t-date-picker [(ngModel)]="toDate" [ngModelOptions]="{ updateOn: 'blur' }">
                        </t-date-picker>
                    </t-form-group>
                </div>
            </div>
        </div>

        <!-- Toolbar -->
        <div class="col-12 p-1 d-flex justify-content-between t-toolbar">

            <!-- Reconeile toolbar -->
            <div *ngIf="showCheckedEntriesToolbar">

                <span class="mx-2 t-vertical-align-middle">
                    {{ 'NSelectedItems' | translate: { count: checkedEntriesTotal | accounting:amountsFormat } }}
                </span>

                <!-- Reconcile -->
                <button class="btn btn-primary btn-sm t-toolbar-button" (click)="onReconcileChecked()"
                    [disabled]="!canReconcileChecked">
                    <fa-icon icon="compress"></fa-icon>
                    <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Reconcile' | translate }}</span>
                </button>

                <!-- Cancel -->
                <button class="btn btn-sm btn-light text-primary t-white-button t-toolbar-button" type="button"
                    (click)="onCancelReconcileChecked()">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Cancel' | translate }}</span>
                </button>
            </div>


            <!-- Edit Toolbar -->
            <div *ngIf="showEditToolbar">

                <!-- Save -->
                <button class="btn btn-sm t-toolbar-button btn-primary" (click)="onSave()">
                    <fa-icon icon="save"></fa-icon>&nbsp;&nbsp;{{ 'Save' | translate }}
                </button>

                <!-- Cancel -->
                <button class="btn btn-sm t-toolbar-button btn-light text-primary t-white-button" (click)="onCancel()">
                    <fa-icon icon="times"></fa-icon>&nbsp;&nbsp;{{ 'Cancel' | translate }}
                </button>
            </div>

            <!-- Left Buttons -->
            <div *ngIf="showViewToolbar">

                <!-- Export -->
                <button class="btn btn-primary btn-sm t-toolbar-button" (click)="onExport()" [disabled]="!canExport">
                    <fa-icon icon="download"></fa-icon>
                    <span class="d-none d-md-inline">&nbsp;&nbsp;{{ 'Export' | translate }}</span>
                </button>

                <!-- Data dropdown -->
                <!-- <div class="btn-group t-toolbar-button" ngbDropdown [placement]="actionsDropdownPlacement">
                    <button type="button"
                        class="btn btn-light btn-sm text-primary t-white-button t-toolbar-button dropdown-toggle"
                        ngbDropdownToggle>
                        {{ 'Data' | translate }}
                    </button>
                    <div class="dropdown-menu shadow" ngbDropdownMenu aria-labelledby="action">
                        <button type="button" *ngIf="showEditDefinition" class="dropdown-item btn-light" ngbDropdownItem
                            (click)="onEdit()">
                            {{ 'EditDefinition' | translate }}
                        </button>
                    </div>
                </div> -->
                <!-- 
                <t-spinner class="t-vertical-align-middle mx-1" *ngIf="showExportSpinner">
                </t-spinner> -->
            </div>

            <!-- Right Buttons -->
            <div>
                <!-- Refresh -->
                <button class="btn btn-sm t-toolbar-button btn-light t-white-button" type="button"
                    [disabled]="disableRefresh" title="{{ 'Refresh' | translate }}" (click)="onRefresh()">
                    <fa-icon icon="sync-alt"></fa-icon>
                </button>

                <!-- Paging -->
                <div class="d-inline">
                    <div class="d-inline small mx-2">
                        <span class="t-vertical-align-middle"> <span>{{ from | number }}</span> -
                            <span>{{ to | number }}</span>
                        </span>
                        <span class="t-vertical-align-middle"> / {{ total | number }}</span>
                    </div>
                    <button class="btn btn-light btn-sm t-white-button t-toolbar-button" type="button"
                        title="{{ 'Previous' | translate }}" (click)="onPreviousPage()" [disabled]="!canPreviousPage">
                        <fa-icon icon="angle-left" [flip]="flip"></fa-icon>
                    </button>
                    <button class="btn btn-light btn-sm t-white-button t-toolbar-button" type="button"
                        title="{{ 'Next' | translate }}" (click)="onNextPage()" [disabled]="!canNextPage">
                        <fa-icon icon="angle-right" [flip]="flip"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Results -->
    <div class="row t-rest-of-screen">
        <div class="w-100 p-3 px-4" *ngIf="showInformation">
            <fa-icon icon="info-circle"></fa-icon>
            &nbsp;
            {{ information() }}
        </div>

        <!-- No items found -->
        <!-- <div class="w-100 pl-3 pr-3 mt-3" *ngIf="showNoItemsFound">
            {{ 'NoItemsFound' | translate }}
        </div> -->

        <div class="table-responsive" *ngIf="!showInformation">
            <!-- Details (Flat Table) -->
            <cdk-virtual-scroll-viewport class="h-100" itemSize="31">
                <table class="table table-striped table-sm border-bottom bg-white t-master-table text-nowrap">
                    <!-- Column Header -->
                    <thead>
                        <tr>
                            <th></th>
                            <th colSpan="3">Internal Entries</th>
                            <th *ngIf="isUnreconciled"></th>
                            <th></th>
                            <th *ngIf="isUnreconciled"></th>
                            <th colSpan="3">External Entries</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th style="width:10px"></th>
                            <th>
                                {{ 'Line_PostingDate' | translate }}
                            </th>
                            <th>
                                {{ 'Entry_ExternalReference' | translate }}
                            </th>
                            <th class="text-right">
                                {{ 'Entry_MonetaryValue' | translate }}
                            </th>
                            <th *ngIf="isUnreconciled">
                                <!-- Checkboxes -->
                            </th>
                            <th>

                            </th>
                            <th *ngIf="isUnreconciled">
                                <!-- Checkboxes -->
                            </th>
                            <th>
                                {{ 'Line_PostingDate' | translate }}
                            </th>
                            <th>
                                {{ 'Entry_ExternalReference' | translate }}
                            </th>
                            <th class="text-right">
                                {{ 'Entry_MonetaryValue' | translate }}
                            </th>
                            <th style="width:10px"></th>
                        </tr>
                    </thead>
                    <!-- Rows -->
                    <tbody>
                        <!-- Transactions -->
                        <tr class="t-pointer2" [class.highlight-a]="row.entryIsChecked"
                            [class.highlight-b]="row.exEntryIsChecked" *cdkVirtualFor="let row of rows; index as i">
                            <td class="t-a">&zwnj;</td>
                            <td class="t-a">
                                {{ row.entry?.PostingDate | date:'yyyy-MM-dd' }}
                            </td>
                            <td class="t-a">
                                {{ row.entry?.ExternalReference }}
                            </td>
                            <td class="text-right t-a font-weight-bold"
                                [class.text-danger]="row.exEntry?.Direction < 0">
                                {{ !!row.entry ? (row.entry?.MonetaryValue * row.entry?.Direction | accounting:amountsFormat) : '' }}
                            </td>
                            <td class="text-right t-a" *ngIf="isUnreconciled">
                                <!-- checkbox -->
                                <div class="custom-control custom-checkbox t-labelless-checkbox d-inline"
                                    *ngIf="row.entry && !row.isReconciled">
                                    <input type="checkbox" class="custom-control-input" id="entryCheck{{i}}"
                                        [(ngModel)]="row.entryIsChecked">
                                    <label class="custom-control-label t-pointer" for="entryCheck{{i}}">&zwnj;</label>
                                </div>
                            </td>
                            <td *ngIf="row.isReconciled && !!row.rowSpan" [rowSpan]="row.rowSpan"
                                class="bg-white border-left border-right">

                            </td>
                            <td *ngIf="!row.isReconciled" class="bg-white border-left border-right">

                            </td>
                            <td class="t-b" *ngIf="isUnreconciled">
                                <!-- checkbox -->
                                <div class="custom-control custom-checkbox t-labelless-checkbox d-inline"
                                    *ngIf="row.exEntry && !row.isReconciled">
                                    <input type="checkbox" class="custom-control-input" id="exEntryCheck{{i}}"
                                        [(ngModel)]="row.exEntryIsChecked">
                                    <label class="custom-control-label t-pointer" for="exEntryCheck{{i}}">&zwnj;</label>
                                </div>
                            </td>
                            <td class="t-b">
                                {{ row.exEntry?.PostingDate | date:'yyyy-MM-dd' }}
                            </td>
                            <td class="t-b">
                                {{ row.exEntry?.ExternalReference }}
                            </td>
                            <td class="text-right t-b font-weight-bold"
                                [class.text-danger]="row.exEntry?.Direction < 0">
                                {{ !!row.exEntry ? (row.exEntry?.MonetaryValue * row.exEntry?.Direction | accounting:amountsFormat) : '' }}
                            </td>
                            <td class="t-b">&zwnj;</td>
                        </tr>
                    </tbody>
                </table>

                <!-- Spinner -->
                <div class="w-100 p-2 d-flex justify-content-center mt-3" *ngIf="showSpinner">
                    <t-spinner [scale]="2"></t-spinner>
                </div>

                <!-- Error message -->
                <div class="w-100 mt-3" *ngIf="showErrorMessage">
                    <t-error-message>
                        {{ errorMessage }}
                    </t-error-message>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>

<!-- Error Modal -->
<ng-template #errorModal let-modal>

    <!-- header -->
    <div class="modal-header">
        <h5 class="modal-title">
            <fa-icon class="text-danger" icon="exclamation-triangle"></fa-icon>&nbsp;&nbsp;{{ 'Error' | translate }}
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- body -->
    <div class="modal-body">
        {{ errorMessage }}
    </div>

    <!-- footer -->
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.dismiss();" ngbAutofocus>
            <fa-icon icon="times"></fa-icon>
            &nbsp;{{ 'Dismiss' | translate }}
        </button>
    </div>
</ng-template>

<!-- Unsaved Changes Modal -->
<ng-template #unsavedChangesModal let-modal>

    <!-- header -->
    <div class="modal-header">
        <h5 class="modal-title"> {{ 'Confirmation' | translate }} </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- body -->
    <div class="modal-body">
        {{ 'UnsavedChangesConfirmationMessage' | translate }}
    </div>

    <!-- footer -->
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="modal.close(true)">
            <fa-icon icon="check"></fa-icon>
            &nbsp;{{ 'Proceed' | translate }}
        </button>
        <button class="btn btn-light text-primary t-white-button" (click)="modal.close(false)" ngbAutofocus>
            <fa-icon icon="times"></fa-icon>
            &nbsp;{{ 'Cancel' | translate }}
        </button>
    </div>
</ng-template>