<div style="overflow-y:hidden" [style.max-height]="tableHeight">
  <cdk-virtual-scroll-viewport style="min-width: 600px" itemSize="31" [style.height]="tableMaxHeight">
    <table #t class="table table-sm table-striped mb-2 mb-sm-0 text-nowrap">

      <!-- Header -->
      <thead class="small">
        <tr style="height:41px">
          <th class="border-top-0 text-align-right text-muted b-line-number-th"> # </th>
          <th class="border-top-0" *ngFor="let path of columnPaths" [style.width]="colWith(path)">
            <ng-container *ngTemplateOutlet="columnTemplates[path]?.headerTemplate"></ng-container>
          </th>
          <th class="border-top-0" style="width:1px">
            <button class="btn btn-light btn-sm p-0 pl-1 pr-1" style="background:transparent;color:transparent;border-color: transparent"
              disabled>
              <fa-icon icon="trash"></fa-icon>
            </button>
          </th>
        </tr>
      </thead>

      <!-- Body -->
      <tbody>
        <ng-container *cdkVirtualFor="let item of dataSourceCopy; let i = index; trackBy: trackBy">
          <tr style="height:31px" *ngIf="item.EntityState !== 'Deleted' || item.PH">
            <td class="text-muted">
              <div class="text-center">
                <span *ngIf="!item.PH"> {{ i + 1 | number }} </span>
                <fa-icon style="font-size: 70%" *ngIf="item.PH" icon="asterisk"> </fa-icon>
              </div>
            </td>
            <td *ngFor="let path of columnPaths" [class.table-bordered]="isEdit">
              <ng-container>
                <ng-container *ngTemplateOutlet="columnTemplates[path]?.rowTemplate;context: { item: item, index: i, originalIndex: mapIndex(i), update: onUpdateLine }"></ng-container>
              </ng-container>
            </td>
            <td>
              <button class="btn btn-light text-primary b-white-button btn-sm p-0 pl-1 pr-1" (click)="onDeleteLine(i)"
                *ngIf="isEdit">
                <fa-icon icon="trash" [class.b-transparent]="item.PH" [title]="item.PH ? '' : ('Delete' | translate)"></fa-icon>
              </button>
            </td>
          </tr>

          <tr style="height:31px" *ngIf="item.EntityState === 'Deleted' && !item.PH">
            <td colspan="1000">&nbsp;&nbsp;
              <span class="font-italic font-weight-light text-muted">
                {{ 'Deleted' | translate }}
              </span>&nbsp;&nbsp;
              <button class="btn btn-light text-primary b-white-button btn-sm p-0 pl-1 pr-1" [title]="'UndoDelete' | translate"
                (click)="onUndoDelete(i)">
                <fa-icon icon="undo"></fa-icon>
              </button>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="visibleDataCount < 1">
          <td colspan="1000">&nbsp;&nbsp;
            <span class="font-italic font-weight-light text-muted" *ngIf="!isEdit">
              {{ 'NoItemsFound' | translate }}
            </span>
          </td>
        </tr>
        <tr *ngIf="visibleDataCount < 2">
          <td colspan="1000">&nbsp;</td>
        </tr>
        <tr *ngIf="visibleDataCount < 3">
          <td colspan="1000">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>