<t-details [expand]="expand" [idString]="idString" collection="User" [createFunc]="create" [cloneFunc]="clone"
  [mode]="mode" [additionalSelect]="additionalSelect" [masterCrumb]="'Users' | translate" [detailsCrumb]="detailsCrumb"
  [documentTemplate]="document" [documentHeaderTemplate]="documentHeader" [actions]="[
            { template: invite, action: onInvite, showAction: showInvite, canAction: canInvite, actionTooltip: inviteTooltip },
            { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
            { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
           ]">

</t-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>

<ng-template #documentHeader let-model="model" let-isEdit="isEdit">
  <div class="w-100 t-document-header d-flex justify-content-end">
    <t-restricted [metadata]="model?.EntityMetadata?.State">
      <div class="t-flow-chart small">
        <div [class.active]="!model?.Id || model?.State === 0"><span>{{'User_New' | translate}}</span></div>
        <div *ngIf="showInvitedState" [class.active]="model?.State === 1"><span>{{'User_Invited' | translate}}</span></div>
        <div [class.active]="model?.State === 2"><span>{{'User_Member' | translate}}</span></div>
      </div>
      <div class="small t-lone-state active d-none">
        <span>{{ (model?.State === 2 ? 'User_Member' : model?.State === 1 ? 'User_Invited' : 'User_New') | translate }}</span>
      </div>
    </t-restricted>
  </div>
</ng-template>

<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

  <!-- New Notice -->
  <div class="col-12 alert-primary p-2 px-3 mb-3 mb-sm-4" *ngIf="showUserNewNotice(model, isEdit)">
    <span><fa-icon icon="info-circle"></fa-icon>&nbsp;&nbsp;{{ 'UserNewNotice' | translate:{ name: userName(model), companyName: companyName } }} 
      &nbsp;&nbsp;<button class="btn btn-primary btn-sm py-0 align-baseline" (click)="onInvite(model)"> {{ 'SendInvitationEmail' | translate }}</button></span>
  </div>

  <!-- Invited Fresh Notice -->
  <div class="col-12 alert-primary p-2 px-3 mb-3 mb-sm-4" *ngIf="showUserFreshInvitedNotice(model)">
    <span><fa-icon icon="info-circle"></fa-icon>&nbsp;&nbsp;{{ 'UserFreshInvitedNotice' | translate:{ email: model?.Email, companyName: companyName } }}</span>
  </div>

  <!-- Invited Expired Notice -->
  <div class="col-12 alert-primary p-2 px-3 mb-3 mb-sm-4" *ngIf="showUserExpiredInvitedNotice(model, isEdit)">
    <span><fa-icon icon="info-circle"></fa-icon>&nbsp;&nbsp;{{ 'UserExpiredInvitedNotice' | translate:{ name: userName(model), companyName: companyName } }} 
      &nbsp;&nbsp;<button class="btn btn-primary btn-sm py-0 align-baseline" (click)="onInvite(model)"> {{ 'SendInvitationEmail' | translate }}</button></span>
  </div>

  <!-- Header Name -->
  <t-form-group class="col-12 col-md-8 mb-2 mb-sm-4 t-h2"
    [serverErrors]="getMultilingualValue(model?.serverErrors, 'Name', ws)">
    <h2 class="font-weight-normal" *ngIf="!isEdit">{{ getMultilingualValue(model, 'Name', ws) }}</h2>

    <t-text-editor *ngIf="isEdit && ws.isPrimaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.primaryPostfix + '...'" required>
    </t-text-editor>

    <t-text-editor *ngIf="isEdit && ws.isSecondaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name2"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.secondaryPostfix + '...'">
    </t-text-editor>

    <t-text-editor *ngIf="isEdit && ws.isTernaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name3"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.ternaryPostfix + '...'">
    </t-text-editor>
  </t-form-group>

  <!-- Image -->
  <div class="col-12 col-md-4 t-details-image-container">
    <t-restricted [metadata]="model?.EntityMetadata?.ImageId">
      <div class="border">
        <t-image *ngIf="!!model" [src]="model.Id ? 'users/' + model.Id + '/image' : null" [imageId]="model?.ImageId"
          [(ngModel)]="model.Image" [isEdit]="isEdit"></t-image>
      </div>
    </t-restricted>
  </div>

  <!-- Name -->
  <t-form-group class="t-form-group" *ngIf="!ws.isPrimaryLanguage" [label]="('Name' | translate) + ws.primaryPostfix"
    [serverErrors]="model?.serverErrors?.Name">
    <div *ngIf="!isEdit">{{ model?.Name }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
    </t-text-editor>
  </t-form-group>

  <!-- Name2 -->
  <t-form-group class="t-form-group" *ngIf="!ws.isSecondaryLanguage && ws.settings.SecondaryLanguageId"
    [label]="('Name' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Name2">
    <div *ngIf="!isEdit">{{ model?.Name2 }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
  </t-form-group>

  <!-- Name3 -->
  <t-form-group class="t-form-group" *ngIf="!ws.isTernaryLanguage && ws.settings.TernaryLanguageId"
    [label]="('Name' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Name3">
    <div *ngIf="!isEdit">{{ model?.Name3 }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Name3" [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
  </t-form-group>

  <!-- Email -->
  <t-form-group class="t-form-group" [label]="'User_Email' | translate" [serverErrors]="model?.serverErrors?.Email">
    <div *ngIf="!isEdit">{{ model?.Email }}</div>
    <t-text-editor *ngIf="isEdit" [(ngModel)]="model.Email" [ngModelOptions]="{ updateOn: 'blur' }" required email
      [disabled]="!isNew"></t-text-editor>
  </t-form-group>

  <!-- Last Activity -->
  <t-form-group class="t-form-group" [label]="'User_LastActivity' | translate" *ngIf="!isEdit">
    <t-auto-cell collection="User" [entity]="model" path="LastAccess">
    </t-auto-cell>
  </t-form-group>

  <!-- Is Active -->
  <t-form-group class="t-form-group" [label]="'IsActive' | translate" *ngIf="!isEdit">
    <div>{{ (!model ? '' : model.IsActive ? 'Yes' : 'No') | translate }}</div>
  </t-form-group>

  <ng-container *ngIf="showTabs">
    <ul ngbNav #tabs="ngbNav" class="pt-3 pt-sm-4 w-100 nav-tabs" [(activeId)]="activeTab" [destroyOnHide]="true">

      <!-- Roles -->
      <li ngbNavItem="roles" *ngIf="showRoles">
        <a ngbNavLink>
          <span *ngIf="showRolesError(model)" class="text-danger">
            <fa-icon icon="exclamation">
            </fa-icon>&nbsp;
          </span>
          <span
            class="small t-slightly-bold">{{ ('User_Roles' | translate) + (!model.Id || model?.EntityMetadata?.Roles === 2 ? ' (' + (model?.Roles?.length | number) + ')' : '') }}</span>
        </a>
        <ng-template ngbNavContent>
          <t-restricted [metadata]="model?.EntityMetadata?.Roles" [class.p-4]="model?.EntityMetadata?.Roles === 1">
            <t-table [dataSource]="model?.Roles" [isEdit]="isEdit" [columnPaths]="['RoleId', 'Memo']" [columnTemplates]="{
              'RoleId' : { headerTemplate : header_RoleId, rowTemplate : row_RoleId, weight : 1 },
              'Memo' : { headerTemplate : header_Memo, rowTemplate : row_Memo, weight : 1 }
            }">
            </t-table>
          </t-restricted>

          <!-- RoleId -->
          <ng-template #header_RoleId>{{ 'RoleMembership_Role' | translate }}</ng-template>
          <ng-template #row_RoleId let-item="item" let-index="index" let-update="update">
            <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.RoleId">
              <t-restricted *ngIf="!isEdit" [metadata]="item.EntityMetadata?.Role">
                <t-view-link link="../../roles" [itemId]="item?.RoleId">{{
                ws.getMultilingualValue('Role',
                item.RoleId, 'Name') }}</t-view-link>
              </t-restricted>
              <t-roles-picker *ngIf="isEdit" [(ngModel)]="item.RoleId" (ngModelChange)="update.call(null, item)"
                [required]="!item.PH" [showMembers]="false">
              </t-roles-picker>
            </t-form-group-cell>
          </ng-template>

          <!-- Memo -->
          <ng-template #header_Memo>{{ 'Memo' | translate }}</ng-template>
          <ng-template #row_Memo let-item="item" let-index="index" let-update="update">
            <t-form-group-cell class="t-form-group" [serverErrors]="item.serverErrors?.Memo">
              <div *ngIf="!isEdit">
                <t-restricted [metadata]="item.EntityMetadata?.Memo">{{ item.Memo }}</t-restricted>
              </div>
              <t-text-editor *ngIf="isEdit" [(ngModel)]="item.Memo" (ngModelChange)="update.call(null, item)"
                [ngModelOptions]="{ updateOn: 'blur' }"></t-text-editor>
            </t-form-group-cell>
          </ng-template>
        </ng-template>
      </li>

      <!-- Notifications -->
      <li ngbNavItem="notifications" *ngIf="showNotifications">
        <a ngbNavLink>
          <span *ngIf="showNotificationsError(model)" class="text-danger">
            <fa-icon icon="exclamation">
            </fa-icon>&nbsp;
          </span>
          <span class="small t-slightly-bold">{{ 'Notifications' | translate }}</span>
        </a>
        <ng-template ngbNavContent>
          <div class="row m-0 pt-2 pt-sm-3">

            <!-- ContactEmail -->
            <t-form-group class="t-form-group" [label]="'Entity_ContactEmail' | translate"
              [serverErrors]="model?.serverErrors?.ContactEmail" *ngIf="showEmail">
              <div *ngIf="!isEdit">{{ model?.ContactEmail }}</div>
              <ng-container *ngIf="isEdit">
                <t-text-editor *ngIf="isEdit" [(ngModel)]="model.ContactEmail">
                </t-text-editor>
                <button class="btn btn-primary btn-sm py-0 px-1 mx-2 text-nowrap" [disabled]="!model?.ContactEmail"
                  (click)="testEmail(model?.ContactEmail)">{{ 'Test' | translate }}</button>
              </ng-container>
            </t-form-group>

            <!-- ContactMobile -->
            <t-form-group class="t-form-group" [label]="'Entity_ContactMobile' | translate"
              [serverErrors]="model?.serverErrors?.ContactMobile" *ngIf="showSms">
              <div *ngIf="!isEdit">{{ model?.ContactMobile }}</div>
              <ng-container *ngIf="isEdit">
                <t-text-editor [(ngModel)]="model.ContactMobile" placeholder="+000-00-000-0000">
                </t-text-editor>
                <button class="btn btn-primary btn-sm py-0 px-1 mx-2 text-nowrap" [disabled]="!model?.ContactMobile"
                  (click)="testPhoneNumber(model?.ContactMobile)">{{ 'Test' | translate }}</button>
              </ng-container>
            </t-form-group>

            <!-- Preferred Language -->
            <t-form-group class="t-form-group" [label]="'User_PreferredLanguage' | translate"
              [serverErrors]="model?.serverErrors?.PreferredLanguage" *ngIf="showPreferredLanguage">
              <div *ngIf="!isEdit">
                <t-restricted [metadata]="model?.EntityMetadata?.PreferredLanguage">
                  {{ languageLookup(model?.PreferredLanguage) | translate }}
                </t-restricted>
              </div>
              <t-selector *ngIf="isEdit" [(ngModel)]="model.PreferredLanguage" [choices]="languageChoices"></t-selector>
            </t-form-group>

            <table class="table mt-4 table-striped border-bottom text-nowrap" *ngIf="showNotificationTriggers(model)">
              <thead>
                <tr class="small">
                  <th>{{ 'Trigger' | translate }}</th>
                  <th *ngIf="showEmailColumn(model)">{{ 'NotifyByEmail' | translate }}</th>
                  <th *ngIf="showSmsColumn(model)">{{ 'NotifyBySms' | translate }}</th>
                  <th *ngIf="showPushColumn(model)">{{ 'NotifyByPush' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ 'NewDocumentAssignment' | translate }}</td>
                  <td *ngIf="showEmailColumn(model)">
                    <span *ngIf="!isEdit">{{ (model.EmailNewInboxItem ? 'Yes' : 'No') | translate }}</span>
                    <div *ngIf="isEdit" class="custom-control custom-checkbox t-labelless-checkbox">
                      <input type="checkbox" class="custom-control-input" [(ngModel)]="model.EmailNewInboxItem"
                        id="EmailNewInboxItem">
                      <label class="custom-control-label t-pointer" for="EmailNewInboxItem">&zwnj;</label>
                    </div>
                  </td>
                  <td *ngIf="showSmsColumn(model)">
                    <span *ngIf="!isEdit">{{ (model.SmsNewInboxItem ? 'Yes' : 'No') | translate }}</span>
                    <div *ngIf="isEdit" class="custom-control custom-checkbox t-labelless-checkbox">
                      <input type="checkbox" class="custom-control-input" [(ngModel)]="model.SmsNewInboxItem"
                        id="SmsNewInboxItem">
                      <label class="custom-control-label t-pointer" for="SmsNewInboxItem">&zwnj;</label>
                    </div>
                  </td>
                  <td *ngIf="showPushColumn(model)">
                    <span *ngIf="!isEdit">{{ (model.PushNewInboxItem ? 'Yes' : 'No') | translate }}</span>
                    <div *ngIf="isEdit" class="custom-control custom-checkbox t-labelless-checkbox">
                      <input type="checkbox" class="custom-control-input" [(ngModel)]="model.PushNewInboxItem"
                        id="PushNewInboxItem">
                      <label class="custom-control-label t-pointer" for="PushNewInboxItem">&zwnj;</label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </ng-template>
      </li>

    </ul>
    <div class="w-100" [ngbNavOutlet]="tabs"></div>
  </ng-container>

</ng-template>

<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>
<ng-template #invite> {{ 'SendInvitationEmail' | translate }} </ng-template>
