<b-master *ngIf="found;else pageNotFound" collection="Document" [definition]="definitionId" [mode]="mode"
  [showCreateButton]="showCreate" [filterDefault]="filter" [masterCrumb]="masterCrumb" [tileTemplate]="tile"
  [tableSummaryColumnTemplate]="summaryColumn" [tableSummaryHeaderTemplate]="summaryHeader"
  selectDefault="DocumentDate,State,Memo" selectForTiles="DocumentDate,State" [includeInactiveLabel]="'IncludeVoid' | translate" inactiveFilter="State ne -1" [multiselectActions]="[
          ]" [includeInactiveLabel]="'IncludeInactive' | translate" [filterDefinition]="{
            'CreatedBy' : [
                { template: createdByMe, expression: 'CreatedById eq me'}
            ],
            'State' : [
                { template: draft, expression: 'State eq 0'},
                { template: void, expression: 'State eq -1'},
                { template: requested, expression: 'State eq 1'},
                { template: rejected, expression: 'State eq -2'},
                { template: authorized, expression: 'State eq 2'},
                { template: failed, expression: 'State eq -3'},
                { template: completed, expression: 'State eq 3'},
                { template: invalid, expression: 'State eq -4'},
                { template: reviewed, expression: 'State eq 4'},
                { template: closed, expression: 'State eq 5'}
            ]
          }">
</b-master>

<!-- If definitionId is invalid -->
<ng-template #pageNotFound>
  <b-application-page-not-found>
  </b-application-page-not-found>
</ng-template>

<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex justify-content-between">
    <b-auto-cell collection="Document" [definition]="definitionId" path="" [entity]="c[id]"></b-auto-cell>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <b-auto-cell collection="Document" [definition]="definitionId" path="DocumentDate" [entity]="c[id]"></b-auto-cell>
    <b-auto-cell collection="Document" [definition]="definitionId" path="State" [entity]="c[id]"></b-auto-cell>
  </div>
</ng-template>

<!-- Summary Header -->
<ng-template #summaryHeader let-id="id">
  {{ summary }}
</ng-template>

<!-- Summary Column -->
<ng-template #summaryColumn let-id="id">
  <span class="text-truncate">
    <b-auto-cell collection="Document" [definition]="definitionId" [entity]="c[id]"></b-auto-cell>
  </span>
</ng-template>


<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>


<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>

<ng-template #draft> {{ 'Document_State_Draft' | translate }} </ng-template>
<ng-template #void> {{ 'Document_State_Void' | translate }} </ng-template>
<ng-template #requested> {{ 'Document_State_Requested' | translate }} </ng-template>
<ng-template #rejected> {{ 'Document_State_Rejected' | translate }} </ng-template>
<ng-template #authorized> {{ 'Document_State_Authorized' | translate }} </ng-template>
<ng-template #failed> {{ 'Document_State_Failed' | translate }} </ng-template>
<ng-template #completed> {{ 'Document_State_Completed' | translate }} </ng-template>
<ng-template #invalid> {{ 'Document_State_Invalid' | translate }} </ng-template>
<ng-template #reviewed> {{ 'Document_State_Reviewed' | translate }} </ng-template>
<ng-template #closed> {{ 'Document_State_Closed' | translate }} </ng-template>