<div class="w-100 h-100 bg-light d-flex justify-content-center align-items-start pt-0 pt-sm-5">
  <div class="p-5 b-paper border bg-white  text-center" style="width:800px">
    <div class="mb-5">
        <h1 class="text-danger">
          {{ 'Error_LoadingCompanySettings' | translate }}
        </h1>
        <p *ngIf="errorMessage" class="b-large">
          {{ errorMessage }}
        </p>
    </div>

    <button class="btn btn-primary m-1" (click)="onGoBack()"> {{ 'GoBack' | translate }}</button>
    <button class="btn btn-primary m-1" (click)="onTryAgain()" *ngIf="showTryAgain"> {{ 'TryAgain' | translate }}</button>

  </div>
</div>
