<div class="row" [class.border-left]="showDescription && !isRtl" [class.border-right]="showDescription && isRtl">
  <div class="font-weight-bold small col-12" [class.col-lg-4]="!showDescription" *ngIf="showLabel">
    <span class="b-vertical-align-middle" [class.text-danger]="invalid">{{ label }}</span>
  </div>
  <div class="text-muted small col-12 mb-2 text-nowrap" *ngIf="showDescription" [title]="description">
    <span class="b-vertical-align-middle">{{ description }}</span>
  </div>
  <div class="col-12 d-flex" [class.is-invalid]="invalid" [class.col-lg-8]="showLabel">
    <ng-content></ng-content>
    <fa-icon class="text-danger ml-1 mr-1" icon="exclamation-triangle" *ngIf="invalid" [ngbPopover]="errorsPopover"
      container="body" [placement]="popoverPlacement" triggers="mouseenter:mouseleave"></fa-icon>
  </div>
</div>

<ng-template #errorsPopover>
  <div class="" style="width: 250px">
    <p class="m-0 p-0" *ngFor="let error of errors">
      <fa-icon icon="exclamation-triangle" class="text-danger"></fa-icon>
      &nbsp;{{ areServerErrors ? error : (error | translate) }}
    </p>
  </div>
</ng-template>