<div class="container py-4 px-3 px-sm-5">
  <div class="row text-center">

    <!-- Error Message -->
    <div class="col-12 d-flex justify-content-center" *ngIf="showError">
      <div class="border mt-4 p-2 px-3 alert-danger w-auto">
        <fa-icon icon="exclamation-triangle"></fa-icon>&nbsp;&nbsp; {{ error | translate }}
      </div>
    </div>

    <!-- Title -->
    <div class="col-12 my-5">
      <h1 class="text-center display-4 m-02">
        {{ 'LandingPageTitle0' | translate: { appName: ( 'AppName' | translate ) } }}
      </h1>
      <span class="text-muted">{{ 'LandingPageSubtitle' | translate }}</span>
    </div>


    <!-- Action Button -->
    <div class="col-12 d-flex justify-content-center py-4">
      <button class="btn btn-outline-primary" (click)="onSignIn()" *ngIf="showSignIn">
        <fa-icon icon="sign-in-alt" [flip]="flip"></fa-icon>&nbsp;&nbsp;{{ 'SignIn' | translate }}
      </button>
      <button class="btn btn-outline-primary" (click)="onGoToApp()"
        *ngIf="showGoToApp">{{ 'GoToApp' | translate: { appName: ( 'AppName' | translate ) } }}&nbsp;&nbsp;<fa-icon
          icon="chevron-right" [flip]="flip"></fa-icon></button>
    </div>

    <!-- Promotion -->
    <div class="col-12 col-lg-4">
      <div class="p-2 justify-content-center align-items-center d-flex t-text-primary" style="min-height: 210px">
        <fa-icon icon="cube" size="7x"></fa-icon>
      </div>

      <div class="px-4 pb-4 justify-content-center align-items-center d-flex">
        <div>
          <h3 class="">{{ 'LandingPagePromoTitle1' | translate }}</h3>
          <span>
            {{ 'LandingPagePromoText1' | translate }}
          </span>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="p-2 justify-content-center align-items-center d-flex t-text-primary" style="min-height: 210px">
        <fa-icon icon="cogs" size="7x"></fa-icon>
      </div>
      <div class="px-4 pb-4 justify-content-center align-items-center d-flex">
        <div>
          <h3 class="">{{ 'LandingPagePromoTitle2' | translate }}</h3>
          <span>
            {{ 'LandingPagePromoText2' | translate }}
          </span>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="p-2 justify-content-center align-items-center d-flex t-text-primary" style="min-height: 210px">
        <fa-icon icon="hands" size="7x"></fa-icon>
      </div>
      <div class="px-4 pb-4 justify-content-center align-items-center d-flex">
        <div>
          <h3 class="">{{ 'LandingPagePromoTitle3' | translate }}</h3>
          <span>
            {{ 'LandingPagePromoText3' | translate }}
          </span>
        </div>
      </div>
    </div>

    <footer class=" col-12 pt-5">
      <hr style="max-width: 150px" />
      <div class="small">
        {{ 'CopyrightNoticeClient' | translate: { year: year } }}
      </div>
    </footer>
  </div>

</div>