<b-details apiEndpoint="local-users" viewId="local-users" [expand]="expand" [workspaceApplyFns]="workspaceApplyFns"
  [idString]="idString" collection="LocalUsers" [createFunc]="create" [mode]="mode" [masterCrumb]="'Users' | translate"
  [detailsCrumb]="detailsCrumb" [documentTemplate]="document" [documentHeaderTemplate]="documentHeader" [actions]="[
            { template: activate, action: onActivate, showAction: showActivate, canAction: canAction, actionTooltip: actionTooltip },
            { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canAction, actionTooltip: actionTooltip },
            { template: invite, action: onInvite, showAction: showInvite, canAction: canAction, actionTooltip: actionTooltip }
           ]">

</b-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>

<ng-template #documentHeader let-model="model" let-isEdit="isEdit">
  <div class="w-100 b-document-header d-flex justify-content-end">
    <div class="b-flow-chart small">
      <div [class.active]="!model?.ExternalId"><span>{{'User_New' | translate}}</span></div>
      <div [class.active]="!!model?.ExternalId"><span>{{'User_Confirmed' | translate}}</span></div>
    </div>
    <div class="small b-lone-state active d-none">
      <span>{{ (!!model?.ExternalId ? 'User_Confirmed' : 'User_New') | translate }}</span>
    </div>
  </div>
</ng-template>

<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

  <!-- Header Name -->
  <b-form-group class="col-12 col-md-8 mb-2 mb-sm-4 b-h2" *ngIf="ws.isPrimaryLanguage"
    [serverErrors]="model?.serverErrors?.Name">
    <h2 class="font-weight-normal" *ngIf="!isEdit">{{ model?.Name }}</h2>
    <b-text-editor *ngIf="isEdit" [focusIf]="!model.Id" [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }"
      [placeholder]="('Name' | translate) + ws.primaryPostfix + '...'" required></b-text-editor>
  </b-form-group>

  <!-- Header Name2 -->
  <b-form-group class="col-12 col-md-8 mb-2 mb-sm-4 b-h2" *ngIf="ws.isSecondaryLanguage"
    [serverErrors]="model?.serverErrors?.Name2">
    <h2 class="font-weight-normal" *ngIf="!isEdit">{{ getMultilingualValue(model, 'Name', ws) }}</h2>
    <b-text-editor *ngIf="isEdit" [focusIf]="!model.Id" [(ngModel)]="model.Name2"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.secondaryPostfix + '...'">
    </b-text-editor>
  </b-form-group>

  <div class="col-12 col-md-4 b-details-image-container">
    <div class="border">
      <b-image *ngIf="!!model" [src]="model.Id ? 'local-users/' + model.Id + '/image|' + (model?.ImageId || '') : null"
        [(ngModel)]="model.Image" [isEdit]="isEdit"></b-image>
    </div>
  </div>

  <!-- Email -->
  <b-form-group class="b-form-group" [label]="'User_Email' | translate" [serverErrors]="model?.serverErrors?.Email">
    <div *ngIf="!isEdit || !!model.Id">{{ model?.Email }}</div>
    <b-text-editor *ngIf="isEdit && !model.Id" [(ngModel)]="model.Email" [ngModelOptions]="{ updateOn: 'blur' }" email
      required></b-text-editor>
  </b-form-group>

  <ng-container *ngIf="ws.settings.SecondaryLanguageId">
    <!-- Name -->
    <b-form-group class="b-form-group" *ngIf="ws.isSecondaryLanguage" [label]="('Name' | translate) + ws.primaryPostfix"
      [serverErrors]="model?.serverErrors?.Name">
      <div *ngIf="!isEdit">{{ model?.Name }}</div>
      <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
      </b-text-editor>
    </b-form-group>

    <!-- Name2 -->
    <b-form-group class="b-form-group" *ngIf="ws.isPrimaryLanguage" [label]="('Name' | translate) + ws.secondaryPostfix"
      [serverErrors]="model?.serverErrors?.Name2">
      <div *ngIf="!isEdit">{{ model?.Name2 }}</div>
      <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
    </b-form-group>
  </ng-container>

  <!-- Agent -->
  <b-form-group class="b-form-group" [label]="'User_Agent' | translate">
    <b-view-link *ngIf="!isEdit" link="../../agents/{{ ws.get('Custodies', model?.AgentId)?.AgentType }}"
      [itemId]="model?.AgentId">
      {{ ws.getMultilingualValue('Custodies', model?.AgentId, 'Name') }}
    </b-view-link>
    <b-details-picker *ngIf="isEdit" [(ngModel)]="model.AgentId" apiEndpoint="agents/all" collection="Custodies"
      [masterTemplate]="agentMaster" [detailsTemplate]="agentDetails" [detailsOptions]="[{ id: 'individuals', 
        name: ('Individual' | translate) }, { id: 'organizations', name: ('Organization' | translate) }]">
    </b-details-picker>

    <!-- The Agents Details Modal -->
    <ng-template #agentDetails let-modal="modal" let-update="update" let-initialText="initialText" let-viewId="viewId">
      <div class="modal-body">
        <b-agents-details mode="popup" idString="new" [initialText]="initialText" (cancel)="modal.close(false);"
          (saved)="modal.close(true); update($event);" [agentType]="viewId">
        </b-agents-details>
      </div>
    </ng-template>

    <!-- The Agents Master Modal -->
    <ng-template #agentMaster let-modal="modal" let-update="update" let-create="create">
      <div class="modal-body">
        <b-agents-master mode="popup" (cancel)="modal.close(false);" (select)="modal.close(true); update($event); "
          (create)="modal.close(false); create()" agentType="all">
        </b-agents-master>
      </div>
    </ng-template>
  </b-form-group>

  <!-- Is Active -->
  <b-form-group class="b-form-group" [label]="'IsActive' | translate" *ngIf="!isEdit">
    <div>{{ (!model ? '' : model.IsActive ? 'Active' : 'Inactive') | translate }}</div>
  </b-form-group>

  <ngb-tabset class="pt-3 pt-sm-4 w-100" [destroyOnHide]="true" *ngIf="showRoles">

    <!-- Roles -->
    <ngb-tab [disabled]="true">
      <ng-template ngbTabTitle><span class="small">{{ 'User_Roles' | translate }} ({{ model?.Roles.length | number
          }})</span>
        <span *ngIf="showRolesError(model)" class="text-danger">&nbsp;<fa-icon icon="exclamation-triangle"></fa-icon>
        </span>
      </ng-template>
      <ng-template ngbTabContent>
        <b-table [dataSource]="model?.Roles" [isEdit]="isEdit" [columnPaths]="['RoleId', 'Memo']" [columnTemplates]="{
            'RoleId' : { headerTemplate : header_RoleId, rowTemplate : row_RoleId, weight : 1 },
            'Memo' : { headerTemplate : header_Memo, rowTemplate : row_Memo, weight : 1 }
          }">
        </b-table>

        <!-- RoleId -->
        <ng-template #header_RoleId>{{ 'RoleMembership_Role' | translate }}</ng-template>
        <ng-template #row_RoleId let-item="item" let-index="originalIndex" let-update="update">
          <b-form-group class="b-form-group" [serverErrors]="item.serverErrors?.RoleId">
            <b-view-link *ngIf="!isEdit" link="../../roles" [itemId]="item?.RoleId">{{
              ws.getMultilingualValue('Roles',
              item.RoleId, 'Name') }}</b-view-link>
            <b-details-picker *ngIf="isEdit" [(ngModel)]="item.RoleId" (ngModelChange)="update(item)"
              apiEndpoint="roles" [detailsOptions]="[{ id: 'roles', name: '- not important -' }]"
              [masterTemplate]="roleMaster" [detailsTemplate]="roleDetails" collection="Roles"
              [workspaceApplyFns]="workspaceApplyFns">
            </b-details-picker>

            <!-- The Role Details Modal -->
            <ng-template #roleDetails let-modal="modal" let-update="update" let-initialText="initialText">
              <div class="modal-body">
                <b-roles-details mode="popup" idString="new" [initialText]="initialText" (cancel)="modal.close(false);"
                  (saved)="modal.close(true); update($event);" [showMembers]="false" [showIsPublic]="false">
                </b-roles-details>
              </div>
            </ng-template>

            <!-- The Role Master Modal -->
            <ng-template #roleMaster let-modal="modal" let-update="update" let-create="create">
              <div class="modal-body">
                <b-roles-master mode="popup" (cancel)="modal.close(false);"
                  (select)="modal.close(true); update($event);" (create)="modal.close(false); create()">
                </b-roles-master>
              </div>
            </ng-template>
          </b-form-group>
        </ng-template>

        <!-- Memo -->
        <ng-template #header_Memo>{{ 'Memo' | translate }}</ng-template>
        <ng-template #row_Memo let-item="item" let-index="originalIndex" let-update="update">
          <b-form-group class="b-form-group" [serverErrors]="item.serverErrors?.Memo">
            <div *ngIf="!isEdit">{{ item.Memo }}</div>
            <b-text-editor *ngIf="isEdit" [(ngModel)]="item.Memo" (ngModelChange)="update(item)"
              [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
          </b-form-group>
        </ng-template>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <div class="b-wide-form-group text-muted" *ngIf="showInvitationInfo(model)">
    <p>{{ 'UserInvitationNotice' | translate:{ email: model?.Email } }}</p>
  </div>
</ng-template>

<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>
<ng-template #invite> {{ 'ResendInvitationEmail' | translate }} </ng-template>