<b-master apiEndpoint="local-users" viewId="local-users" [expand]="expand" [workspaceApplyFns]="workspaceApplyFns" [mode]="mode" [masterCrumb]="'Users' | translate" [tileTemplate]="tile"
  [tableColumnPaths]="adjustForMultilingual(['Name', 'Name2', 'ExternalId' , 'Email', 'Agent/Name', 'IsActive'], ['Name'], ws)" [tableColumnTemplates]="{
            'Name' : { headerTemplate : header_Name, rowTemplate : row_Name, weight : 1.5 },
            'Name2' : { headerTemplate : header_Name2, rowTemplate : row_Name2, weight : 1.5 },
            'ExternalId' : { headerTemplate : header_ExternalId, rowTemplate : stateTemplate, weight : 1 },
            'Email' : { headerTemplate : header_Email, rowTemplate : row_Email, weight : 1.5 },
            'Agent/Name' : { headerTemplate : header_AgentId, rowTemplate : row_AgentId, weight : 1.5 },
            'IsActive' : { headerTemplate : header_IsActive, rowTemplate : row_IsActive, weight : 1 }
          }"
  [multiselectActions]="[
            { template : activate, action: onActivate, requiresUpdatePermission: true },
            { template : deactivate, action: onDeactivate, requiresUpdatePermission: true }
          ]"
  [includeInactiveLabel]="'IncludeInactive' | translate" [filterDefinition]="{
            'CreatedBy' : [
              { template: createdByMe, expression: 'CreatedByMe'}
            ],
            'ExternalId' : [
              { template: new, expression: 'ExternalId eq null'},
              { template: confirmed, expression: 'ExternalId ne null'}
            ],
            'AgentId' : [
              { template: withAgent, expression: 'AgentId ne null'},
              { template: withoutAgent, expression: 'AgentId eq null'}
            ]
          }">
</b-master>


<!-- Tile Template -->
<ng-template #tile let-id="id">
  <div class="d-flex justify-content-between">
    <span class="d-block text-truncate">{{ ws.getMultilingualValue('LocalUsers', id, 'Name') }}</span>
  </div>
  <div class="d-flex justify-content-between mt-1 small">
    <span class="text-truncate">{{ c[id].Email }}</span>
    <ng-container *ngTemplateOutlet="stateTemplate; context: { id: id }"></ng-container>
  </div>
</ng-template>


<!-- Table Templates -->
<ng-template #header_Name>{{ ('Name' | translate) + ws.primaryPostfix }}</ng-template>
<ng-template #row_Name let-id="id"> {{ c[id].Name }} </ng-template>

<ng-template #header_Name2>{{ ('Name' | translate) + ws.secondaryPostfix }}</ng-template>
<ng-template #row_Name2 let-id="id"> {{ c[id].Name2 }} </ng-template>

<ng-template #header_Email>{{ 'User_Email' | translate }}</ng-template>
<ng-template #row_Email let-id="id"> {{ c[id].Email }} </ng-template>

<ng-template #header_AgentId>{{ 'User_Agent' | translate }}</ng-template>
<ng-template #row_AgentId let-id="id"> {{ ws.getMultilingualValue('Custodies', c[id].AgentId, 'Name') }} </ng-template>

<ng-template #header_ExternalId>{{ 'State' | translate }}</ng-template>

<ng-template #header_IsActive>{{ 'IsActive' | translate }}</ng-template>
<ng-template #row_IsActive let-id="id"> {{ (c[id].IsActive ? 'Active' : 'Inactive') | translate }} </ng-template>


<!-- Multiselect Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>


<!-- Filter Options -->
<ng-template #createdByMe> {{ 'CreatedByMe' | translate }} </ng-template>

<ng-template #new> {{ 'User_New' | translate }} </ng-template>
<ng-template #confirmed> {{ 'User_Confirmed' | translate }} </ng-template>

<ng-template #withAgent> {{ 'WithAgent' | translate }} </ng-template>
<ng-template #withoutAgent> {{ 'WithoutAgent' | translate }} </ng-template>


<!-- Templeate for a colorful state -->
<ng-template #stateTemplate let-id="id">
  <span class="text-white pl-1 pr-1 b-slightly-bold" [class.bg-secondary]="!c[id]?.ExternalId" [class.bg-success]="!!c[id]?.ExternalId">{{
    (!!c[id]?.ExternalId ? 'User_Confirmed' : 'User_New') | translate }}</span>
</ng-template>