<div class="w-100 h-100 bg-light d-flex justify-content-center align-items-start pt-0 pt-sm-5">
  <div class="p-5 b-paper border bg-white text-center" style="width:800px">
    <div class="mb-5">
      <h1>
        <!-- The response from the server is Forbidden not Unauthorized, but from the point of view of the company subsystem it's unauthorized since the user is unknown -->
        <span class="text-danger">{{ 'Unauthorized' | translate }}</span>&nbsp;<span class="text-danger">401</span>
      </h1>
      <p class="b-large">
        {{ 'Error_UnauthorizedForCompany' | translate }}
      </p>
    </div>
    <button class="btn btn-primary" routerLink="/companies">{{ 'MyCompanies' | translate }} </button>
  </div>
</div>
