<b-details-picker [filter]="filter" collection="ResourceClassification"
    [masterTemplate]="resourceClassificationsMaster" [detailsTemplate]="showCreate ? resourceClassificationsDetail : null">
</b-details-picker>

<!-- The Resource Classifications Details Modal -->
<ng-template #resourceClassificationsDetail let-modal="modal" let-update="update" let-initialText="initialText"
    let-idString="idString">
    <div class="modal-body">
        <b-resource-classifications-details mode="popup" [initialText]="initialText" [idString]="idString"
            (cancel)="modal.close(false);" (saved)="modal.close(true); update($event);">
        </b-resource-classifications-details>
    </div>
</ng-template>

<!-- The Resource Classifications Master Modal -->
<ng-template #resourceClassificationsMaster let-modal="modal" let-update="update" let-create="create">
    <div class="modal-body">
        <b-resource-classifications-master mode="popup" (cancel)="modal.close(false);" [showCreate]="showCreate"
            (choose)="modal.close(true); update($event); " (create)="modal.close(false); create()">
        </b-resource-classifications-master>
    </div>
</ng-template>