<b-details collection="ResourceClassification" [definition]="definitionId" [idString]="idString" [createFunc]="create"
  [expand]="expand" [mode]="mode" [masterCrumb]="masterCrumb" [detailsCrumb]="detailsCrumb"
  [documentTemplate]="document" [actions]="[
            { template: activate, action: onActivate, showAction: showActivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip },
            { template: deactivate, action: onDeactivate, showAction: showDeactivate, canAction: canActivateDeactivateItem, actionTooltip: activateDeactivateTooltip }
           ]">
</b-details>

<!-- Details Crumb -->
<ng-template #detailsCrumb let-model="model">
  <span>{{ getMultilingualValue(model, 'Name', ws) }}</span>
</ng-template>


<!-- Edit/View Template -->
<ng-template #document let-model="model" let-isEdit="isEdit">

  <!-- Header Name -->
  <b-form-group class="col-12 mb-2 mb-sm-4 b-h2" [serverErrors]="model?.serverErrors?.Name">
    <h2 class="font-weight-normal" *ngIf="!isEdit">{{ getMultilingualValue(model, 'Name', ws) }}</h2>

    <b-text-editor *ngIf="isEdit && ws.isPrimaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.primaryPostfix + '...'" required>
    </b-text-editor>

    <b-text-editor *ngIf="isEdit && ws.isSecondaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name2"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.secondaryPostfix + '...'">
    </b-text-editor>

    <b-text-editor *ngIf="isEdit && ws.isTernaryLanguage" [focusIf]="!model.Id" [(ngModel)]="model.Name3"
      [ngModelOptions]="{ updateOn: 'blur' }" [placeholder]="('Name' | translate) + ws.ternaryPostfix + '...'">
    </b-text-editor>
  </b-form-group>

  <!-- Name -->
  <b-form-group class="b-form-group" *ngIf="!ws.isPrimaryLanguage" [label]="('Name' | translate) + ws.primaryPostfix"
    [serverErrors]="model?.serverErrors?.Name">
    <div *ngIf="!isEdit">{{ model?.Name }}</div>
    <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Name" [ngModelOptions]="{ updateOn: 'blur' }" required>
    </b-text-editor>
  </b-form-group>

  <!-- Name2 -->
  <b-form-group class="b-form-group" *ngIf="!ws.isSecondaryLanguage && ws.settings.SecondaryLanguageId"
    [label]="('Name' | translate) + ws.secondaryPostfix" [serverErrors]="model?.serverErrors?.Name2">
    <div *ngIf="!isEdit">{{ model?.Name2 }}</div>
    <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Name2" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
  </b-form-group>

  <!-- Name3 -->
  <b-form-group class="b-form-group" *ngIf="!ws.isTernaryLanguage && ws.settings.TernaryLanguageId"
    [label]="('Name' | translate) + ws.ternaryPostfix" [serverErrors]="model?.serverErrors?.Name3">
    <div *ngIf="!isEdit">{{ model?.Name3 }}</div>
    <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Name3" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
  </b-form-group>

  <!-- Code -->
  <b-form-group class="b-form-group" [label]="'Code' | translate" [serverErrors]="model?.serverErrors?.Code">
    <div *ngIf="!isEdit">{{model?.Code}}</div>
    <b-text-editor *ngIf="isEdit" [(ngModel)]="model.Code" [ngModelOptions]="{ updateOn: 'blur' }"></b-text-editor>
  </b-form-group>

  <!-- Parent -->
  <b-form-group class="b-form-group" [label]="'TreeParent' | translate" [serverErrors]="model?.serverErrors?.ParentId">
    <b-restricted [metadata]="model?.EntityMetadata?.Parent">
      <b-view-link *ngIf="!isEdit" [link]="'../../../resource-classifications/' + definitionId"
        [itemId]="model?.ParentId">{{
        ws.getMultilingualValue('ResourceClassification', model?.ParentId, 'Name') }}</b-view-link>
    </b-restricted>
    <b-details-picker *ngIf="isEdit" [(ngModel)]="model.ParentId" [definitionIds]="[definitionId]"
      collection="ResourceClassification" [masterTemplate]="resourceClassificationsMaster" definitionProperty="ResourceDefinitionId"
      [detailsTemplate]="resourceClassificationsDetail">
    </b-details-picker>

    <!-- The Resource Classifications Details Modal -->
    <ng-template #resourceClassificationsDetail let-modal="modal" let-update="update" let-initialText="initialText"
      let-definitionId="definitionId" let-idString="idString">
      <div class="modal-body">
        <b-resource-classifications-details mode="popup" [initialText]="initialText" [idString]="idString"
          [definitionId]="definitionId" (cancel)="modal.close(false);" (saved)="modal.close(true); update($event);">
        </b-resource-classifications-details>
      </div>
    </ng-template>

    <!-- The Resource Classifications Master Modal -->
    <ng-template #resourceClassificationsMaster let-modal="modal" let-update="update" let-create="create"
      let-definitionId="definitionId">
      <div class="modal-body">
        <b-resource-classifications-master mode="popup" (cancel)="modal.close(false);" [definitionId]="definitionId"
          (choose)="modal.close(true); update($event); " (create)="modal.close(false); create()">
        </b-resource-classifications-master>
      </div>
    </ng-template>

  </b-form-group>

  <!-- Is Leaf -->
  <b-form-group class="b-form-group" [label]="'ResourceClassification_IsLeaf' | translate">
    <div *ngIf="!isEdit">{{ (model?.IsLeaf ? 'Yes' : 'No') | translate }}</div>
    <div *ngIf="isEdit" class="custom-control custom-checkbox b-labelless-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="model.IsLeaf" id="isLeaf">
      <label class="custom-control-label b-pointer" for="isLeaf">&zwnj;</label>
    </div>
  </b-form-group>

  <!-- Is Active -->
  <b-form-group class="b-form-group" [label]="'IsActive' | translate" *ngIf="!isEdit">
    <div>{{ (!model ? '' : model.IsActive ? 'Active' : 'Inactive') | translate }}</div>
  </b-form-group>
</ng-template>


<!-- Actions -->
<ng-template #activate> {{ 'Activate' | translate }} </ng-template>
<ng-template #deactivate> {{ 'Deactivate' | translate }} </ng-template>