// Override a few of the default variables of bootstrap before importing it
$enable-rounded: false; // Square corners
$font-size-base: 0.9rem; // The default font (1rem) is too big
// $font-family-base: Calibri, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$light: #f9f9f9;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-650: #5a636a;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$primary: #17a2b8; // Classy teal
$secondary: #6c757d;
$dark-primary: #008784;
$info: #007bff; // Bright blue

$white: #ffffff;
$whitish: rgba(255, 255, 255, 0.75);
$primary-disabled: #69c3d1;

// customize bootstrap colors and then import bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Remove any other round corners
.modal-content,
.dropdown-menu {
  border-radius: 0;
}

.dropdown-menu {
  font-size: 80%;
}

// this solves a problem in responsive tables that contain dropdowns
@media only screen and (max-width: 767px) {
  .table-responsive .dropdown-menu {
    position: static !important;
  }
}

@media only screen and (min-width: 768px) {
  .table-responsive {
    overflow: visible;
  }
}

a {
  color: $dark-primary;
}

.navbar {
  padding: 0.375rem 0.75rem;
}

.navbar-brand {
  margin-right: 0;
}

.breadcrumb-item {
  font-size: 1.2rem;
  margin: -0.4rem;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-left: 0.5rem;
}

// make the alternating color of tables a little lighter
.table-striped tbody tr:nth-of-type(odd),
.t-biege {
  background-color: rgba(0, 0, 0, 0.02);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.btn {
  // makes button labels a little thicker
  font-weight: 600;
}

// support RTL for NGB modal
.t-rtl {
  .modal-header .close {
    margin: -1rem auto -1rem -1rem;
  }

  .modal-footer > :not(:last-child) {
    margin-right: 0rem;
    margin-left: 0.25rem;
  }

  .modal-footer > :not(:first-child) {
    margin-left: 0rem;
    margin-right: 0.25rem;
  }
}

.t-rtl .dropdown-item {
  text-align: right;
}

// remove the little arrow from dropdown buttons on demand
.t-no-arrow.dropdown-toggle::after {
  display: none;
}

// without this one, the highlight of light buttons is barely visible
.btn-light:focus,
.btn-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
}

// smaller HR separators look better
.dropdown-menu hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

// for some reason this isn't by default in bootstrap
.small.dropdown-menu {
  font-size: 80%;
}

// add a shadow to ngb-datepicker
ngb-datepicker {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

// date picker: flip the navigation arrows in RTL
.t-rtl {
  .right .ngb-dp-navigation-chevron {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .ngb-dp-navigation-chevron {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .custom-select {
    background-position-x: 0.75rem;
  }
  .dropdown-menu {
    text-align: right;
  }

  // otherwise the browser adds a default right padding of 40px
  .nav.nav-tabs {
    padding-right: 0;
  }
}

.ngb-dp-weekday {
  color: $gray-900 !important;
}

// add a cool colored top border for selected tab
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-top-width: 2px;
  border-top-color: $dark-primary;
}

.dropdown-item.active,
.dropdown-item:active {
  color: $gray-900;
  background-color: $gray-300;
}

ngb-tabset li.nav-item .small {
  font-weight: 500;
}

.dropdown-menu {
  z-index: 1050;
}

.dropdown-item {
  cursor: pointer;
}

// to stop the flickering
.tooltip {
  pointer-events: none;
}

.breadcrumb {
  background-color: transparent;
}

.t-less-dark .breadcrumb-item + .breadcrumb-item::before {
  color: $whitish;
}

.form-control {
  transition: none;
}

.table-dark {
  color: $whitish;
}

.btn-dark {
  background-color: $gray-700;
  border-color: $gray-700;
}

.btn-dark:hover,
.btn-dark.active {
  background-color: $gray-800 !important;
  border-color: $gray-800 !important;
}

///////////////////////////////// Tellma /////////////////////////////////

$hover-highlight-color: #f8f9fa; // When you hover with the mouse of something

.t-rtl {
  direction: rtl !important;
  text-align: right;
}

// Useful for charts which do not support ltr anyways
.t-ltr {
  direction: ltr !important;
}

.t-brand {
  color: $primary;
}

.t-background-image {
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.t-banner {
  @extend .t-background-image;
  background-image: url("/assets/background.jpg");
}

.t-banner2 {
  @extend .t-background-image;
  background-image: url("/assets/background2.jpg");
}

// if its parent is a column flex box, it occupies the rest of the screen
.t-rest-of-screen {
  flex: 1 0;
  overflow-y: auto;
  //  overflow-y: overlay; // This stops the scrollbar from occupying width on webkit browsers
}
// This will make it such that when the screen is small, you will be able to
// scroll even the navbar out of view and not just the content area
.t-body {
  height: 100% !important;
  background-color: $light;
}

// these are buttons that only have an icon in them
.t-white-button,
.t-white-button.disabled,
.t-white-button:disabled {
  background: transparent;
  border-color: transparent;
}

// make the primary text a little darker since easier to read
.text-primary {
  color: $dark-primary !important;
}

.t-vertical-align-middle {
  vertical-align: middle;
}

.t-pointer {
  cursor: pointer;
}

// makes sure that tiles don't collapse when certain
// fields inside them are empty
.t-tile span:empty:before {
  content: "\200b";
}
// Empty fields in details occupy the same space as non-empty fields
.form-group-container *:empty:before {
  content: "\200b";
}

.t-tile {
  @extend .t-pointer;
  border: 1px solid $gray-300;
}

@media (max-width: 576px) {
  // on small screens, the tiles are stacked with no margins between them
  // so remove the top border otherwise we get double borders
  .t-tile {
    border-top-width: 0px;
  }
}

.t-tile:hover {
  box-shadow: 2px 2px 2px -2px dimgrey;
}

.t-less-dark.t-tile:hover {
  box-shadow: 2px 2px 2px -2px black;
}

.t-tile-container {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .t-tile-container {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 900px) {
  .t-tile-container {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}

@media (min-width: 1300px) {
  .t-tile-container {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 1750px) {
  .t-tile-container {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 2100px) {
  .t-tile-container {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
}

@media (min-width: 2450px) {
  .t-tile-container {
    flex: 0 0 14.28571428%;
    max-width: 14.28571428%;
  }
}

@media (min-width: 2800px) {
  .t-tile-container {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}

@media (min-width: 3150px) {
  .t-tile-container {
    flex: 0 0 11.11111111%;
    max-width: 11.11111111%;
  }
}

@media (min-width: 3500px) {
  .t-tile-container {
    flex: 0 0 10;
    max-width: 10%;
  }
}

@media (min-width: 1050px) {
  // prevents the tiles inside a modal from become too narrow, remember that the
  // media query works on the screen as a whole not the width of the modal
  .t-tile-container.t-popup-tile-container {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}

$paper-width: 1150px; // The default font (1rem) is too big

.t-paper {
  max-width: $paper-width;
  box-shadow: 0 5px 20px -15px black;
}

.t-paper-width {
  max-width: $paper-width;
}

.t-toolbar {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.t-toolbar-button {
  margin-right: 0.125rem;
  margin-left: 0.125rem;
}

input.t-h2,
.t-h2 input {
  margin-bottom: 0.5rem;
  font-family: inherit;
  line-height: 1.2;
  font-size: 2 * $font-size-base;
}

.t-input {
  border-width: 0 0 1px 0;
  border-color: $gray-500;
  background-color: transparent;
  padding: 0;
  height: auto;
  margin-bottom: -1px;
}

.t-input:focus {
  background-color: transparent;
  box-shadow: 0 2px $primary;
}

.t-dynamic-container .t-input {
  box-shadow: 0 1px $gray-600;
}

.t-dynamic-container.is-invalid .t-input {
  box-shadow: 0 1px $danger;
}

.t-dynamic-container .t-input:focus {
  box-shadow: 0 2px $primary;
}

.t-studio-input {
  padding: 0.15rem 0.45rem !important;
  height: auto;
  border: 1px solid $gray-800;
  color: white !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  background-color: $secondary !important;
}

.t-less-dark {
  background-color: $gray-700;
}

.t-less-dark .t-input {
  color: $whitish !important;
}

.t-less-dark .t-input::placeholder {
  color: darkgrey;
}

.t-less-dark .t-input::-webkit-input-placeholder {
  color: darkgrey;
}

.t-less-dark .t-input:-ms-input-placeholder {
  color: darkgrey;
}

.t-much-less-dark {
  background-color: $gray-600;
  color: $whitish;
}

.t-studio-input::placeholder {
  color: darkgrey;
}

.t-studio-input::-webkit-input-placeholder {
  color: darkgrey;
}

.t-studio-input:-ms-input-placeholder {
  color: darkgrey;
}

.t-studio-source-area {
  overflow-y: auto;
  color: white !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

.t-icon-selector {
  height: 6rem;
  overflow-y: auto;
  border: 1px solid $gray-800;
  color: white !important;
  background-color: $secondary !important;
}

.t-icon-selector-icon {
  width: 32px;
  border: 1px solid $secondary;
}

.t-icon-selector-icon:hover {
  background-color: $gray-650;
  // border-color: $gray-700;
}

.t-icon-selector-icon.t-highlighted {
  background-color: $gray-650;
  border-color: $gray-700;
}

.t-studio-drop-area {
  min-height: 5rem;
  overflow-y: auto;
  border: 1px dashed $gray-800;
  color: white !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  background-color: $secondary !important;
}

.t-studio-source-row {
  padding: 0.15rem !important;
  margin: 0.15rem;
  height: auto;
  background-color: $gray-650 !important;
  color: white !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  border: 1px solid $gray-700;
}

.t-studio-drop-row {
  padding: 0.15rem 0.15rem 0.15rem 0.45rem !important;
  margin: 0.15rem;
  height: auto;
  background-color: $gray-650 !important;
  color: white !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  border: 1px solid $gray-700;
  font-size: 80%;
}

.t-studio-section-header {
  border-bottom: 1px solid $gray-800;
  border-top: 1px solid $gray-800;
  margin-top: -1px;
  padding: 0.5rem;
  background-color: $gray-700;
}
.t-studio-section-header:hover {
  background-color: $gray-650;
}

.t-dark-border {
  border-color: $gray-800 !important;
}

$studio-pane-width: 13.5rem;
$studio-pane-border: 1px;
$slightly-less-white: rgba(255, 255, 255, 0.9);

.t-studio-pane {
  width: $studio-pane-width;
  min-width: $studio-pane-width;
  color: $whitish !important;
  border-right: $studio-pane-border solid $gray-900;
  border-left: 0 solid $gray-900;
}

.t-collapsed-studio-pane {
  color: $whitish !important;
  border-right: $studio-pane-border solid $gray-900;
}

.t-collapsed-studio-pane span {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  white-space: nowrap;
}

.t-rtl {
  .t-studio-pane {
    border-right-width: 0px;
    border-left-width: $studio-pane-border;
  }

  .t-collapsed-studio-pane {
    border-right-width: 0px;
    border-left-width: $studio-pane-border;
  }

  .t-studio-source-row {
    padding: 0.15rem 0.45rem 0.15rem 0.15rem !important;
  }

  .t-studio-drop-row {
    padding: 0.15rem 0.45rem 0.15rem 0.15rem !important;
  }
}

.t-studio-area-watermark {
  text-shadow: none;
  color: darkgrey;
}

.t-dark-theme .modal-dialog,
.t-dark-theme .modal-content {
  background-color: $gray-900;
}

.cdk-drop-list-dragging .t-drag-label {
  display: none;
}

.t-text-whitish {
  color: $whitish !important;
}

button.t-text-whitish:hover,
li.t-text-whitish:hover {
  color: $white !important;
}

// this is the placeholder area while dragging a studio grid
.t-studio-drop-area .cdk-drag-placeholder {
  opacity: 0.5;
}

.t-studio-drop-row.t-draggable,
.t-studio-source-row.t-draggable {
  cursor: move;
}

.t-no-resize {
  resize: none;
}

table tr .t-input,
.t-borderless-input .t-input {
  border-bottom-width: 0px;
}

table tr .t-form-group {
  padding: 0 !important;
}
.t-text-primary {
  color: $primary;
}

.t-input.is-invalid:focus {
  box-shadow: 0 2px $danger;
}

.is-invalid .t-input {
  border-color: $danger;
}

.is-invalid.t-input::placeholder,
.is-invalid .t-input::placeholder {
  color: $danger;
  opacity: 0.6;
}

.is-invalid .t-input:focus {
  box-shadow: 0 2px $danger;
}

// the style for the "Saving" indicator at the bottom right
.t-corner-indicator {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1051;
  animation-delay: 0.1s;
}

// edge browser shows a little X button in input field that lets you
// clear that field, but this button doesn't seem to signal angular's
// ngModel to update the model, here we simply hide that X button
input::-ms-clear {
  display: none;
}

// the below code styles the state flow chart, credit goes to
// this gentleman: https://css-tricks.com/triangle-breadcrumbs/
$flow-state-active: #f1f2f3; // #eaebec; // $hover-highlight-color;
$flow-border: $gray-300;
$flow-state: white;
$flow-text: $secondary;

.t-flow-chart {
  overflow: hidden;
  border-left: 1px solid $flow-border;
}

.t-flow-chart div {
  float: left;
}

.t-flow-chart div span {
  color: $flow-text;
  padding: 10px 0 10px 50px;
  background-color: $flow-state;
  position: relative;
  display: block;
  float: left;
}

.t-flow-chart div:first-child span {
  padding-left: 25px;
}

.t-flow-chart div:last-child span {
  padding-right: 25px;
}

.t-flow-chart div span::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid $flow-state;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.t-flow-chart div span::before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid $flow-border;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.t-lone-state {
  border-left: 1px solid $flow-border;
  padding: 10px 20px;
}

.t-lone-state span {
  color: $flow-text;
}

.t-flow-chart div.active span,
.t-lone-state.active {
  background-color: $flow-state-active;
  font-weight: bold;
  color: #212529;
}

.t-flow-chart div.active span::after {
  border-left-color: $flow-state-active;
}

.t-rtl {
  // For RTL state chart

  .t-flow-chart {
    border-left-width: 0;
    border-right: 1px solid $flow-border;
  }

  .t-flow-chart div {
    float: right;
  }

  .t-flow-chart div span {
    padding: 10px 50px 10px 0px;
    // float: right;
  }

  .t-flow-chart div:first-child span {
    padding-right: 25px;
  }

  .t-flow-chart div:last-child span {
    padding-left: 25px;
  }

  .t-flow-chart div span::after {
    border-left-width: 0;
    border-right: 30px solid $flow-state;
    //  left: initial;
    right: 100%;
  }

  .t-flow-chart div span::before {
    border-left-width: 0;
    border-right: 30px solid $flow-border;
    //  margin-left: 0;
    margin-right: 1px;
    // left: initial;
    right: 100%;
  }

  .t-lone-state {
    border-left: 0px solid $flow-border;
    border-right: 1px solid $flow-border;
  }

  .t-flow-chart div.active span::after {
    //   border-left-color: transparent;
    border-right-color: $flow-state-active;
  }
}

// Dark themed flow state

$dark-flow-state-active: $gray-700;
$dark-flow-border: $gray-800;
$dark-flow-state: transparent;
$dark-flow-text: $whitish;

.t-dark {
  .t-flow-chart {
    border-left-color: $dark-flow-border;
  }

  .t-flow-chart div span {
    color: $dark-flow-text;
    background-color: $dark-flow-state;
  }

  .t-flow-chart div span::after {
    border-left-color: $dark-flow-state;
  }

  .t-flow-chart div span::before {
    border-left-color: $dark-flow-border;
    margin-left: 0px;
  }

  .t-lone-state {
    border-left-color: $dark-flow-border;
  }

  .t-lone-state span {
    color: $dark-flow-text;
  }

  .t-flow-chart div.active span,
  .t-lone-state.active {
    background-color: $dark-flow-state-active;
  }

  .t-flow-chart div.active span::after {
    border-left-color: $dark-flow-state-active;
  }
}

.t-rtl {
  .t-dark {
    // For RTL state chart
    .t-flow-chart {
      border-right-color: $dark-flow-border;
    }

    .t-flow-chart div span::after {
      border-right-color: $dark-flow-state;
    }

    .t-flow-chart div span::before {
      border-right-color: $dark-flow-border;
      margin-right: 0px;
    }

    .t-lone-state {
      border-left-color: $dark-flow-border;
      border-right-color: $dark-flow-border;
    }

    .t-flow-chart div.active span::after {
      border-right-color: $dark-flow-state-active;
    }
  }
}

// set the layout for the main document and the sidebar
// on large screens, show them side by side, on smaller
// screens show them stacked vertically
.t-main-and-side {
  flex-direction: column;
  flex-wrap: nowrap;
}

.t-sidebar {
  width: 100% !important;
  border-top: 1px solid $flow-border;
  flex: 1 0;
  height: 100%;
}

@media only screen and (min-width: 1534px) {
  .t-main-and-side {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .t-main-document {
    height: 100%;
    width: 67% !important;
    overflow-y: auto;
  }

  .t-sidebar {
    width: 33% !important;
    border-top: none;
    border-left: 1px solid $flow-border;
    overflow-y: auto;
  }

  .t-rtl .t-sidebar {
    border-left-width: 0px;
    border-right: 1px solid $flow-border;
  }
}

.t-search {
  padding: 0.35rem 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: -0.2rem;
}

// styling for the table
thead > tr {
  height: 40px;
}

.table thead th {
  vertical-align: middle;
}

// the table in the master screen table view
table.t-master-table th {
  border-top-width: 0;
  font-size: 80%;
}

// when a th is being dragged, a preview th is appended to the body outside any table
th.cdk-drag-preview {
  font-size: 80%;
  border-bottom: 2px solid $gray-300;
  background-color: rgba(255, 255, 255, 0.5) !important;
  padding: 0.3rem;
  display: flex;
  align-items: center;
}

// for some reason this was necessary, otherwise it remains ltr in Arabic
.t-rtl th.cdk-drag-preview {
  direction: rtl;
}

// this is the placeholder area while dragging
th.cdk-drag-placeholder {
  background-color: $gray-200 !important;
  color: transparent;
}

// disable those horrible select-unselect animations
.custom-control-label::before,
.custom-file-label,
.custom-select {
  transition: none;
}

.custom-control-label::before {
  background-color: $hover-highlight-color; // light background
  border: 1px solid $secondary; // border color
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $hover-highlight-color; // light background
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $hover-highlight-color; // light background
}

// Override the color of the checkbox indicator
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%2317a2b8' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
//#17a2b8
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2317a2b8'/%3e%3c/svg%3e");
}

// center the checkbox
div.custom-control.custom-checkbox.t-labelless-checkbox {
  padding-left: 2rem;
}

.t-multiselect-th,
.t-line-number-th {
  width: 1px;
}

// replaces bootstrap's custom-file-label
.t-file-input-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(2.1rem + 2px);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
}

// cover the whole screen with transparent glass
// when there is a POST/PUT/DELETE call in progress
.t-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

.t-overlay .t-overlay-spinner {
  font-size: 2.5rem;
}

// .t-overlay .t-overlay-message {
//   font-size: 0.9rem;
// }

// tiny red circle on the filter when it is not cleared
.t-indicator {
  width: 7px;
  height: 7px;
  margin-right: -7px;
  border-radius: 5px;
  position: relative;
  right: 4px;
  bottom: 1px;
  border: 1px solid darkred !important;
}

.t-filter-button {
  margin-top: -5px;
}

// filter drop down menu shows a check sign next to selected item
.t-filter-dropdown-menu .selected > *::before {
  content: "\2713"; // check sign
  position: absolute;
  left: 8px;
  font-weight: bold;
}

// filter drop down menu shows a check sign next to selected item in RTL mode
.t-rtl {
  .t-filter-dropdown-menu .selected > *::before {
    content: none; // check sign
  }

  .t-filter-dropdown-menu .selected > *::after {
    content: "\2713"; // check sign
    position: absolute;
    right: 8px;
    font-weight: bold;
  }
}

.t-filter-dropdown-menu .dropdown-item {
  cursor: pointer;
}

.t-dirty-asterisk {
  line-height: 0.5;
  font-size: 1.5rem;
  font-weight: bold;
}

// a form group is a form control + optional label + optional errors
// taking half the screen on wide screen, and full screen on smaller screen
.t-form-group,
.t-wide-form-group {
  margin-top: 0.75rem !important;
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .t-form-group,
  .t-wide-form-group {
    margin-top: 0.5rem !important;
  }
}

@media (min-width: 768px) {
  .t-form-group {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

// highlights master items that were recently viewed
div.t-highlight {
  // light theme
  background-color: rgba(17, 17, 17, 0.05) !important;
}

div.t-less-dark.t-highlight {
  // dark theme
  background-color: rgba(17, 17, 17, 0.25) !important;
}

@media (min-width: 576px) {
  div.t-highlight {
    border-color: rgba(17, 17, 17, 0.1) !important;
  }
}

tr.t-highlight {
  background-color: rgba(17, 17, 17, 0.075) !important;
}

.t-slightly-bold,
.t-view-link {
  font-weight: 500;
}

.t-transparent {
  color: transparent;
  background-color: transparent;
}

.t-transparent-background {
  background-color: transparent !important;
}

.t-details-modal,
.t-master-modal {
  .modal-dialog {
    max-width: 1050px;
  }
  .modal-body {
    background-color: $light;
  }
  .modal-body,
  .model-footer {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.t-master-modal {
  .modal-content {
    height: 100%;
  }
  .modal-dialog {
    height: calc(100% - 1rem);
  }
  .modal-body {
    height: 100%;
  }
}

.t-myuser-modal .modal-dialog {
  max-width: 850px;
}

@media (min-width: 576px) {
  .t-master-modal {
    .modal-content {
      height: 100%;
    }
    .modal-dialog {
      height: calc(100% - 3.5rem);
    }
  }
}

.modal-content {
  padding: 1px;
}

.t-document-header {
  padding: 0;
}

.t-dark {
  background-color: $gray-800;
}

// opposite of bootstraps small
.t-large {
  font-size: 120%;
}

.t-dp-wrapper {
  //  display: inline-block;
  border-radius: 50%;
  border: 1px solid $gray-300;
}

.t-dp-dark {
  // Borders on a dark background
  border-color: $gray-900;
}

.t-mw-0 {
  min-width: 0;
}

// styling for my account box in the top right corner
.t-navbar-button {
  cursor: pointer;
  border-width: 0;
  background-color: transparent;
  padding: 0.5rem;
  text-align: left;
}

// navigation buttons on a dark navbar
.navbar-dark {
  .t-navbar-button {
    color: rgba(255, 255, 255, 0.75) !important;
  }

  .t-navbar-button:hover,
  .dropdown.show .t-navbar-button {
    background-color: rgba(0, 0, 0, 0.3);
  }

  button.t-navbar-button:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

// navigation buttons on a light navbar
.navbar-light {
  .t-navbar-button {
    color: rgba(0, 0, 0, 0.75) !important;
  }

  .t-navbar-button:hover,
  .dropdown.show .t-navbar-button {
    background-color: rgba(0, 0, 0, 0.1);
  }

  button.t-navbar-button:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.t-rtl .t-navbar-button {
  text-align: right;
}

.t-navbar-button:disabled {
  color: $secondary !important;
  background-color: transparent;
  cursor: unset;
}

.t-brand-link {
  padding: 0.5rem 0.625rem;
  text-decoration: none !important;
}

.t-details-image-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .t-details-image-container {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: flex-end;
  }
}

.t-page-title {
  color: $secondary;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

// Main Menu

.t-menu-item {
  color: white !important;
  width: 135px;
  height: 130px;
  padding: 0px;
  white-space: normal;
  transition: none;
  border-width: 0;
  font-weight: normal;
  box-shadow: 0 7px 12px -10px black;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  overflow-y: hidden;
}

.t-menu-item:focus {
  box-shadow: 0 0 0 0.2rem $gray-800;
}

@media (min-width: 576px) {
  .t-menu-search-container {
    width: auto;
  }
}

@mixin background-color($base-color) {
  .t-menu-item {
    background-color: $base-color;
  }
  .t-menu-item:hover {
    background-color: darken($base-color, 5%);
  }
  .t-menu-item:active {
    background-color: darken($base-color, 10%);
  }
}

.t-cyan {
  @include background-color(#17a2b8);
}

.t-green {
  @include background-color(#259093);
}

.t-blue {
  @include background-color(#159f85);
}

.t-grey,
.t-gray {
  @include background-color(#858f85);
}

.t-menu-section {
  color: $secondary;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.t-menu-item-label {
  font-size: 100%;
}

.t-menu-item-icon {
  font-size: 2rem;
}

// styling for the search input at the top of the screen
.t-menu-search {
  background-color: transparent !important;
  border-width: 0px;
  margin: 0px;
}

.t-menu-search:focus {
  box-shadow: none;
}

.t-menu-search-container {
  color: $secondary !important;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-width: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1);
}

// this creates a container, central to the screen that
// fits a certain number of main menu tiles
// IMPORTANT: If you change these you must change the corresponding fields in main-menu-component.ts accordingly
$max-tiles: 6;
$tile-width: 135px;
$tile-margin: 4px;
$container-margin: 15px;

.t-menu-container,
.t-menu-search-container {
  width: ($tile-width + (2 * $tile-margin));
  margin: 0 auto;
}

@for $i from 2 through $max-tiles {
  @media (min-width: ($container-margin * 2) + ($tile-width + (2 * $tile-margin)) * $i) {
    .t-menu-container,
    .t-menu-search-container {
      width: ($tile-width + (2 * $tile-margin)) * $i;
    }
  }
}

@media (max-width: 576px) {
  .t-menu-search-container {
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

.t-menu-screen {
  margin: 0 -15px;
  height: 100%;
  overflow-y: auto;
  overflow-y: overlay;
}

.t-container {
  max-width: ($tile-width + (2 * $tile-margin)) * 6;
  margin: 0 auto;
}

.t-companies-search-container {
  color: $secondary !important;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-width: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1);
}

.t-tree-node:hover {
  background-color: $hover-highlight-color;
  cursor: pointer;
}

.modal-dialog {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.375) !important;
}

.t-tree-tile {
  display: flex !important;
  align-items: stretch !important;
}

.t-tree-tile:hover {
  background-color: $hover-highlight-color;
}

.t-tree-tile span:empty:before {
  content: "\200b";
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  // transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  transition: none;
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  // transition: transform 75ms cubic-bezier(0, 0, 0.2, 1);
  transition: none;
}

.t-navbar {
  position: relative;
  display: flex;
}

.t-report-dimension {
  background-color: whitesmoke;
  // font-weight: 600;
}

// td.report-header, .report-header td {
//   padding-left: 15px;
//   padding-right: 15px;
// }

table.t-report-table {
  width: auto !important;

  td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  td.t-report-measure {
    cursor: pointer;
  }

  td.t-report-measure:hover {
    color: $dark-primary;
  }
}

h1.t-report-measure {
  cursor: pointer;
}

h1.t-report-measure:hover {
  color: $dark-primary;
  // text-decoration: underline;
}

.t-light-danger {
  color: lightpink !important;
}

.is-invalid .t-studio-input {
  border-color: lightpink !important;
}

.small input, .t-large input, .small button, .t-large button {
  font-size: 100%!important;
}

// Signature stamps
%t-stamp {
  border-width: 0 0 4px 0;
  border-style: solid;
  //transform: rotate(-20deg)
}

.t-positive-stamp {
  @extend %t-stamp;
  border-color: $success;
}

.t-negative-stamp {
  @extend %t-stamp;
  border-color: $danger;
}