<ng-container [ngSwitch]="desc?.control">

    <!-- Text -->
    <t-text-editor *ngSwitchCase="'text'" [(ngModel)]="value">
    </t-text-editor>

    <!-- Decimal -->
    <t-decimal-editor *ngSwitchCase="'number'" [(ngModel)]="value" [minDecimalPlaces]="minDecimalPlaces"
        [maxDecimalPlaces]="maxDecimalPlaces">
    </t-decimal-editor>

    <!-- Percent -->
    <t-decimal-editor *ngSwitchCase="'percent'" [(ngModel)]="value" [minDecimalPlaces]="minDecimalPlaces"
        [maxDecimalPlaces]="maxDecimalPlaces" [isPercentage]="true">
    </t-decimal-editor>

    <!-- Serial -->
    <t-serial-editor *ngSwitchCase="'serial'" [(ngModel)]="value" [prefix]="prefix" [codeWidth]="codeWidth">
    </t-serial-editor>

    <!-- Date -->
    <t-date-picker *ngSwitchCase="'date'" [(ngModel)]="value">
    </t-date-picker>

    <!-- Date Time -->
    <t-date-picker *ngSwitchCase="'datetime'" [(ngModel)]="value">
    </t-date-picker>

    <!-- Choice -->
    <t-selector *ngSwitchCase="'choice'" [(ngModel)]="value" [choices]="choices">
    </t-selector>

    <!-- Boolean -->
    <div *ngSwitchCase="'boolean'" class="custom-control custom-checkbox t-labelless-checkbox">
        <input type="checkbox" class="custom-control-input" [(ngModel)]="value" id="{{checkboxId}}">
        <label class="custom-control-label t-pointer" for="{{checkboxId}}">&zwnj;</label>
    </div>

    <!-- Entities -->
    <t-account-classifications-picker *ngSwitchCase="'AccountClassification'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-account-classifications-picker>

    <t-ifrs-concepts-picker *ngSwitchCase="'IfrsConcept'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-ifrs-concepts-picker>

    <t-account-types-picker *ngSwitchCase="'AccountType'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-account-types-picker>

    <t-accounts-picker *ngSwitchCase="'Account'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-accounts-picker>

    <t-agents-picker *ngSwitchCase="'Agent'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-agents-picker>

    <t-relations-picker *ngSwitchCase="'Relation'" [(ngModel)]="value" [definitionIds]="definitionIds" [showCreate]="false" [filter]="filter">
    </t-relations-picker>

    <t-currencies-picker *ngSwitchCase="'Currency'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-currencies-picker>

    <t-entry-types-picker *ngSwitchCase="'EntryType'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-entry-types-picker>

    <t-lookups-picker *ngSwitchCase="'Lookup'" [(ngModel)]="value" [definitionId]="definitionId" [showCreate]="false" [filter]="filter">
    </t-lookups-picker>

    <t-units-picker *ngSwitchCase="'Unit'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-units-picker>

    <t-custodies-picker *ngSwitchCase="'Custody'" [(ngModel)]="value" [definitionIds]="definitionIds" [showCreate]="false" [filter]="filter">
    </t-custodies-picker>

    <t-resources-picker *ngSwitchCase="'Resource'" [(ngModel)]="value" [definitionIds]="definitionIds" [showCreate]="false" [filter]="filter">
    </t-resources-picker>

    <t-centers-picker *ngSwitchCase="'Center'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-centers-picker>

    <t-roles-picker *ngSwitchCase="'Role'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-roles-picker>

    <t-users-picker *ngSwitchCase="'User'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-users-picker>

    <t-relation-definitions-picker *ngSwitchCase="'RelationDefinition'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-relation-definitions-picker>

    <t-custody-definitions-picker *ngSwitchCase="'CustodyDefinition'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-custody-definitions-picker>

    <t-resource-definitions-picker *ngSwitchCase="'ResourceDefinition'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-resource-definitions-picker>

    <t-lookup-definitions-picker *ngSwitchCase="'LookupDefinition'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-lookup-definitions-picker>

    <t-document-definitions-picker *ngSwitchCase="'DocumentDefinition'" [(ngModel)]="value" [showCreate]="false" [filter]="filter">
    </t-document-definitions-picker>

    <div class="text-danger font-weight-bold" *ngSwitchDefault>
        TODO: control for '{{ desc.control }}''
    </div>

</ng-container>